Repository gardener/gardener, pull requests merged in 2018-12, with the labels that each got.

#576 add a checksum for certificate-management secrets
  charts/gardener/templates/deployment-controller-manager.yaml
  pkg/operation/seed/seed.go
Labels: exp/intermediate, needs/ok-to-test, reviewed/lgtm, size/s, status/accepted

#579 Rectify condition order for health checks
  pkg/operation/botanist/health_check.go
Labels: component/gardener, kind/enhancement, platform/all, priority/normal, size/xs, topology/garden

#574 Validate network overlapping of shoot and seed
  plugin/pkg/shoot/seedmanager/admission.go
  plugin/pkg/shoot/seedmanager/admission_test.go
Labels: area/robustness, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/xs, status/accepted, topology/garden

#580 Fix cAdvsitor relabel rules
  charts/seed-bootstrap/templates/prometheus/config.yaml
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
Labels: area/monitoring, component/gardener, kind/bug, needs/ok-to-test, topology/seed, topology/shoot, topology/soil

#582 Scale kube-controller-manager vertically.
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager.yaml
  charts/seed-controlplane/charts/kube-controller-manager/values.yaml
  pkg/operation/hybridbotanist/controlplane.go
Labels: area/scalability, component/gardener, kind/enhancement, platform/all, reviewed/lgtm, size/m, status/accepted, topology/shoot

#591 Increasing memory and CPU limits for core/critical components
  charts/seed-controlplane/charts/etcd/templates/etcd-statefulset.yaml
  charts/shoot-addons/charts/nginx-ingress/values.yaml
  charts/shoot-core/charts/calico/templates/calico.yaml
  charts/shoot-core/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
Labels: reviewed/ok-to-test

#599 Raise resource limits for Cert-Manager and Cert-Broker
  charts/seed-bootstrap/charts/cert-manager/values.yaml
  charts/seed-controlplane/charts/cert-broker/values.yaml
Labels: area/robustness, kind/bug, platform/all, reviewed/lgtm, size/xs, status/accepted, topology/seed

#601 Raise resource limits for Cert-Manager and Cert-Broker
  charts/seed-bootstrap/charts/cert-manager/values.yaml
  charts/seed-controlplane/charts/cert-broker/values.yaml
Labels: area/robustness, kind/bug, needs/lgtm, platform/all, size/xs, topology/seed

#597 increase seed prometheus memory
  charts/seed-bootstrap/values.yaml
Labels: area/monitoring, area/scalability, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#600 Annotate the shoot-namespace in the seed with Shoot's annotations
  pkg/operation/botanist/controlplane.go
  pkg/operation/common/types.go
Labels: area/usability, exp/beginner, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden, topology/seed

#605 example project now uses fixed namespace
  example/05-project-dev.yaml
  hack/dev-setup-local
Labels: area/dev-productivity, exp/beginner, kind/enhancement, needs/ok-to-test, platform/all, reviewed/lgtm, size/xs, status/accepted

#606 update aks deployment document
  docs/deployment/aks.md
  example/aks/etcd.yaml
  example/aks/gardener-values.yaml
  example/aks/tiller-rbac-config.yaml
Labels: area/documentation, exp/expert, kind/enhancement, needs/ok-to-test, platform/az, priority/normal, size/s

#608 Update golang to 1.11.4
  .ci/pipeline_definitions
  Dockerfile
Labels: area/quality, area/security, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#610 Configure prometheus to scrape CCM and KCM using https
  charts/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager.yaml
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
  pkg/operation/botanist/controlplane.go
Labels: area/monitoring, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#613 Limit fluent-bit-coredns cycle
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-daemonset.yaml
Labels: area/logging, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#594 Restrict reconciliation of BackupInfrastructures
  pkg/controller/backupinfrastructure/backup_infrastructure.go
  pkg/controller/backupinfrastructure/backup_infrastructure_control.go
  pkg/controller/backupinfrastructure/backup_infrastructure_status_updater.go
  pkg/operation/common/types.go
  pkg/registry/garden/backupinfrastructure/strategy.go
  pkg/utils/kubernetes/backupinfrastructure.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: component/gardener, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden

#615 Fix GCP local zone
  pkg/operation/cloudbotanist/gcpbotanist/controlplane.go
Labels: area/usability, exp/intermediate, kind/enhancement, platform/gcp, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#619 Change http2-max-streams-per-connection flag in kube-apiserver
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
Labels: area/scalability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#616 Stop denial logs
  charts/shoot-core/charts/coredns/values.yaml
Labels: area/logging, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#620 Remove unneeded metrics-server RBAC rules
  charts/shoot-core/charts/metrics-server/templates/rbac.yaml
Labels: area/monitoring, component/gardener, exp/intermediate, kind/cleanup, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot
