Repository gardener/gardener, pull requests merged in 2018-06, with the labels that each got.

#203 Wait until all machine objects have force-deletion labels before triggering shoot deletion
  pkg/operation/hybridbotanist/machines.go
Labels: area/deployment, kind/enhancement, platform/all, priority/normal, size/xs, topology/seed

#202 Wait until all machine objects have force-deletion labels before triggering shoot deletion
  pkg/operation/hybridbotanist/machines.go
Labels: area/deployment, kind/enhancement, platform/all, priority/normal, reviewed/ok-to-test, size/xs, topology/seed

#193 Add DeletionConfirmation admission controller
  Makefile
  cmd/gardener-apiserver/app/gardener_apiserver.go
  hack/delete-shoot
  pkg/operation/common/types.go
  plugin/pkg/global/deletionconfirmation/admission.go
  plugin/pkg/global/deletionconfirmation/admission_test.go
  plugin/pkg/global/deletionconfirmation/deletionrestriction_suite_test.go
Labels: area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/l, status/under-investigation, topology/garden

#206 Do not delete machine class secrets for newly created machine classes
  pkg/operation/hybridbotanist/machines.go
Labels: area/deployment, exp/expert, kind/bug, needs/review, platform/all, priority/critical, size/xs, status/in-progress, topology/seed

#210 Set execution order for example yaml
  Makefile
  example/00-namespace-garden-dev.yaml
  example/00-namespace-garden.yaml
  example/10-secret-alerting-smtp.yaml
  example/10-secret-default-domain.yaml
  example/10-secret-internal-domain-unmanaged.yaml
  example/10-secret-internal-domain.yaml
  example/10-secret-openvpn-diffie-hellman.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  example/30-cloudprofile-aws.yaml
  example/30-cloudprofile-azure.yaml
  example/30-cloudprofile-gcp.yaml
  example/30-cloudprofile-local.yaml
  example/30-cloudprofile-openstack.yaml
  example/40-secret-seed-aws.yaml
  example/40-secret-seed-azure.yaml
  example/40-secret-seed-gcp.yaml
  example/40-secret-seed-local.yaml
  example/40-secret-seed-openstack.yaml
  example/50-seed-aws.yaml
  example/50-seed-azure.yaml
  example/50-seed-gcp.yaml
  example/50-seed-local.yaml
  example/50-seed-openstack.yaml
  example/60-quota.yaml
  example/70-secret-cloudprovider-aws.yaml
  example/70-secret-cloudprovider-azure.yaml
  example/70-secret-cloudprovider-gcp.yaml
  example/70-secret-cloudprovider-local.yaml
  example/70-secret-cloudprovider-openstack.yaml
  example/80-secretbinding-cloudprovider-aws.yaml
  example/80-secretbinding-cloudprovider-azure.yaml
  example/80-secretbinding-cloudprovider-gcp.yaml
  example/80-secretbinding-cloudprovider-local.yaml
  example/80-secretbinding-cloudprovider-openstack.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/dev-setup
  hack/dev-setup-local
  hack/generate-examples
  hack/templates/resources/30-cloudprofile.yaml.tpl
  hack/templates/resources/40-secret-seed.yaml.tpl
  hack/templates/resources/50-seed.yaml.tpl
  hack/templates/resources/60-quota.yaml.tpl
  hack/templates/resources/70-secret-cloudprovider.yaml.tpl
  hack/templates/resources/80-secretbinding-cloudprovider.yaml.tpl
  hack/templates/resources/90-shoot.yaml.tpl
Labels: area/dev-productivity, area/documentation, exp/beginner, kind/enhancement, platform/all, priority/normal, size/xs, status/in-progress

#209 Add feature gates to gardener
  Makefile
  cmd/gardener-apiserver/app/gardener_apiserver.go
  cmd/gardener-apiserver/main.go
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardener-controller-manager/main.go
  docs/development/local_setup.md
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/apis/componentconfig/types.go
  pkg/apis/componentconfig/v1alpha1/types.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.conversion.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/componentconfig/zz_generated.deepcopy.go
  pkg/controller/shoot/shoot_control.go
  pkg/features/gardener_features.go
Labels: area/deployment, exp/intermediate, kind/enhancement, platform/all, priority/normal, size/l, status/accepted, status/author-action, topology/garden

#207 Worker pool validation for cluster autoscaling
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/operation/botanist/controlplane.go
Labels: area/deployment, exp/intermediate, kind/enhancement, platform/all, priority/normal, size/s, status/accepted, topology/garden, topology/seed

#213 Allow project members to create technical users
  charts/gardener/templates/rbac.yaml
Labels: area/operability, kind/enhancement, platform/all, priority/normal, size/xs, topology/garden

#214 Add seed cluster info to alerts
  charts/seed-monitoring/charts/alertmanager/templates/_config.tpl
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
  hack/dev-setup-local
  pkg/operation/botanist/controlplane.go
Labels: area/monitoring, kind/enhancement, needs/review, platform/all, priority/normal, size/xs, status/in-progress, topology/seed

#198 New azure garden/seed creation example
  docs/README.md
  docs/deployment/aks.md
  example/aks/etcd.yaml
  example/aks/gardener-values.yaml
  example/aks/tiller-rbac-config.yaml
Labels: area/documentation, kind/enhancement, platform/az, priority/normal, size/m, status/author-action, status/in-progress

#216 Wait until finalisers for machine class secrets are removed
  pkg/operation/hybridbotanist/machines.go
Labels: area/deployment, component/machine-controller-manager, kind/enhancement, needs/review, platform/all, size/s, topology/seed

#218 Reflect worker pool min-max updates into machineDeployment spec
  pkg/operation/hybridbotanist/machines.go
Labels: area/scalability, component/cluster-autoscaler, kind/bug, platform/all, priority/normal, size/xs, status/in-progress, topology/seed

#219 Reflect worker pool min-max updates into machineDeployment spec
  pkg/operation/hybridbotanist/machines.go
Labels: area/scalability, component/cluster-autoscaler, exp/intermediate, kind/bug, platform/all, priority/normal, reviewed/ok-to-test, size/xs, status/in-progress, topology/shoot

#234 Convert all times to UTC when handling time windows
  pkg/controller/shoot/shoot_maintenance_control.go
  pkg/utils/miscellaneous.go
  pkg/utils/miscellaneous_test.go
Labels: area/operability, kind/bug, needs/review, platform/all, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/garden
