Repository gardener/gardener, pull requests merged in 2018-10, with the labels that each got.

#404 Change APIService in K8s client from v1 to v1beta1
  pkg/client/kubernetes/base/apiservices.go
  pkg/client/kubernetes/types.go
Labels: component/gardener, kind/bug, needs/ok-to-test

#406 Fix cluster-autoscaler memory resource limit
  charts/seed-controlplane/charts/cluster-autoscaler/templates/deployment.yaml
Labels: area/operations, area/quality, area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, size/xs

#407 Make shooted seeds more configurable
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/apis/garden/v1beta1/helper/helpers_test.go
  pkg/controller/shoot/shoot.go
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/operation/hybridbotanist/addons.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/operation/operation.go
  pkg/operation/types.go
Labels: area/high-availability, area/operations, area/ops-productivity, area/robustness, kind/enhancement, needs/ok-to-test, size/l

#408 Fix Retry utilities and add tests
  pkg/operation/botanist/cleanup.go
  pkg/utils/retry.go
  pkg/utils/retry_test.go
Labels: kind/bug, reviewed/lgtm, reviewed/ok-to-test, size/s, status/accepted

#412 External admission controller should not react on PVs marked for deletion
  charts/images.yaml
  cmd/gardener-external-admission-controller/main.go
Labels: area/robustness, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#413 Skip explicit AWS load balancer/security group deletion if infrastructure already deleted
  pkg/operation/cloudbotanist/awsbotanist/infrastructure.go
  pkg/operation/terraformer/config.go
  pkg/operation/terraformer/terraformer.go
  pkg/operation/terraformer/types.go
Labels: area/robustness, exp/beginner, kind/bug, platform/aws, priority/normal, reviewed/ok-to-test, size/xs, status/accepted, topology/seed

#415 Check that KCM/CCM deployments exist when deleting a Shoot
  pkg/operation/botanist/waiter.go
Labels: area/robustness, exp/intermediate, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#414 Prevent unnecessary restarts of kube-addon-manager
  charts/seed-controlplane/charts/kube-addon-manager/templates/kube-addon-manager.yaml
Labels: area/robustness, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/ok-to-test, size/xs, status/accepted, topology/seed

#418 Hotfix 0.12.1
  charts/images.yaml
  charts/seed-controlplane/charts/cluster-autoscaler/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-addon-manager/templates/kube-addon-manager.yaml
  cmd/gardener-external-admission-controller/main.go
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/apis/garden/v1beta1/helper/helpers_test.go
  pkg/client/kubernetes/base/apiservices.go
  pkg/client/kubernetes/types.go
  pkg/controller/shoot/shoot.go
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/cleanup.go
  pkg/operation/botanist/waiter.go
  pkg/operation/cloudbotanist/awsbotanist/infrastructure.go
  pkg/operation/hybridbotanist/addons.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/operation/operation.go
  pkg/operation/terraformer/config.go
  pkg/operation/terraformer/terraformer.go
  pkg/operation/terraformer/types.go
  pkg/operation/types.go
  pkg/utils/retry.go
  pkg/utils/retry_test.go
Labels: needs/ok-to-test

#417 Validate shoot domain uniqueness across Garden cluster
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/robustness, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#410 White list of all Prometheus metrics.
  charts/seed-bootstrap/templates/prometheus/_resource.tpl
  charts/seed-bootstrap/templates/prometheus/config.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager.yaml
  charts/seed-controlplane/charts/kube-scheduler/templates/kube-scheduler.yaml
  charts/seed-monitoring/charts/alertmanager/templates/alertmanager.yaml
  charts/seed-monitoring/charts/prometheus/templates/_helpers.tpl
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
  charts/shoot-core/charts/coredns/templates/coredns-service.yaml
  charts/shoot-core/charts/coredns/values.yaml
  charts/shoot-core/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
Labels: area/monitoring, area/scalability, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/seed

#420 Grafana dashboards rework
  charts/seed-monitoring/charts/grafana/dashboards/alertmanager-alerts-dasboard.json
  charts/seed-monitoring/charts/grafana/dashboards/all-nodes-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/cluster-monitoring-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/deployment-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-cluster-health-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-control-plane-status-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-deployments-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-pods-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/prometheus-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/resource-requests-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/shoot-nodes-dashboard.json
  charts/seed-monitoring/charts/grafana/templates/grafana-datasources-configmap.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-apiserver.rules.yml
  charts/seed-monitoring/charts/prometheus/rules/kube-scheduler.rules.yml
  charts/seed-monitoring/charts/prometheus/values.yaml
Labels: area/monitoring, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xl, status/accepted, topology/seed

#430 Monitor missing components for the Shoot control plane
  charts/seed-controlplane/charts/cluster-autoscaler/templates/deployment.yaml
  charts/seed-controlplane/charts/cluster-autoscaler/templates/service.yaml
  charts/seed-controlplane/charts/cluster-autoscaler/values.yaml
  charts/seed-controlplane/charts/machine-controller-manager/templates/deployment.yaml
  charts/seed-controlplane/charts/machine-controller-manager/templates/service.yaml
  charts/seed-controlplane/charts/machine-controller-manager/values.yaml
  charts/seed-monitoring/charts/prometheus/rules/cloud-controller-manager.rules.yml
  charts/seed-monitoring/charts/prometheus/rules/cluster-autoscaler.rules.yml
  charts/seed-monitoring/charts/prometheus/rules/machine-controller-manager.rules.yml
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
Labels: area/monitoring, area/operations, component/machine-controller-manager, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/m, status/accepted, topology/seed

#432 Add missing alerts to grafana
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-cluster-health-dashboard.json
Labels: area/monitoring, area/operations, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/m, status/in-progress, status/under-investigation, topology/seed

#426 Add support to AWS cloud-specific re-advertiser
  charts/images.yaml
  charts/seed-bootstrap/templates/clusterrole-aws-lb-readvertiser.yaml
  charts/seed-controlplane/charts/aws-lb-readvertiser/templates/aws-lb-readvertiser.yaml
  charts/seed-controlplane/charts/aws-lb-readvertiser/values.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/secrets.go
  pkg/operation/cloudbotanist/awsbotanist/controlplane.go
  pkg/operation/cloudbotanist/awsbotanist/miscellaenous.go
  pkg/operation/cloudbotanist/azurebotanist/controlplane.go
  pkg/operation/cloudbotanist/azurebotanist/miscellaneous.go
  pkg/operation/cloudbotanist/gcpbotanist/controlplane.go
  pkg/operation/cloudbotanist/gcpbotanist/miscellaneous.go
  pkg/operation/cloudbotanist/localbotanist/controlplane.go
  pkg/operation/cloudbotanist/localbotanist/miscellaneous.go
  pkg/operation/cloudbotanist/openstackbotanist/controlplane.go
  pkg/operation/cloudbotanist/openstackbotanist/miscellaneous.go
  pkg/operation/cloudbotanist/types.go
  pkg/operation/common/types.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/operation/types.go
  pkg/utils/kubernetes/deployment.go
  pkg/utils/kubernetes/kubernetes_test.go
  pkg/utils/kubernetes/patch.go
Labels: area/high-availability, area/robustness, exp/intermediate, kind/enhancement, platform/aws, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/seed

#443 Change delta snapshot time interval from 10 seconds to five minutes.
  charts/seed-controlplane/charts/etcd/templates/etcd-statefulset.yaml
Labels: area/disaster-recovery, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/xs, status/accepted, topology/seed

#446 `seedCloudBotanist` should be used instead of the `shootCloudBotanist`
  pkg/controller/shoot/shoot_control_reconcile.go
Labels: area/usability, exp/intermediate, kind/bug, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#422 Schedule etcds and kube-apiservers of Shoots with priority
  charts/seed-bootstrap/templates/priorityclass-shoot-controlplane.yaml
  charts/seed-bootstrap/templates/reserve-excess-capacity/deployment.yaml
  charts/seed-bootstrap/templates/reserve-excess-capacity/priorityclass.yaml
  charts/seed-controlplane/charts/etcd/templates/etcd-statefulset.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
Labels: area/robustness, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#428 Limit the allowed TLS cipher suites
  charts/seed-controlplane/charts/_tls_cipher_suites.tpl
  charts/seed-controlplane/charts/cloud-controller-manager/templates/_tls_cipher_suites.tpl
  charts/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/_tls_cipher_suites.tpl
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
  charts/seed-controlplane/charts/kube-controller-manager/templates/_tls_cipher_suites.tpl
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager.yaml
Labels: area/security, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#445 Increasing resource requests and limits for kube-apiserver to avoid frequent scaling
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager.yaml
  charts/seed-controlplane/charts/kube-controller-manager/values.yaml
  charts/seed-monitoring/charts/prometheus/templates/prometheus.yaml
  pkg/operation/hybridbotanist/controlplane.go
Labels: area/scalability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed

#393 Alicloud DNS support
  charts/gardener/templates/secret-default-domain.yaml
  charts/gardener/templates/secret-internal-domain.yaml
  charts/gardener/values.yaml
  charts/seed-terraformer/charts/alicloud-dns/Chart.yaml
  charts/seed-terraformer/charts/alicloud-dns/charts/terraformer-common-0.1.0.tgz
  charts/seed-terraformer/charts/alicloud-dns/requirements.lock
  charts/seed-terraformer/charts/alicloud-dns/requirements.yaml
  charts/seed-terraformer/charts/alicloud-dns/templates/_main.tf
  charts/seed-terraformer/charts/alicloud-dns/templates/_terraform.tfvars
  charts/seed-terraformer/charts/alicloud-dns/templates/_variables.tf
  charts/seed-terraformer/charts/alicloud-dns/templates/config.yaml
  charts/seed-terraformer/charts/alicloud-dns/values.yaml
  example/10-secret-default-domain.yaml
  example/10-secret-internal-domain.yaml
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/operation/botanist/dns.go
  pkg/operation/cloudbotanist/alicloudbotanist/types.go
  pkg/operation/garden/garden.go
  plugin/pkg/shoot/dnshostedzone/admission.go
Labels: area/networking, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/ali, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/seed

#453 Use AWS annotations for kube-apiserver health setup
  charts/seed-controlplane/charts/kube-apiserver-service/templates/kube-apiserver-service.yaml
  pkg/client/aws/client.go
  pkg/client/aws/types.go
  pkg/operation/cloudbotanist/awsbotanist/controlplane.go
Labels: area/networking, component/gardener, kind/cleanup, needs/ok-to-test, platform/aws, reviewed/lgtm, size/m, status/accepted, topology/seed

#452 Fix CoreDNS PTR Records resolution
  charts/shoot-core/charts/coredns/templates/coredns-configmap.yaml
  charts/shoot-core/charts/coredns/values.yaml
  pkg/operation/hybridbotanist/addons.go
Labels: area/networking, exp/intermediate, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#451 Update Docker images
  charts/images.yaml
Labels: area/open-source, area/quality, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed, topology/shoot

#429 Smooth kubelet update via docker image preload
  charts/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager.yaml
  charts/seed-controlplane/charts/kube-scheduler/templates/kube-scheduler.yaml
  charts/shoot-cloud-config/charts/downloader/templates/cloud-config/_download-cloud-config.sh
  charts/shoot-cloud-config/charts/original/templates/cloud-config-secret.yaml
  charts/shoot-cloud-config/charts/original/templates/kubelet/_kubelet.service
  charts/shoot-core/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  pkg/operation/botanist/controlplane.go
  pkg/operation/cloudbotanist/awsbotanist/controlplane.go
  pkg/operation/common/types.go
  pkg/operation/hybridbotanist/addon_manager.go
  pkg/operation/hybridbotanist/addons.go
  pkg/operation/hybridbotanist/cloud_config.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/operation/operation.go
  pkg/operation/seed/seed.go
  pkg/operation/terraformer/terraformer.go
  pkg/utils/imagevector/imagevector.go
  pkg/utils/imagevector/imagevector_test.go
  pkg/utils/imagevector/types.go
Labels: area/robustness, component/gardener, exp/intermediate, kind/enhancement, platform/all, priority/normal, size/l, status/accepted, topology/garden, topology/seed, topology/shoot, topology/soil

#465 Allow connection to Gardner Admission Controller
  charts/seed-controlplane/charts/kube-apiserver/templates/network-policy.yaml
Labels: needs/ok-to-test

#464 Allow connection to Gardner Admission Controller
  charts/seed-controlplane/charts/kube-apiserver/templates/network-policy.yaml
Labels: needs/ok-to-test

#463 Fixed an issue with project quota check
  plugin/pkg/shoot/quotavalidator/admission.go
Labels: area/quality, area/usability, exp/intermediate, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#370 Gardener enhancement proposal (GEP) for Gardener extensibility
  docs/proposals/01-extensibility.md
Labels: area/dev-productivity, area/disaster-recovery, area/open-source, area/performance, area/quality, area/robustness, area/scalability, exp/expert, kind/discussion, platform/all, priority/normal, size/xl, status/accepted, topology/garden, topology/seed, topology/shoot, topology/soil

#468 Quota improvements
  example/60-quota.yaml
  hack/templates/resources/60-quota.yaml.tpl
  pkg/registry/garden/quota/storage/storage.go
  pkg/registry/garden/quota/storage/tableconvertor.go
Labels: area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#470 Change etcd-bootstrap configmap to create data directory inside the mount directory of PV.
  charts/seed-controlplane/charts/etcd/templates/configmap-etcd-bootstrap.yaml
  charts/seed-controlplane/charts/etcd/templates/etcd-statefulset.yaml
Labels: area/disaster-recovery, component/etcd-backup-restore, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#456 Randomize maintenance time
  charts/gardener/templates/configmap-controller-manager.yaml
  charts/gardener/values.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/apis/componentconfig/types.go
  pkg/apis/componentconfig/v1alpha1/types.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.conversion.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/componentconfig/zz_generated.deepcopy.go
  pkg/apis/garden/v1beta1/defaults.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/client/kubernetes/base/base.go
  pkg/controller/shoot/shoot_maintenance_control.go
  pkg/controller/shoot/shoot_maintenance_control_test.go
  pkg/utils/miscellaneous.go
  pkg/utils/miscellaneous_test.go
  pkg/utils/secrets/certificates.go
  pkg/utils/timewindow.go
  pkg/utils/timewindow_test.go
Labels: area/scalability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/l, status/accepted, topology/garden

#467 Skip explicit AWS LB deletion if state is empty
  pkg/operation/cloudbotanist/awsbotanist/infrastructure.go
  pkg/operation/terraformer/state.go
Labels: area/usability, exp/intermediate, kind/bug, platform/aws, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/xs, status/accepted, topology/seed

#469 Supports multiple seeds per region and cloud in SeedManager admission plugins
  pkg/apis/garden/helper/helpers.go
  plugin/pkg/shoot/seedmanager/admission.go
  plugin/pkg/shoot/seedmanager/admission_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/utils/admission_test.go
  plugin/pkg/utils/networks.go
  plugin/pkg/utils/utils_suite_test.go
Labels: area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden

#473 Create new.etcd directory if not present, else etcd data validation fails.
  charts/seed-controlplane/charts/etcd/templates/configmap-etcd-bootstrap.yaml
Labels: area/usability, exp/beginner, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#472 Improve hack scripts
  hack/common
  hack/dev-setup
  hack/dev-setup-local
  hack/dev-setup-register-gardener
  hack/start-api
Labels: area/dev-productivity, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#475 Install helm CLI tool in .ci/check script
  .ci/check
Labels: area/dev-productivity, exp/intermediate, kind/bug, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#471 Deprecate all addons except nginx-ingress and kubernetes-dashboard
  example/90-shoot-alicloud.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/health_check.go
  pkg/operation/hybridbotanist/addon_manager.go
  pkg/operation/hybridbotanist/machines.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
Labels: area/dev-productivity, area/scalability, area/usability, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/m, status/accepted, topology/seed, topology/shoot

#176 Logging stack for shoot control plane
  .gitignore
  NOTICE.md
  charts/api-versions/templates/_versions.tpl
  charts/images.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/Chart.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/charts/api-versions
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/curator-es/curator-configmap.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/curator-es/curator-cronjob.yml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/elasticsearch/es-service.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/elasticsearch/es-statefulset.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-deployment.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-index-registration-config.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-ingress-auth-secret.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-ingress.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-service.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/values.yaml
  charts/seed-bootstrap/charts/fluentd-es/Chart.yaml
  charts/seed-bootstrap/charts/fluentd-es/charts/api-versions
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-configmap.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-daemonset.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-role-binding.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-role.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-service-account.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluentd-es-configmap.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluentd-es-hpa.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluentd-es-service.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluentd-es-statefulset.yaml
  charts/seed-bootstrap/charts/fluentd-es/values.yaml
  charts/seed-bootstrap/values.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/features/gardener_features.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/secrets.go
  pkg/operation/common/types.go
  pkg/operation/seed/seed.go
  pkg/utils/secrets/certificates.go
Labels: area/logging, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/l, status/accepted, topology/seed

#478 Fix alertmanager's storage path
  charts/seed-monitoring/charts/alertmanager/templates/alertmanager.yaml
Labels: area/monitoring, exp/intermediate, kind/bug, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#479 fix logging chart feature gates
  charts/seed-bootstrap/requirements.yaml
Labels: area/logging, component/gardener, kind/bug, size/s, topology/seed

#477 Scale down most of the control plane when shoot is hibernated
  pkg/client/kubernetes/base/deployments.go
  pkg/client/kubernetes/types.go
  pkg/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/health_check.go
  pkg/operation/cloudbotanist/awsbotanist/controlplane.go
  pkg/operation/common/types.go
  pkg/operation/hybridbotanist/addon_manager.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/operation/hybridbotanist/machines.go
  pkg/operation/shoot/shoot.go
Labels: area/cost, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed

#481 Remove an unnecessary property.
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-daemonset.yaml
Labels: area/logging, component/gardener, kind/cleanup, platform/all, reviewed/lgtm, size/xs, status/accepted, topology/seed

#482 Fix Prometheus netwoking metrics
  charts/seed-bootstrap/templates/prometheus/config.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-cluster-health-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-control-plane-status-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-deployments-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-pods-dashboard.json
  charts/seed-monitoring/charts/prometheus/optional-rules/cluster-autoscaler.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules-addons/tiller.rules.yml
  charts/seed-monitoring/charts/prometheus/rules/alertmanager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/cadvisor.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/cloud-controller-manager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/coredns.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-apiserver.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-apiserver.rules.yml
  charts/seed-monitoring/charts/prometheus/rules/kube-controller-manager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-etcd3.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-kubelet.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-pods.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-scheduler.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-state-metrics.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/machine-controller-manager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/node-explorer.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/prometheus.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/vpn.rules.yaml
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/templates/rules.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
  pkg/operation/botanist/controlplane.go
Labels: area/monitoring, component/gardener, exp/intermediate, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/l, status/accepted, topology/seed, topology/shoot

#487 Bump golang to v1.11.1
  .ci/pipeline_definitions
  Dockerfile
  docs/development/local_setup.md
  pkg/client/kubernetes/base/base.go
  pkg/utils/secrets/certificates.go
Labels: area/dev-productivity, area/usability, exp/beginner, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#488 Implement usable flag for machine and volume types
  example/30-cloudprofile-alicloud.yaml
  example/30-cloudprofile-aws.yaml
  example/30-cloudprofile-azure.yaml
  example/30-cloudprofile-gcp.yaml
  example/30-cloudprofile-openstack.yaml
  hack/templates/resources/30-cloudprofile.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/defaults.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/v1beta1/zz_generated.defaults.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden
