Repository gardener/gardener, pull requests merged in 2018-11, with the labels that each got.

#491 [ci:component:github.com/gardener/machine-controller-manager:0.10.0->0.11.0]
  charts/images.yaml
  charts/seed-controlplane/charts/machine-controller-manager/templates/deployment.yaml
Labels: area/quality, area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#493 Adjust shoot's Prometheus resources based on node count.
  charts/seed-monitoring/charts/prometheus/templates/_resource.tpl
  charts/seed-monitoring/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
  pkg/operation/botanist/controlplane.go
Labels: area/monitoring, area/scalability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed

#498 Use init container for Calico install-cni
  charts/shoot-core/charts/calico/templates/calico.yaml
Labels: area/networking, component/gardener, kind/enhancement, platform/all, reviewed/lgtm, size/m, status/accepted, topology/shoot

#501 Fix control plane only check
  pkg/operation/botanist/health_check.go
Labels: area/monitoring, exp/intermediate, kind/bug, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#499 Enhance flow implementation
  pkg/controller/backupinfrastructure/backup_infrastructure_control.go
  pkg/controller/shoot/shoot_control_delete.go
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/operation/cloudbotanist/awsbotanist/infrastructure.go
  pkg/utils/flow/flow.go
  pkg/utils/flow/flow_test.go
  pkg/utils/flow/graph.go
  pkg/utils/flow/taskfn.go
  pkg/utils/retry.go
  pkg/utils/retry_test.go
Labels: area/performance, area/quality, area/robustness, component/gardener, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden

#517 Add alerts for pvs
  charts/seed-bootstrap/templates/prometheus/config.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-kubelet.rules.yaml
Labels: area/monitoring, area/ops-productivity, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#507 Scheduled Shoot Hibernation
  charts/gardener/templates/configmap-controller-manager.yaml
  charts/gardener/values.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  example/90-shoot-alicloud.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/componentconfig/types.go
  pkg/apis/componentconfig/v1alpha1/types.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.conversion.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/componentconfig/zz_generated.deepcopy.go
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/controller/factory.go
  pkg/controller/shoot/shoot.go
  pkg/controller/shoot/shoot_hibernation_control.go
  pkg/openapi/openapi_generated.go
  pkg/utils/kubernetes/shoot.go
Labels: area/cost, area/usability, exp/intermediate, kind/api-change, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/l, status/accepted, topology/garden

#519 Prevent panic when creating a project logger
  pkg/controller/project/project_control.go
Labels: area/quality, exp/beginner, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#518 Define aggregated ClusterRole to describe garden administrators
  charts/gardener/templates/rbac-system.yaml
  charts/gardener/templates/rbac-user.yaml
  charts/gardener/templates/rbac.yaml
Labels: area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#520 Etcd dashboard
  charts/seed-monitoring/charts/grafana/dashboards/etcd-dashboard.json
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
Labels: area/monitoring, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/l, status/accepted, topology/seed

#522 Refactor node dashboard
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-control-plane-status-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/shoot-nodes-dashboard.json
Labels: area/monitoring, area/ops-productivity, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/seed

#523 add dashboards for daemonsets and statefulsets
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-daemonsets-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-statefulsets-dashboard.json
  charts/seed-monitoring/charts/kube-state-metrics-seed/templates/kube-state-metrics.yaml
  charts/seed-monitoring/charts/kube-state-metrics-shoot/templates/kube-state-metrics.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
Labels: area/monitoring, area/ops-productivity, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xl, status/accepted, topology/seed

#526 Added configurable request timeout for OpenStack
  example/30-cloudprofile-openstack.yaml
  hack/templates/resources/30-cloudprofile.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/cloudbotanist/openstackbotanist/controlplane.go
Labels: area/robustness, area/usability, exp/intermediate, kind/enhancement, platform/openstack, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#509 Integrate cert management for Shoot clusters
  charts/gardener/templates/secret-certificate-management-config.yaml
  charts/gardener/values.yaml
  charts/images.yaml
  charts/seed-bootstrap/charts/cert-manager/Chart.yaml
  charts/seed-bootstrap/charts/cert-manager/charts/utils-templates
  charts/seed-bootstrap/charts/cert-manager/templates/_helpers.tpl
  charts/seed-bootstrap/charts/cert-manager/templates/certificate-crd.yaml
  charts/seed-bootstrap/charts/cert-manager/templates/clusterissuer-crd.yaml
  charts/seed-bootstrap/charts/cert-manager/templates/clusterissuer.yaml
  charts/seed-bootstrap/charts/cert-manager/templates/deployment.yaml
  charts/seed-bootstrap/charts/cert-manager/templates/issuer-crd.yaml
  charts/seed-bootstrap/charts/cert-manager/templates/rbac.yaml
  charts/seed-bootstrap/charts/cert-manager/templates/serviceaccount.yaml
  charts/seed-bootstrap/charts/cert-manager/values.yaml
  charts/seed-bootstrap/requirements.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-controlplane/charts/cert-broker/Chart.yaml
  charts/seed-controlplane/charts/cert-broker/charts/utils-templates
  charts/seed-controlplane/charts/cert-broker/templates/_helpers.tpl
  charts/seed-controlplane/charts/cert-broker/templates/deployment.yaml
  charts/seed-controlplane/charts/cert-broker/templates/rbac.yaml
  charts/seed-controlplane/charts/cert-broker/templates/serviceaccount.yaml
  charts/seed-controlplane/charts/cert-broker/values.yaml
  charts/shoot-core/charts/cert-broker/Chart.yaml
  charts/shoot-core/charts/cert-broker/charts/utils-templates
  charts/shoot-core/charts/cert-broker/templates/rbac.yaml
  charts/shoot-core/charts/cert-broker/values.yaml
  charts/shoot-core/requirements.yaml
  charts/shoot-core/values.yaml
  example/10-secret-certificate-management-config.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/client/kubernetes/base/rbac.go
  pkg/client/kubernetes/base/serviceaccounts.go
  pkg/client/kubernetes/types.go
  pkg/controller/shoot/shoot.go
  pkg/controller/shoot/shoot_control.go
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/controller/shoot/shoot_maintenance_control.go
  pkg/features/gardener_features.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/secrets.go
  pkg/operation/certmanagement/certmanagment.go
  pkg/operation/certmanagement/types.go
  pkg/operation/common/types.go
  pkg/operation/garden/garden.go
  pkg/operation/hybridbotanist/addons.go
  pkg/operation/seed/seed.go
Labels: area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xl, status/accepted, topology/seed

#529 Reduce system pod resource limits/requests
  charts/shoot-addons/charts/kubernetes-dashboard/values.yaml
  charts/shoot-addons/charts/nginx-ingress/values.yaml
  charts/shoot-core/charts/calico/templates/calico.yaml
  charts/shoot-core/charts/coredns/values.yaml
  charts/shoot-core/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  charts/shoot-core/charts/metrics-server/templates/deployment.yaml
  charts/shoot-core/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
  charts/shoot-core/charts/vpn-shoot/templates/deployment.yaml
Labels: area/scalability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/shoot

#530 Vertical scaling of elasticsearch
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/curator-es/_resource.tpl
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/curator-es/curator-cronjob.yml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/elasticsearch/_resource.tpl
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/elasticsearch/es-statefulset.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/values.yaml
  charts/seed-bootstrap/values.yaml
  pkg/operation/botanist/controlplane.go
  pkg/operation/seed/seed.go
Labels: area/logging, area/scalability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed

#528 Execute Terraform, Kube2IAM only in maintenance
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/controller/shoot/shoot_maintenance_control.go
  pkg/controller/utils/miscelleneous.go
  pkg/controller/utils/miscelleneous_test.go
  pkg/operation/common/types.go
  pkg/utils/kubernetes/shoot.go
Labels: area/scalability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#531 remove the checking of logging sts and ds in shoot control plane
  pkg/operation/botanist/botanist_suite_test.go
  pkg/operation/botanist/health_check.go
  pkg/operation/common/types.go
Labels: area/ops-productivity, area/usability, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#533 [ci:component:github.com/gardener/etcd-backup-restore:0.3.0->0.3.1]
  charts/images.yaml
Labels: area/disaster-recovery, kind/bug, platform/all, reviewed/lgtm, size/xs, status/accepted, topology/seed

#536 Only sync shoot credentials to Garden cluster after controller deployment
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/secrets.go
Labels: area/ops-productivity, area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#537 DeletionConfirmation admission controller correctly reacts on DELETECOLLECTION requests
  pkg/registry/garden/backupinfrastructure/registry.go
  pkg/registry/garden/cloudprofile/registry.go
  pkg/registry/garden/project/registry.go
  pkg/registry/garden/quota/registry.go
  pkg/registry/garden/secretbinding/registry.go
  pkg/registry/garden/seed/registry.go
  pkg/registry/garden/shoot/registry.go
  plugin/pkg/global/deletionconfirmation/admission.go
  plugin/pkg/global/deletionconfirmation/admission_test.go
Labels: area/quality, area/usability, exp/intermediate, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#538 Setup Cert-Broker w/ DNS domain of Shoot
  pkg/operation/botanist/controlplane.go
Labels: area/security, exp/intermediate, kind/enhancement, needs/review, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/shoot

#532 Enable traffic to AWS worker network node ports from everywhere
  charts/seed-terraformer/charts/aws-infra/templates/_main.tf
Labels: area/networking, area/security, area/usability, exp/intermediate, kind/enhancement, platform/aws, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#539 Make `Shoot.spec.cloud.secretBindingRef` immutable
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
Labels: area/robustness, area/security, component/gardener, exp/beginner, kind/api-change, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#542 Add domain check to ShootDNSHostedZone admission
  plugin/pkg/shoot/dnshostedzone/admission.go
  plugin/pkg/shoot/dnshostedzone/admission_test.go
Labels: area/quality, area/robustness, component/gardener, exp/intermediate, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#543 Mutually exclusive optional `HibernationSchedule.Start/End`
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/controller/shoot/shoot_hibernation_control.go
  pkg/openapi/openapi_generated.go
Labels: area/usability, exp/intermediate, kind/api-change, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#548 Reserve some CPU for kubelet
  charts/shoot-cloud-config/charts/original/templates/kubelet/_kubelet-config-file
  charts/shoot-cloud-config/charts/original/templates/kubelet/_kubelet.flags
Labels: area/scalability, area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#549 Remove legacy ClusterRoleBinding for system:nodes
  charts/shoot-core/charts/kube-apiserver-kubelet/templates/kube-apiserver-kubelet-rbac.yaml
Labels: area/security, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#552 Introduce configurable progressing state for shoot conditions
  charts/gardener/templates/configmap-controller-manager.yaml
  charts/gardener/values.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/apis/componentconfig/types.go
  pkg/apis/componentconfig/v1alpha1/types.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.conversion.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/componentconfig/zz_generated.deepcopy.go
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/apis/garden/v1beta1/helper/helpers_test.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/controller/seed/seed_control.go
  pkg/controller/shoot/shoot_care_control.go
  pkg/controller/shoot/shoot_utils.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/botanist_suite_test.go
  pkg/operation/botanist/health_check.go
  pkg/operation/types.go
  pkg/server/handlers/metrics.go
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/shoot/seedmanager/admission.go
  plugin/pkg/shoot/seedmanager/admission_test.go
Labels: area/operations, area/ops-productivity, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden

#558 Add InternalIP cache to Kubelet Monitor Service
  charts/shoot-cloud-config/charts/original/templates/scripts/_health-monitor.sh
Labels: area/robustness, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/shoot

#561 set coreDNS to emits logs only for queries which were not resolved su…
  charts/shoot-core/charts/coredns/values.yaml
Labels: area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#562 fix enabling pod priority feature for 1.10 clusters
  charts/shoot-cloud-config/charts/original/templates/kubelet/_kubelet.flags
Labels: component/gardener, exp/intermediate, kind/bug, needs/ok-to-test, platform/all, priority/normal, size/xs, topology/shoot

#559 Refine network policies
  charts/seed-controlplane/charts/kube-apiserver/templates/network-policy.yaml
  pkg/client/kubernetes/base/networkpolicies.go
  pkg/client/kubernetes/types.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/operation/seed/seed.go
Labels: area/security, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#567 Add CIDR overlap verification.
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/utils/validation/cidr/cidr.go
  pkg/utils/validation/cidr/cidr_suite_test.go
  pkg/utils/validation/cidr/cidr_test.go
  pkg/utils/validation/gomega/matchers.go
Labels: area/robustness, component/gardener, kind/api-change, platform/all, reviewed/lgtm, size/xl, status/accepted, topology/garden

#568 Fix cloud config updates & docker issue
  charts/shoot-cloud-config/charts/downloader/templates/cloud-config.yaml
  charts/shoot-cloud-config/charts/downloader/templates/cloud-config/_download-cloud-config.sh
  charts/shoot-cloud-config/charts/downloader/values.yaml
  charts/shoot-cloud-config/charts/original/templates/_cloud-config-script.tpl
  charts/shoot-cloud-config/charts/original/templates/cloud-config-secret.yaml
  charts/shoot-cloud-config/charts/original/values.yaml
  pkg/operation/hybridbotanist/cloud_config.go
  pkg/operation/operation.go
Labels: area/quality, area/robustness, component/gardener, kind/bug, platform/all, priority/critical, reviewed/lgtm, size/s, status/accepted, topology/seed, topology/shoot
