Repository gardener/gardener, pull requests merged in 2018-09, with the labels that each got.

#347 Replace Heapster with Kubernetes metrics-server and disable Kubelet's insecure/read-only port
  NOTICE.md
  charts/images.yaml
  charts/shoot-addons/charts/heapster/Chart.yaml
  charts/shoot-addons/charts/heapster/README.md
  charts/shoot-addons/charts/heapster/templates/NOTES.txt
  charts/shoot-addons/charts/heapster/templates/_deploymentspec.yaml
  charts/shoot-addons/charts/heapster/templates/_helpers.tpl
  charts/shoot-addons/charts/heapster/templates/deployment.yaml
  charts/shoot-addons/charts/heapster/templates/rbac.yaml
  charts/shoot-addons/charts/heapster/templates/service.yaml
  charts/shoot-addons/charts/heapster/templates/serviceaccount.yaml
  charts/shoot-addons/charts/heapster/values.yaml
  charts/shoot-addons/requirements.yaml
  charts/shoot-addons/values.yaml
  charts/shoot-cloud-config/charts/original/templates/kubelet/_kubelet-config-file
  charts/shoot-cloud-config/charts/original/templates/kubelet/_kubelet.flags
  charts/shoot-cloud-config/charts/original/templates/scripts/_health-monitor.sh
  charts/shoot-core/charts/metrics-server/Chart.yaml
  charts/shoot-core/charts/metrics-server/templates/_versions.tpl
  charts/shoot-core/charts/metrics-server/templates/apiservice.yaml
  charts/shoot-core/charts/metrics-server/templates/deployment.yaml
  charts/shoot-core/charts/metrics-server/templates/rbac.yaml
  charts/shoot-core/charts/metrics-server/templates/service.yaml
  charts/shoot-core/charts/metrics-server/templates/serviceaccount.yaml
  charts/shoot-core/charts/metrics-server/values.yaml
  charts/shoot-core/values.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/operation/botanist/addons.go
  pkg/operation/hybridbotanist/addons.go
  pkg/operation/shoot/shoot.go
Labels: area/monitoring, area/security, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/m, status/in-progress, status/under-investigation, topology/shoot

#352 enhance seed_control logging for object deletion
  pkg/controller/seed/seed_control.go
Labels: area/usability, exp/beginner, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, size/xs, topology/garden

#351 add configurable maxSurge & maxUnavailable in worker
  Gopkg.lock
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-openstack.yaml
  hack/generate-code
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/conversions.go
  pkg/apis/garden/v1beta1/defaults.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/v1beta1/zz_generated.defaults.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/operation/cloudbotanist/awsbotanist/machines.go
  pkg/operation/cloudbotanist/azurebotanist/machines.go
  pkg/operation/cloudbotanist/gcpbotanist/machines.go
  pkg/operation/cloudbotanist/openstackbotanist/machines.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/hybridbotanist/machines.go
  pkg/operation/operation.go
  pkg/operation/types.go
  plugin/pkg/shoot/validator/admission.go
  vendor/github.com/onsi/ginkgo/extensions/table/table.go
  vendor/github.com/onsi/ginkgo/extensions/table/table_entry.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_agpl.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_apache_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_bsd_clause_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_bsd_clause_3.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_gpl_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_gpl_3.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_lgpl.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_mit.go
  vendor/github.com/spf13/cobra/cobra/cmd/licenses.go
Labels: area/high-availability, area/scalability, area/usability, exp/beginner, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/l, status/in-progress, status/under-investigation, topology/shoot

#350 Configure Hibernation via boolean in Shoot spec
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/generate-examples
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/shoot/shoot.go
Labels: area/usability, exp/beginner, kind/enhancement, platform/all, priority/normal, size/m, status/accepted, topology/shoot

#360 API enhancement for Alicloud
  example/30-cloudprofile-alicloud.yaml
  example/40-secret-seed-alicloud.yaml
  example/50-seed-alicloud.yaml
  example/70-secret-cloudprovider-alicloud.yaml
  example/80-secretbinding-cloudprovider-alicloud.yaml
  example/90-shoot-alicloud.yaml
  hack/generate-examples
  hack/templates/resources/30-cloudprofile.yaml.tpl
  hack/templates/resources/40-secret-seed.yaml.tpl
  hack/templates/resources/50-seed.yaml.tpl
  hack/templates/resources/70-secret-cloudprovider.yaml.tpl
  hack/templates/resources/80-secretbinding-cloudprovider.yaml.tpl
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/helper/helpers.go
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/defaults.go
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/v1beta1/zz_generated.defaults.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
Labels: area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/rebase, platform/ali, priority/normal, reviewed/lgtm, size/l, status/in-progress, topology/shoot

#244 Enhance and refactor Gardener Metrics
  charts/gardener/templates/configmap-controller-manager.yaml
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/apis/componentconfig/types.go
  pkg/apis/componentconfig/v1alpha1/types.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.conversion.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/componentconfig/zz_generated.deepcopy.go
  pkg/controller/backupinfrastructure/backup_infrastructure.go
  pkg/controller/cloudprofile/cloudprofile.go
  pkg/controller/factory.go
  pkg/controller/quota/quota.go
  pkg/controller/secretbinding/secretbinding.go
  pkg/controller/seed/seed.go
  pkg/controller/shoot/shoot.go
  pkg/metrics/controller_manager.go
  pkg/metrics/workqueue.go
  pkg/server/server.go
Labels: area/monitoring, exp/expert, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/l, status/author-action, topology/garden

#342 Enhance flow execution
  Gopkg.lock
  Gopkg.toml
  LICENSE.md
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/controller/backupinfrastructure/backup_infrastructure_control.go
  pkg/controller/shoot/shoot_control_delete.go
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/errors/errors.go
  pkg/operation/errors/types.go
  pkg/operation/hybridbotanist/machines.go
  pkg/operation/operation.go
  pkg/operation/terraformer/config.go
  pkg/operation/terraformer/terraformer.go
  pkg/utils/error.go
  pkg/utils/flow/flow.go
  pkg/utils/flow/flow_test.go
  pkg/utils/flow/graph.go
  pkg/utils/flow/graph_test.go
  pkg/utils/flow/task.go
  pkg/utils/flow/taskfn.go
  pkg/utils/flow/taskid.go
  pkg/utils/flow/types.go
  pkg/utils/miscellaneous.go
  pkg/utils/retry.go
  pkg/utils/retry_test.go
  vendor/github.com/hashicorp/errwrap/LICENSE
  vendor/github.com/hashicorp/errwrap/errwrap.go
  vendor/github.com/hashicorp/go-multierror/LICENSE
  vendor/github.com/hashicorp/go-multierror/append.go
  vendor/github.com/hashicorp/go-multierror/flatten.go
  vendor/github.com/hashicorp/go-multierror/format.go
  vendor/github.com/hashicorp/go-multierror/multierror.go
  vendor/github.com/hashicorp/go-multierror/prefix.go
  vendor/github.com/hashicorp/go-multierror/sort.go
  vendor/github.com/pkg/errors/LICENSE
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/stack.go
Labels: area/dev-productivity, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xl, status/accepted

#353 Introduce dedicated certificate authorities for the different components of a Shoot
  charts/seed-controlplane/charts/etcd/templates/configmap-etcd-bootstrap.yaml
  charts/seed-controlplane/charts/etcd/templates/etcd-statefulset.yaml
  charts/seed-controlplane/charts/etcd/values.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
  charts/shoot-cloud-config/charts/original/templates/kubelet/_kubelet-binary
  charts/shoot-cloud-config/charts/original/values.yaml
  charts/shoot-core/charts/metrics-server/templates/apiservice.yaml
  charts/shoot-core/charts/metrics-server/templates/deployment.yaml
  charts/shoot-core/charts/metrics-server/templates/secret.yaml
  charts/shoot-core/charts/metrics-server/values.yaml
  pkg/controller/shoot/shoot_control_delete.go
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/secrets_test.go
  pkg/operation/botanist/waiter.go
  pkg/operation/hybridbotanist/addons.go
  pkg/operation/hybridbotanist/cloud_config.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/utils/secrets.go
  pkg/utils/secrets/basic_auth.go
  pkg/utils/secrets/certificates.go
  pkg/utils/secrets/control_plane.go
  pkg/utils/secrets/control_plane_test.go
  pkg/utils/secrets/export_test.go
  pkg/utils/secrets/rsa_private_key.go
  pkg/utils/secrets/secrets_suite_test.go
  pkg/utils/secrets/types.go
Labels: area/security, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/xl, status/in-progress, status/under-investigation, topology/shoot

#371 Fixing the default etcd db size
  charts/seed-controlplane/charts/etcd/templates/configmap-etcd-bootstrap.yaml
Labels: area/robustness, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#372 [ci::github.com/gardener/machine-controller-manager:0.9.0->0.10.0]
  charts/images.yaml
  charts/seed-bootstrap/templates/clusterrole-machine-controller-manager.yaml
  charts/seed-bootstrap/templates/crd-machines.yaml
  charts/seed-machines/charts/openstack-machineclass/templates/openstack-machineclass.yaml
  charts/seed-machines/charts/openstack-machineclass/values.yaml
  pkg/operation/cloudbotanist/openstackbotanist/machines.go
Labels: reviewed/do-not-merge

#366 Support Alicloud validation logic in plugin
  plugin/pkg/shoot/quotavalidator/admission.go
  plugin/pkg/shoot/quotavalidator/admission_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/usability, kind/enhancement, platform/ali, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden

#375 Fix timedOut not exporting its cause
  pkg/utils/retry.go
  pkg/utils/retry_test.go
Labels: needs/ok-to-test

#364 Replace kube-dns with CoreDNS
  charts/images.yaml
  charts/seed-monitoring/charts/prometheus/rules/coredns.rules.yml
  charts/seed-monitoring/charts/prometheus/rules/kube-dns.rules.yml
  charts/seed-monitoring/charts/prometheus/rules/kube-dnsmasq.rules.yml
  charts/shoot-addons/charts/monocular/templates/api-deployment.yaml
  charts/shoot-addons/charts/nginx-ingress/values.yaml
  charts/shoot-addons/values.yaml
  charts/shoot-core/charts/coredns/Chart.yaml
  charts/shoot-core/charts/coredns/templates/_versions.tpl
  charts/shoot-core/charts/coredns/templates/coredns-configmap.yaml
  charts/shoot-core/charts/coredns/templates/coredns-deployment.yaml
  charts/shoot-core/charts/coredns/templates/coredns-hpa.yaml
  charts/shoot-core/charts/coredns/templates/coredns-rbac.yaml
  charts/shoot-core/charts/coredns/templates/coredns-service.yaml
  charts/shoot-core/charts/coredns/templates/coredns-serviceaccount.yaml
  charts/shoot-core/charts/coredns/values.yaml
  charts/shoot-core/charts/kube-dns/Chart.yaml
  charts/shoot-core/charts/kube-dns/templates/kube-dns-autoscaler-deployment.yaml
  charts/shoot-core/charts/kube-dns/templates/kube-dns-autoscaler-rbac.yaml
  charts/shoot-core/charts/kube-dns/templates/kube-dns-autoscaler-serviceaccount.yaml
  charts/shoot-core/charts/kube-dns/templates/kube-dns-deployment.yaml
  charts/shoot-core/charts/kube-dns/templates/kube-dns-service.yaml
  charts/shoot-core/charts/kube-dns/templates/kube-dns-serviceaccount.yaml
  charts/shoot-core/charts/kube-dns/templates/kube-dnsmasq-metrics-service.yaml
  charts/shoot-core/charts/kube-dns/values.yaml
  charts/shoot-core/values.yaml
  docs/deployment/aks.md
  pkg/features/gardener_features.go
  pkg/operation/botanist/cleanup.go
  pkg/operation/hybridbotanist/addon_manager.go
  pkg/operation/hybridbotanist/addons.go
Labels: area/networking, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/shoot

#381 Block invalid access to the cloud metadata service
  charts/seed-controlplane/charts/cloud-metadata-service/Chart.yaml
  charts/seed-controlplane/charts/cloud-metadata-service/templates/_egress.tpl
  charts/seed-controlplane/charts/cloud-metadata-service/templates/_versions.tpl
  charts/seed-controlplane/charts/cloud-metadata-service/templates/network-policy-app.yaml
  charts/seed-controlplane/charts/cloud-metadata-service/templates/network-policy-role.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/network-policy.yaml
  pkg/controller/shoot/shoot_control_delete.go
  pkg/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/controlplane.go
Labels: area/security, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#379 Guarantee scheduling with priorities for system component pods
  charts/shoot-addons/charts/helm-tiller/templates/helm-tiller.yaml
  charts/shoot-addons/charts/kube-lego/templates/deployment.yaml
  charts/shoot-addons/charts/kube2iam/templates/daemonset.yaml
  charts/shoot-addons/charts/kubernetes-dashboard/templates/deployment.yaml
  charts/shoot-addons/charts/monocular/templates/api-deployment.yaml
  charts/shoot-addons/charts/monocular/templates/ui-deployment.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/default-backend-deployment.yaml
  charts/shoot-core/charts/calico/templates/calico.yaml
  charts/shoot-core/charts/coredns/templates/coredns-deployment.yaml
  charts/shoot-core/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  charts/shoot-core/charts/metrics-server/templates/deployment.yaml
  charts/shoot-core/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
Labels: area/robustness, exp/beginner, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/shoot

#380 Calico v3.2.1
  charts/images.yaml
  charts/shoot-core/charts/calico/templates/calico.yaml
  charts/shoot-core/charts/calico/templates/config.yaml
  charts/shoot-core/charts/calico/templates/rbac.yaml
Labels: area/networking, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/ok-to-test, size/s, status/accepted, topology/shoot

#382 Fix reset shoots method by adding reset-retry
  Makefile
  pkg/controller/shoot/shoot_control.go
  pkg/controller/shoot/shoot_control_reconcile.go
Labels: area/ops-productivity, area/quality, area/robustness, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#384 Extend kube-addon-manager's prune whitelist
  charts/images.yaml
  charts/seed-controlplane/charts/kube-addon-manager/templates/kube-addon-manager.yaml
Labels: area/quality, exp/beginner, kind/enhancement, platform/all, priority/normal, reviewed/ok-to-test, size/xs, status/accepted, topology/shoot

#383 Force-delete pods stuck in Terminating state
  pkg/client/kubernetes/base/pods.go
  pkg/client/kubernetes/types.go
  pkg/operation/botanist/garbage_collection.go
Labels: area/ops-productivity, area/robustness, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/ok-to-test, size/s, status/accepted, topology/seed, topology/shoot

#387 Remove label initializers for cloud independent persistent volumes
  pkg/controller/shoot/shoot_care_control.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
Labels: area/operations, area/usability, exp/expert, kind/bug, platform/all, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/s, status/accepted, topology/seed

#388 Enable kube-apiserver HPA for all shoots
  pkg/operation/hybridbotanist/controlplane.go
Labels: area/robustness, area/scalability, exp/beginner, kind/enhancement, platform/all, priority/normal, reviewed/ok-to-test, size/xs, status/accepted, topology/seed

#386 Correct Shoot deletion flow
  pkg/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/waiter.go
  pkg/operation/common/utils.go
Labels: area/ops-productivity, area/quality, area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed, topology/shoot

#390 Add metrics-server deployment to deletion whitelist
  pkg/operation/botanist/cleanup.go
Labels: area/robustness, area/usability, exp/beginner, kind/bug, platform/all, priority/critical, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#389 Adapt HPA upscale/downscale delays
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager.yaml
Labels: area/robustness, area/scalability, exp/beginner, kind/enhancement, platform/all, priority/normal, reviewed/ok-to-test, size/xs, status/accepted, topology/seed, topology/shoot

#392 External admission controller taking over the responsibility to add i…
  .ci/component_descriptor
  Dockerfile
  charts/images.yaml
  charts/seed-bootstrap/templates/gardener-external-admission-controller.yaml
  charts/seed-bootstrap/values.yaml
  charts/shoot-core/charts/cloud-controller-manager/templates/initializerconfiguration.yaml
  charts/shoot-core/charts/cloud-controller-manager/templates/webhook-gardener-add-initializer.yaml
  cmd/gardener-external-admission-controller/main.go
  pkg/controller/shoot/shoot_care_control.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/seed/seed.go
Labels: area/usability, exp/intermediate, kind/bug, needs/ok-to-test, platform/all, priority/critical, reviewed/lgtm, size/m, status/accepted, topology/seed, topology/shoot

#395 Remove storageclass type from OS botanist
  pkg/operation/cloudbotanist/openstackbotanist/addons.go
Labels: area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot
