Repository gardener/gardener, pull requests merged in 2018-08, with the labels that each got.

#287 Whitelist of Prometheus cAdvisor metrics
  charts/images.yaml
  charts/seed-bootstrap/templates/prometheus/config.yaml
  charts/seed-bootstrap/templates/prometheus/service.yaml
  charts/seed-bootstrap/templates/prometheus/statefulset.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
Labels: area/monitoring, area/operations, area/performance, area/robustness, area/scalability, component/gardener, exp/beginner, kind/enhancement, platform/all, priority/normal, status/accepted, topology/seed

#303 Force recreation of Kubernetes HTTP client
  pkg/client/kubernetes/client.go
Labels: area/networking, exp/intermediate, kind/bug, platform/all, priority/critical, size/xs, status/accepted

#284 Replace math/rand with crypto/rand for basic-auth password generation
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  pkg/controller/shoot/shoot_control.go
  pkg/controller/shoot/shoot_maintenance_control.go
  pkg/operation/botanist/secrets.go
  pkg/operation/hybridbotanist/cloud_config.go
  pkg/utils/random.go
Labels: area/security, kind/enhancement, needs/changes, needs/ok-to-test, platform/all, priority/normal, size/s, status/author-action

#306 Bumped Openstack and GCP CoreOS image to verion 1745.7.0
  example/30-cloudprofile-aws.yaml
  example/30-cloudprofile-azure.yaml
  example/30-cloudprofile-gcp.yaml
  example/30-cloudprofile-openstack.yaml
  hack/templates/resources/30-cloudprofile.yaml.tpl
Labels: area/dev-productivity, exp/beginner, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, size/xs, status/author-action

#304 Etcd connection timeout increased and frequency decreased.
  charts/seed-controlplane/charts/etcd/templates/etcd-statefulset.yaml
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/controller/shoot/shoot.go
Labels: area/backup, component/etcd-backup-restore, kind/enhancement, platform/all, priority/normal, reviewed/ok-to-test, size/xs, status/in-progress

#307 Add TCPKeepAliveConnection configuration flag to disable TCP connecti…
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/apis/componentconfig/types.go
  pkg/apis/componentconfig/v1alpha1/types.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.conversion.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, size/s, status/in-progress

#311 Added support for Kubernetes on Docker for local setup
  Makefile
  hack/common
  hack/dev-setup
  hack/start-api
Labels: area/dev-productivity, kind/enhancement, needs/changes, platform/all, priority/normal, size/s, status/author-action, topology/garden

#319 Shutdown Gardener Controller Manager webserver gracefully.
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  pkg/server/server.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, size/xs, status/in-progress, topology/garden

#318 remove finalizers from apiservice registration
  hack/dev-setup-register-gardener
Labels: area/dev-productivity, kind/enhancement, platform/all, priority/normal, size/xs, status/under-investigation, topology/garden

#320 Restart docker daemon when using custom root certs
  charts/shoot-cloud-config/charts/original/templates/ssl/_update-ca-certs.service
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, size/xs, status/in-progress, topology/shoot

#315 Scale shoot's control plane according to the number of maximum nodes
  charts/_versions.tpl
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver-hpa.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/operation/common/types.go
  pkg/operation/hybridbotanist/controlplane.go
Labels: area/scalability, exp/intermediate, kind/enhancement, needs/changes, needs/ok-to-test, platform/all, priority/normal, size/m, status/author-action, topology/seed

#323 Adjust seed's Prometheus resources based on node count.
  charts/seed-bootstrap/templates/prometheus/_resource.tpl
  charts/seed-bootstrap/templates/prometheus/statefulset.yaml
  charts/seed-bootstrap/values.yaml
  pkg/operation/seed/seed.go
Labels: area/scalability, exp/expert, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, size/s, status/under-investigation, topology/seed

#322 Configurable Kubernetes admission plugins
  charts/_versions.tpl
  charts/seed-controlplane/charts/kube-apiserver/templates/_helpers.tpl
  charts/seed-controlplane/charts/kube-apiserver/templates/admission-config.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/oidc-ca-secret.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/client/kubernetes/admissionplugins.go
  pkg/client/kubernetes/admissionplugins_test.go
  pkg/client/kubernetes/kubernetes_suite_test.go
  pkg/client/kubernetes/v111/v111.go
  pkg/openapi/openapi_generated.go
  pkg/operation/hybridbotanist/controlplane.go
Labels: area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/m, status/in-progress, topology/seed

#326 Add support for setting K8S log level in controller manager
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/apis/componentconfig/types.go
  pkg/apis/componentconfig/v1alpha1/types.go
  pkg/apis/componentconfig/v1alpha1/zz_generated.conversion.go
Labels: area/dev-productivity, kind/enhancement, needs/changes, needs/ok-to-test, platform/all, priority/normal, size/xs, status/in-progress, topology/garden

#327 Add docu for the machine bootstrap process and mcm integration.
  docs/README.md
  docs/development/machine-bootstrap.md
Labels: area/documentation, component/gardener, needs/review

#329 Drop noisy metrics from Shoot's Prometheus
  charts/seed-monitoring/charts/prometheus/templates/_helpers.tpl
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/templates/prometheus.yaml
Labels: area/monitoring, area/scalability, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/s, status/in-progress, topology/seed

#332 set_dependency_version script
  .ci/pipeline_definitions
  .ci/set_dependency_version
Labels: needs/ok-to-test

#335 Cache client capabilities upon first request in chart renderer
  pkg/chartrenderer/default.go
  pkg/operation/botanist/dns.go
  pkg/operation/cloudbotanist/awsbotanist/addons.go
  pkg/operation/cloudbotanist/awsbotanist/controlplane.go
  pkg/operation/cloudbotanist/awsbotanist/infrastructure.go
  pkg/operation/cloudbotanist/awsbotanist/machines.go
  pkg/operation/cloudbotanist/azurebotanist/controlplane.go
  pkg/operation/cloudbotanist/azurebotanist/infrastructure.go
  pkg/operation/cloudbotanist/azurebotanist/machines.go
  pkg/operation/cloudbotanist/gcpbotanist/controlplane.go
  pkg/operation/cloudbotanist/gcpbotanist/infrastructure.go
  pkg/operation/cloudbotanist/gcpbotanist/machines.go
  pkg/operation/cloudbotanist/openstackbotanist/controlplane.go
  pkg/operation/cloudbotanist/openstackbotanist/infrastructure.go
  pkg/operation/cloudbotanist/openstackbotanist/machines.go
  pkg/operation/operation.go
  pkg/operation/seed/seed.go
  pkg/operation/terraformer/terraformer.go
Labels: area/quality, exp/beginner, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, size/xs, status/in-progress

#337 increase component update check frequency
  .ci/pipeline_definitions
Labels: reviewed/ok-to-test

#338 adding a storageClass for azure-file
  pkg/operation/cloudbotanist/azurebotanist/addons.go
Labels: area/usability, exp/beginner, kind/enhancement, needs/ok-to-test, platform/az, priority/normal, size/xs, status/accepted, topology/shoot

#341 Moves some auth/cert generation functions to utils package
  pkg/operation/botanist/secrets.go
  pkg/utils/secrets.go
Labels: area/dev-productivity, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden
