Repository gardener/gardener, pull requests merged in 2019-04, with the labels that each got.

#884 Delete WAL when prometheus starts
  charts/seed-bootstrap/templates/prometheus/statefulset.yaml
Labels: area/monitoring, area/scalability, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#891 Fix available timezones via tzdata package
  Dockerfile
  assets/zoneinfo.zip
Labels: area/quality, component/gardener, exp/beginner, kind/cleanup, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#898 Upgrade VPA to 0.5.0
  charts/images.yaml
  charts/seed-bootstrap/charts/vpa/templates/admission-controller-deployment.yaml
  charts/seed-bootstrap/charts/vpa/templates/vpa-crd.yaml
Labels: area/robustness, area/scalability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#899 Fix plant .test-defs
  .test-defs/PlantTest.yaml
  pkg/controllermanager/controller/plant/plant_control.go
  test/integration/framework/plant_operations.go
  test/integration/plants/plant_test.go
Labels: area/testing, exp/intermediate, kind/bug, priority/normal, topology/plant

#903 Prepare templates in hack/templates for pyyaml upgrade
  hack/templates/resources/05-project-dev.yaml.tpl
  hack/templates/resources/100-plant.yaml.tpl
  hack/templates/resources/25-controllerinstallation.yaml.tpl
  hack/templates/resources/25-controllerregistration.yaml.tpl
  hack/templates/resources/30-cloudprofile.yaml.tpl
  hack/templates/resources/40-secret-seed.yaml.tpl
  hack/templates/resources/50-seed.yaml.tpl
  hack/templates/resources/60-quota.yaml.tpl
  hack/templates/resources/70-secret-cloudprovider.yaml.tpl
  hack/templates/resources/80-secretbinding-cloudprovider.yaml.tpl
  hack/templates/resources/90-shoot.yaml.tpl
  hack/templates/resources/95-configmap-custom-audit-policy.yaml.tpl
Labels: area/dev-productivity, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#901 Delete remnant gcp route entries
  pkg/client/gcp/types.go
  pkg/operation/cloudbotanist/gcpbotanist/infrastructure.go
Labels: area/robustness, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/gcp, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#913 Delete remnant gcp route entries
  pkg/client/gcp/types.go
  pkg/operation/cloudbotanist/gcpbotanist/infrastructure.go
Labels: needs/ok-to-test, reviewed/lgtm, status/accepted

#915 Set vpa mode to Auto for prometheus
  charts/seed-bootstrap/charts/vpa/templates/admission-controller-deployment.yaml
  charts/seed-bootstrap/charts/vpa/templates/recommender-deployment.yaml
  charts/seed-bootstrap/charts/vpa/templates/updater-deployment.yaml
  charts/seed-bootstrap/templates/prometheus/prometheus-vpa.yaml
  charts/seed-bootstrap/templates/prometheus/statefulset.yaml
  charts/seed-monitoring/charts/prometheus/templates/prometheus-vpa.yaml
  charts/seed-monitoring/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
Labels: area/monitoring, area/scalability, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#923 Added reference to new garden setup project
  README.md
Labels: area/documentation, component/gardener, kind/enhancement, needs/ok-to-test, size/xs

#922 Do not Require Running DNS Extension for `unmanaged` Provider
  example/90-shoot-local.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/controllermanager/controller/shoot/shoot_control_delete.go
  pkg/controllermanager/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/health_check.go
  pkg/operation/common/types.go
Labels: area/dev-productivity, exp/intermediate, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs, status/accepted

#917 Make SeedManager Admission Plugin configurable via seed candidate determination strategies
  charts/gardener/charts/runtime/templates/configmap-gardener-apiserver-admissioncontrol-config.yaml
  charts/gardener/charts/runtime/templates/deployment-apiserver.yaml
  charts/gardener/values.yaml
  example/20-admissionconfiguration.yaml
  hack/dev-setup
  hack/generate-code
  hack/start-api
  plugin/pkg/shoot/seedmanager/admission.go
  plugin/pkg/shoot/seedmanager/admission_test.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/doc.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/install/install.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/register.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/types.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/v1alpha1/doc.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/v1alpha1/register.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/v1alpha1/types.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/v1alpha1/zz_generated.conversion.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/v1alpha1/zz_generated.deepcopy.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/v1alpha1/zz_generated.defaults.go
  plugin/pkg/shoot/seedmanager/apis/seedmanager/zz_generated.deepcopy.go
  plugin/pkg/shoot/seedmanager/config.go
  plugin/pkg/shoot/seedmanager/validation/seedmanager_validation_suite_test.go
  plugin/pkg/shoot/seedmanager/validation/validation.go
  plugin/pkg/shoot/seedmanager/validation/validation_test.go
Labels: area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/l, status/accepted, topology/garden

#926 Add VPA objects for control plane components
  charts/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager-vpa.yaml
  charts/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/seed-controlplane/charts/etcd/templates/etcd-vpa.yaml
  charts/seed-controlplane/charts/etcd/values.yaml
  charts/seed-controlplane/charts/kube-addon-manager/templates/kube-addon-manager-vpa.yaml
  charts/seed-controlplane/charts/kube-addon-manager/values.yaml
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager-vpa.yaml
  charts/seed-controlplane/charts/kube-controller-manager/values.yaml
  charts/seed-controlplane/charts/kube-scheduler/templates/kube-scheduler-vpa.yaml
  charts/seed-controlplane/charts/kube-scheduler/values.yaml
  charts/seed-controlplane/charts/machine-controller-manager/templates/mcm-vpa.yaml
  charts/seed-controlplane/charts/machine-controller-manager/values.yaml
  pkg/operation/botanist/controlplane.go
  pkg/operation/hybridbotanist/addon_manager.go
  pkg/operation/hybridbotanist/controlplane.go
Labels: area/scalability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed

#927 Refactor alertmanager config
  charts/seed-monitoring/charts/prometheus/optional-rules/alertmanager.rules.yaml
  charts/seed-monitoring/charts/prometheus/templates/_helpers.tpl
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
  pkg/operation/botanist/controlplane.go
Labels: area/monitoring, exp/expert, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#935 Fix semver construct preventing kube-scheduler rules to be applied properly
  charts/shoot-core/charts/kube-scheduler/templates/rbac.yaml
  charts/shoot-core/charts/kube-scheduler/values.yaml
Labels: component/gardener, exp/intermediate, kind/bug, needs/ok-to-test, platform/all, size/xs

#928 Move some CSI components to Seed cluster
  charts/images.yaml
  charts/seed-controlplane/charts/csi-alicloud/Chart.yaml
  charts/seed-controlplane/charts/csi-alicloud/charts/utils-templates
  charts/seed-controlplane/charts/csi-alicloud/templates/csi-attacher-dep.yaml
  charts/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-dep.yaml
  charts/seed-controlplane/charts/csi-alicloud/templates/csi-provisioner-dep.yaml
  charts/seed-controlplane/charts/csi-alicloud/templates/csi-snapshotter-dep.yaml
  charts/seed-controlplane/charts/csi-alicloud/values.yaml
  charts/shoot-core/charts/cloud-controller-manager/values.yaml
  charts/shoot-core/charts/csi-alicloud/templates/csi-attacher-dep.yaml
  charts/shoot-core/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  charts/shoot-core/charts/csi-alicloud/templates/csi-diskplugin-secret.yaml
  charts/shoot-core/charts/csi-alicloud/templates/csi-provisioner-ss.yaml
  charts/shoot-core/charts/csi-alicloud/templates/csi-snapshotter-ss.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-attacher-psp.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-attacher-rbac.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-provisioner-psp.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-provisioner-rbac.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-snapshotter-psp.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-snapshotter-rbac.yaml
  charts/shoot-core/charts/csi-alicloud/values.yaml
  pkg/controllermanager/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/cleanup.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/secrets.go
  pkg/operation/cloudbotanist/alicloudbotanist/controlplane.go
  pkg/operation/common/types.go
  pkg/operation/hybridbotanist/addons.go
  pkg/operation/hybridbotanist/controlplane.go
Labels: area/robustness, area/usability, exp/intermediate, kind/enhancement, needs/changes, needs/ok-to-test, platform/ali, priority/normal, size/m, status/author-action, topology/seed

#924 More error verbosity for shoot_app.go
  test/integration/framework/shoot_app.go
Labels: area/testing, exp/intermediate, kind/enhancement, needs/changes, needs/ok-to-test, needs/rebase, platform/all, priority/normal, size/s, status/author-action

#932 Proposal for backup infra controller redesign
  docs/proposals/02-backupinfra.md
  docs/proposals/Backup-Infrastructure-Provisioning-sequence-diagram.svg
  docs/proposals/Backup-Infrastructure-Provisioning-with-deletion-job.svg
  docs/proposals/Backup-Migration.svg
Labels: area/disaster-recovery, area/documentation, exp/expert, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/all, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/seed

#933 Constrain route names
  pkg/client/gcp/types.go
Labels: needs/ok-to-test

#942 [ci:component:github.com/gardener/terraformer:0.11.0->0.12.0]
  charts/images.yaml
Labels: reviewed/ok-to-test

#941 Allow configuration of authentication mode for kubernetes-dashboard
  charts/shoot-addons/charts/kubernetes-dashboard/templates/deployment.yaml
  charts/shoot-addons/charts/kubernetes-dashboard/values.yaml
  example/90-shoot-alicloud.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  example/90-shoot-packet.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/defaults.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/v1beta1/zz_generated.defaults.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/addons.go
Labels: area/security, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/s, status/in-progress, status/under-investigation, topology/shoot

#943 Improve coredns containerPorts
  charts/shoot-core/charts/coredns/templates/coredns-deployment.yaml
Labels: needs/ok-to-test

#946 [ci:component:github.com/gardener/machine-controller-manager:0.15.0->0.16.0]
  charts/images.yaml
Labels: needs/ok-to-test

#944 Label shooted seeds with `garden.sapcloud.io/role=seed`
  pkg/operation/botanist/botanist.go
Labels: needs/ok-to-test

#945 Update example resources
  example/30-cloudprofile-aws.yaml
  example/30-cloudprofile-azure.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  hack/templates/resources/30-cloudprofile.yaml.tpl
  hack/templates/resources/90-shoot.yaml.tpl
Labels: needs/ok-to-test

#948 Updated Prometheus to scrape more MCM metrics
  charts/seed-monitoring/charts/prometheus/values.yaml
Labels: needs/ok-to-test

#947 Update image versions
  Dockerfile
  charts/images.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/elasticsearch/statefulset.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-deployment.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/values.yaml
  charts/seed-bootstrap/values.yaml
  docs/development/local_setup.md
  pkg/operation/botanist/controlplane.go
  pkg/operation/seed/seed.go
Labels: needs/ok-to-test

#900 Add list of Gardener adopters
  ADOPTERS.md
Labels: area/documentation, area/open-source, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/do-not-merge, reviewed/lgtm, size/xs, status/in-progress

#949 Shoot namespace labels and Terraform RBAC improvement
  charts/seed-bootstrap/templates/clusterrole-garden-system-terraformer.yaml
  pkg/apis/core/v1alpha1/types_constants.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/terraformer/terraformer.go
Labels: needs/ok-to-test

#953 Fix shootapp test and introduce helm version
  test/integration/framework/framework_test.go
  test/integration/framework/helm_utils.go
  test/integration/framework/shoot_app.go
  test/integration/shoots/applications/shoot_app_test.go
Labels: area/testing, component/gardener, needs/ok-to-test, platform/all, size/s

#950 Prevent panic due to invalid type conversion
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/hybridbotanist/cloud_config.go
  pkg/operation/hybridbotanist/controlplane.go
Labels: needs/ok-to-test

#955 Fix comparison of networks during route deletion
  pkg/client/gcp/types.go
Labels: needs/ok-to-test

#951 Support k8s 1.14.+ on Alicloud
  charts/images.yaml
  charts/seed-controlplane/charts/csi-alicloud/templates/csi-attacher-dep.yaml
  charts/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-dep.yaml
  charts/seed-controlplane/charts/csi-alicloud/templates/csi-provisioner-dep.yaml
  charts/seed-controlplane/charts/csi-alicloud/templates/csi-snapshotter-dep.yaml
  charts/seed-controlplane/charts/csi-alicloud/values.yaml
  charts/shoot-core/charts/csi-alicloud/templates/crd-csidriver.yaml
  charts/shoot-core/charts/csi-alicloud/templates/crd-nodeinfo.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-attacher-rbac.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-provisioner-rbac.yaml
  charts/shoot-core/charts/csi-alicloud/values.yaml
  docs/usage/supported_k8s_versions.md
  pkg/operation/botanist/controlplane.go
  pkg/operation/cloudbotanist/alicloudbotanist/addons.go
  pkg/operation/cloudbotanist/alicloudbotanist/controlplane.go
Labels: needs/ok-to-test

#940 Fix / Enhance / Refactor cleanup
  Gopkg.lock
  charts/shoot-core/charts/calico/templates/calico.yaml
  pkg/client/kubernetes/apiservices.go
  pkg/client/kubernetes/cleanup.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientset.go
  pkg/client/kubernetes/crds.go
  pkg/client/kubernetes/types.go
  pkg/controllermanager/controller/shoot/shoot_control_delete.go
  pkg/mock/gardener/kubernetes/mocks.go
  pkg/mock/gardener/utils/doc.go
  pkg/mock/gardener/utils/flow/doc.go
  pkg/mock/gardener/utils/flow/funcs.go
  pkg/mock/gardener/utils/funcs.go
  pkg/mock/gardener/utils/mocks.go
  pkg/mock/go/context/doc.go
  pkg/mock/go/context/funcs.go
  pkg/operation/botanist/cleaner.go
  pkg/operation/botanist/cleaner_test.go
  pkg/operation/botanist/cleanup.go
  pkg/utils/flow/flow.go
  pkg/utils/flow/flow_test.go
  pkg/utils/flow/taskfn.go
  pkg/utils/retry.go
  pkg/utils/retry_test.go
  test/utils.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/install/install.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/internalclientset/clientset.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/internalclientset/doc.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/internalclientset/scheme/doc.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/internalclientset/scheme/register.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/internalclientset/typed/apiregistration/internalversion/apiregistration_client.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/internalclientset/typed/apiregistration/internalversion/apiservice.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/internalclientset/typed/apiregistration/internalversion/doc.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/internalclientset/typed/apiregistration/internalversion/generated_expansion.go
  vendor/k8s.io/kube-aggregator/pkg/client/informers/internalversion/apiregistration/internalversion/apiservice.go
  vendor/k8s.io/kube-aggregator/pkg/client/informers/internalversion/apiregistration/internalversion/interface.go
  vendor/k8s.io/kube-aggregator/pkg/client/informers/internalversion/internalinterfaces/factory_interfaces.go
  vendor/k8s.io/kube-aggregator/pkg/client/listers/apiregistration/internalversion/apiservice.go
  vendor/k8s.io/kube-aggregator/pkg/client/listers/apiregistration/internalversion/expansion_generated.go
  vendor/k8s.io/kube-aggregator/pkg/controllers/autoregister/autoregister_controller.go
  vendor/k8s.io/kube-aggregator/pkg/controllers/cache.go
Labels: area/robustness, area/storage, component/gardener, exp/expert, kind/bug, kind/cleanup, kind/enhancement, needs/lgtm, needs/review, platform/all, reviewed/ok-to-test, size/xl, status/in-progress, status/under-investigation, topology/shoot

#956 Fix Hibernation race and add tests
  pkg/controllermanager/controller/shoot/hibernation_types.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_control.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_test.go
  pkg/mock/gardener/client/garden/clientset/versioned/doc.go
  pkg/mock/gardener/client/garden/clientset/versioned/mocks.go
  pkg/mock/gardener/client/garden/clientset/versioned/typed/garden/v1beta1/doc.go
  pkg/mock/gardener/client/garden/clientset/versioned/typed/garden/v1beta1/mocks.go
  pkg/mock/gardener/controllermanager/controller/shoot/doc.go
  pkg/mock/gardener/controllermanager/controller/shoot/funcs.go
  pkg/mock/gardener/controllermanager/controller/shoot/mocks.go
  pkg/mock/go/time/doc.go
  pkg/mock/go/time/funcs.go
  pkg/operation/cloudbotanist/alicloudbotanist/addons.go
  pkg/utils/flow/flow.go
  pkg/utils/miscellaneous.go
  pkg/utils/test/test.go
Labels: area/quality, area/robustness, component/gardener, exp/intermediate, kind/bug, needs/lgtm, needs/ok-to-test, needs/review, platform/all, priority/normal, size/l, status/in-progress, status/under-investigation, topology/garden

#957 Add annotation to ignore alerts from a shoot
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/common/types.go
  pkg/operation/operation.go
  pkg/operation/shoot/types.go
Labels: needs/ok-to-test

#958 Fix sleep test, add sanity check
  pkg/mock/gardener/utils/doc.go
  pkg/mock/gardener/utils/funcs.go
  pkg/utils/retry_test.go
Labels: exp/intermediate, kind/bug, needs/lgtm, needs/ok-to-test, needs/review, needs/second-opinion, platform/all, priority/normal, size/s, status/under-investigation

#959 Remove propagation policy from cleanup delete call
  pkg/operation/botanist/cleanup.go
Labels: exp/expert, kind/bug, needs/lgtm, needs/ok-to-test, needs/review, needs/second-opinion, platform/all, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/shoot

#962 annotate test shoots to ignore alerts
  .test-defs/cmd/create-shoot/helper.go
  .test-defs/cmd/create-shoot/main.go
Labels: needs/ok-to-test

#954 Overhaul warning alerts
  charts/seed-bootstrap/templates/alertmanager/_config.tpl
  charts/seed-monitoring/charts/alertmanager/templates/_config.tpl
  charts/seed-monitoring/charts/prometheus/rules-tests/apiserver-connectivity-check.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/cloud-controller-manager.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/coredns.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-apiserver.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-controller-manager.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-etcd3.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-kubelet.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-pods.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-scheduler.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-state-metrics.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/machine-controller-manager.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/node-exporter.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/prometheus.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/vpn.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules/alertmanager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/apiserver-connectivity-check.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-apiserver.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-etcd3.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-kubelet.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-pods.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/node-exporter.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/prometheus.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/vpn.rules.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test

#965 fix alert unit test
  charts/seed-monitoring/charts/prometheus/rules-tests/vpn.rules.test.yaml
Labels: needs/ok-to-test
