Repository gardener/gardener, pull requests merged in 2019-11, with the labels that each got.

#1568 Add some duplication checks in CloudProfile validation
  pkg/apis/garden/v1beta1/conversions.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
Labels: needs/ok-to-test

#1404 Adds functionality to cleanup last errors on success
  hack/api-reference/core.md
  hack/api-reference/extensions.md
  hack/api-reference/garden.md
  hack/api-reference/settings.md
  pkg/api/extensions/accessor.go
  pkg/apis/core/types_common.go
  pkg/apis/core/v1alpha1/conversions.go
  pkg/apis/core/v1alpha1/helper/errors.go
  pkg/apis/core/v1alpha1/types_common.go
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/extensions/v1alpha1/types.go
  pkg/apis/garden/types.go
  pkg/apis/garden/types_common.go
  pkg/apis/garden/v1beta1/conversions.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/controllermanager/controller/shoot/shoot_care_control.go
  pkg/controllermanager/controller/shoot/shoot_control.go
  pkg/controllermanager/controller/shoot/shoot_control_delete.go
  pkg/controllermanager/controller/shoot/shoot_control_reconcile.go
  pkg/controllermanager/controller/shoot/shoot_suite_test.go
  pkg/controllermanager/controller/shoot/shoot_utils.go
  pkg/mock/gardener/utils/errors/funcs.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/health_check.go
  pkg/operation/operation.go
  pkg/utils/errors/errors.go
  pkg/utils/errors/errors_test.go
  pkg/utils/flow/flow.go
  pkg/utils/flow/flow_test.go
Labels: needs/ok-to-test

#1589 Add worker configuration from file
  .test-defs/CreateShoot.yaml
  .test-defs/WorkerTest.yaml
  test/integration/framework/common.go
  test/integration/shoots/creation/create_test.go
  test/integration/shoots/update/shoot_update_test.go
  test/integration/shoots/worker/worker_test.go
Labels: needs/ok-to-test

#1593 Add kubernetes version definition to update test
  .test-defs/ShootKubernetesUpdateTest.yaml
Labels: needs/ok-to-test

#1586 Bootstrap nodes with CA cert
  charts/seed-operatingsystemconfig/original/templates/osc.yaml
  charts/seed-operatingsystemconfig/original/templates/ssl/_root-certs
  charts/seed-operatingsystemconfig/original/templates/ssl/_update-ca-certs.service
  pkg/operation/botanist/operatingsystemconfig.go
Labels: component/gardener, kind/enhancement, needs/ok-to-test, topology/shoot

#1588 improve error messages if validating shoot/seed network disjointedness fails
  pkg/scheduler/controller/shoot/scheduler_control.go
  pkg/scheduler/utils/networks.go
Labels: needs/ok-to-test

#1591 Adds functionality to "cancel" HandleErrors
  pkg/controllermanager/controller/shoot/shoot_control_delete.go
  pkg/utils/errors/errors.go
  pkg/utils/errors/errors_test.go
Labels: needs/ok-to-test

#1596 Move terraformer library from gardener to gardener-extensions
  pkg/controllermanager/controller/shoot/shoot_control_reconcile.go
  pkg/operation/terraformer/config.go
  pkg/operation/terraformer/errors.go
  pkg/operation/terraformer/errors_test.go
  pkg/operation/terraformer/state.go
  pkg/operation/terraformer/terraform_test.go
  pkg/operation/terraformer/terraformer.go
  pkg/operation/terraformer/terraformer_suite_test.go
  pkg/operation/terraformer/types.go
  pkg/operation/terraformer/waiter.go
Labels: needs/ok-to-test

#1597 remove trivially used hostpath; add /lib/modules hostpath vol when iptables is used
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager.yaml
Labels: needs/ok-to-test, needs/second-opinion

#1599 Fix openstack create-shoot test
  test/integration/framework/common.go
Labels: needs/ok-to-test

#1602 Enable debug verbosity for kubernetes update tests
  .test-defs/ShootKubernetesUpdateTest.yaml
Labels: needs/ok-to-test

#1603 Improve messaging around svc/kube-apiserver deployment
  pkg/controllermanager/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/waiter.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: needs/ok-to-test

#1607 Update Plant test to be gardener default
  .test-defs/PlantTest.yaml
Labels: needs/ok-to-test

#1610 Revert "Use cluster autoscaler friendly scheduling algorithm"
  charts/seed-controlplane/charts/kube-scheduler/templates/componentconfig.yaml
  charts/seed-controlplane/charts/kube-scheduler/values.yaml
  pkg/operation/botanist/controlplane.go
Labels: kind/bug, needs/ok-to-test

#1611 [release-0.31] Revert "Use cluster autoscaler friendly scheduling algorithm"
  charts/seed-controlplane/charts/kube-scheduler/templates/componentconfig.yaml
  charts/seed-controlplane/charts/kube-scheduler/values.yaml
  pkg/operation/botanist/controlplane.go
Labels: kind/bug, needs/ok-to-test

#1612 Cherry Pick - Fix openstack create-shoot test
  test/integration/framework/common.go
Labels: needs/ok-to-test

#1604 Fix Seed deletion deadlock
  pkg/controllermanager/controller/controllerinstallation/controllerinstallation_control.go
  pkg/controllermanager/controller/shoot/shoot_control.go
  pkg/controllermanager/controller/shoot/shoot_control_delete.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: needs/ok-to-test

#1616 [release-0.31] Restrict terraformer to delete jobs and pods only in its namespace
  pkg/operation/terraformer/terraformer.go
Labels: needs/ok-to-test

#1613 Refactor hibernation test
  .test-defs/HibernateShoot.yaml
  .test-defs/WakeUpShoot.yaml
  test/integration/framework/applications/guestbooktest.go
  test/integration/framework/shoot_operations.go
  test/integration/shoots/applications/shoot_app_test.go
  test/integration/shoots/hibernation/hibernation_test.go
  test/integration/shoots/wakeup/wakeup_suite_test.go
  test/integration/shoots/wakeup/wakeup_test.go
Labels: needs/ok-to-test

#1614 Remove deprecated metrics
  charts/seed-bootstrap/dashboards/extensions-dashboard.json
  charts/seed-bootstrap/dashboards/seed-resource-usage.json
  charts/seed-bootstrap/prometheus-rules/recording-rules.rules.yaml
  charts/seed-bootstrap/templates/prometheus/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/grafana/dashboards/operators/coredns-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/etcd-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-daemonsets-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-deployments-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-pods-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-statefulsets-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpa-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpn-dashboard.json
Labels: needs/ok-to-test

#1619 increased delete-shoot test timeout from 30min to 60min
  .test-defs/DeleteShoot.yaml
Labels: needs/ok-to-test

#1594 Add remote alertmanager for operators
  .ci/generate_monitoring_docs
  charts/gardener/charts/application/templates/secret-alerting-smtp.yaml
  charts/gardener/charts/application/templates/secret-alerting.yaml
  charts/gardener/charts/runtime/templates/controller-manager/deployment.yaml
  charts/gardener/charts/utils-common/templates/_secret-alerting-smtp.yaml
  charts/gardener/charts/utils-common/templates/_secret-alerting.yaml
  charts/gardener/values.yaml
  charts/seed-bootstrap/templates/alertmanager/alertmanager.yaml
  charts/seed-bootstrap/templates/alertmanager/config.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  docs/README.md
  docs/monitoring/alerting.md
  docs/monitoring/operator_alerts.md
  docs/monitoring/user_alerts.md
  docs/usage/configuration.md
  example/10-secret-alerting-smtp.yaml
  example/10-secret-alerting.yaml
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/common/types.go
  pkg/operation/garden/garden.go
  pkg/operation/operation.go
  pkg/operation/seed/seed.go
Labels: needs/ok-to-test

#1623 Fix create shoot with VolumeTypes
  test/integration/framework/common.go
Labels: needs/ok-to-test

#1624 [release-0.31] Fix create shoot with VolumeTypes regression
  .test-defs/DeleteShoot.yaml
  test/integration/framework/common.go
Labels: needs/ok-to-test

#1608 Improve prevention of removing the gardener finalizer on Shoots
  cmd/gardener-apiserver/app/gardener_apiserver.go
  pkg/apiserver/admission/initializer/initializer.go
  pkg/apiserver/admission/initializer/types.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/types.go
  pkg/mock/gardener/client/kubernetes/doc.go
  pkg/mock/gardener/client/kubernetes/mocks.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: needs/ok-to-test

#1622 Fix a panic in the deletion step if the shoot is not successfully created
  test/integration/shoots/deletion/delete_test.go
Labels: needs/ok-to-test

#1621 Add the option to disable typha in the examples
  docs/proposals/03-networking-extensibility.md
  docs/proposals/04-new-core-gardener-cloud-apis.md
  example/90-shoot.yaml
Labels: needs/ok-to-test

#1546 Add control plane migration GEP
  docs/proposals/07-shoot-control-plane-migration.md
Labels: area/control-plane, area/disaster-recovery, component/gardener, kind/discussion, needs/ok-to-test, needs/second-opinion, platform/all

#1625 Fix conversion from garden.CloudProfile to v1beta1.CloudProfile
  pkg/apis/garden/v1beta1/conversions.go
Labels: needs/ok-to-test

#1629 Increase timeout of create shoot
  .test-defs/CreateShoot.yaml
Labels: needs/ok-to-test

#1570 Fix conversion of CloudProfile between APIs
  pkg/apis/garden/v1beta1/conversions.go
  pkg/apis/roundtrip_cloudprofile_migration_test.go
Labels: component/gardener, kind/bug, needs/ok-to-test

#1632 Add simple shoot network integration test
  .test-defs/ShootNetworkTest.yaml
  test/integration/framework/garden_operation.go
  test/integration/resources/templates/network-nginx-deamonset.yaml.tpl
  test/integration/shoots/networking/shoot_networking_test.go
  test/integration/shoots/networking/shootnetworking_suite_test.go
Labels: needs/ok-to-test

#1636 Increase timeout of delete test
  test/integration/shoots/creation/create_test.go
  test/integration/shoots/deletion/delete_test.go
Labels: needs/ok-to-test

#1640 Bump alpine and golang
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/PlantTest.yaml
  .test-defs/RBACTest.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/SchedulerTest.yaml
  .test-defs/SeedLoggingTest.yaml
  .test-defs/ShootAppTest.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/ShootMaintenanceTest.yaml
  .test-defs/ShootNetworkTest.yaml
  .test-defs/ShootReconcile.yaml
  .test-defs/ShootWorkerScale.yaml
  .test-defs/WorkerTest.yaml
  Dockerfile
  charts/images.yaml
  hack/dev-setup
Labels: needs/ok-to-test

#1638 Wait for clean cluster state before hibernating control plane
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/waiter.go
Labels: needs/ok-to-test

#1643 Bump etcd version to 3.3.17
  charts/images.yaml
Labels: needs/ok-to-test

#1644 bump alpine version with iptalbes to 3.10.3
  charts/images.yaml
Labels: needs/ok-to-test

#1635 Integrate tm bot
  .ci/testruns/default/Chart.yaml
  .ci/testruns/default/templates/testrun-default.yaml
  .ci/testruns/default/values.yaml
  .ci/tm-config.yaml
  .ci/tm-test
  .test-defs/CreateShoot.yaml
  test/integration/shoots/creation/create_test.go
Labels: needs/ok-to-test

#1651 Fix custom worker config in the Shoot
  pkg/operation/botanist/worker.go
Labels: needs/ok-to-test

#1654 Scrape kube-proxy metrics
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/componentconfig.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-service.yaml
  charts/shoot-core/components/charts/kube-proxy/values.yaml
Labels: needs/ok-to-test

#1647 adding setCondition to unstructured accessor
  pkg/api/extensions/accessor.go
  pkg/api/extensions/accessor_test.go
  pkg/apis/extensions/v1alpha1/types.go
  pkg/apis/extensions/v1alpha1/types_defaults.go
Labels: needs/ok-to-test

#1657 Remove calculation of resource allocations for prometheus
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  pkg/operation/botanist/monitoring.go
Labels: needs/ok-to-test

#1659 Add --no-block flag to systemd service restart command in cloud config.
  charts/seed-operatingsystemconfig/downloader/templates/osc.yaml
  charts/shoot-cloud-config/templates/scripts/_cloud-config-script.sh
Labels: needs/ok-to-test

#1662 Add DeployInfrastructure task on updates
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: needs/ok-to-test

#1661 Validation improvements
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/validation/validation_cloudprofile.go
  pkg/apis/roundtrip_cloudprofile_migration_test.go
  pkg/openapi/openapi_generated.go
  plugin/pkg/shoot/validator/admission.go
Labels: needs/ok-to-test

#1663 change the type of DefaultState struct's field State to *runtime.RawE…
  charts/seed-bootstrap/templates/extensions/crd-controlplane.yaml
  charts/seed-bootstrap/templates/extensions/crd-extension.yaml
  charts/seed-bootstrap/templates/extensions/crd-infrastructure.yaml
  charts/seed-bootstrap/templates/extensions/crd-network.yaml
  charts/seed-bootstrap/templates/extensions/crd-operatingsystemconfig.yaml
  charts/seed-bootstrap/templates/extensions/crd-worker.yaml
  hack/api-reference/core.md
  hack/api-reference/extensions.md
  hack/api-reference/garden.md
  hack/api-reference/settings.md
  pkg/apis/extensions/v1alpha1/types_defaults.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
Labels: needs/ok-to-test

#1652 Check shoot deletion timestamp when cleaning-up
  pkg/operation/botanist/cleanup.go
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/client_test.go
Labels: needs/ok-to-test

#1664 Always sync provider credentials in shoot deletion
  pkg/controllermanager/controller/shoot/shoot_control_delete.go
Labels: needs/ok-to-test

#1665 Prefix tags with 'v'
  VERSION
Labels: needs/ok-to-test

#1669 Increase kubernetes update test timeout
  .test-defs/ShootKubernetesUpdateTest.yaml
  test/integration/shoots/update/shoot_update_test.go
Labels: needs/ok-to-test

#1642 Forbid hibernating shoots with problematic webhooks
  hack/api-reference/core.md
  hack/api-reference/extensions.md
  hack/api-reference/garden.md
  hack/api-reference/settings.md
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/controllermanager/controller/shoot/shoot_care_control.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/constraints_check.go
  pkg/operation/botanist/constraints_check_test.go
  pkg/utils/kubernetes/shoot.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: needs/ok-to-test

#1672 Revert "without the install section, at least ubuntu does not automat…
  charts/seed-operatingsystemconfig/downloader/templates/osc.yaml
Labels: needs/ok-to-test

#1670 Remove unused metrics
  charts/seed-bootstrap/templates/aggregate-prometheus/config.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-apiserver.rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-proxy.rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
Labels: needs/ok-to-test

#1668 Use feature gate to control hvpa for kube-apiserver and etcd of seed clusters
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/controllermanager/features/features.go
  pkg/features/features.go
  pkg/operation/botanist/controlplane.go
Labels: needs/ok-to-test

#1671 Update README.md
  README.md
Labels: needs/ok-to-test

#1634 Adds ShootState resource
  hack/api-reference/core.md
  hack/api-reference/extensions.md
  hack/api-reference/garden.md
  hack/api-reference/settings.md
  pkg/apis/core/register.go
  pkg/apis/core/types_shootstate.go
  pkg/apis/core/v1alpha1/register.go
  pkg/apis/core/v1alpha1/types_shootstate.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shootstate.go
  pkg/apis/core/validation/shootstate_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/core_client.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/fake/fake_core_client.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/fake/fake_shootstate.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/generated_expansion.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/shootstate.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/core_client.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/fake/fake_core_client.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/fake/fake_shootstate.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/generated_expansion.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/shootstate.go
  pkg/client/core/informers/externalversions/core/v1alpha1/interface.go
  pkg/client/core/informers/externalversions/core/v1alpha1/shootstate.go
  pkg/client/core/informers/externalversions/generic.go
  pkg/client/core/informers/internalversion/core/internalversion/interface.go
  pkg/client/core/informers/internalversion/core/internalversion/shootstate.go
  pkg/client/core/informers/internalversion/generic.go
  pkg/client/core/listers/core/internalversion/expansion_generated.go
  pkg/client/core/listers/core/internalversion/shootstate.go
  pkg/client/core/listers/core/v1alpha1/expansion_generated.go
  pkg/client/core/listers/core/v1alpha1/shootstate.go
  pkg/mock/gardener/client/core/clientset/versioned/typed/core/v1alpha1/mocks.go
  pkg/openapi/openapi_generated.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/shootstate/storage/storage.go
  pkg/registry/core/shootstate/storage/tableconvertor.go
  pkg/registry/core/shootstate/strategy.go
Labels: needs/ok-to-test
