Repository gardener/gardener, pull requests merged in 2019-02, with the labels that each got.

#704 Fixed bugfix that occurred while using new MCM release
  Gopkg.lock
  Gopkg.toml
  charts/seed-bootstrap/templates/clusterrole-cluster-autoscaler.yaml
  charts/seed-bootstrap/templates/clusterrole-machine-controller-manager.yaml
  charts/seed-bootstrap/templates/crd-machines.yaml
  vendor/github.com/aliyun/alibaba-cloud-sdk-go/sdk/auth/signers/signer_ecs_ram_role.go
  vendor/github.com/gardener/machine-controller-manager/LICENSE.md
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/register.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/register.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/zz_generated.deepcopy.go
  vendor/github.com/golang/groupcache/lru/lru.go
  vendor/github.com/miekg/dns/edns.go
  vendor/github.com/miekg/dns/types_generate.go
  vendor/github.com/miekg/dns/version.go
  vendor/github.com/miekg/dns/ztypes.go
  vendor/github.com/pierrec/lz4/block.go
  vendor/github.com/prometheus/common/expfmt/text_create.go
  vendor/github.com/prometheus/procfs/internal/util/parse.go
  vendor/github.com/prometheus/procfs/mountstats.go
  vendor/github.com/prometheus/procfs/proc_stat.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/golang.org/x/sys/unix/syscall_aix.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsysnum_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_netbsd_arm64.go
  vendor/golang.org/x/tools/go/internal/gcimporter/bexport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/bimport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/go/packages/doc.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/imports/fix.go
  vendor/golang.org/x/tools/imports/mkstdlib.go
  vendor/golang.org/x/tools/imports/zstdlib.go
Labels: needs/ok-to-test

#702 Add docs for log-parsers
  docs/development/log_parsers.md
Labels: area/documentation, area/logging, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#705 upgrade prometheus to 2.7.1 and fix alert rules
  charts/images.yaml
  charts/seed-bootstrap/templates/prometheus/statefulset.yaml
  charts/seed-monitoring/charts/prometheus/optional-rules/cluster-autoscaler.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/alertmanager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/cloud-controller-manager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-apiserver.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-controller-manager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-etcd3.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-kubelet.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-pods.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-scheduler.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/machine-controller-manager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/node-explorer.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/prometheus.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/vpn.rules.yaml
  charts/seed-monitoring/charts/prometheus/templates/prometheus.yaml
Labels: area/monitoring, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed

#706 Fix journal log collection
  charts/images.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-saved-objects-config.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-configmap.yaml
Labels: area/logging, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#710 Configure seed prometheus to use storage and time based retention
  charts/seed-bootstrap/templates/prometheus/statefulset.yaml
Labels: area/monitoring, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#701 Add unit tests for chart artifacts in testing framework
  test/integration/framework/common.go
  test/integration/framework/errors.go
  test/integration/framework/framework_test.go
  test/integration/framework/helm_utils.go
  test/integration/framework/shoot_app.go
  test/integration/framework/types.go
  test/integration/shoots/applications/shoot_app_test.go
Labels: area/quality, area/testing, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#711 Add kind support to hack scripts
  hack/common
  hack/dev-setup
  hack/start
  hack/start-api
Labels: area/usability, component/gardener, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#709 Deploy Alertmanager only when Shoot has an operatedBy annotation
  charts/seed-monitoring/charts/alertmanager/templates/alertmanager.yaml
  charts/seed-monitoring/charts/alertmanager/templates/config.yaml
  charts/seed-monitoring/charts/alertmanager/templates/ingress-auth-secret.yaml
  charts/seed-monitoring/charts/alertmanager/templates/ingress.yaml
  charts/seed-monitoring/charts/prometheus/rules/alertmanager.rules.yaml
  docs/usage/shoots.md
  pkg/operation/botanist/controlplane.go
  pkg/operation/common/utils.go
Labels: area/monitoring, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#712 Integrate gardener testframework and integration tests into testmachinery
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/ShootAppTest.yaml
  .test-defs/cmd/create-shoot/helper.go
  .test-defs/cmd/create-shoot/main.go
  .test-defs/cmd/delete-shoot/main.go
Labels: area/testing, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#714 Run logrotate timer hourly
  charts/shoot-cloud-config/charts/original/templates/_cloud-config.tpl
  charts/shoot-cloud-config/charts/original/templates/logrotate/_docker-logrotate-config
  charts/shoot-cloud-config/charts/original/templates/logrotate/_docker-logrotate.service
  charts/shoot-cloud-config/charts/original/templates/logrotate/_docker-logrotate.timer
Labels: area/logging, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#718 Allow to overwrite the image vector during deploy time
  charts/gardener/charts/runtime/templates/configmap-apiserver-audit.yaml
  charts/gardener/charts/runtime/templates/configmap-controller-manager-imagevector-overwrite.yaml
  charts/gardener/charts/runtime/templates/configmap-controller-manager.yaml
  charts/gardener/charts/runtime/templates/deployment-controller-manager.yaml
  charts/gardener/values.yaml
  docs/README.md
  docs/deployment/image_vector.md
  pkg/utils/imagevector/imagevector.go
Labels: area/open-source, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/garden

#708 Upgrade Cert-Manager to v0.6.0
  charts/images.yaml
  charts/seed-bootstrap/charts/cert-manager/Chart.yaml
  charts/seed-bootstrap/charts/cert-manager/templates/acme-crd.yaml
  charts/seed-bootstrap/charts/cert-manager/templates/certificate-crd.yaml
  charts/seed-bootstrap/charts/cert-manager/templates/clusterissuer.yaml
  charts/seed-bootstrap/charts/cert-manager/templates/rbac.yaml
  charts/seed-bootstrap/charts/cert-manager/values.yaml
  charts/seed-bootstrap/requirements.yaml
  pkg/client/kubernetes/apply.go
  pkg/client/kubernetes/apply_test.go
  pkg/client/kubernetes/types.go
  pkg/controllermanager/controller/controllerinstallation/controllerinstallation_control.go
  pkg/operation/common/utils.go
  pkg/operation/seed/seed.go
  test/integration/shoots/applications/shoot_app_test.go
Labels: area/robustness, component/gardener, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/seed

#717 Refactor Terraformer for re-use
  Gopkg.lock
  Gopkg.toml
  charts/seed-terraformer/charts/terraformer-common/templates/rolebinding.yaml
  charts/seed-terraformer/charts/terraformer-common/templates/serviceaccount.yaml
  charts/seed-terraformer/charts/terraformer/Chart.yaml
  charts/seed-terraformer/charts/terraformer/charts/terraformer-common
  charts/seed-terraformer/charts/terraformer/charts/utils-templates
  charts/seed-terraformer/charts/terraformer/templates/_podspec.tpl
  charts/seed-terraformer/charts/terraformer/templates/job.yaml
  charts/seed-terraformer/charts/terraformer/templates/pod.yaml
  charts/seed-terraformer/charts/terraformer/values.yaml
  pkg/client/kubernetes/pods.go
  pkg/client/kubernetes/pods_test.go
  pkg/client/kubernetes/types.go
  pkg/mock/client-go/core/v1/doc.go
  pkg/mock/client-go/core/v1/mocks.go
  pkg/mock/client-go/rest/doc.go
  pkg/mock/client-go/rest/mocks.go
  pkg/mock/controller-runtime/client/doc.go
  pkg/mock/controller-runtime/client/mocks.go
  pkg/mock/go/io/doc.go
  pkg/mock/go/io/mocks.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/garbage_collection.go
  pkg/operation/cloudbotanist/alicloudbotanist/controlplane.go
  pkg/operation/cloudbotanist/alicloudbotanist/infrastructure.go
  pkg/operation/cloudbotanist/alicloudbotanist/machines.go
  pkg/operation/cloudbotanist/awsbotanist/addons.go
  pkg/operation/cloudbotanist/awsbotanist/controlplane.go
  pkg/operation/cloudbotanist/awsbotanist/infrastructure.go
  pkg/operation/cloudbotanist/awsbotanist/machines.go
  pkg/operation/cloudbotanist/azurebotanist/controlplane.go
  pkg/operation/cloudbotanist/azurebotanist/infrastructure.go
  pkg/operation/cloudbotanist/azurebotanist/machines.go
  pkg/operation/cloudbotanist/gcpbotanist/controlplane.go
  pkg/operation/cloudbotanist/gcpbotanist/infrastructure.go
  pkg/operation/cloudbotanist/gcpbotanist/machines.go
  pkg/operation/cloudbotanist/openstackbotanist/controlplane.go
  pkg/operation/cloudbotanist/openstackbotanist/infrastructure.go
  pkg/operation/cloudbotanist/openstackbotanist/machines.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/operation.go
  pkg/operation/terraformer/config.go
  pkg/operation/terraformer/state.go
  pkg/operation/terraformer/terraform_test.go
  pkg/operation/terraformer/terraformer.go
  pkg/operation/terraformer/types.go
  pkg/operation/terraformer/waiter.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
  vendor/github.com/golang/mock/AUTHORS
  vendor/github.com/golang/mock/CONTRIBUTORS
  vendor/github.com/golang/mock/LICENSE
  vendor/github.com/golang/mock/gomock/call.go
  vendor/github.com/golang/mock/gomock/callset.go
  vendor/github.com/golang/mock/gomock/controller.go
  vendor/github.com/golang/mock/gomock/matchers.go
Labels: area/quality, area/usability, component/gardener, exp/expert, kind/cleanup, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xl, status/accepted, topology/seed

#733 Update gardener installation documents
  docs/deployment/aks.md
  docs/deployment/kubernetes.md
Labels: area/documentation, exp/intermediate, kind/enhancement, platform/az, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/xs, status/accepted, topology/garden

#721 Fix control plane condition to consider the alertmanager statefulset
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/apis/garden/v1beta1/helper/helpers_test.go
  pkg/operation/botanist/botanist_suite_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/health_check.go
  pkg/operation/common/types.go
  pkg/operation/operation.go
  pkg/operation/shoot/types.go
Labels: area/monitoring, kind/bug, needs/ok-to-test, needs/review, platform/all, priority/critical, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/shoot

#744 Remove hyperkube dependency from cloud-config-downloader script
  charts/seed-operatingsystemconfig/downloader/templates/osc.yaml
  charts/seed-operatingsystemconfig/downloader/templates/scripts/_download-cloud-config.sh
  charts/seed-operatingsystemconfig/downloader/values.yaml
  charts/shoot-cloud-config/templates/scripts/_cloud-config-script.sh
  docs/extensions/operatingsystemconfig.md
  docs/proposals/01-extensibility.md
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/operation/botanist/secrets.go
  pkg/operation/common/types.go
  pkg/operation/hybridbotanist/cloud_config.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/operation/shoot/shoot.go
  pkg/utils/secrets/certificates.go
Labels: area/open-source, area/robustness, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed, topology/shoot

#750 Improve goreport
  pkg/client/kubernetes/apply.go
  pkg/controllermanager/controller/backupinfrastructure/backup_infrastructure_control.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/operation/cloudbotanist/alicloudbotanist/alicloudbotanist.go
  pkg/operation/hybridbotanist/controlplane.go
Labels: area/open-source, exp/intermediate, kind/enhancement, platform/all, reviewed/lgtm, size/xs, status/accepted

#749 Use fully qualified domain names to query CoreDNS
  charts/shoot-core/charts/monitoring/charts/blackbox-exporter/templates/deployment.yaml
Labels: area/networking, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed, topology/shoot

#751 Parse additional log severities
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-configmap.yaml
Labels: area/logging, exp/expert, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#759 Fixed admission controller error handling for seed selection
  plugin/pkg/shoot/seedmanager/admission.go
Labels: area/usability, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#761 increase blackbox exporter timeout to 5s
  charts/seed-monitoring/charts/prometheus/rules/apiserver-connectivity-check.rules.yaml
  charts/shoot-core/charts/monitoring/charts/blackbox-exporter/templates/config.yaml
Labels: needs/ok-to-test, reviewed/lgtm, status/accepted

#762 Enrich etcd server cert SANS to prevent DNS lookups with no result
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/operation/botanist/secrets.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/networking, area/performance, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/s, status/accepted, topology/seed

#763 Prevent elastic mapping collision
  charts/images.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-configmap.yaml
Labels: area/logging, exp/expert, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/seed

#768 Prevent concurrent map writes when generating cloud config
  pkg/operation/hybridbotanist/cloud_config.go
Labels: area/robustness, exp/intermediate, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#767 Fix local dev setup
  docs/development/local_setup.md
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/apis/garden/v1beta1/helper/helpers_test.go
  pkg/controllermanager/controller/shoot/shoot.go
Labels: area/dev-productivity, area/documentation, kind/bug, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/garden

#770 Add support for floatingpool name when creating openstack clusters in testmachinery
  .test-defs/cmd/create-shoot/helper.go
  .test-defs/cmd/create-shoot/main.go
Labels: area/testing, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/openstack, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#755 Overhaul of the vpn-connection metrics and alerts
  charts/seed-monitoring/charts/prometheus/rules/vpn.rules.yaml
  charts/seed-monitoring/charts/prometheus/templates/blackbox-exporter-config.yaml
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
  charts/shoot-core/charts/monitoring/charts/prometheus-shoot/templates/rbac.yaml
Labels: area/monitoring, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/xs, status/accepted, topology/seed

#765 Enable ilbs for gcp shoots
  charts/seed-terraformer/charts/gcp-infra/templates/_main.tf
  charts/seed-terraformer/charts/gcp-infra/values.yaml
  example/90-shoot-gcp.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/client/machine/clientset/versioned/typed/machine/v1alpha1/fake/fake_machine_client.go
  pkg/client/machine/clientset/versioned/typed/machine/v1alpha1/fake/fake_packetmachineclass.go
  pkg/client/machine/clientset/versioned/typed/machine/v1alpha1/generated_expansion.go
  pkg/client/machine/clientset/versioned/typed/machine/v1alpha1/machine_client.go
  pkg/client/machine/clientset/versioned/typed/machine/v1alpha1/packetmachineclass.go
  pkg/client/machine/informers/externalversions/generic.go
  pkg/client/machine/informers/externalversions/machine/v1alpha1/interface.go
  pkg/client/machine/informers/externalversions/machine/v1alpha1/packetmachineclass.go
  pkg/client/machine/listers/machine/v1alpha1/expansion_generated.go
  pkg/client/machine/listers/machine/v1alpha1/packetmachineclass.go
  pkg/openapi/openapi_generated.go
  pkg/operation/cloudbotanist/gcpbotanist/controlplane.go
  pkg/operation/cloudbotanist/gcpbotanist/infrastructure.go
Labels: area/networking, exp/intermediate, kind/enhancement, platform/gcp, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden, topology/seed

#772 Fix admission plugin initialization order
  cmd/gardener-apiserver/app/gardener_apiserver.go
Labels: area/robustness, component/gardener, kind/enhancement, platform/all, reviewed/lgtm, size/xs, status/accepted, topology/garden
