Repository gardener/gardener, pull requests merged in 2019-03, with the labels that each got.

#777 Improve garbage collection
  example/30-cloudprofile-aws.yaml
  example/30-cloudprofile-azure.yaml
  example/30-cloudprofile-gcp.yaml
  example/30-cloudprofile-openstack.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/templates/resources/30-cloudprofile.yaml.tpl
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/operation/botanist/garbage_collection.go
Labels: reviewed/lgtm, status/accepted

#776 Enhance conditions during creation and deletion
  pkg/operation/botanist/health_check.go
Labels: component/gardener, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#787 Fix health checks during rolling worker update
  pkg/operation/botanist/botanist_suite_test.go
  pkg/operation/botanist/health_check.go
Labels: area/monitoring, component/gardener, exp/intermediate, kind/bug, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden, topology/seed

#789 Improve seed logging integration test
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-configmap.yaml
  example/30-cloudprofile-alicloud.yaml
  example/30-cloudprofile-aws.yaml
  example/30-cloudprofile-azure.yaml
  example/30-cloudprofile-gcp.yaml
  example/30-cloudprofile-openstack.yaml
  example/90-shoot-alicloud.yaml
  hack/templates/resources/30-cloudprofile.yaml.tpl
  hack/templates/resources/90-shoot.yaml.tpl
  test/integration/framework/shoot_app.go
Labels: area/logging, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#790 Update golang to 1.12.0
  Dockerfile
Labels: area/open-source, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#783 Enforce secure connections to Azure StorageAccounts
  charts/seed-terraformer/charts/azure-backup/templates/_main.tf
Labels: area/security, component/gardener, kind/enhancement, platform/az, reviewed/lgtm, size/xs, status/accepted, topology/seed

#786 Scale down entire control plane if shoot gets hibernated
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver-hpa.yaml
  pkg/client/kubernetes/deployments.go
  pkg/client/kubernetes/scaling.go
  pkg/client/kubernetes/types.go
  pkg/controllermanager/controller/shoot/shoot_care_control.go
  pkg/controllermanager/controller/shoot/shoot_control_delete.go
  pkg/controllermanager/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/health_check.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/waiter.go
  pkg/operation/common/types.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/operation/hybridbotanist/machines.go
Labels: area/cost, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/seed

#797 Fix HPA handling when Shoot is hibernated
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver-hpa.yaml
  pkg/operation/hybridbotanist/controlplane.go
Labels: component/gardener, kind/bug, needs/lgtm, platform/all, size/s, topology/garden

#794 Fix ports orders for nginx-ingress service
  charts/shoot-addons/charts/nginx-ingress/templates/controller-service.yaml
Labels: area/networking, exp/intermediate, kind/bug, needs/ok-to-test, platform/aws, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#778 Fix RESTMapper to dynamically rediscover APIs
  charts/gardener/charts/runtime/templates/configmap-controller-manager.yaml
  charts/gardener/values.yaml
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientset.go
  pkg/client/kubernetes/types.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/operation/botanist/botanist.go
  test/integration/framework/shoot_operations.go
  test/integration/seeds/logging/seed_log_test.go
Labels: area/robustness, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden

#801 Add docu about extending the monitoring stack
  docs/README.md
  docs/development/monitoring-architecture.png
  docs/development/monitoring-stack.md
Labels: area/documentation, area/monitoring, reviewed/lgtm, status/accepted

#795 Fix local provider to work with the new mechanism for generating OS config
  docs/development/local_setup.md
  example/25-controllerinstallation.yaml
  hack/dev-setup-local
  hack/templates/resources/25-controllerinstallation.yaml.tpl
  pkg/operation/cloudbotanist/localbotanist/controlplane.go
  pkg/operation/cloudbotanist/localbotanist/infrastructure.go
Labels: area/dev-productivity, exp/intermediate, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l, status/accepted

#496 Enable IPVS mode in kube-proxy
  charts/shoot-core/charts/kube-proxy/templates/_proxy_mode.tpl
  charts/shoot-core/charts/kube-proxy/templates/componentconfig.yaml
  charts/shoot-core/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  charts/shoot-core/charts/kube-proxy/templates/psp/kube-proxy-psp.yaml
  charts/shoot-core/charts/kube-proxy/values.yaml
  example/90-shoot-alicloud.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/defaults.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/client/machine/clientset/versioned/typed/machine/v1alpha1/fake/fake_machine.go
  pkg/client/machine/clientset/versioned/typed/machine/v1alpha1/machine.go
  pkg/openapi/openapi_generated.go
  pkg/operation/hybridbotanist/addons.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/shoot_suite_test.go
  pkg/operation/shoot/shoot_test.go
Labels: area/networking, component/gardener, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/shoot

#803 Monitoring: Bump Grafana image
  charts/images.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#807 Fix feature gate check in logging integration test
  docs/testing/integration_tests.md
  test/integration/framework/common.go
  test/integration/framework/utils.go
  test/integration/seeds/logging/seed_log_test.go
  test/integration/shoots/applications/shoot_app_test.go
Labels: area/testing, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#798 Add option for initImages with mount to /init-config
  charts/shoot-core/charts/vpn-shoot/templates/deployment.yaml
  charts/shoot-core/charts/vpn-shoot/templates/psp/vpn-shoot-psp.yaml
  charts/shoot-core/charts/vpn-shoot/values.yaml
Labels: area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#739 Add VPA into Seed
  charts/images.yaml
  charts/seed-bootstrap/charts/vpa/Chart.yaml
  charts/seed-bootstrap/charts/vpa/charts/utils-templates
  charts/seed-bootstrap/charts/vpa/templates/admission-controller-deployment.yaml
  charts/seed-bootstrap/charts/vpa/templates/recommender-deployment.yaml
  charts/seed-bootstrap/charts/vpa/templates/updater-deployment.yaml
  charts/seed-bootstrap/charts/vpa/templates/vpa-crd.yaml
  charts/seed-bootstrap/charts/vpa/templates/vpa-rbac.yaml
  charts/seed-bootstrap/charts/vpa/values.yaml
  charts/seed-bootstrap/requirements.yaml
  charts/seed-bootstrap/templates/prometheus/prometheus-vpa.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-monitoring/charts/prometheus/templates/prometheus-vpa.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
  charts/seed-monitoring/values.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/controllermanager/features/features.go
  pkg/features/features.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/seed/seed.go
Labels: area/robustness, area/scalability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/l, status/accepted, topology/seed

#808 Add generic domains for integration tests
  .test-defs/cmd/create-shoot/main.go
  test/integration/framework/common.go
Labels: area/testing, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#810 Make Gardener audit configuration configurable in Helm chart
  charts/gardener/charts/runtime/templates/configmap-apiserver-audit-policy.yaml
  charts/gardener/charts/runtime/templates/configmap-apiserver-audit.yaml
  charts/gardener/charts/runtime/templates/deployment-apiserver.yaml
  charts/gardener/charts/runtime/templates/secret-apiserver-audit-webhook-config.yaml
  charts/gardener/values.yaml
Labels: area/ops-productivity, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#813 Reduce Amount of Audit Logs to Reasonable Volume
  charts/gardener/values.yaml
Labels: area/auditlog, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#814 Fix issue of Alicloud Cloud Controller Manager crash
  pkg/operation/cloudbotanist/alicloudbotanist/controlplane.go
  pkg/operation/cloudbotanist/alicloudbotanist/controlplane_test.go
Labels: area/usability, exp/expert, kind/bug, needs/changes, needs/ok-to-test, platform/all, priority/normal, size/xs, status/author-action, topology/seed

#818 Improve Logging Around Custom Audit Policy
  pkg/operation/hybridbotanist/controlplane.go
Labels: needs/ok-to-test

#822 Prevent gardener from reconciling vpa status away
  pkg/operation/seed/seed.go
Labels: area/monitoring, area/scalability, component/gardener, kind/bug, platform/all, reviewed/lgtm, reviewed/ok-to-test, size/xs, topology/seed

#820 increase prometheus memory
  charts/seed-bootstrap/values.yaml
Labels: area/monitoring, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, priority/normal, size/xs, status/under-investigation, topology/seed

#817 Adds 'docker for desktop' support to local seed setup
  docs/development/local_setup.md
  example/50-seed-local.yaml
  example/90-shoot-local.yaml
  hack/dev-setup
  hack/dev-setup-local
  hack/templates/resources/50-seed.yaml.tpl
  hack/templates/resources/90-shoot.yaml.tpl
Labels: area/dev-productivity, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#819 Fix seed immutable field validation during update
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
Labels: exp/intermediate, kind/bug, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed

#832 Prepare hotfix 0.19.1
  charts/gardener/values.yaml
  charts/shoot-core/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  charts/shoot-core/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
  pkg/controllermanager/controller/controllerinstallation/controllerinstallation_control.go
  pkg/operation/common/utils.go
  pkg/operation/hybridbotanist/controlplane.go
Labels: area/robustness, exp/intermediate, kind/bug, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden, topology/seed, topology/shoot

#806 Add ControlPlane extension resource for additional Shoot control plane components
  charts/seed-bootstrap/templates/extensions/crd-controlplane.yaml
  charts/seed-controlplane/charts/control-plane/Chart.yaml
  charts/seed-controlplane/charts/control-plane/charts/utils-templates
  charts/seed-controlplane/charts/control-plane/templates/control-plane.yaml
  charts/seed-controlplane/charts/control-plane/values.yaml
  pkg/apis/extensions/v1alpha1/register.go
  pkg/apis/extensions/v1alpha1/types_controlplane.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/controlplane.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/extensions_client.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/fake/fake_controlplane.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/fake/fake_extensions_client.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/generated_expansion.go
  pkg/client/extensions/informers/externalversions/extensions/v1alpha1/controlplane.go
  pkg/client/extensions/informers/externalversions/extensions/v1alpha1/interface.go
  pkg/client/extensions/informers/externalversions/generic.go
  pkg/client/extensions/listers/extensions/v1alpha1/controlplane.go
  pkg/client/extensions/listers/extensions/v1alpha1/expansion_generated.go
  pkg/openapi/openapi_generated.go
Labels: reviewed/do-not-merge

#837 Deprecate Nginx-Ingress-Addon
  example/90-shoot-alicloud.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/openapi/openapi_generated.go
Labels: component/gardener, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/shoot

#833 Add support for cloud provider optionally to modify shoot vpn config
  pkg/operation/cloudbotanist/alicloudbotanist/addons.go
  pkg/operation/cloudbotanist/awsbotanist/addons.go
  pkg/operation/cloudbotanist/azurebotanist/addons.go
  pkg/operation/cloudbotanist/gcpbotanist/addons.go
  pkg/operation/cloudbotanist/localbotanist/addons.go
  pkg/operation/cloudbotanist/openstackbotanist/addons.go
  pkg/operation/cloudbotanist/types.go
  pkg/operation/hybridbotanist/addons.go
Labels: area/open-source, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#841 Remove rewrite_tag_filter
  Dockerfile
  charts/seed-bootstrap/charts/fluentd-es/templates/fluentd-es-configmap.yaml
Labels: area/logging, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#843 Fix make check
  .ci/check
Labels: area/dev-productivity, exp/intermediate, kind/bug, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#849 Monitoring: Add etcd filesystem container metrics
  charts/seed-bootstrap/templates/prometheus/config.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/etcd-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#824 Enhance and decouple the ImageVector library
  pkg/controllermanager/controller/factory.go
  pkg/utils/imagevector/imagevector.go
  pkg/utils/imagevector/imagevector_test.go
Labels: exp/beginner, kind/cleanup, kind/enhancement, needs/lgtm, needs/ok-to-test, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/s, status/accepted

#825 Simplify chart renderer
  pkg/chartrenderer/default.go
  pkg/chartrenderer/fake/fake_renderer.go
  pkg/chartrenderer/renderer.go
  pkg/controllermanager/controller/controllerinstallation/controllerinstallation_control.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/operation/common/utils.go
  pkg/operation/operation.go
  pkg/operation/seed/seed.go
  pkg/operation/types.go
  test/integration/framework/shoot_app.go
Labels: area/quality, component/gardener, exp/beginner, kind/enhancement, needs/ok-to-test, platform/all, reviewed/lgtm, reviewed/ok-to-test, size/s, status/accepted

#838 Remove usage of initializers and adapt PV-labelling logic to prepare for K8s 1.14
  .ci/component_descriptor
  Dockerfile
  charts/images.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-configmap.yaml
  charts/seed-bootstrap/templates/gardener-external-admission-controller.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-controlplane/charts/kube-addon-manager/templates/_prune_whitelist.tpl
  charts/seed-controlplane/charts/kube-apiserver/templates/_helpers.tpl
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/network-policy.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  charts/shoot-core/charts/cloud-controller-manager/templates/initializerconfiguration.yaml
  charts/shoot-core/charts/cloud-controller-manager/templates/rbac-pvl-controller.yaml
  charts/shoot-core/charts/cloud-controller-manager/templates/webhook-gardener-add-initializer.yaml
  charts/utils-templates/templates/_versions.tpl
  cmd/gardener-external-admission-controller/main.go
  pkg/client/kubernetes/admissionplugins.go
  pkg/client/kubernetes/admissionplugins_test.go
  pkg/operation/cloudbotanist/alicloudbotanist/controlplane.go
  pkg/operation/cloudbotanist/awsbotanist/controlplane.go
  pkg/operation/cloudbotanist/gcpbotanist/controlplane.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/hybridbotanist/controlplane.go
  pkg/operation/seed/seed.go
  pkg/registry/garden/shoot/strategy.go
  test/integration/shoots/applications/shoot_app_test.go
Labels: area/networking, area/open-source, exp/expert, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/l, status/accepted, topology/seed, topology/shoot

#854 Added helm chart flag to make virtual garden namespace creation optional
  charts/gardener/charts/application/templates/namespace-garden.yaml
  charts/gardener/values.yaml
Labels: area/usability, exp/beginner, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#853 Enable pod pid limit configuration for kubelet to protect fork bombs
  charts/seed-operatingsystemconfig/original/templates/kubelet/_kubelet-config-file
  charts/seed-operatingsystemconfig/original/templates/kubelet/_kubelet.flags
  charts/seed-operatingsystemconfig/original/values.yaml
  example/90-shoot-alicloud.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/operation/hybridbotanist/cloud_config.go
Labels: area/robustness, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#856 [ci:component:github.com/gardener/etcd-backup-restore:0.5.2->0.6.0]
  charts/images.yaml
  charts/seed-controlplane/charts/etcd/templates/configmap-etcd-bootstrap.yaml
  charts/seed-controlplane/charts/etcd/templates/etcd-statefulset.yaml
Labels: area/robustness, component/etcd-backup-restore, exp/expert, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#855 Packet api
  example/30-cloudprofile-packet.yaml
  example/40-secret-seed-packet.yaml
  example/50-seed-packet.yaml
  example/70-secret-cloudprovider-packet.yaml
  example/80-secretbinding-cloudprovider-packet.yaml
  example/90-shoot-packet.yaml
  hack/generate-examples
  hack/templates/resources/30-cloudprofile.yaml.tpl
  hack/templates/resources/40-secret-seed.yaml.tpl
  hack/templates/resources/50-seed.yaml.tpl
  hack/templates/resources/70-secret-cloudprovider.yaml.tpl
  hack/templates/resources/80-secretbinding-cloudprovider.yaml.tpl
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/helper/helpers.go
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/defaults.go
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/v1beta1/zz_generated.defaults.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
Labels: area/open-source, exp/intermediate, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl, status/accepted, topology/garden

#857 Add additional configuration parameters for create-shoot test
  .test-defs/cmd/create-shoot/main.go
Labels: area/testing, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#839 Parallelize LB Service/Infra/Etcd setup during the Shoot creation
  pkg/controllermanager/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/waiter.go
  pkg/operation/cloudbotanist/localbotanist/localbotanist.go
  pkg/operation/common/utils.go
  pkg/operation/types.go
Labels: area/performance, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#865 Add packet validations support
  plugin/pkg/shoot/quotavalidator/admission.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/open-source, exp/intermediate, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden

#840 Allow specifying OS image in local env
  example/30-cloudprofile-local.yaml
  example/90-shoot-local.yaml
  hack/dev-setup-local
  hack/templates/resources/30-cloudprofile.yaml.tpl
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/helper/helpers.go
  pkg/apis/garden/v1beta1/helper/helpers_test.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  plugin/pkg/shoot/validator/admission.go
Labels: area/dev-productivity, exp/intermediate, kind/enhancement, needs/changes, needs/ok-to-test, needs/rebase, priority/normal, size/s, status/author-action, topology/garden

#858 Make .ci/{check,test} more flexible on systems without readlink -f
  .ci/check
  .ci/test
Labels: area/dev-productivity, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#870 Fix lint verification for test framework in #869
  test/integration/framework/shoot_app.go
Labels: needs/ok-to-test

#871 Fix seed condition reporting
  pkg/apis/core/v1alpha1/helper/helper.go
  pkg/apis/core/v1alpha1/helper/helpers_test.go
  pkg/controllermanager/controller/seed/seed_control.go
Labels: area/quality, area/robustness, component/gardener, exp/intermediate, kind/bug, kind/regression, needs/lgtm, needs/ok-to-test, needs/review, platform/all, priority/critical, reviewed/ok-to-test, size/s, status/in-progress, topology/garden

#868 remove code that support csi prior to 1.0 on Alicloud
  charts/images.yaml
  charts/shoot-core/charts/csi-alicloud/templates/crd-csidriver.yaml
  charts/shoot-core/charts/csi-alicloud/templates/csi-attacher-dep.yaml
  charts/shoot-core/charts/csi-alicloud/templates/csi-crd-nodeinfo.yaml
  charts/shoot-core/charts/csi-alicloud/templates/csi-diskplugin-ds.yaml
  charts/shoot-core/charts/csi-alicloud/templates/csi-provisioner-ss.yaml
  charts/shoot-core/charts/csi-alicloud/templates/csi-snapshotter-ss.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-attacher-psp.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-plugin-psp.yaml
  charts/shoot-core/charts/csi-alicloud/templates/psp/csi-provisioner-psp.yaml
  pkg/operation/cloudbotanist/alicloudbotanist/addons.go
  pkg/operation/cloudbotanist/alicloudbotanist/controlplane.go
Labels: area/usability, exp/intermediate, kind/cleanup, needs/ok-to-test, platform/ali, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/shoot

#875 Fix alicloud metadata reachability and adapt integration test
  charts/seed-controlplane/charts/cloud-metadata-service/templates/_egress.tpl
  charts/seed-controlplane/charts/cloud-metadata-service/values.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/network-policy.yaml
  pkg/operation/botanist/controlplane.go
  test/integration/shoots/applications/shoot_app_test.go
Labels: area/networking, area/security, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#876 Implement `location` for hibernation schedules
  example/90-shoot-alicloud.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  example/90-shoot-packet.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/v1beta1/zz_generated.conversion.go
  pkg/apis/garden/v1beta1/zz_generated.deepcopy.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/apis/garden/zz_generated.deepcopy.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_control.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_test.go
  pkg/openapi/openapi_generated.go
Labels: area/cost, area/operations, area/quality, area/usability, component/gardener, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/garden

#874 Block new incoming connections to seed cluster from vpn tunnel
  charts/seed-controlplane/charts/kube-apiserver/templates/kube-apiserver.yaml
  charts/seed-monitoring/charts/prometheus/templates/prometheus.yaml
  pkg/operation/botanist/controlplane.go
  pkg/operation/hybridbotanist/controlplane.go
Labels: area/networking, area/security, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#877 Make GroupKind the key of ApplierOptions
  pkg/client/kubernetes/apply.go
  pkg/client/kubernetes/types.go
  pkg/operation/seed/seed.go
Labels: area/robustness, component/gardener, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted

#878 Respect the value of the ignore annotation
  pkg/controllermanager/controller/shoot/shoot_utils.go
  plugin/pkg/global/deletionconfirmation/admission.go
  plugin/pkg/global/deletionconfirmation/admission_test.go
Labels: needs/ok-to-test

#880 Ensure that terraformer jobs always run completely
  pkg/operation/terraformer/terraformer.go
Labels: area/robustness, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#872 Major alerts refactoring
  .ci/test
  charts/seed-bootstrap/templates/alertmanager/_config.tpl
  charts/seed-monitoring/charts/alertmanager/templates/_config.tpl
  charts/seed-monitoring/charts/prometheus/rules-tests/apiserver-connectivity-check.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/cloud-controller-manager.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/coredns.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-apiserver.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-controller-manager.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-etcd3.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-kubelet.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-scheduler.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/kube-state-metrics.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/machine-controller-manager.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/node-exporter.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules-tests/vpn.rules.test.yaml
  charts/seed-monitoring/charts/prometheus/rules/apiserver-connectivity-check.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/cadvisor.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/cloud-controller-manager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/coredns.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-apiserver-shoot.rule.yml
  charts/seed-monitoring/charts/prometheus/rules/kube-apiserver.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-controller-manager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-etcd3.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-kubelet.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-scheduler.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/kube-state-metrics.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/machine-controller-manager.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/node-exporter.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/prometheus.rules.yaml
  charts/seed-monitoring/charts/prometheus/rules/vpn.rules.yaml
  docs/development/content/alertInhibitionGraph.dot
  docs/development/content/alertInhibitionGraph.png
  docs/development/content/monitoring-architecture.png
  docs/development/monitoring-stack.md
Labels: area/monitoring, exp/expert, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/l, status/accepted, topology/seed

#883 fix missing security context for Shoot addons
  charts/shoot-addons/charts/kubernetes-dashboard/templates/deployment.yaml
  charts/shoot-core/charts/monitoring/charts/blackbox-exporter/templates/deployment.yaml
Labels: area/security, exp/expert, kind/bug, kind/regression, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot
