Repository gardener/gardener, pull requests merged in 2019-01, with the labels that each got.

#602 Update logging stack to 0.16.0
  charts/images.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/curator-es/_resource.tpl
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/curator-es/curator-configmap.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/elasticsearch/es-statefulset.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-index-registration-config.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/values.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluentd-es-configmap.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluentd-es-statefulset.yaml
  pkg/operation/seed/seed.go
Labels: area/logging, exp/expert, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#630 Update Docker image versions
  charts/images.yaml
  charts/shoot-core/charts/calico/templates/calico.yaml
  charts/shoot-core/charts/calico/templates/rbac.yaml
  charts/utils-templates/templates/_versions.tpl
Labels: area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/seed, topology/shoot

#648 Refer oss elastic
  charts/images.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/elasticsearch/configmap.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/elasticsearch/service.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/elasticsearch/statefulset.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-objects-registration-config.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-saved-objects-config.yaml
  pkg/operation/common/utils.go
Labels: area/logging, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed

#655 [WIP] Change retention period to 14 days
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/curator-es/curator-configmap.yaml
Labels: area/logging, area/quality, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#651 Add readinessProbe for kibana
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-deployment.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-ingress.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-objects-registration-config.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-service.yaml
  charts/seed-bootstrap/charts/elastic-kibana-curator/values.yaml
  charts/seed-bootstrap/values.yaml
  pkg/operation/seed/seed.go
Labels: area/logging, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#659 Delete all non-Gardener webhooks for cleanup
  pkg/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/cleanup.go
Labels: area/operations, area/ops-productivity, area/quality, area/robustness, component/gardener, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/shoot

#652 Document how to create new cloud provider API and validate requests
  docs/development/new-cloud-provider-api-extension.md
  docs/development/new-cloud-provider.md
Labels: area/documentation, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#658 Remove monocular addon
  NOTICE.md
  charts/images.yaml
  charts/shoot-addons/charts/helm-tiller/Chart.yaml
  charts/shoot-addons/charts/helm-tiller/charts/utils-templates
  charts/shoot-addons/charts/helm-tiller/templates/_helpers.tpl
  charts/shoot-addons/charts/helm-tiller/templates/helm-tiller.yaml
  charts/shoot-addons/charts/helm-tiller/values.yaml
  charts/shoot-addons/charts/monocular/Chart.yaml
  charts/shoot-addons/charts/monocular/README.md
  charts/shoot-addons/charts/monocular/charts/utils-templates
  charts/shoot-addons/charts/monocular/templates/NOTES.txt
  charts/shoot-addons/charts/monocular/templates/_helpers.tpl
  charts/shoot-addons/charts/monocular/templates/api-config.yaml
  charts/shoot-addons/charts/monocular/templates/api-deployment.yaml
  charts/shoot-addons/charts/monocular/templates/api-service.yaml
  charts/shoot-addons/charts/monocular/templates/ingress-secret.yaml
  charts/shoot-addons/charts/monocular/templates/ingress.yaml
  charts/shoot-addons/charts/monocular/templates/psp/ui-deployment-privileged.yaml
  charts/shoot-addons/charts/monocular/templates/ui-config.yaml
  charts/shoot-addons/charts/monocular/templates/ui-deployment.yaml
  charts/shoot-addons/charts/monocular/templates/ui-service-account.yaml
  charts/shoot-addons/charts/monocular/templates/ui-service.yaml
  charts/shoot-addons/charts/monocular/templates/ui-vhost.yaml
  charts/shoot-addons/charts/monocular/values.yaml
  charts/shoot-addons/requirements.yaml
  charts/shoot-addons/values.yaml
  docs/proposals/01-extensibility.md
  example/90-shoot-alicloud.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/secrets.go
  pkg/operation/common/types.go
  pkg/operation/hybridbotanist/addons.go
  pkg/operation/shoot/shoot.go
Labels: area/open-source, area/quality, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/shoot

#657 Add NoExists and NoSchedule tolerations to system components
  charts/shoot-core/charts/coredns/templates/coredns-deployment.yaml
  charts/shoot-core/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  charts/shoot-core/charts/metrics-server/templates/deployment.yaml
  charts/shoot-core/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
  charts/shoot-core/charts/vpn-shoot/templates/deployment.yaml
Labels: area/quality, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#660 Add separated parsers for logs
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-configmap.yaml
Labels: area/logging, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed

#665 add additional visualizations for severity
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/kibana/kibana-saved-objects-config.yaml
Labels: area/logging, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, platform/all, priority/normal, size/xs, status/in-progress, status/under-investigation, topology/shoot

#667 Cleanup webhooks only if shoot api server is present
  pkg/controllermanager/controller/shoot/shoot_control_delete.go
Labels: area/robustness, component/gardener, exp/intermediate, kind/bug, needs/lgtm, needs/ok-to-test, platform/all, priority/critical, size/xs, status/in-progress, topology/garden

#664 Introduce logrotate
  charts/shoot-cloud-config/charts/original/templates/_cloud-config.tpl
  charts/shoot-cloud-config/charts/original/templates/docker/_docker.service
  charts/shoot-cloud-config/charts/original/templates/journald/_journald-config
  charts/shoot-cloud-config/charts/original/templates/logrotate/_logrotate-config
  charts/shoot-cloud-config/charts/original/templates/logrotate/_logrotate.service
  charts/shoot-cloud-config/charts/original/templates/logrotate/docker.conf
Labels: area/logging, exp/intermediate, kind/bug, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/xs, status/accepted, topology/shoot

#633 Metrics and alerts for API Server reachability from shoot
  charts/seed-bootstrap/templates/alertmanager/_config.tpl
  charts/seed-monitoring/charts/alertmanager/templates/_config.tpl
  charts/seed-monitoring/charts/grafana/dashboards/kubernetes-control-plane-status-dashboard.json
  charts/seed-monitoring/charts/prometheus/rules/apiserver-connectivity-check.rules.yaml
  charts/seed-monitoring/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/prometheus/values.yaml
  charts/shoot-core/charts/monitoring/charts/blackbox-exporter/Chart.yaml
  charts/shoot-core/charts/monitoring/charts/blackbox-exporter/charts/utils-templates
  charts/shoot-core/charts/monitoring/charts/blackbox-exporter/templates/config.yaml
  charts/shoot-core/charts/monitoring/charts/blackbox-exporter/templates/deployment.yaml
  charts/shoot-core/charts/monitoring/charts/blackbox-exporter/templates/service.yaml
  charts/shoot-core/charts/monitoring/charts/blackbox-exporter/values.yaml
  charts/shoot-core/charts/monitoring/values.yaml
  pkg/operation/hybridbotanist/addons.go
Labels: area/monitoring, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed, topology/shoot

#666 Deprecate Shoot backup configuration
  charts/gardener/charts/runtime/templates/configmap-controller-manager.yaml
  charts/gardener/values.yaml
  charts/seed-controlplane/charts/etcd/values.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  example/90-shoot-alicloud.yaml
  example/90-shoot-aws.yaml
  example/90-shoot-azure.yaml
  example/90-shoot-gcp.yaml
  example/90-shoot-local.yaml
  example/90-shoot-openstack.yaml
  hack/templates/resources/90-shoot.yaml.tpl
  pkg/apis/garden/types.go
  pkg/apis/garden/v1beta1/defaults.go
  pkg/apis/garden/v1beta1/types.go
  pkg/apis/garden/validation/validation.go
  pkg/apis/garden/validation/validation_test.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_care_control.go
  pkg/controllermanager/controller/shoot/shoot_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/openapi/openapi_generated.go
  pkg/operation/cloudbotanist/awsbotanist/controlplane.go
  pkg/operation/cloudbotanist/azurebotanist/controlplane.go
  pkg/operation/cloudbotanist/gcpbotanist/controlplane.go
  pkg/operation/cloudbotanist/localbotanist/controlplane.go
  pkg/operation/cloudbotanist/openstackbotanist/controlplane.go
  pkg/operation/operation.go
  pkg/operation/types.go
Labels: area/backup, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/m, status/accepted, topology/seed

#676 Fix local setup
  docs/deployment/aks.md
  example/00-namespace-garden-dev.yaml
  example/05-project-dev.yaml
  hack/dev-setup
  hack/dev-setup-local
  hack/templates/resources/05-project-dev.yaml.tpl
Labels: area/dev-productivity, exp/beginner, kind/bug, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/garden

#677 Add "spec.cloud.seed" field selector to Shoot resource
  pkg/apis/garden/field_constants.go
  pkg/apis/garden/v1beta1/conversions.go
  pkg/registry/garden/shoot/storage/storage.go
  pkg/registry/garden/shoot/strategy.go
  pkg/registry/garden/shoot/strategy_test.go
Labels: area/performance, component/gardener, exp/expert, kind/api-change, kind/enhancement, needs/ok-to-test, platform/all, reviewed/lgtm, size/m, status/accepted, topology/seed, topology/shoot

#672 Switch log level of calico and node-exporter to error
  charts/shoot-core/charts/calico/templates/config.yaml
  charts/shoot-core/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
Labels: area/logging, exp/beginner, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#681 Fix fluentd volume mount path
  .ci/set_dependency_version
  charts/seed-bootstrap/charts/fluentd-es/templates/fluent-bit-configmap.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluentd-es-configmap.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluentd-es-statefulset.yaml
Labels: area/logging, exp/intermediate, kind/bug, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#683 Suspend logging jobs for hibernated shoots
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/curator-es/curator-cronjob.yml
  charts/seed-bootstrap/charts/elastic-kibana-curator/values.yaml
  pkg/operation/botanist/controlplane.go
  pkg/operation/seed/seed.go
Labels: area/logging, kind/bug, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#689 Upgrade golang version to 1.11.5
  Dockerfile
Labels: area/security, component/gardener, needs/ok-to-test, reviewed/lgtm, size/xs, status/accepted

#685 Extended validation for ControllerRegistration resources
  cmd/gardener-apiserver/app/gardener_apiserver.go
  pkg/apis/core/validation/controllerregistration.go
  pkg/apis/core/validation/controllerregistration_test.go
  plugin/pkg/controllerregistration/resources/admission.go
  plugin/pkg/controllerregistration/resources/admission_test.go
  plugin/pkg/controllerregistration/resources/resources_suite_test.go
Labels: area/robustness, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/garden

#688 Implement DeployBackupInfrastructure on Alicloud
  charts/seed-terraformer/charts/alicloud-backup/Chart.yaml
  charts/seed-terraformer/charts/alicloud-backup/charts/terraformer-common
  charts/seed-terraformer/charts/alicloud-backup/templates/_main.tf
  charts/seed-terraformer/charts/alicloud-backup/templates/_terraform.tfvars
  charts/seed-terraformer/charts/alicloud-backup/templates/_variables.tf
  charts/seed-terraformer/charts/alicloud-backup/templates/config.yaml
  charts/seed-terraformer/charts/alicloud-backup/values.yaml
  pkg/operation/cloudbotanist/alicloudbotanist/infrastructure.go
Labels: area/backup, area/disaster-recovery, area/robustness, exp/expert, kind/enhancement, needs/ok-to-test, platform/ali, priority/normal, reviewed/lgtm, size/s, status/accepted, topology/seed

#684 Document how to add new cloud botanist
  docs/development/new-cloud-provider-botanist.md
  docs/development/new-cloud-provider.md
Labels: area/documentation, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted

#698 Add elasticsearch_dynamic_fault_tolerant plugin
  charts/images.yaml
  charts/seed-bootstrap/charts/fluentd-es/templates/fluentd-es-configmap.yaml
Labels: area/logging, exp/intermediate, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed

#691 Remove stale OutOfDisk node condition for 1.13 clusters
  pkg/operation/botanist/garbage_collection.go
Labels: area/ops-productivity, exp/intermediate, kind/enhancement, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/shoot

#692 Change curator's cronjob schedule
  charts/seed-bootstrap/charts/elastic-kibana-curator/templates/curator-es/curator-cronjob.yml
  charts/seed-bootstrap/charts/elastic-kibana-curator/values.yaml
  pkg/operation/botanist/controlplane.go
Labels: area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xs, status/accepted, topology/seed
