Repository gardener/gardener, pull requests merged in 2020-07, with the labels that each got.

#2533 Pardon conditions when operation is processing and no last errors
  pkg/operation/botanist/constraints_check.go
  pkg/operation/botanist/health_check.go
  pkg/operation/botanist/health_check_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2534 Default machine image without version to latest non-preview version
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2541 Update the helm install script version
  hack/install-requirements.sh
Labels: needs/ok-to-test, priority/normal, reviewed/lgtm

#2536 Rely only on deployed tunnel pod in care controller
  pkg/operation/botanist/health_check.go
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2540 Don't delete tunnel secrets on deletion
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/secrets.go
Labels: area/networking, kind/bug, needs/ok-to-test, needs/rebase, needs/review, priority/normal

#2539 Adds some detail logging to test shoot creation/reconciliation loops
  test/framework/gardener_utils.go
  test/framework/k8s_utils.go
  test/system/complete_reconcile/gardener_reconcile_test.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2537 Add common funcs to the extensions library
  extensions/pkg/util/index/index.go
  extensions/pkg/util/index/index_test.go
  extensions/pkg/util/secret/secret.go
  extensions/pkg/util/secret/secret_test.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/usability, kind/task, needs/ok-to-test, priority/normal

#2543 Fix possible race condition when updating ShootState
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/etcdencryption.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/critical

#2535 Set shoot conditions to progressing after reconciliation
  pkg/operation/botanist/health_check.go
  pkg/operation/botanist/health_check_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2544 Refresh clients on secret update
  pkg/client/kubernetes/clientmap/builder/seed_builder.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
  pkg/client/kubernetes/clientmap/types.go
  pkg/mock/gardener/client/kubernetes/clientmap/mock_factory.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, priority/blocker, reviewed/lgtm

#2547 Set HibernationPossible=True if Shoot already hibernated
  pkg/operation/botanist/constraints_check.go
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2549 Fix health conditions if API server is not running
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/operation/botanist/health_check.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/blocker, reviewed/lgtm

#2551 Nit: Remove unused funcs
  pkg/operation/botanist/extensions/network/network.go
  pkg/operation/botanist/health_check.go
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2552 Avoid running into timeouts when dumping shoot state
  test/framework/shoot_utils.go
  test/framework/shootframework.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal

#2555 Upgrade resource-manager and enable always-update for Shoots
  charts/images.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/deployment.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/values.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2550 Add option to specify shoot annotations for create shoot test
  .test-defs/CreateShoot.yaml
  docs/testing/integration_tests.md
  test/framework/shoot_utils.go
  test/framework/shootcreationframework.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2553 Add vpa for hvpa-controller
  charts/seed-bootstrap/charts/hvpa/templates/controller-deployment.yaml
Labels: area/auto-scaling, kind/impediment, needs/ok-to-test, priority/normal

#2548 Refactor infrastructure extension management with DeployWaiter concept
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  pkg/operation/botanist/extensions/infrastructure/infrastructure_suite_test.go
  pkg/operation/botanist/extensions/infrastructure/infrastructure_test.go
  pkg/operation/botanist/extensions/network/network.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/network.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal

#2562 Fix tunnel secret handling on Shoot deletion
  pkg/operation/botanist/secrets.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2560 Fix secret to backupentry and backupbucket extension resource mapper
  extensions/pkg/controller/backupbucket/mapper.go
  extensions/pkg/controller/backupentry/mapper.go
Labels: area/backup, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2567 Increase default QPS for Seed Clients
  charts/gardener/gardenlet/values.yaml
  example/20-componentconfig-gardenlet.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2568 Use DirectClient in BB/BE reconciler
  pkg/gardenlet/controller/backupbucket/backup_bucket_reconciler.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2570 Fix machine image defaulting
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2471 Add Cluster Identity to Garden, Seed and Shoot clusters
  charts/cluster-identity/Chart.yaml
  charts/cluster-identity/templates/configmap-cluster-identity.yaml
  charts/cluster-identity/values.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/values.yaml
  charts/seed-bootstrap/charts/cluster-identity
  charts/seed-bootstrap/values.yaml
  charts/shoot-core/components/charts/cluster-identity
  charts/shoot-core/components/values.yaml
  cmd/gardener-apiserver/app/gardener_apiserver.go
  cmd/gardenlet/app/gardenlet.go
  hack/api-reference/core.md
  hack/local-development/start-apiserver
  pkg/apis/core/types_seed.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_seed.go
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/apiserver.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/clusteridentity/clusteridentity.go
  pkg/operation/botanist/clusteridentity/clusteridentity_suite_test.go
  pkg/operation/botanist/clusteridentity/clusteridentity_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/operation.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
  pkg/operation/types.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2459 Increases generic worker actuator reliability
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
  extensions/pkg/controller/worker/helper/helper.go
  extensions/pkg/controller/worker/helper/helper_test.go
  extensions/pkg/controller/worker/helper/worker_helper_suite_test.go
  extensions/pkg/controller/worker/machines.go
  extensions/pkg/controller/worker/machines_test.go
  extensions/pkg/controller/worker/state_actuator.go
  pkg/apis/extensions/v1alpha1/types_worker.go
Labels: area/quality, area/robustness, area/usability, kind/bug, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2481 [GEP-12] OIDC Webhook Authenticator
  docs/proposals/12-oidc-webhook-authenticator.md
  docs/proposals/assets/authentication.dot
  docs/proposals/assets/authentication.svg
  docs/proposals/assets/registration.dot
  docs/proposals/assets/registration.svg
Labels: area/security, area/user-management, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, priority/normal

#2573 Enh/pv testframework
  test/framework/dump.go
  test/framework/shootframework.go
  test/integration/shoots/applications/shoot_app.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2566 Update npd to version v0.8.2
  charts/images.yaml
  charts/shoot-core/components/charts/node-problem-detector/Chart.yaml
  charts/shoot-core/components/charts/node-problem-detector/README.md
  charts/shoot-core/components/charts/node-problem-detector/templates/daemonset.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/psp.yaml
  charts/shoot-core/components/charts/node-problem-detector/values.yaml
Labels: area/monitoring, area/robustness, needs/ok-to-test, priority/normal, reviewed/lgtm

#2564 Fix restore of extension objects during migration.
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/extension.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/migration.go
  pkg/operation/botanist/network.go
  pkg/operation/botanist/worker.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2581 Don't invalidate clients on version change
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap_test.go
  pkg/client/kubernetes/clientset.go
  pkg/client/kubernetes/fake/clientset.go
  pkg/client/kubernetes/fake/fake_test.go
  pkg/client/kubernetes/test/fake_kubernetes.go
  pkg/client/kubernetes/types.go
  pkg/mock/gardener/client/kubernetes/mocks.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2582 Fix flapping Plant region
  pkg/controllermanager/controller/plant/plant_utils.go
  test/integration/plants/plant.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2571 Add grafana VPA dashboard
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/templates/deployment.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/templates/service.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/templates/vpa.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/owners/shoot-vpa-dashboard.json
  charts/seed-monitoring/charts/grafana/templates/grafana-dashboards-configmap.yaml
  charts/seed-monitoring/charts/grafana/values.yaml
  charts/shoot-core/components/charts/monitoring/charts/kube-state-metrics-shoot/templates/rbac.yaml
  pkg/operation/botanist/monitoring.go
Labels: area/monitoring, kind/cleanup, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2583 remove the random order of fluent-bit extension parsers and filter
  pkg/operation/seed/seed.go
Labels: area/logging, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2584 Fix skipped charts in check-charts
  charts/seed-controlplane/Chart.yaml
  hack/check-charts.sh
Labels: area/dev-productivity, area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2589 Nit: Update to golang@1.14.5
  Dockerfile
  go.mod
  vendor/modules.txt
Labels: kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2591 Use DirectClient to wait for OSC
  pkg/operation/botanist/operatingsystemconfig.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2578 Local Garden Dev on Windows
  docs/development/local_setup.md
  hack/local-development/dev-setup-register-gardener
  hack/local-development/start-apiserver
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2580 Require Cluster identity values in helm charts
  charts/cluster-identity/templates/configmap-cluster-identity.yaml
  charts/cluster-identity/values-test.yaml
  charts/cluster-identity/values.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/values-test.yaml
  charts/gardener/controlplane/values.yaml
  charts/seed-bootstrap/values-test.yaml
  charts/seed-bootstrap/values.yaml
  charts/shoot-core/components/values-test.yaml
  charts/shoot-core/components/values.yaml
  hack/check-charts.sh
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2597 Use DirectClient to wait for deletion of Worker/ControlPlane
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/worker.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2587 Ensure Seed client is invalidated after deletion
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/seed/seed_lease_control.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2599 Wait worker to be ready before nginx LB
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2596 Increase the DB size limit in alert rule for Etcd
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/kube-etcd3.rules.test.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-etcd3.rules.yaml
  docs/monitoring/operator_alerts.md
  docs/monitoring/user_alerts.md
Labels: area/monitoring, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2579 Wait until deployment/mcm is updated
  extensions/pkg/controller/worker/genericactuator/machine_controller_manager.go
  extensions/pkg/util/deployments.go
  extensions/pkg/util/deployments_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#2605 Nit: Improve package name
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/managedresources.go
  extensions/pkg/controller/worker/genericactuator/machine_controller_manager.go
  pkg/operation/botanist/resources.go
  pkg/utils/managedresources/managedresources.go
Labels: area/usability, needs/ok-to-test, priority/normal, reviewed/lgtm

#2600 Update k/k dependencies to v0.17.9
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/fieldmanager.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/atmostevery.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/internal/managedfields.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/structuredmerge.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/update.go
  vendor/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  vendor/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/apiserver/pkg/server/healthz/healthz.go
  vendor/k8s.io/code-generator/cmd/go-to-protobuf/protobuf/parser.go
  vendor/modules.txt
Labels: kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2594 [GEP-7] Fix restoration of Machines and MachineSets
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2586 Switch BB/BE controller to controller-runtime informers
  cmd/gardenlet/app/gardenlet.go
  pkg/controllerutils/seedfilter.go
  pkg/gardenlet/controller/backupbucket/backup_bucket.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_reconciler.go
  pkg/gardenlet/controller/backupentry/backup_entry.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/gardenlet/controller/factory.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#2607 fix broken doc link
  docs/concepts/network_policies.md
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2511 [GEP-7] Adds shoot component interfaces for Migration and Restoration.
  pkg/api/extensions/utils.go
  pkg/operation/botanist/component/interfaces.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/extension.go
  pkg/operation/botanist/extensions/network/network.go
  pkg/operation/botanist/extensions/network/network_test.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/migration.go
  pkg/operation/botanist/migration_test.go
  pkg/operation/botanist/network.go
  pkg/operation/botanist/worker.go
  pkg/operation/common/extensions.go
  pkg/operation/common/extensions_test.go
  pkg/operation/shoot/types.go
Labels: area/control-plane-migration, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2606 Scale down VPA on shoot hibernation
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-exporter.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-updater.yaml
  charts/seed-bootstrap/charts/vpa/values.yaml
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/secrets.go
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2574 Support resource reservation in kubelet
  charts/seed-operatingsystemconfig/original/templates/kubelet/_kubelet-config-file
  charts/seed-operatingsystemconfig/original/values.yaml
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/operatingsystemconfig.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2588 Switch fed seed controllers to cached informers
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/federatedseed/extensions/artifact.go
  pkg/gardenlet/controller/federatedseed/extensions/extensions.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/controller.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/endpoints.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/namespace_control.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/namespaces.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/networkpolicies.go
  pkg/gardenlet/controller/federatedseed/seed_control.go
Labels: area/control-plane, area/dev-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2608 Fix version information in docker images
  .dockerignore
  Makefile
  hack/get-build-ld-flags.sh
  hack/local-development/start-apiserver
  pkg/version/version.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2609 Fix health manager
  cmd/gardenlet/app/gardenlet.go
  pkg/healthz/default.go
  pkg/healthz/default_test.go
  pkg/healthz/healthz_test.go
  pkg/healthz/periodic.go
  pkg/healthz/periodic_test.go
Labels: area/quality, area/robustness, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2613 Fix istiod port by allowing it to run on 443
  charts/istio/istio-istiod/templates/deployment.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2610 Fix ControllerInstallation required calculation
  pkg/apis/core/validation/controllerregistration.go
  pkg/apis/core/validation/controllerregistration_test.go
  pkg/apis/extensions/v1alpha1/types.go
  pkg/gardenlet/controller/federatedseed/extensions/controllerinstallation_control.go
  pkg/gardenlet/controller/federatedseed/extensions/extensions.go
Labels: area/robustness, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2616 Cherry-pick release-1.7 Fix istiod port by allowing it to run on 443
  charts/istio/istio-istiod/templates/deployment.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2617 Prevent panic in maintenance controller when shoot has no annotations
  pkg/controllermanager/controller/shoot/shoot_hibernation_control_test.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control_test.go
  pkg/operation/botanist/metadata.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2528 Add node-local-dns feature
  charts/images.yaml
  charts/shoot-core/components/charts/coredns/values.yaml
  charts/shoot-core/components/charts/nodelocal-dns/Chart.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/configmap.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/daemonset.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/psp/nodelocal-dns-clusterrole.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/psp/nodelocal-dns-psp.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/psp/nodelocal-dns-rolebinding.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/service.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/serviceaccount.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/vpa.yaml
  charts/shoot-core/components/charts/nodelocal-dns/values.yaml
  charts/shoot-core/components/requirements.yaml
  charts/shoot-core/components/values.yaml
  docs/README.md
  docs/usage/node-local-dns.md
  docs/usage/node-local-dns.png
  example/20-componentconfig-gardenlet.yaml
  pkg/features/features.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/common/types.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2614 Fix flaky infrastructure test
  pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  pkg/operation/botanist/extensions/infrastructure/infrastructure_test.go
  pkg/operation/botanist/infrastructure.go
  pkg/utils/retry/fake/retry.go
Labels: area/testing, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#2602 Adjust gardenlet deployment docs
  docs/README.md
  docs/deployment/deploy_gardenlet.md
  docs/deployment/kubernetes.md
  docs/deployment/setup_gardener.md
  docs/development/local_setup.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2619 Only remove tasks if generation wasn't changed mid-air
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2623 Move extensions/hack to hack
  extensions/README.md
  extensions/hack/doc.go
  hack/generate-controller-registration.sh
  hack/hook-me.sh
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal

#2620 Move extensions/pkg/gardener/chartrenderer to pkg/chartrenderer
  extensions/pkg/controller/common/context.go
  extensions/pkg/gardener/chartrenderer/types.go
  extensions/pkg/version/version.go
  pkg/chartrenderer/factory.go
  pkg/mock/gardener/chartrenderer/doc.go
  pkg/mock/gardener/chartrenderer/mocks.go
  pkg/mock/gardener/extensions/gardener/chartrenderer/doc.go
  pkg/mock/gardener/extensions/gardener/chartrenderer/mocks.go
Labels: area/testing, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2615 Remove log-exclusion annotation for non-{testing,hibernated} shoots
  extensions/pkg/controller/cluster.go
  pkg/extensions/cluster.go
  pkg/mock/gardener/extensions/controller/controlplane/genericactuator/mocks.go
  pkg/seedadmission/pods.go
  pkg/seedadmission/pods_test.go
Labels: area/logging, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2624 Run make revendor
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/clientset/versioned/clientset.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/clientset/versioned/doc.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/dns_client.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/dnsentry.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/dnsowner.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/dnsprovider.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/doc.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/clientset/versioned/typed/dns/v1alpha1/generated_expansion.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/informers/externalversions/dns/interface.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/informers/externalversions/dns/v1alpha1/dnsentry.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/informers/externalversions/dns/v1alpha1/dnsowner.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/informers/externalversions/dns/v1alpha1/dnsprovider.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/informers/externalversions/dns/v1alpha1/interface.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/informers/externalversions/factory.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/informers/externalversions/generic.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/informers/externalversions/internalinterfaces/factory_interfaces.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/listers/dns/v1alpha1/dnsentry.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/listers/dns/v1alpha1/dnsowner.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/listers/dns/v1alpha1/dnsprovider.go
  vendor/github.com/gardener/external-dns-management/pkg/client/dns/listers/dns/v1alpha1/expansion_generated.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/task, needs/ok-to-test, priority/normal

#2626 Don't redeploy worker on Shoot deletion
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: area/quality, area/robustness, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2631 Add kubelet reserved defaults
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2628 Modify etcd failed proposals alert
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/kube-etcd3.rules.test.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-etcd3.rules.yaml
Labels: area/monitoring, needs/ok-to-test, priority/normal, reviewed/lgtm

#2625 added machineclasses CRD for out-of-tree machine controllers
  extensions/pkg/controller/worker/machine_crds.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2630 Fix machine image maintenance for shoots with multiple worker pools
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2634 Add field selectors for ControllerInstallation
  pkg/apis/core/field_constants.go
  pkg/apis/core/v1alpha1/conversions.go
  pkg/apis/core/v1beta1/conversions.go
  pkg/registry/core/controllerinstallation/storage/storage.go
  pkg/registry/core/controllerinstallation/strategy.go
  pkg/registry/core/controllerinstallation/strategy_test.go
  pkg/registry/core/shoot/strategy_test.go
Labels: area/usability, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2639 Prevent seed-boostrap to delete Shoot VPA RBAC
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-actor.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-checkpointer.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-exporter.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-target-reader.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-updater-evictioner.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-actor.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-checkpointer.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-exporter.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-target-reader.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-updater-evictioner.yaml
  charts/seed-bootstrap/charts/vpa/values.yaml
  pkg/operation/botanist/addons.go
  pkg/operation/common/utils.go
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2637 Disable cached runtime-client for Shoots
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
  pkg/client/kubernetes/options.go
  pkg/client/kubernetes/options_matchers.go
Labels: area/cost, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2603 Remove some already deprecated labels and annotations
  charts/gardener/controlplane/charts/utils-common/templates/_secret-default-domain.yaml
  charts/gardener/controlplane/charts/utils-common/templates/_secret_internal-domain.yaml
  example/00-namespace-garden-dev.yaml
  pkg/controllermanager/controller/shoot/shoot_quota_control.go
  pkg/controllerutils/miscellaneous.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/gardenlet/controller/shoot/shoot_utils.go
  pkg/gardenlet/controller/shoot/shoot_utils_test.go
  pkg/operation/botanist/metadata.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/garden/garden.go
  plugin/pkg/global/deletionconfirmation/admission.go
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
  plugin/pkg/plant/admission.go
  plugin/pkg/plant/admission_test.go
  plugin/pkg/shoot/dns/admission.go
  plugin/pkg/shoot/quotavalidator/admission.go
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2635 Use cached client in Shoot care controller, also fix panic
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/constraints_check.go
  pkg/operation/botanist/garbage_collection.go
  pkg/operation/botanist/health_check.go
  pkg/operation/operation.go
Labels: area/cost, area/quality, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#2640 Allow latest machine image version to have an expiration date
  docs/usage/shoot_versions.md
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
Labels: area/usability, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2642 [rel-v1.7] Cherry pick fixes to v1.7 branch
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-actor.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-checkpointer.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-exporter.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-target-reader.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-updater-evictioner.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-actor.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-checkpointer.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-exporter.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-target-reader.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-updater-evictioner.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-exporter.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-updater.yaml
  charts/seed-bootstrap/charts/vpa/values.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/kube-etcd3.rules.test.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-etcd3.rules.yaml
  cmd/gardenlet/app/gardenlet.go
  docs/monitoring/operator_alerts.md
  docs/monitoring/user_alerts.md
  pkg/controllermanager/controller/shoot/shoot_hibernation_control_test.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control_test.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/healthz/default.go
  pkg/healthz/default_test.go
  pkg/healthz/healthz_test.go
  pkg/healthz/periodic.go
  pkg/healthz/periodic_test.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/metadata.go
  pkg/operation/botanist/secrets.go
  pkg/operation/common/utils.go
Labels: area/quality, needs/ok-to-test, priority/normal, reviewed/lgtm

#2644 Add mocks for the controlplane Actuator interface
  pkg/mock/gardener/extensions/controller/controlplane/doc.go
  pkg/mock/gardener/extensions/controller/controlplane/mocks.go
Labels: area/testing, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm
