Repository gardener/gardener, pull requests merged in 2020-06, with the labels that each got.

#2402 Fix retaining existing pod annotations in GSAC
  pkg/seedadmission/pods.go
  pkg/seedadmission/pods_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2405 Nit: Update golangci-lint to v1.27.0
  Dockerfile
  docs/deployment/feature_gates.md
  hack/install-requirements.sh
  pkg/controllermanager/server/handlers/webhooks/validate_kubeconfig_secrets.go
  pkg/controllermanager/server/handlers/webhooks/validate_namespace_deletion.go
  pkg/seedadmission/pods_test.go
Labels: area/quality, needs/ok-to-test, priority/normal, reviewed/lgtm

#2410 Fix hibernation order
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2385 update GEP5 version policy documentation
  docs/README.md
  docs/proposals/05-versioning-policy.md
  docs/usage/shoot_maintenance.md
  docs/usage/shoot_versions.md
  test/integration/shoots/maintenance/maintenance.go
Labels: area/documentation, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2407 Nit: Update label for webhook namespaceSelector
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-controller-manager.yaml
  hack/local-development/dev-setup-register-gardener
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2412 [ci:component:github.com/gardener/dependency-watchdog:0.4.0->v0.4.1]
  charts/images.yaml
Labels: needs/ok-to-test

#2339 Ensure NetworkPolicy for seed API server
  charts/global-network-policies/templates/allow-to-seed-apiserver.yaml
  charts/seed-bootstrap/charts/dependency-watchdog/templates/probe-deployment.yaml
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/controller.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/endpoints_controller.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/helper/helper.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/helper/helper_suite_test.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/helper/helper_test.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/namespace_controller.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/namespace_reconciler.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/networkpolicies_controller.go
  pkg/gardenlet/controller/federatedseed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot.go
Labels: area/networking, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#2380 Add load balancer service settings for seeds
  charts/istio/istio-ingress/templates/service.yaml
  charts/istio/istio-ingress/values.yaml
  charts/istio/istio-istiod/values.yaml
  charts/seed-controlplane/charts/kube-apiserver-service/templates/kube-apiserver-service.yaml
  charts/seed-controlplane/charts/kube-apiserver-service/values.yaml
  docs/usage/seed_settings.md
  example/50-seed.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_seed.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_seed.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/seed/istio/ingress_gateway.go
  pkg/operation/seed/istio/ingress_gateway_test.go
  pkg/operation/seed/seed.go
  pkg/operation/seed/types.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m, topology/seed

#2400 [GEP-7] Adds correct LastOperationType to extension CRs
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/worker/reconciler.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2419 Fix extensionsv1alpha1.BackupEntry deletion
  extensions/pkg/controller/backupentry/reconciler.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2404 [GEP-7] Enhance migration, fix BackupEntry annotation bug
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
  pkg/api/extensions/accessor.go
  pkg/api/extensions/accessor_test.go
  pkg/api/extensions/utils.go
  pkg/apis/extensions/v1alpha1/types.go
  pkg/apis/extensions/v1alpha1/types_defaults.go
  pkg/gardenlet/controller/federatedseed/extensions/shootstate_control.go
  pkg/gardenlet/controller/shoot/shoot_control_prepare_migration.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/extension.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/migration.go
  pkg/operation/botanist/network.go
  pkg/operation/botanist/waiter.go
  pkg/operation/botanist/worker.go
  pkg/registry/core/shoot/strategy.go
Labels: area/control-plane-migration, kind/bug, kind/enhancement, needs/ok-to-test, priority/normal

#2418 update istio to 1.6.0
  charts/images.yaml
  charts/istio/istio-crds/templates/crd-all.gen.yaml
  charts/istio/istio-ingress/templates/deployment.yaml
  charts/istio/istio-ingress/templates/service.yaml
  charts/istio/istio-istiod/templates/configmap.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  pkg/client/kubernetes/types.go
  pkg/operation/seed/istio/crds.go
  pkg/operation/seed/istio/crds_test.go
  pkg/operation/seed/istio/ingress_gateway.go
  pkg/operation/seed/seed.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2413 Add support for KUBE_MAX_PD_VOLS for kube-scheduler
  charts/seed-controlplane/charts/kube-scheduler/templates/kube-scheduler.yaml
  charts/seed-controlplane/charts/kube-scheduler/values.yaml
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/controlplane.go
Labels: area/storage, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s, topology/shoot

#2360 Reconcile and delete Shoot resource references
  cmd/gardener-apiserver/app/gardener_apiserver.go
  docs/README.md
  docs/extensions/referenced-resources.md
  example/90-shoot.yaml
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/managedresources.go
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/utils_test.go
  extensions/pkg/controller/worker/genericactuator/machine_controller_manager.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/admission/initializer/initializer.go
  pkg/apiserver/admission/initializer/types.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/resources.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/utils/managedresources/managedresources.go
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
  vendor/k8s.io/client-go/dynamic/fake/simple.go
  vendor/modules.txt
Labels: area/control-plane-migration, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2421 Add CRI information to OSC type=provision
  charts/seed-operatingsystemconfig/downloader/templates/osc.yaml
  charts/seed-operatingsystemconfig/downloader/values.yaml
  pkg/operation/botanist/operatingsystemconfig.go
Labels: area/os, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2425 Fix tolerations docs link
  docs/usage/tolerations.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2411 Adding support for fail-swap-on flag in shoot.yaml
  charts/seed-operatingsystemconfig/original/templates/kubelet/_kubelet-config-file
  charts/seed-operatingsystemconfig/original/values.yaml
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/operatingsystemconfig.go
Labels: area/documentation, area/performance, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2426 Backport #2421
  charts/seed-operatingsystemconfig/downloader/templates/osc.yaml
  charts/seed-operatingsystemconfig/downloader/values.yaml
  pkg/operation/botanist/operatingsystemconfig.go
Labels: needs/ok-to-test, reviewed/lgtm

#2415 Harmonize RESTMapper creation, remove DiscoveryConfiguration
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardener-scheduler/app/gardener_scheduler.go
  cmd/gardenlet/app/gardenlet.go
  example/20-componentconfig-gardener-controller-manager.yaml
  example/20-componentconfig-gardener-scheduler.yaml
  example/20-componentconfig-gardenlet.yaml
  go.sum
  pkg/client/kubernetes/client.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/shoot/seed_registration_control.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/types.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gregjones/httpcache/.travis.yml
  vendor/github.com/gregjones/httpcache/LICENSE.txt
  vendor/github.com/gregjones/httpcache/README.md
  vendor/github.com/gregjones/httpcache/diskcache/diskcache.go
  vendor/github.com/gregjones/httpcache/httpcache.go
  vendor/github.com/peterbourgon/diskv/LICENSE
  vendor/github.com/peterbourgon/diskv/README.md
  vendor/github.com/peterbourgon/diskv/compression.go
  vendor/github.com/peterbourgon/diskv/diskv.go
  vendor/github.com/peterbourgon/diskv/index.go
  vendor/k8s.io/client-go/discovery/cached/disk/cached_discovery.go
  vendor/k8s.io/client-go/discovery/cached/disk/round_tripper.go
  vendor/modules.txt
Labels: area/quality, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2427 Backport #2421
  charts/seed-operatingsystemconfig/downloader/templates/osc.yaml
  charts/seed-operatingsystemconfig/downloader/values.yaml
  pkg/operation/botanist/operatingsystemconfig.go
Labels: needs/ok-to-test, reviewed/lgtm

#2420 More control for operating system config extension controllers
  extensions/pkg/controller/operatingsystemconfig/oscommon/actuator/actuator_reconcile.go
  extensions/pkg/controller/operatingsystemconfig/oscommon/actuator/actuator_util.go
  extensions/pkg/controller/operatingsystemconfig/oscommon/generator/generator.go
  extensions/pkg/controller/operatingsystemconfig/oscommon/generator/test/README.md
  extensions/pkg/controller/operatingsystemconfig/oscommon/generator/test/template_generator.go
  extensions/pkg/controller/operatingsystemconfig/oscommon/template/template_generator.go
Labels: area/os, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2429 Move `ReferencedResourcesPrefix` constant to v1beta1constants pkg
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/utils_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/resources.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2417 Harmonize Applier, ChartRenderer and ChartApplier creation
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/util/shoot_clients.go
  pkg/chartrenderer/default.go
  pkg/chartrenderer/default_test.go
  pkg/client/kubernetes/applier.go
  pkg/client/kubernetes/applier_test.go
  pkg/client/kubernetes/chartapplier.go
  pkg/client/kubernetes/chartapplier_test.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientset.go
  pkg/client/kubernetes/test/fake_discovery.go
  pkg/client/kubernetes/types.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/shoot/seed_registration_control.go
  pkg/mock/gardener/client/kubernetes/doc.go
  pkg/mock/gardener/client/kubernetes/mocks.go
  pkg/mock/gardener/client/kubernetes/mocks_applier.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/dns/dnsentry_test.go
  pkg/operation/botanist/dns/dnsprovider_test.go
  pkg/operation/botanist/dns_test.go
  pkg/operation/operation.go
  pkg/operation/seed/istio/crds_test.go
  pkg/operation/seed/istio/ingress_gateway_test.go
  pkg/operation/seed/istio/istiod_test.go
  pkg/operation/seed/seed.go
  test/framework/helm.go
  vendor/k8s.io/client-go/discovery/cached/memory/memcache.go
  vendor/modules.txt
Labels: area/quality, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2422 process managed resource conditions for health checks
  pkg/apis/core/v1alpha1/types_utils.go
  pkg/apis/core/v1beta1/types_utils.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/health_check.go
  pkg/operation/botanist/health_check_test.go
  pkg/operation/common/types.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2431 Replace custom ProviderConfig type with runtime.RawExtension
  hack/api-reference/core.md
  pkg/apis/core/types_backupbucket.go
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/types_controllerinstallation.go
  pkg/apis/core/types_controllerregistration.go
  pkg/apis/core/types_seed.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/types_utils.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_backupbucket.go
  pkg/apis/core/v1alpha1/types_cloudprofile.go
  pkg/apis/core/v1alpha1/types_controllerinstallation.go
  pkg/apis/core/v1alpha1/types_controllerregistration.go
  pkg/apis/core/v1alpha1/types_seed.go
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/types_utils.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_backupbucket.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apis/core/v1beta1/types_controllerinstallation.go
  pkg/apis/core/v1beta1/types_controllerregistration.go
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/types_utils.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/containerruntime.go
  pkg/operation/botanist/network.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/shoot_test.go
  plugin/pkg/shoot/validator/admission_test.go
  test/framework/utils.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2424 Guestbook
  test/framework/applications/guestbooktest.go
  test/framework/dump.go
  test/integration/shoots/applications/shoot_app.go
Labels: area/testing, kind/test, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#2433 Fix typo in ManagedResourceCoreNamespaceName
  pkg/operation/common/types.go
Labels: needs/ok-to-test, reviewed/lgtm

#2434 Fix RESTMapper defaulting
  pkg/client/kubernetes/client.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2251 [GEP-11] Invert tunnel direction for >= 1.18 clusters
  charts/images.yaml
  charts/seed-controlplane/charts/kube-apiserver-service/templates/kube-apiserver-service.yaml
  charts/seed-controlplane/charts/kube-apiserver-service/values.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-egress-selection.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/networkpolicy-allow-kube-apiserver-policy.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/vpn.rules.test.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/vpn.rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/_helpers.tpl
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/operators/cluster-overview-dashboard.json
  charts/seed-monitoring/charts/grafana/templates/grafana-dashboards-configmap.yaml
  charts/seed-monitoring/charts/grafana/values.yaml
  charts/shoot-core/components/charts/konnectivity-agent/Chart.yaml
  charts/shoot-core/components/charts/konnectivity-agent/charts/util-templates
  charts/shoot-core/components/charts/konnectivity-agent/templates/daemonset.yaml
  charts/shoot-core/components/charts/konnectivity-agent/templates/konnectivity-rbac.yaml
  charts/shoot-core/components/charts/konnectivity-agent/templates/psp/konnectivity-agent-clusterrole.yaml
  charts/shoot-core/components/charts/konnectivity-agent/templates/psp/konnectivity-agent-psp.yaml
  charts/shoot-core/components/charts/konnectivity-agent/templates/psp/konnectivity-agent-rolebinding.yaml
  charts/shoot-core/components/charts/konnectivity-agent/templates/service-account.yaml
  charts/shoot-core/components/charts/konnectivity-agent/values.yaml
  charts/shoot-core/components/charts/monitoring/charts/prometheus-shoot/templates/rbac.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/deployment.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/secret.yaml
  charts/shoot-core/components/charts/vpn-shoot/values.yaml
  charts/shoot-core/components/requirements.yaml
  charts/shoot-core/components/values.yaml
  docs/README.md
  docs/usage/reverse-tunnel.md
  example/20-componentconfig-gardenlet.yaml
  extensions/pkg/util/shoot.go
  pkg/features/features.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/health_check.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/waiter.go
  pkg/operation/common/types.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/secrets/static_token.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/all, reviewed/lgtm, size/xl, topology/seed, topology/shoot

#2428 Upgrade grafana to 7.0.3 and update dashboards
  charts/images.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/kube-apiserver.rules.test.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-apiserver.rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-deployments-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-statefulsets-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-api-server-details.json
Labels: area/monitoring, kind/cleanup, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2438 Fix transportation of machine image providerConfig to OSC
  charts/seed-operatingsystemconfig/downloader/templates/osc.yaml
  charts/seed-operatingsystemconfig/downloader/values.yaml
  charts/seed-operatingsystemconfig/original/values.yaml
  pkg/operation/botanist/operatingsystemconfig.go
Labels: area/os, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2441 Fix prometheus rule test
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/vpn.rules.test.yaml
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpn-dashboard.json
Labels: needs/ok-to-test, reviewed/lgtm

#2440 Include Prometheus tests in verify-extended rule
  Makefile
  docs/development/testing_and_dependencies.md
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2447 Minor nits
  Dockerfile
  go.mod
  go.sum
  pkg/apis/core/validation/shoot.go
  pkg/utils/kubernetes/controllerinstallation.go
  pkg/utils/kubernetes/controllerregistration.go
  pkg/utils/kubernetes/namespace.go
  pkg/utils/kubernetes/project.go
  pkg/utils/kubernetes/seed.go
  pkg/utils/kubernetes/shoot.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/patch.go
Labels: area/open-source, needs/ok-to-test, priority/normal, reviewed/lgtm

#2448 [rel-v1.6] fallback to the vpn-shoot pod if cluster is not reconciled
  pkg/operation/botanist/health_check.go
Labels: area/networking, area/operations, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2445 [release-v1.5] Fix deletion case for extension predicates
  extensions/pkg/controller/backupbucket/controller.go
  extensions/pkg/controller/backupentry/controller.go
  extensions/pkg/controller/containerruntime/controller.go
  extensions/pkg/controller/controlplane/controller.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/infrastructure/controller.go
  extensions/pkg/controller/network/controller.go
  extensions/pkg/controller/operatingsystemconfig/controller.go
  extensions/pkg/controller/worker/controller.go
  extensions/pkg/predicate/predicate.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2436 Enable namespace release when deleting Projects
  pkg/controllermanager/controller/project/project_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/operation/common/types.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, reviewed/ok-to-test

#2460 Make Terraform output compatible to any type
  extensions/pkg/terraformer/state.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2461 Make some Terraformer functions public
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/types.go
  extensions/pkg/terraformer/waiter.go
  pkg/mock/gardener/extensions/terraformer/mocks.go
Labels: area/quality, area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2464 Fix shoot maintenance defaulting
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2463 Make data volume name required in Shoot spec
  example/90-shoot.yaml
  hack/api-reference/core.md
  hack/api-reference/extensions.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/worker.go
Labels: area/usability, kind/api-change, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2437 Add network policy documentation
  docs/README.md
  docs/concepts/network_policies.md
  docs/development/seed_network_policies.md
  docs/extensions/controlplane.md
  docs/usage/shoot_network_policies.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, status/in-progress

#2450 [GEP-7] Don`t use tryUpdate when restoring extensions
  pkg/api/extensions/accessor.go
  pkg/api/extensions/accessor_test.go
  pkg/apis/extensions/v1alpha1/types.go
  pkg/apis/extensions/v1alpha1/types_defaults.go
  pkg/operation/botanist/migration.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2466 Add node anti-affinities and PDBs for CoreDNS
  charts/shoot-core/components/charts/coredns/templates/coredns-deployment.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-poddisruptionbudget.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm

#2465 Guestbook test is now compatible with shoots having allowPrivilegedContainers=false
  test/framework/applications/guestbooktest.go
  test/framework/resources/templates/guestbook-app.yaml.tpl
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2467 Fix cluster sync after retry operation
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2456 [GEP-7] Remove DNSProviders in migration flow
  pkg/apis/core/field_constants.go
  pkg/apis/core/v1alpha1/conversions.go
  pkg/apis/core/v1beta1/conversions.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
  pkg/gardenlet/controller/shoot/shoot_control_prepare_migration.go
  pkg/operation/botanist/migration.go
  pkg/registry/core/shoot/strategy.go
  pkg/registry/core/shoot/strategy_test.go
Labels: area/control-plane-migration, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2442 Restructure botanist deploy network CRD & add missing tests
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/extensions/dns/dns_suite_test.go
  pkg/operation/botanist/extensions/dns/dnsentry.go
  pkg/operation/botanist/extensions/dns/dnsentry_test.go
  pkg/operation/botanist/extensions/dns/dnsprovider.go
  pkg/operation/botanist/extensions/dns/dnsprovider_test.go
  pkg/operation/botanist/extensions/network/network.go
  pkg/operation/botanist/extensions/network/network_suite_test.go
  pkg/operation/botanist/extensions/network/network_test.go
  pkg/operation/botanist/network.go
  pkg/operation/shoot/types.go
Labels: area/quality, kind/test, needs/ok-to-test, priority/normal, status/in-progress

#2470 Fix failing ShootItems.Union test
  pkg/apis/core/v1beta1/helper/helper_test.go
Labels: area/testing, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm

#2468 Improve Metrics-Server scraping
  charts/shoot-core/components/charts/metrics-server/templates/deployment.yaml
  test/framework/resources/templates/simple-load-deployment.yaml.tpl
  test/integration/shoots/applications/metrics.go
  test/integration/shoots/applications/networking.go
Labels: area/monitoring, area/robustness, kind/enhancement, needs/ok-to-test, priority/normal

#2451 Add shooted-seed documentation
  docs/README.md
  docs/usage/shooted_seed.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, reviewed/ok-to-test

#2473 Minor fixes for hook-me.sh script
  extensions/hack/hook-me.sh
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2472 Added link to latest blog, rewording and Gardenlet
  README.md
Labels: needs/ok-to-test, reviewed/lgtm, reviewed/ok-to-test

#2477 Remove hostPort usage for konnectivity-tunnel pods
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2482 [ci:component:github.com/gardener/gardener-resource-manager:v0.12.0->v0.12.1]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm

#2406 [GEP-8] APIServer SNI
  charts/global-network-policies/templates/allow-to-all-shoot-apiservers.yaml
  charts/global-network-policies/values.yaml
  charts/images.yaml
  charts/istio/istio-proxy-protocol/Chart.yaml
  charts/istio/istio-proxy-protocol/templates/envoyfilter.yaml
  charts/istio/istio-proxy-protocol/templates/gateway.yaml
  charts/istio/istio-proxy-protocol/templates/virtualservice.yaml
  charts/istio/istio-proxy-protocol/values.yaml
  charts/seed-controlplane/charts/kube-apiserver-service/templates/kube-apiserver-service.yaml
  charts/seed-controlplane/charts/kube-apiserver-service/values.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/Chart.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/charts/utils-templates
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-destinationrule.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-envoyfilter.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-gateway.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-virtualservice.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/values.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/allow-prometheus-network-policy.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/blackbox-exporter-config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/shoot-core/components/charts/apiserver-proxy/Chart.yaml
  charts/shoot-core/components/charts/apiserver-proxy/charts/utils-templates
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-daemonset.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-serviceaccount.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/proxy-configmap.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/psp/apiserver-proxy-clusterrole.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/psp/apiserver-proxy-psp.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/psp/apiserver-proxy-rolebinding.yaml
  charts/shoot-core/components/charts/apiserver-proxy/values.yaml
  charts/shoot-core/components/requirements.yaml
  charts/shoot-core/components/values.yaml
  docs/deployment/feature_gates.md
  example/20-componentconfig-gardenlet.yaml
  pkg/features/features.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/controlplane_suite_test.go
  pkg/operation/botanist/controlplane/kube_apiserver_service.go
  pkg/operation/botanist/controlplane/kube_apiserver_service_test.go
  pkg/operation/botanist/controlplane/kube_apiserver_sni.go
  pkg/operation/botanist/controlplane/kube_apiserver_sni_test.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/dns_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/waiter.go
  pkg/operation/common/types.go
  pkg/operation/seed/istio/istio_suite_test.go
  pkg/operation/seed/istio/proxy_protocol.go
  pkg/operation/seed/istio/proxy_protocol_test.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/operation/types.go
Labels: area/control-plane, area/cost, area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2485 Removed testgrid links for azure and openstack cluster < 1.15
  README.md
Labels: area/documentation, needs/ok-to-test, reviewed/lgtm

#2486 Retain replicas for istio deployments managed by HPA
  charts/istio/istio-ingress/templates/deployment.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/istio/istio-istiod/templates/service.yaml
  pkg/client/kubernetes/applier.go
  pkg/client/kubernetes/applier_test.go
  pkg/operation/seed/istio/ingress_gateway.go
  pkg/operation/seed/istio/istiod.go
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2490 Fix shoot K8s version maintenance bug
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2487 Update istio to 1.6.3
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2479 Add general GEP info
  .github/pull_request_template.md
  docs/README.md
  docs/proposals/00-template.md
  docs/proposals/README.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2480 [#2462] Add flag AllowSystemComponents to worker options
  charts/shoot-addons/charts/kubernetes-dashboard/templates/deployment-dashboard.yaml
  charts/shoot-addons/charts/kubernetes-dashboard/templates/deployment-metrics-scraper.yaml
  charts/shoot-addons/charts/nginx-ingress/values.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-deployment.yaml
  charts/shoot-core/components/charts/metrics-server/templates/deployment.yaml
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/deployment.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/deployment.yaml
  docs/extensions/conventions.md
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/helper/helper.go
  pkg/apis/core/v1alpha1/helper/helper_test.go
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/worker.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2495 Nit: Use NewNopLogger in the tests
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/controlplane/kube_apiserver_service_test.go
  pkg/operation/botanist/dns_test.go
  pkg/operation/botanist/extensions/dns/dnsentry_test.go
  pkg/operation/botanist/extensions/dns/dnsprovider_test.go
  pkg/operation/botanist/extensions/network/network_test.go
Labels: needs/ok-to-test, priority/normal, reviewed/lgtm

#2494 Fix Seed bootstrap
  pkg/operation/seed/istio/proxy_protocol.go
  pkg/operation/seed/istio/proxy_protocol_test.go
  pkg/operation/seed/seed.go
Labels: kind/bug, kind/regression, needs/ok-to-test, priority/normal, reviewed/do-not-merge

#2493 Upgade dependency-watchdog to v0.5.0.
  charts/images.yaml
  charts/seed-bootstrap/charts/dependency-watchdog/templates/endpoint-rbac.yaml
  charts/seed-bootstrap/charts/dependency-watchdog/templates/probe-deployment.yaml
  charts/seed-bootstrap/charts/dependency-watchdog/templates/probe-rbac.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2497 Fix Shoot reconcilation when APIServerSNI was not enbled at all
  pkg/operation/botanist/controlplane/kube_apiserver_sni.go
Labels: kind/bug, kind/regression, needs/ok-to-test, priority/normal, reviewed/lgtm

#2488 Federate kube-apiserver network metrics
  charts/seed-monitoring/charts/core/charts/prometheus/rules/networking.rules.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2484 Update konnectivity tunnel to v0.0.10
  charts/images.yaml
  pkg/operation/botanist/secrets.go
  pkg/utils/secrets/static_token.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2474 Adapt client usage in integration tests
  docs/testing/integration_tests.md
  test/framework/applications/guestbooktest.go
  test/framework/dump.go
  test/framework/gardener_utils.go
  test/framework/k8s_utils.go
  test/framework/plant_utils.go
  test/framework/rootpod_executor.go
  test/framework/shoot_utils.go
  test/framework/shootframework.go
  test/integration/gardener/scheduler/scheduler_test.go
  test/integration/gardener/security/rbac.go
  test/integration/plants/plant.go
  test/integration/shoots/applications/metrics.go
  test/integration/shoots/applications/networking.go
  test/integration/shoots/care/shoot_care.go
  test/integration/shoots/logging/utils.go
  test/integration/shoots/maintenance/maintenance.go
  test/integration/shoots/operatingsystem/os.go
  test/integration/shoots/operations/clusterautoscaler.go
  test/system/complete_reconcile/gardener_reconcile_test.go
  test/system/shoot_deletion/delete_test.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, needs/review, priority/normal

#2504 Don't panic on empty kubeconfig
  pkg/client/kubernetes/client.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2500 Set effective version when building images
  Dockerfile
  Makefile
  go.mod
  hack/get-build-ld-flags.sh
  vendor/modules.txt
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2502 upgrade gardener-resource-manager to v0.13.1
  charts/images.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/rbac.yaml
  go.mod
  go.sum
  vendor/github.com/gardener/gardener-resource-manager/pkg/apis/resources/v1alpha1/types.go
  vendor/github.com/gardener/gardener-resource-manager/pkg/apis/resources/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-resource-manager/pkg/manager/managedresources.go
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/hvpa_types.go
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, priority/normal

#2505 Fix network policy e2e test generator
  extensions/test/e2e/framework/networkpolicies/generators/networkpolicies.go
Labels: area/testing, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2359 [GEP-7] Adds functionality to persist/load cp secrets to/from ShootState
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_prepare_migration.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/shootsecrets/secrets_manager.go
  pkg/operation/shootsecrets/secrets_manager_test.go
  pkg/operation/shootsecrets/shoot_secrets_suite_test.go
  pkg/utils/encoding.go
  pkg/utils/infodata/infodata.go
  pkg/utils/infodata/types.go
  pkg/utils/secrets/basic_auth.go
  pkg/utils/secrets/basic_auth_infodata.go
  pkg/utils/secrets/basic_auth_infodata_test.go
  pkg/utils/secrets/basic_auth_test.go
  pkg/utils/secrets/certificate_infodata.go
  pkg/utils/secrets/certificate_infodata_test.go
  pkg/utils/secrets/certificates.go
  pkg/utils/secrets/certificates_test.go
  pkg/utils/secrets/control_plane.go
  pkg/utils/secrets/generate.go
  pkg/utils/secrets/private_key_infodata.go
  pkg/utils/secrets/private_key_infodata_test.go
  pkg/utils/secrets/rsa_private_key.go
  pkg/utils/secrets/rsa_private_key_test.go
  pkg/utils/secrets/secrets.go
  pkg/utils/secrets/static_token.go
  pkg/utils/secrets/static_token_infodata.go
  pkg/utils/secrets/static_token_infodata_test.go
  pkg/utils/secrets/static_token_test.go
  pkg/utils/secrets/types.go
  pkg/utils/secrets/vpn_tlsauth.go
  pkg/utils/secrets/vpn_tlsauth_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, status/in-progress

#2506 Fix effective version in image
  Dockerfile
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, priority/normal

#2512 [release-v1.6] fixed a bug that leads to Shoots not receiving a minor version update when the AutoUpdate = true
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2510 Fix slow network test
  pkg/operation/botanist/extensions/network/network.go
  pkg/operation/botanist/extensions/network/network_test.go
  pkg/operation/botanist/network.go
Labels: area/testing, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2514 [release-v1.5] fixed a bug that leads to Shoots not receiving a minor version update when the AutoUpdate = true
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2507 Remove tolerations from control-plane components.
  charts/seed-controlplane/charts/gardener-resource-manager/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager.yaml
  charts/seed-controlplane/charts/kube-scheduler/templates/kube-scheduler.yaml
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2508 Mount CA bundles from the host OS to kube-apiserver
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
Labels: area/control-plane, kind/bug, kind/regression, needs/ok-to-test, priority/normal, reviewed/lgtm

#2509 Use DirectClient when removing finalizers
  pkg/controllermanager/controller/cloudprofile/cloudprofile_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_control_test.go
  pkg/controllermanager/controller/controllerregistration/seed_control.go
  pkg/controllermanager/controller/controllerregistration/seed_control_test.go
  pkg/controllermanager/controller/plant/plant_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/quota/quota_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2517 Fix premature controllerinstallation deletion
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/namespace_reconciler.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2520 [GEP-7] Fix backupentry migration if resource not found
  pkg/operation/botanist/migration.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2518 Fix replica computation for kube-controller-manager
  pkg/operation/botanist/controlplane.go
  pkg/operation/common/utils.go
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, priority/normal, reviewed/lgtm

#2521 Tweak values for hvpa's LimitsRequestsGapScaleParams
  charts/gardener/controlplane/values.yaml
  charts/images.yaml
  charts/seed-controlplane/charts/etcd/values.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
Labels: area/auto-scaling, area/control-plane, needs/ok-to-test, priority/normal, reviewed/lgtm

#2525 Specify that v1.10 and v1.11 are no longer actively tested
  README.md
Labels: area/documentation, needs/ok-to-test, priority/normal, reviewed/lgtm

#2527 Nit: Clean up double imports
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/kube-apiserver.rules.test.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-apiserver.rules.yaml
  docs/monitoring/operator_alerts.md
  extensions/pkg/controller/csimigration/reconciler.go
  extensions/pkg/controller/utils_test.go
  extensions/pkg/predicate/predicate_test.go
  extensions/pkg/util/shoot_clients.go
  extensions/pkg/util/shoot_test.go
  extensions/pkg/webhook/handler_shootclient.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/seed/seed_lifecycle_control.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/lease/lease_test.go
  pkg/gardenlet/controller/shoot/controllerinstallation_control.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/containerruntime.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/kube_apiserver_service.go
  pkg/operation/botanist/extensions/dns/dnsentry.go
  pkg/operation/botanist/extensions/dns/dnsprovider.go
  pkg/operation/botanist/extensions/network/network.go
  pkg/operation/common/utils.go
  pkg/operation/garden/garden_test.go
  pkg/operation/operation.go
  pkg/operation/seed/seed.go
  pkg/operation/seed/seed_test.go
  pkg/utils/secrets/certificates_test.go
  pkg/utils/secrets/static_token.go
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2529 Change istiod port to 443
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/istio/istio-istiod/templates/service.yaml
  charts/istio/istio-istiod/values.yaml
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs, topology/seed

#2524 Documentation about the dependency-watchdog
  docs/README.md
  docs/usage/seed_bootstrapping.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, priority/normal

#2531 Make scheduler feature gates configurable
  charts/gardener/controlplane/charts/runtime/templates/scheduler/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
Labels: area/usability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2532 Fix flaky tests
  pkg/healthz/periodic_test.go
  pkg/operation/shootsecrets/secrets_manager_test.go
  pkg/utils/secrets/static_token.go
Labels: area/testing, kind/technical-debt, needs/ok-to-test, priority/normal, reviewed/lgtm

#2530 Fix panic on initializing Shoot clients
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/operation/operation.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/blocker, reviewed/lgtm

#2522 Update Cluster extension resource when Shoot is updated
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/common/extensions.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm
