Repository gardener/gardener, pull requests merged in 2020-10, with the labels that each got.

#2923 Skip shoot resource cleanup when infrastructure is already gone
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2934 Fix setup-envtest.sh for vendoring repos
  hack/setup-envtest.sh
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2935 Parallelize check-generate step in CI
  .ci/check-generate
  Makefile
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, priority/normal

#2796 Expose Fluent-bit configurations
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
  charts/seed-bootstrap/charts/fluent-bit/values.yaml
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/seed_registration_control.go
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2937 Fix premature deletion of vpa-webhook-config for ShootedSeed
  pkg/operation/botanist/addons.go
  pkg/operation/common/utils.go
  pkg/operation/seed/seed.go
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm

#2771 Add shoot reference protection for DNS secrets
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  docs/concepts/controller-manager.md
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_control.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_types.go
  pkg/controllermanager/controller/shoot/shoot_quota_control.go
  pkg/controllermanager/controller/shoot/shoot_reference_control.go
  pkg/controllermanager/controller/shoot/shoot_reference_control_test.go
  pkg/controllerutils/finalizers.go
  pkg/controllerutils/operations.go
  pkg/controllerutils/worker.go
  pkg/operation/botanist/cleanup.go
  pkg/utils/kubernetes/object.go
  pkg/utils/labels.go
  pkg/utils/miscellaneous_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2936 Clean up obsolete defaulting logic
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardener-scheduler/app/gardener_scheduler.go
  cmd/gardenlet/app/gardenlet.go
  cmd/utils/miscellaneous.go
  pkg/scheduler/apis/config/loader/loader.go
  pkg/scheduler/apis/config/v1alpha1/types.go
Labels: area/robustness, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2941 VPA minAllowed config for etcd-druid
  charts/seed-bootstrap/charts/etcd-druid/templates/vpa.yaml
Labels: area/control-plane, kind/post-mortem, needs/ok-to-test, priority/normal, reviewed/lgtm

#2940 Specifically cached client
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/options.go
  pkg/client/kubernetes/utils/client.go
  pkg/client/kubernetes/utils/client_test.go
  pkg/client/kubernetes/utils/utils_suite_test.go
  pkg/mock/controller-runtime/client/doc.go
  pkg/mock/controller-runtime/client/mocks.go
  pkg/utils/test/matchers/kubernetes_errors_test.go
  pkg/utils/test/matchers/matchers.go
  pkg/utils/test/matchers/matchers_suite_test.go
Labels: area/cost, area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2944 Fix test-cover.sh output files for vendoring repos
  hack/test-cover.sh
Labels: area/dev-productivity, area/testing, kind/task, needs/ok-to-test, priority/normal

#2939 Add unit tests for flow progress reporters
  pkg/utils/flow/flow_suite_test.go
  pkg/utils/flow/flow_test.go
  pkg/utils/flow/progress_reporter_delaying_test.go
  pkg/utils/flow/progress_reporter_immediate_test.go
Labels: area/testing, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm

#2929 Add document for shoot updates and upgrades
  docs/README.md
  docs/usage/shoot_maintenance.md
  docs/usage/shoot_status.md
  docs/usage/shoot_updates.md
  docs/usage/shoot_versions.md
  example/90-shoot.yaml
Labels: area/documentation, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2947 Add known error code
  charts/seed-bootstrap/templates/prometheus/config.yaml
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, area/usability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2673 Allow admission authentication via Service Account Token Projection
  charts/gardener/controlplane/charts/runtime/templates/apiserver/_helpers.tpl
  charts/gardener/controlplane/charts/runtime/templates/apiserver/configmap-admission-config.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/secret-admission-kubeconfig.yaml
  charts/gardener/controlplane/values-test.yaml
  charts/gardener/controlplane/values.yaml
Labels: area/control-plane, area/security, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2949 Fix seed boostrap for v1.19 clusters
  charts/seed-bootstrap/templates/aggregate-prometheus/ingress.yaml
  charts/seed-bootstrap/templates/grafana/ingress.yaml
  charts/seed-monitoring/charts/alertmanager/templates/ingress.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/ingress.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-ingress.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2951 Add image_id label to recording rule
  charts/seed-bootstrap/prometheus-rules/recording-rules.rules.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2899 Revising gardenelet doc
  docs/README.md
  docs/concepts/gardenlet.md
  docs/deployment/deploy_gardenlet.md
  docs/deployment/deploy_gardenlet_automatically.md
  docs/deployment/deploy_gardenlet_manually.md
  docs/usage/shooted_seed.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, reviewed/lgtm

#2952 Restore the original settings
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
Labels: area/logging, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#2859 Add networkpolicies for DNS
  charts/shoot-core/components/charts/coredns/templates/coredns-networkpolicy.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/vpn-networkpolicy.yaml
  charts/shoot-core/components/charts/vpn-shoot/values.yaml
  docs/usage/shoot_network_policies.md
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2962 Add k8s 1.19 conformance tests (testgrid) links
  README.md
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#2959 Clean up TODOs from labels migration
  charts/gardener/controlplane/charts/utils-common/templates/_secret-default-domain.yaml
  charts/gardener/controlplane/charts/utils-common/templates/_secret_internal-domain.yaml
  pkg/controllerutils/miscellaneous.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/shoot_utils.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/common/types.go
  pkg/operation/garden/garden.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#2948 Use Pod anti-affinity in clusterautoscaler test
  test/framework/resources/templates/pod-anti-affinity-deployment.yaml.tpl
  test/framework/resources/templates/templates.go
  test/integration/shoots/operations/clusterautoscaler.go
Labels: area/testing, kind/bug, needs/changes, needs/ok-to-test, priority/normal, size/m

#2968 Use StrategicMergePatch to scale resources
  pkg/client/kubernetes/scaling.go
  pkg/client/kubernetes/scaling_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#2971 small correction to the deploy gardenlet manually docs
  docs/deployment/deploy_gardenlet_manually.md
Labels: area/documentation, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#2945 Rework logging dashboards
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-control-plane-status-dashboard.json
  charts/seed-monitoring/charts/grafana/templates/grafana-dashboards-configmap.yaml
  charts/seed-monitoring/charts/grafana/templates/logging-dashboard.tpl
  charts/seed-monitoring/charts/grafana/values.yaml
  docs/extensions/logging-and-monitoring.md
  docs/usage/logging.md
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#2963 Delete VolumeAttachments on hibernation
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/volumeattachments.go
  pkg/operation/botanist/volumeattachments_test.go
Labels: area/quality, area/storage, kind/bug, needs/changes, needs/ok-to-test, priority/normal, size/m

#2973 [GEP-7] Fix migration of hibernated shoots
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#2980 Add hack scripts for etcdctl in local-garden
  hack/local-development/local-garden/etcdctl-gardener-etcd.sh
  hack/local-development/local-garden/etcdctl-kube-etcd.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#2985 Fix panic in structured-merge-diff for SeedSelector
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v3/value/reflectcache.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/critical, size/xs

#2984 Fix coredns dashboard
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/owners/coredns-dashboard.json
Labels: area/monitoring, kind/bug, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l

#2974 Upgrade github.com/gardener/autoscaler from v0.10.0 to v0.12.0
  charts/images.yaml
Labels: needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#2987 Add timeout for the cloud-config-downloader service
  charts/seed-operatingsystemconfig/downloader/templates/osc.yaml
Labels: area/ops-productivity, area/quality, kind/bug, needs/ok-to-test, priority/normal, size/xs

#2993 Use merge patch to scale resource
  pkg/client/kubernetes/scaling.go
Labels: kind/bug, kind/regression, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#2997 Add doc sentence for project namespace deletion
  docs/usage/projects.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3000 Add liveness probe to konnectivity-server
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
Labels: area/networking, area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#2999 Enhance check-generate.sh with vendoring checks
  hack/check-generate.sh
Labels: area/dev-productivity, area/quality, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3004 Update konnectivity server config
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
Labels: area/networking, area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3005 Add poddisruptionbudget to istio
  charts/istio/istio-ingress/templates/poddisruptionbudget.yaml
  charts/istio/istio-istiod/templates/poddisruptionbudget.yaml
  pkg/operation/seed/istio/ingress_gateway_test.go
  pkg/operation/seed/istio/istiod_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3002 EveryNodeReady shoot condition considers Kubelet version
  pkg/operation/botanist/health_check.go
  pkg/operation/botanist/health_check_test.go
Labels: area/monitoring, area/ops-productivity, kind/enhancement, needs/changes, needs/ok-to-test, priority/normal, size/s

#3007 konnectivity-tunnel can be configured via annotation
  docs/usage/reverse-tunnel.md
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/shoot/shoot.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/changes, needs/ok-to-test, priority/normal, size/xs

#3008 Upgrade grafana
  charts/images.yaml
  charts/seed-bootstrap/dashboards/fluent-bit-dashboard.json
  charts/seed-bootstrap/dashboards/systemd-logs.json
  charts/seed-bootstrap/templates/grafana/grafana-datasources-configmap.yaml
  charts/seed-monitoring/charts/grafana/dashboards/operators/cluster-overview-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/etcd-backup-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/etcd-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-daemonsets-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-deployments-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-pods-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-statefulsets-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/prometheus-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpa-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpn-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/coredns-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-control-plane-status-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/node-pool-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/shoot-vpa-dashboard.json
  charts/seed-monitoring/charts/grafana/templates/grafana-datasources-configmap.yaml
  charts/seed-monitoring/charts/grafana/templates/logging-dashboard.tpl
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#2994 Remove Loki labels which come from metadata
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-daemonset.yaml
  charts/seed-bootstrap/charts/fluent-bit/values.yaml
  charts/seed-bootstrap/dashboards/systemd-logs.json
  pkg/operation/common/types.go
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#2931 improve Seed deletion with configured Backup Bucket
  docs/concepts/apiserver_admission_plugins.md
  plugin/pkg/seed/validator/admission.go
  plugin/pkg/seed/validator/admission_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
  plugin/pkg/utils/miscellaneous.go
  plugin/pkg/utils/miscellaneous_test.go
Labels: area/usability, needs/ok-to-test, priority/normal, size/m

#2995 Extension enhancements
  extensions/pkg/controller/cmd/options.go
  extensions/pkg/controller/healthcheck/actuator.go
  extensions/pkg/controller/healthcheck/general/managed_resource.go
  extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  extensions/pkg/controller/healthcheck/inject.go
  extensions/pkg/controller/healthcheck/reconciler.go
  extensions/pkg/controller/utils.go
  pkg/utils/kubernetes/patch.go
  pkg/utils/kubernetes/patch_test.go
Labels: area/control-plane, area/cost, area/performance, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l

#3009 Cleanup unused functions
  pkg/operation/botanist/monitoring.go
Labels: area/monitoring, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3010 Update image of TestDefinitions
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
Labels: area/testing, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3014 Increase severe threshold timeout for etcd to 3m
  pkg/operation/botanist/waiter.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3015 Fix cluster-autoscaler seed bootstrapping
  pkg/client/kubernetes/types.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/controlplane/clusterautoscaler/bootstrap.go
  pkg/operation/botanist/controlplane/clusterautoscaler/bootstrap_test.go
  pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  pkg/operation/common/managedresources.go
  pkg/operation/common/managedresources_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3021 Add missing admission plugin image definition in makefile
  Makefile
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3003 Fix allow-to-dns network policy when nodeLocalDNS is enabled
  charts/shoot-core/components/charts/network-policies/templates/allow-to-dns.yaml
  charts/shoot-core/components/charts/network-policies/values.yaml
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/addons/networkpolicy/shoot_network_policy.go
  pkg/operation/botanist/addons/networkpolicy/shoot_network_policy_suite_test.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/types.go
Labels: area/networking, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3012 Enhance error code mapping
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/api-change, kind/enhancement, needs/ok-to-test, needs/second-opinion, priority/normal, size/xs

#2992 Add restrictions in user's Grafana for logs
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
  charts/seed-bootstrap/charts/fluent-bit/values.yaml
  charts/seed-bootstrap/charts/loki/templates/loki-configmap.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-ingress.yaml
  pkg/operation/botanist/component/interfaces.go
  pkg/operation/botanist/component/types.go
  pkg/operation/botanist/controlplane/clusterautoscaler/logging.go
  pkg/operation/botanist/controlplane/clusterautoscaler/logging_test.go
  pkg/operation/botanist/controlplane/kubescheduler/logging.go
  pkg/operation/botanist/controlplane/kubescheduler/logging_test.go
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/changes, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#2957 Add unit tests for admission handlers
  pkg/admissioncontroller/server/handlers/webhooks/utils.go
  pkg/admissioncontroller/server/handlers/webhooks/utils_test.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_kubeconfig_secrets.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_kubeconfig_secrets_test.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_namespace_deletion.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_namespace_deletion_test.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_resource_size.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_resource_size_test.go
Labels: area/quality, kind/cleanup, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3024 Add SeedChange feature gate for gardener-apiserver
  cmd/gardener-apiserver/app/gardener_apiserver.go
  docs/deployment/feature_gates.md
  hack/local-development/start-apiserver
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/validation/validation_suite_test.go
  pkg/apiserver/features/features.go
  pkg/features/features.go
  pkg/utils/test/test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#2989 Enable istio prometheus metrics
  charts/istio/istio-ingress/templates/envoy-filter.yaml
  charts/istio/istio-istiod/templates/configmap.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/istio/istio-istiod/templates/service.yaml
  charts/seed-bootstrap/dashboards/istio/istio-control-plane-dashboard.json
  charts/seed-bootstrap/dashboards/istio/istio-ingress-gateway-dashboard.json
  charts/seed-bootstrap/dashboards/istio/istio-mesh-dashboard.json
  charts/seed-bootstrap/templates/aggregate-prometheus/config.yaml
  charts/seed-bootstrap/templates/grafana/grafana-dashboards-configmap.yaml
  charts/seed-bootstrap/templates/prometheus/config.yaml
  charts/seed-bootstrap/values.yaml
  pkg/operation/seed/seed.go
Labels: area/control-plane, area/monitoring, kind/enhancement, needs/changes, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3025 Replace Loki VPA with HVPA
  charts/seed-bootstrap/charts/loki/templates/hvpa.yaml
  charts/seed-bootstrap/charts/loki/templates/vpa.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
  pkg/operation/botanist/logging.go
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#2967 Shoot deletion from hibernation improvements
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/controlplane.go
Labels: area/control-plane, kind/technical-debt, needs/changes, needs/ok-to-test, priority/normal, size/m

#3030 Enhance error code mapping
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/api-change, kind/enhancement, needs/ok-to-test, needs/second-opinion, priority/normal, size/xs

#3027 [GEP-7] Keep shoot managed resource objects during migration
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_migrate.go
  pkg/utils/managedresources/managedresources.go
  pkg/utils/managedresources/managedresources_test.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3028 Show Service events when LoadBalancer cannot be ensured
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/event.go
  pkg/operation/botanist/event_test.go
  pkg/operation/botanist/volumeattachments_test.go
  pkg/operation/botanist/waiter.go
  pkg/operation/botanist/waiter_test.go
  pkg/operation/common/extensions_test.go
  pkg/operation/seed/seed.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l

#3026 Components in kube-system use FQDN of the APIServer if SNI is enabled
  charts/shoot-addons/charts/kubernetes-dashboard/templates/deployment-dashboard.yaml
  charts/shoot-addons/charts/kubernetes-dashboard/values.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/shoot-addons/charts/nginx-ingress/values.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-deployment.yaml
  charts/shoot-core/components/charts/coredns/values.yaml
  charts/shoot-core/components/charts/metrics-server/templates/deployment.yaml
  charts/shoot-core/components/charts/metrics-server/values.yaml
  charts/shoot-core/components/charts/node-problem-detector/values.yaml
  pkg/operation/botanist/addons.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#2786 [GEP-7] Add ability to register and delete seed in the integration tests
  .test-defs/DeleteSeed.yaml
  .test-defs/RegisterSeed.yaml
  test/framework/gardener_utils.go
  test/framework/gardenerframework.go
  test/framework/seedregistrationframework.go
  test/system/seed_deletion/delete_suite_test.go
  test/system/seed_deletion/delete_test.go
  test/system/seed_registration/create_seed_test.go
  test/system/seed_registration/create_suite_test.go
Labels: area/control-plane-migration, area/testing, kind/test, needs/changes, needs/ok-to-test, priority/normal, size/xl

#3013 Condition transitions False->Progressing on reason/message change
  pkg/operation/botanist/health_check.go
  pkg/operation/botanist/health_check_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3029 Fix update of the Shoot hibernation status after successful reconciliation
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: area/quality, kind/bug, needs/changes, needs/ok-to-test, priority/normal, size/s

#3037 Fix old integration test to set tenant Id and to use pod_name for search
  test/framework/shoot_utils.go
Labels: area/logging, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3038 Update golang to 1.15
  Dockerfile
  go.mod
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3036 Forbid functionless DNS providers
  plugin/pkg/shoot/dns/admission.go
  plugin/pkg/shoot/dns/admission_test.go
Labels: area/usability, kind/api-change, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3043 Updated custom DNS documentation
  docs/usage/custom-dns.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, priority/normal, size/xs

#3042 Default kubeReserved PID to 20k
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/openapi/openapi_generated.go
Labels: area/security, kind/api-change, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3041 Replace nginx with envoy
  charts/images.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-daemonset.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/proxy-configmap.yaml
  charts/shoot-core/components/charts/apiserver-proxy/values.yaml
  charts/shoot-core/components/values.yaml
  pkg/operation/botanist/addons.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3032 do not check for existing machine sets when the cluster is hibernated
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#2881 Refactoring kube controller manager deployment for Shoot clusters.
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
  charts/seed-controlplane/charts/kube-controller-manager/Chart.yaml
  charts/seed-controlplane/charts/kube-controller-manager/charts/utils-templates
  charts/seed-controlplane/charts/kube-controller-manager/charts/utils-tls-cipher-suites
  charts/seed-controlplane/charts/kube-controller-manager/templates/_helpers.tpl
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager-svc.yaml
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager-vpa.yaml
  charts/seed-controlplane/charts/kube-controller-manager/templates/kube-controller-manager.yaml
  charts/seed-controlplane/charts/kube-controller-manager/values.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-controller-manager.rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/shoot-core/components/charts/kube-controller-manager/Chart.yaml
  charts/shoot-core/components/charts/kube-controller-manager/charts/utils-templates
  charts/shoot-core/components/charts/kube-controller-manager/templates/rbac.yaml
  charts/shoot-core/components/charts/kube-controller-manager/values.yaml
  charts/shoot-core/components/requirements.yaml
  charts/shoot-core/components/values.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/test/monitoringcomponent.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/controlplane/clusterautoscaler/monitoring_test.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager_suite_test.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/logging.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/logging_test.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/monitoring.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/monitoring_alertingrules.test.yaml
  pkg/operation/botanist/controlplane/kubecontrollermanager/monitoring_test.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/shoot_resources.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/waiter.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/waiter_test.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/controlplane/kubescheduler/monitoring_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/waiter.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/utils.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
Labels: area/control-plane, kind/api-change, kind/technical-debt, needs/changes, needs/ok-to-test, priority/normal, size/xl

#3034 Adapt terraformer library
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/types.go
  pkg/mock/gardener/extensions/terraformer/mocks.go
Labels: area/quality, area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3022 Deploy vpa-exporter for shooted seeds
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-exporter.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/crd-verticalpodautoscalercheckpoints.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/crd-verticalpodautoscalers.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/serviceaccount-exporter.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-exporter.yaml
  charts/seed-bootstrap/charts/vpa/values.yaml
  charts/seed-bootstrap/templates/vpa-exporter/clusterrole-exporter.yaml
  charts/seed-bootstrap/templates/vpa-exporter/clusterrolebinding-exporter.yaml
  charts/seed-bootstrap/templates/vpa-exporter/deployment-exporter.yaml
  charts/seed-bootstrap/templates/vpa-exporter/service-exporter.yaml
  charts/seed-bootstrap/templates/vpa-exporter/serviceaccount-exporter.yaml
  charts/seed-bootstrap/templates/vpa-exporter/vpa-exporter.yaml
  charts/seed-bootstrap/values.yaml
  docs/usage/shooted_seed.md
  pkg/operation/common/utils.go
Labels: area/monitoring, kind/bug, needs/ok-to-test, needs/second-opinion, priority/normal, size/m

#3040 Add --version flag for components
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-apiserver/app/gardener_apiserver.go
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardener-scheduler/app/gardener_scheduler.go
  cmd/gardener-seed-admission-controller/app/gardener_seed_admission_controller.go
  cmd/gardenlet/app/gardenlet.go
  pkg/version/verflag/verflag.go
Labels: area/ops-productivity, area/usability, kind/enhancement, needs/ok-to-test, priority/normal, size/m

#3035 support providerConfig for shooted seeds
  docs/usage/shooted_seed.md
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/gardenlet/controller/shoot/seed_registration_control.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/changes, needs/ok-to-test, priority/normal, size/s

#3044 Expose apiserver envoy proxy metrics
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-daemonset.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/proxy-configmap.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/psp/apiserver-proxy-psp.yaml
  charts/shoot-core/components/charts/apiserver-proxy/values.yaml
Labels: area/monitoring, area/networking, kind/enhancement, needs/ok-to-test, priority/normal, size/s

#3047 Add apiserver-proxy readiness check
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-daemonset.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/proxy-configmap.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/psp/apiserver-proxy-psp.yaml
  charts/shoot-core/components/charts/apiserver-proxy/values.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3046 Increase apiserver-proxy CPU and Memory limits
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-daemonset.yaml
Labels: area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, size/xs

#3048 Upgrade node-exporter to v1.0.1
  charts/images.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3049 Remove 443 from API Server proxy ports
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-daemonset.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3051 Add Prometheus scrap and Grafana Dshboards for apiserver-proxy
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/operators/istio/apiserver-proxy-dashboard.json
  charts/seed-monitoring/charts/grafana/templates/grafana-dashboards-configmap.yaml
  charts/seed-monitoring/charts/grafana/values.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-service.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/proxy-configmap.yaml
  pkg/operation/botanist/monitoring.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3052 Fix apiserver-proxy Service port
  charts/seed-monitoring/charts/grafana/dashboards/operators/istio/apiserver-proxy-dashboard.json
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-service.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3053 Fix node-exporter configuration
  charts/shoot-core/components/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#2970 Allow again some seed taints to be used
  docs/concepts/scheduler.md
  docs/usage/configuration.md
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
Labels: kind/api-change, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3055 Reference in CONTRIBUTING.md to the Contributor Guide on gardener.cloud
  CONTRIBUTING.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3059 Default kubelet.kubeReserved.pid only for k8s >= 1.15
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  plugin/pkg/shoot/dns/admission.go
  test/system/shoot_deletion/delete_test.go
Labels: kind/api-change, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3057 Add minAllowed for kcm VPA
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager_test.go
Labels: area/quality, area/robustness, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs

#3062 Remove apiserver-proxy overload manager
  charts/shoot-core/components/charts/apiserver-proxy/templates/proxy-configmap.yaml
Labels: area/networking, area/scalability, kind/regression, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3063 [Release-1.12 Cherry-Pick] Remove apiserver-proxy overload manager
  charts/shoot-core/components/charts/apiserver-proxy/templates/proxy-configmap.yaml
Labels: area/networking, area/scalability, kind/regression, needs/ok-to-test, needs/review, priority/normal, size/xs

#3073 Remove egress restrictions
  charts/shoot-core/components/charts/vpn-shoot/templates/vpn-networkpolicy.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs

#3071 Add reference protection for audit policy ConfigMaps
  docs/concepts/controller-manager.md
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_reference_control.go
  pkg/controllermanager/controller/shoot/shoot_reference_control_test.go
Labels: area/quality, kind/enhancement, needs/changes, needs/ok-to-test, priority/normal, size/l

#3069 Fix bug in secret generation caused by usage of shared memory
  pkg/apis/core/v1alpha1/helper/shootstate_list.go
  pkg/apis/core/v1alpha1/helper/shootstate_list_test.go
  pkg/controllerutils/miscellaneous.go
  pkg/controllerutils/miscellaneous_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/shootsecrets/secrets_manager.go
  pkg/operation/shootsecrets/secrets_manager_test.go
  test/integration/shoots/operations/operations.go
Labels: area/usability, kind/api-change, kind/bug, needs/changes, needs/ok-to-test, priority/normal, size/m

#3074 Auto-delete (Cluster)RoleBindings on invalid updates
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-actor.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-checkpointer.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-target-reader.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-updater-evictioner.yaml
  charts/shoot-addons/charts/kubernetes-dashboard/templates/rbac.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/clusterrolebinding.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/psp/nginx-ingress-rolebinding-privileged.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/rolebinding.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/psp/apiserver-proxy-rolebinding.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-rbac.yaml
  charts/shoot-core/components/charts/konnectivity-agent/templates/psp/konnectivity-agent-rolebinding.yaml
  charts/shoot-core/components/charts/konnectivity-agent/templates/rbac.yaml
  charts/shoot-core/components/charts/kube-apiserver-kubelet/templates/kube-apiserver-kubelet-rbac.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/psp/kube-proxy-rolebinding.yaml
  charts/shoot-core/components/charts/metrics-server/templates/rbac.yaml
  charts/shoot-core/components/charts/monitoring/charts/kube-state-metrics-shoot/templates/rbac.yaml
  charts/shoot-core/components/charts/monitoring/charts/node-exporter/templates/psp/node-exporter-rolebinding.yaml
  charts/shoot-core/components/charts/monitoring/charts/prometheus-shoot/templates/rbac.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/clusterrolebinding.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/psp-clusterrolebinding.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/psp/nodelocal-dns-rolebinding.yaml
  charts/shoot-core/components/charts/podsecuritypolicies/templates/privileged-clusterrolebinding.yaml
  charts/shoot-core/components/charts/podsecuritypolicies/templates/unprivileged-clusterrolebinding.yaml
  charts/shoot-core/components/charts/podsecuritypolicies/templates/unprivileged-kube-system-rolebinding.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/psp/vpn-shoot-rolebinding.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/vpn-seed-rbac.yaml
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s
