Repository gardener/gardener, pull requests merged in 2020-09, with the labels that each got.

#2803 remove unsupported k8s versions
  README.md
Labels: area/usability, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2805 Upgrade Logging stack with fluent-bit-to-loki v0.25
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2799 Support for Kubernetes v1.19
  README.md
  charts/images.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-operatingsystemconfig/original/templates/kubelet/_kubelet-config-file
  charts/seed-operatingsystemconfig/original/templates/kubelet/_kubelet-monitor.service
  charts/seed-operatingsystemconfig/original/templates/kubelet/_kubelet.flags
  charts/seed-operatingsystemconfig/original/templates/kubelet/_kubelet.service
  charts/shoot-core/components/charts/kube-proxy/templates/componentconfig.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-cleanup-script.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  charts/utils-templates/templates/_versions.tpl
  docs/usage/supported_k8s_versions.md
  extensions/pkg/controller/csimigration/reconciler.go
  extensions/pkg/controller/csimigration/reconciler_test.go
  hack/local-development/dev-setup-register-gardener
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/runtime_client.go
  pkg/operation/botanist/cleanup.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler_test.go
  pkg/operation/common/utils.go
Labels: area/open-source, area/usability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2808 Fix WaitUntilExtensionCRsMigrated test
  pkg/operation/common/extensions_test.go
Labels: area/testing, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm

#2807 Improve worker controller/actuator logs
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
  extensions/pkg/controller/worker/genericactuator/actuator_migrate.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/machine_controller_manager.go
  extensions/pkg/controller/worker/reconciler.go
  extensions/pkg/controller/worker/state_reconciler.go
Labels: area/logging, area/quality, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2798 [GEP-7] Use patch to update the ShootState and remove LoadSecrets step
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/secrets.go
  pkg/operation/operation.go
  pkg/operation/operation_test.go
  pkg/operation/shootsecrets/secrets_manager.go
  pkg/operation/shootsecrets/secrets_manager_test.go
Labels: area/control-plane-migration, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2809 Enable race detector, switch to go test
  Makefile
  hack/test-cover.sh
  hack/test.sh
  pkg/healthz/periodic_test.go
Labels: area/dev-productivity, area/quality, area/robustness, area/testing, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2810 Cleanup usage of deprecated extensionspredicate.Or
  extensions/pkg/controller/backupbucket/controller.go
  extensions/pkg/controller/backupentry/controller.go
  extensions/pkg/controller/containerruntime/controller.go
  extensions/pkg/controller/controlplane/controller.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/infrastructure/controller.go
  extensions/pkg/controller/network/controller.go
  extensions/pkg/controller/operatingsystemconfig/controller.go
  extensions/pkg/controller/worker/controller.go
  extensions/pkg/predicate/predicate.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2812 Use vanity domain after VDF
  charts/images.yaml
Labels: area/open-source, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2792 Remove kube-state-metrics-seed from control planes
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-seed/Chart.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-seed/charts/utils-templates
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-seed/templates/deployment.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-seed/templates/rolebinding.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-seed/templates/service.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-seed/templates/serviceaccount.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-seed/templates/vpa.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-seed/values.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/kube-state-metrics.rules.test.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-state-metrics.rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/allow-prometheus-network-policy.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/grafana/dashboards/operators/cluster-overview-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-deployments-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-statefulsets-dashboard.json
  pkg/operation/botanist/monitoring.go
Labels: area/monitoring, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2813 Update Kubernetes dashboard versions
  charts/images.yaml
Labels: area/open-source, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2816 Reduce unnecessary reconciles in ControllerInstallationRequired controller
  pkg/gardenlet/controller/federatedseed/extensions/artifact.go
  pkg/gardenlet/controller/federatedseed/extensions/controllerinstallation_control.go
  pkg/gardenlet/controller/federatedseed/extensions/extensions.go
Labels: area/quality, area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2802 VPA admission controller shouldn't self register mutatingWebhook
  charts/seed-bootstrap/charts/vpa/charts/application/templates/vpa-webhook-config.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/values.yaml
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/seed/seed.go
Labels: area/auto-scaling, area/control-plane, kind/task, needs/ok-to-test, priority/normal, reviewed/do-not-merge, reviewed/lgtm

#2818 Update go-systemd to v22
  extensions/pkg/webhook/controlplane/genericmutator/mutator.go
  extensions/pkg/webhook/controlplane/genericmutator/mutator_test.go
  extensions/pkg/webhook/controlplane/genericmutator/noopensurer.go
  extensions/pkg/webhook/controlplane/unitserializer.go
  extensions/pkg/webhook/controlplane/unitserializer_test.go
  extensions/pkg/webhook/utils.go
  go.mod
  go.sum
  pkg/mock/gardener/extensions/webhook/controlplane/genericmutator/mocks.go
  pkg/mock/gardener/extensions/webhook/controlplane/mocks.go
  vendor/github.com/coreos/go-systemd/v22/LICENSE
  vendor/github.com/coreos/go-systemd/v22/NOTICE
  vendor/github.com/coreos/go-systemd/v22/unit/deserialize.go
  vendor/github.com/coreos/go-systemd/v22/unit/escape.go
  vendor/github.com/coreos/go-systemd/v22/unit/option.go
  vendor/github.com/coreos/go-systemd/v22/unit/section.go
  vendor/github.com/coreos/go-systemd/v22/unit/serialize.go
  vendor/modules.txt
Labels: area/quality, area/robustness, kind/technical-debt, needs/ok-to-test, priority/normal, reviewed/lgtm

#2819 Add priority class for node-problem-detector
  charts/shoot-core/components/charts/node-problem-detector/values.yaml
Labels: area/ops-productivity, area/robustness, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2821 Remove KSM-Seed from required Monitoring Seed Deployments
  extensions/test/e2e/framework/networkpolicies/agnostic.go
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/health_check_test.go
  pkg/operation/common/types.go
Labels: area/monitoring, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2782 Fix context cancel for garbage collection in care controller
  pkg/gardenlet/controller/shoot/shoot_care_control.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2820 Upgrade prometheus to v2.20.1
  charts/images.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2783 Move kube-scheduler related resources into kubescheduler pkg
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
  charts/seed-bootstrap/charts/fluent-bit/values.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-scheduler.rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/shoot-core/components/charts/kube-scheduler/Chart.yaml
  charts/shoot-core/components/charts/kube-scheduler/charts/utils-templates
  charts/shoot-core/components/charts/kube-scheduler/templates/rbac.yaml
  charts/shoot-core/components/charts/kube-scheduler/values.yaml
  charts/shoot-core/components/requirements.yaml
  charts/shoot-core/components/values.yaml
  docs/extensions/logging-and-monitoring.md
  pkg/client/kubernetes/types.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/component/interfaces.go
  pkg/operation/botanist/constants/constants.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/controlplane/kubescheduler/logging.go
  pkg/operation/botanist/controlplane/kubescheduler/logging_test.go
  pkg/operation/botanist/controlplane/kubescheduler/monitoring.go
  pkg/operation/botanist/controlplane/kubescheduler/monitoring_alertingrules.test.yaml
  pkg/operation/botanist/controlplane/kubescheduler/monitoring_test.go
  pkg/operation/botanist/managedresources.go
  pkg/operation/botanist/matchers/matcher.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/managedresources.go
  pkg/operation/common/managedresources_test.go
  pkg/operation/seed/seed.go
  pkg/utils/test/monitoringcomponent.go
  test/gomega/deep.go
  test/gomega/deep_derivative.go
  test/gomega/deep_test.go
  test/gomega/matchers.go
Labels: area/dev-productivity, area/quality, area/testing, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2825 Remove GOMAXPROCS assignment
  cmd/gardener-apiserver/main.go
  cmd/gardener-controller-manager/main.go
  cmd/gardener-scheduler/main.go
  cmd/gardener-seed-admission-controller/main.go
  cmd/gardenlet/main.go
Labels: area/robustness, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2826 Clean up list call with deprecated purpose label
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2823 Cleanup leftovers from the logging migration
  pkg/operation/botanist/logging.go
  pkg/operation/common/utils.go
  pkg/operation/seed/seed.go
Labels: area/logging, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2828 Fix make test-cov
  Makefile
  hack/test-cover.sh
Labels: area/dev-productivity, area/testing, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm

#2824 Improve alert for failed audit logging of the shoot's kube-apiserver
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/kube-apiserver.rules.test.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-apiserver.rules.yaml
  docs/monitoring/operator_alerts.md
Labels: area/audit-logging, area/monitoring, kind/enhancement, priority/normal, reviewed/lgtm, reviewed/ok-to-test

#2834 Do not wait for MachineDeployment deletion when mcm is scaled down
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
Labels: area/ops-productivity, area/quality, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2831 Add Testrun for extensions controllers integration test
  .ci/testruns/extensions-controllers.yaml
  .ci/tm-config.yaml
Labels: area/dev-productivity, area/quality, area/robustness, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm

#2835 Fix vpn dashboard
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/vpn.rules.test.yaml
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpn-dashboard.json
Labels: area/monitoring, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2837 Add origin=gardener label to konnectivity agent
  charts/shoot-core/components/charts/konnectivity-agent/templates/daemonset.yaml
Labels: area/quality, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2791 Kube apiserver mount ssl directories instead of files
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
Labels: area/control-plane, needs/ok-to-test, priority/normal, reviewed/lgtm

#2841 Specify default rolling update settings for gardener-apiserver
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/values.yaml
Labels: area/robustness, area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2843 make vpa scale modes for gardener-apiserver's hvpa configurable
  charts/gardener/controlplane/charts/runtime/templates/apiserver/hvpa.yaml
  charts/gardener/controlplane/values.yaml
Labels: area/auto-scaling, area/control-plane, needs/ok-to-test, priority/normal, reviewed/lgtm

#2842 Add /usr/share/ca-certificates mount to kube-apiserver
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2846 Upgrade fluent-bit to version 0.26.0
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2844 Add role label for shoot secrets in project
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/secrets.go
Labels: area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2832 Move GCM webhooks to dedicated Admission Controller
  Dockerfile
  Makefile
  charts/gardener/controlplane/Chart.yaml
  charts/gardener/controlplane/charts/application/templates/rbac-system.yaml
  charts/gardener/controlplane/charts/application/templates/serviceaccount-admission-controller.yaml
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/configmap-componentconfig.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/poddisruptionbudget.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/secret-cert.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/secret-kubeconfig.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/service.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/serviceaccount.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/vpa.yaml
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/secret-cert.yaml
  charts/gardener/controlplane/local-values.yaml
  charts/gardener/controlplane/values.yaml
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-admission-controller/main.go
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  docs/README.md
  docs/concepts/admission-controller.md
  docs/concepts/controller-manager.md
  example/20-componentconfig-gardener-admission-controller.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  hack/local-development/common/helpers
  hack/local-development/dev-setup
  hack/local-development/dev-setup-register-gardener
  hack/local-development/start-admission-controller
  hack/update-codegen.sh
  pkg/admissioncontroller/apis/config/doc.go
  pkg/admissioncontroller/apis/config/register.go
  pkg/admissioncontroller/apis/config/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/defaults.go
  pkg/admissioncontroller/apis/config/v1alpha1/defaults_test.go
  pkg/admissioncontroller/apis/config/v1alpha1/doc.go
  pkg/admissioncontroller/apis/config/v1alpha1/register.go
  pkg/admissioncontroller/apis/config/v1alpha1/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/v1alpha1_suite_test.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/admissioncontroller/apis/config/zz_generated.deepcopy.go
  pkg/admissioncontroller/server/handlers/webhooks/utils.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_kubeconfig_secrets.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_namespace_deletion.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
Labels: area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2848 Set minimum resources for nginx VPA
  charts/shoot-addons/charts/nginx-ingress/templates/vpa.yaml
Labels: area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2850 konnectivity server now logs to stdout
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
Labels: area/control-plane, area/networking, area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2781 Add resource size validator
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  docs/concepts/admission-controller.md
  example/20-componentconfig-gardener-admission-controller.yaml
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/apis/config/helper/helper_suite_test.go
  pkg/admissioncontroller/apis/config/helper/helpers.go
  pkg/admissioncontroller/apis/config/helper/helpers_test.go
  pkg/admissioncontroller/apis/config/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/defaults.go
  pkg/admissioncontroller/apis/config/v1alpha1/defaults_test.go
  pkg/admissioncontroller/apis/config/v1alpha1/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/admissioncontroller/apis/config/validation/admissioncontrollerconfiguration.go
  pkg/admissioncontroller/apis/config/validation/admissioncontrollerconfiguration_test.go
  pkg/admissioncontroller/apis/config/validation/validation_suite_test.go
  pkg/admissioncontroller/apis/config/zz_generated.deepcopy.go
  pkg/admissioncontroller/server/handlers/webhooks/utils.go
  pkg/admissioncontroller/server/handlers/webhooks/utils_test.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_kubeconfig_secrets.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_namespace_deletion.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_resource_size.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_resource_size_test.go
  pkg/admissioncontroller/server/handlers/webhooks/webhooks_suite_test.go
Labels: area/security, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2830 Integration test for BackupBucket extension controller
  .ci/testruns/extensions-controllers.yaml
  .ci/tm-config.yaml
  docs/development/testing_and_dependencies.md
  extensions/pkg/controller/backupbucket/backupbucket_suite_test.go
  extensions/pkg/controller/backupbucket/backupbucket_test.go
  extensions/pkg/controller/backupbucket/controller.go
  extensions/pkg/controller/backupbucket/mapper.go
  extensions/pkg/controller/backupbucket/reconciler.go
  extensions/pkg/controller/backupbucket/test/actuator.go
  extensions/pkg/controller/test/controller.go
  hack/local-development/local-garden/run-kube-apiserver
  hack/local-development/local-garden/run-kube-controller-manager
  hack/setup-envtest.sh
  hack/test-cover.sh
  hack/test.sh
  vendor/github.com/onsi/gomega/gbytes/buffer.go
  vendor/github.com/onsi/gomega/gbytes/io_wrappers.go
  vendor/github.com/onsi/gomega/gbytes/say_matcher.go
  vendor/github.com/onsi/gomega/gexec/build.go
  vendor/github.com/onsi/gomega/gexec/exit_matcher.go
  vendor/github.com/onsi/gomega/gexec/prefixed_writer.go
  vendor/github.com/onsi/gomega/gexec/session.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/crd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/helper.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/server.go
  vendor/sigs.k8s.io/controller-runtime/pkg/envtest/webhook.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/.gitignore
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/README.md
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/addr/manager.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/apiserver.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/control_plane.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/etcd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/apiserver.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/arguments.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/bin_path_finder.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/etcd.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/process.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/tinyca.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/kubectl.go
Labels: area/dev-productivity, area/quality, area/robustness, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm

#2853 Increase default apiservers limits-requests gap.
  charts/gardener/controlplane/values.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
Labels: area/auto-scaling, area/control-plane, kind/post-mortem, needs/ok-to-test, priority/critical

#2855 The metrics server now has readiness and liveness probes
  charts/shoot-core/components/charts/metrics-server/templates/deployment.yaml
Labels: area/auto-scaling, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2860 Fix a bug where admission plugins of one shoot can be applied to all shoots on the same seed
  pkg/client/kubernetes/admissionplugins.go
  pkg/client/kubernetes/admissionplugins_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm

#2861 Fix template issue for admissionPlugin config
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-admission-config.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2857 Enhancement/etcd dashboards
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-api-server-details.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-control-plane-status-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2851 Mixin cluster identities for ControllerRegistrations helm charts
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/factory.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2864 Restrict event dumping to project namespace
  test/framework/gardener_utils.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal

#2770 Fix tryUpdate utility functions to retry on conflict as expected
  extensions/pkg/controller/utils.go
  pkg/utils/kubernetes/update.go
  pkg/utils/kubernetes/update_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2862 Defrag shooted seed etcd-main every day.
  pkg/operation/botanist/controlplane.go
Labels: area/control-plane, kind/post-mortem, needs/ok-to-test, priority/critical, reviewed/lgtm

#2867 Update cluster-role of autoscaler
  charts/shoot-core/components/charts/cluster-autoscaler/templates/clusterrole-cluster-autoscaler.yaml
Labels: area/auto-scaling, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2866 Update istio to 1.7.1
  charts/images.yaml
  charts/istio/istio-crds/README.md
  charts/istio/istio-crds/templates/crd-all.gen.yaml
  charts/istio/istio-ingress/templates/bootstrap-config-override.yaml
  charts/istio/istio-ingress/templates/deployment.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/istio/istio-istiod/values.yaml
  docs/usage/istio.md
  pkg/operation/seed/istio/crds.go
  pkg/operation/seed/istio/crds_test.go
  pkg/operation/seed/seed.go
Labels: area/control-plane, area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2852 align shoot kube-apiserver mounts to be backwards compatible with provider extensions
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  docs/deployment/feature_gates.md
  example/20-componentconfig-gardenlet.yaml
  pkg/features/features.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/controlplane.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2847 Enabling SNI feature gate is now graceful
  charts/seed-controlplane/charts/kube-apiserver-service/templates/kube-apiserver-service.yaml
  charts/seed-controlplane/charts/kube-apiserver-service/values.yaml
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/phase.go
  pkg/operation/botanist/component/phases_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/kube_apiserver_service.go
  pkg/operation/botanist/controlplane/kube_apiserver_service_test.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2806 Support management of external machine dependencies
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/interface.go
Labels: kind/enhancement, needs/ok-to-test, priority/normal

#2877 Fix SNI phase during cluster creation
  pkg/operation/botanist/controlplane.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2870 Add steps for Shoot creation to docs/development/local_setup.md
  docs/concepts/gardenlet.md
  docs/deployment/aks.md
  docs/development/local_setup.md
  docs/development/new-cloud-provider.md
  docs/development/seed_network_policies.md
  docs/extensions/worker.md
  docs/usage/istio.md
  docs/usage/shoot_network_policies.md
Labels: area/dev-productivity, area/documentation, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2876 Vendor github.com/gardener/controller-runtime@v0.6.3-gardener.1
  go.mod
  go.sum
  pkg/client/kubernetes/runtime_client.go
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/go.mod
  vendor/sigs.k8s.io/controller-runtime/go.sum
  vendor/sigs.k8s.io/controller-runtime/pkg/client/apiutil/dynamicrestmapper.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/controller/controller.go
Labels: area/robustness, area/scalability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2878 Fix gardener-admission-controller config mountPath
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/deployment.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2880 Fix informer hasSyncFunc in validate-namespace-deletion webhook
  pkg/admissioncontroller/server/handlers/webhooks/validate_namespace_deletion.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2886 Prevent seed boostrap to delete Shoot VPA webhook
  charts/seed-bootstrap/charts/vpa/charts/application/templates/vpa-webhook-config.yaml
  pkg/operation/common/utils.go
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, priority/normal

#2889 Backup{Bucket,Entry} resources are only reconciled once per 24h
  pkg/controllerutils/miscellaneous.go
  pkg/controllerutils/miscellaneous_test.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_controller.go
  pkg/gardenlet/controller/backupentry/backup_entry_controller.go
Labels: area/robustness, area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2888 Shoot conditions `lastUpdateTime` is no longer updated continuously
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/utils/kubernetes/health/health.go
Labels: area/robustness, area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2897 Dedicated scheme for manager in BackupBucket integration test
  extensions/pkg/controller/backupbucket/backupbucket_test.go
Labels: area/dev-productivity, area/testing, kind/bug, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm

#2904 Fix metrics-test when .spec.kubernetes.allowPrivilegedContainers=false
  test/framework/resources/templates/simple-load-deployment.yaml.tpl
Labels: area/testing, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2902 update istio to 1.7.2
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2900 Delay deletion of the monitoring to keep Grafana available
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2905 Fix cluster-autoscaler test when .spec.kubernetes.allowPrivilegedContainers=false
  test/framework/resources/templates/reserve-capacity.yaml.tpl
Labels: area/testing, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2903 fix secrets.Interface not matching implementing struct secrets.Secrets
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
  pkg/mock/gardener/utils/secrets/mocks.go
  pkg/utils/secrets/secrets.go
Labels: area/control-plane, kind/api-change, needs/ok-to-test, priority/normal, reviewed/lgtm

#2895 Fix wakeup from hibernation when SNI is enabled
  pkg/operation/botanist/controlplane.go
Labels: area/control-plane, kind/regression, needs/ok-to-test, priority/normal, reviewed/lgtm

#2901 Fix kube-apiserver service type when SNI is enabled
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane_test.go
Labels: area/control-plane, kind/regression, needs/ok-to-test, priority/normal, reviewed/lgtm

#2910 Don't unnecessarily retrieve Seed secret
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/operation/operation.go
  pkg/operation/seed/seed.go
  pkg/operation/seed/types.go
  pkg/operation/types.go
Labels: area/cost, area/quality, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2908 Flow progress reporter with frequency
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/operation.go
  pkg/utils/flow/flow.go
  pkg/utils/flow/progress_reporter.go
  pkg/utils/flow/progress_reporter_delaying.go
  pkg/utils/flow/progress_reporter_immediate.go
Labels: area/cost, area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2909 Don't persist machines without provider ID or node name
  extensions/pkg/controller/worker/predicate.go
  extensions/pkg/controller/worker/state_actuator.go
Labels: area/cost, area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2914 Improve worker status summary during rolling update
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2913 Update kube-state-metrics to v1.9.7
  charts/images.yaml
Labels: area/monitoring, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2912 Consolidate gomega matchers
  pkg/apis/core/validation/seed_test.go
  pkg/apis/core/validation/shoot_test.go
  pkg/client/kubernetes/applier_test.go
  pkg/client/kubernetes/chartapplier_test.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
  pkg/client/kubernetes/options.go
  pkg/client/kubernetes/runtime_client.go
  pkg/client/kubernetes/test/options_matchers.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/component/test/monitoringcomponent.go
  pkg/operation/botanist/controlplane/clusterautoscaler/bootstrap_test.go
  pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/controlplane/clusterautoscaler/monitoring_test.go
  pkg/operation/botanist/controlplane/kube_apiserver_service_test.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/controlplane/kubescheduler/monitoring_test.go
  pkg/operation/botanist/controlplane_test.go
  pkg/operation/botanist/dns_test.go
  pkg/operation/botanist/extensions/containerruntime/containerruntime_test.go
  pkg/operation/botanist/extensions/dns/dnsentry_test.go
  pkg/operation/botanist/extensions/dns/dnsowner_test.go
  pkg/operation/botanist/extensions/dns/dnsprovider_test.go
  pkg/operation/botanist/extensions/network/network_test.go
  pkg/operation/seed/istio/crds_test.go
  pkg/utils/test/matchers/deep.go
  pkg/utils/test/matchers/deep_test.go
  pkg/utils/test/matchers/fields.go
  pkg/utils/test/matchers/gomega_suite_test.go
  pkg/utils/test/matchers/kubernetes_errors.go
  pkg/utils/test/matchers/kubernetes_errors_test.go
  pkg/utils/test/matchers/matchers.go
  pkg/utils/validation/cidr/cidr_test.go
  plugin/pkg/controllerregistration/resources/admission_test.go
  plugin/pkg/global/deletionconfirmation/admission_test.go
  plugin/pkg/seed/validator/admission_test.go
  plugin/pkg/shoot/validator/admission_test.go
  plugin/pkg/shootstate/validator/admission_test.go
Labels: area/testing, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm

#2921 Fix GinkgoRecover in BB test
  .gitignore
  extensions/pkg/controller/backupbucket/backupbucket_test.go
Labels: area/testing, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2922 Enhance the precondition check in containerd integration test
  extensions/README.md
  test/integration/shoots/operations/containerruntime.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal

#2924 Add issue template for flaking tests
  .github/ISSUE_TEMPLATE/flaking-test.md
Labels: area/dev-productivity, area/open-source, kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm

#2898 Redeploy Backup{Bucket,Entry} secrets in deletion flow
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2918 Overhaul error code mapping
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2927 Fix min/maxReplica setting for Seed vpa
  pkg/operation/botanist/controlplane.go
Labels: area/auto-scaling, area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#2916 Extension controllers determine codes on error
  extensions/pkg/controller/backupbucket/reconciler.go
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/worker/reconciler.go
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2928 Improve BackupBucket controller test
  .github/ISSUE_TEMPLATE/flaking-test.md
  extensions/pkg/controller/backupbucket/backupbucket_test.go
  pkg/operation/common/extensions.go
  pkg/utils/kubernetes/health/and.go
  pkg/utils/kubernetes/health/and_test.go
  pkg/utils/kubernetes/health/health.go
  pkg/utils/kubernetes/health/health_test.go
Labels: area/testing, kind/flake, needs/ok-to-test, priority/critical, reviewed/lgtm

#2896 More flexibility for ControllerRegistrations deployments
  docs/extensions/controllerregistration.md
  example/25-controllerregistration.yaml
  pkg/apis/core/types_controllerregistration.go
  pkg/apis/core/v1alpha1/types_controllerregistration.go
  pkg/apis/core/v1beta1/types_controllerregistration.go
  pkg/apis/core/validation/controllerregistration.go
  pkg/apis/core/validation/controllerregistration_test.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
Labels: area/usability, kind/bug, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#2911 Set vpa minAllowed resource policy for gardener components
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/vpa.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/vpa.yaml
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/vpa.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/vpa.yaml
  charts/gardener/gardenlet/charts/runtime/templates/vpa.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm
