Repository gardener/gardener, pull requests merged in 2021-12, with the labels that each got.

#5059 [CPM IT] Adding seed-taint-testrun-value property
  .test-defs/MigrateShoot.yaml
  test/framework/shootmigrationtest.go
  test/system/shoot_cp_migration/migrate_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane-migration

#5037 Integrate ETCD Druid v0.7.0 to Gardener
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  example/20-componentconfig-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
Labels: kind/enhancement, size/xl, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5110 Make `cloud-config-downloader` script robust to updates as it runs
  pkg/operation/botanist/component/extensions/operatingsystemconfig/downloader/downloader_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/downloader/templates/scripts/download-cloud-config.tpl.sh
Labels: kind/bug, size/xs, reviewed/lgtm, area/robustness

#5113 Revert #4980 and #5067: "Introduce NodeTemplate in Worker extensions API"
  docs/api-reference/extensions.md
  docs/extensions/worker.md
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions/validation/worker.go
  pkg/apis/extensions/validation/worker_test.go
  pkg/operation/botanist/component/extensions/crds/templates/crd-worker.tpl.yaml
  pkg/operation/botanist/component/extensions/worker/worker.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
  pkg/operation/botanist/worker.go
Labels: kind/bug, kind/api-change, needs/ok-to-test, area/usability, size/m, reviewed/lgtm, merge/squash

#5070 Enhanced the usage doc for NodeLocalDNS
  docs/usage/node-local-dns.md
Labels: area/ops-productivity, size/xs, area/documentation, reviewed/lgtm, kind/cleanup, area/networking

#5011 Eliminate client certificate for `dependency-watchdog-probe`
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/dependencywatchdog/access.go
  pkg/operation/botanist/component/dependencywatchdog/access_test.go
  pkg/operation/botanist/component/dependencywatchdog/bootstrap.go
  pkg/operation/botanist/component/dependencywatchdog/bootstrap_test.go
  pkg/operation/botanist/component/dependencywatchdog/mock/doc.go
  pkg/operation/botanist/component/dependencywatchdog/mock/mocks.go
  pkg/operation/botanist/component/kubeapiserver/dependency_watchdog.go
  pkg/operation/botanist/component/kubeapiserver/dependency_watchdog_test.go
  pkg/operation/botanist/dependency_watchdog.go
  pkg/operation/botanist/dependency_watchdog_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
Labels: kind/enhancement, area/security, size/xl, reviewed/lgtm, merge/squash

#4927 Reject new Shoots with internal apiVersion in infrastructureConfig
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: kind/bug, size/l, reviewed/lgtm, area/control-plane

#5069 enable to allow certain AuthInfo fields
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/client_test.go
  pkg/client/kubernetes/options.go
  test/framework/gardenerframework.go
Labels: kind/enhancement, size/l, reviewed/lgtm, area/testing

#5071 Add access logs to istio ingress-gateway.
  charts/istio/istio-ingress/templates/envoy-filter.yaml
Labels: kind/enhancement, area/networking, size/s

#5073 ManagedSeed: Do not add the Shoot cloud provider credentials into the Seed kubeconfig Secret
  docs/api-reference/core.md
  pkg/apis/core/types_seed.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_seed.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_seed.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator_test.go
  pkg/openapi/openapi_generated.go
Labels: kind/api-change, area/documentation, reviewed/lgtm, kind/cleanup, size/s, area/control-plane

#5086 Generate seed-specific client-cert/kubeconfig for gardenlet in nodeless setup
  hack/local-development/local-garden/certificates/certs/.gitignore
  hack/local-development/local-garden/certificates/certs/gardenlet.crt
  hack/local-development/local-garden/garden-certificate-generator.go
  hack/local-development/local-garden/kubeconfigs/.gitignore
  hack/local-development/local-garden/kubeconfigs/gardenlet.conf
  hack/local-development/start-gardenlet
Labels: kind/enhancement, area/dev-productivity, size/m, reviewed/lgtm

#5091 Enhance SeedAuthorizer to allow `DELETE` requests if resource does not exist in the system
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/mock/mocks.go
  pkg/operation/botanist/component/backupentry/backupentry.go
  pkg/operation/botanist/component/backupentry/backupentry_test.go
Labels: kind/enhancement, area/security, size/m, reviewed/lgtm, merge/squash

#5096 Reduce validity of certificates issued via `CertificateSigningRequest`s from `1y` to `30d`
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
Labels: kind/enhancement, area/security, size/xs, reviewed/lgtm

#5100 Update vpn2 container images to version 0.6.0.
  charts/images.yaml
Labels: kind/enhancement, size/xs, reviewed/lgtm, area/networking

#5103 Ignore loki sts healthcheck if loki is disabled
  pkg/operation/care/checker.go
  pkg/operation/care/health.go
  pkg/operation/care/health_check_test.go
Labels: kind/bug, reviewed/lgtm, area/logging, size/s

#5105 `ControllerRegistration` controller shouldn't hang when there is no internal domain secret
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/operation/garden/garden.go
Labels: kind/bug, size/xs, area/usability, reviewed/lgtm

#5107 Drop references to `extensions` from `pkg/operation`
  extensions/pkg/controller/backupentry/genericactuator/actuator.go
  extensions/pkg/controller/backupentry/util.go
  extensions/pkg/controller/backupentry/util_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/etcdcopybackupstask.go
Labels: kind/enhancement, area/dev-productivity, kind/api-change, size/xs, reviewed/lgtm

#5106 Small enhancements for the test framework
  test/framework/gardener_utils.go
  test/framework/gardenerframework.go
  test/framework/shootcreationframework.go
  test/framework/shootframework.go
Labels: kind/enhancement, reviewed/lgtm, size/s, area/testing, merge/squash

#5097 Add monitoring config in gardenlet helm chart
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#5114 Use 720h instead of 30d for KCM flags
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm

#5095 [GEP-17] Ensure final full snapshot is created and waited for while copying backups
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
  pkg/operation/botanist/component/etcdcopybackupstask/etcdcopybackupstask.go
  pkg/operation/botanist/etcdcopybackupstask.go
  pkg/operation/botanist/etcdcopybackupstask_test.go
Labels: kind/enhancement, size/xs, reviewed/lgtm, area/control-plane-migration

#4926 Prefix DNSRecord secret names to avoid collisions
  docs/extensions/dnsrecord.md
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord_test.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/dnsrecord.go
  pkg/operation/botanist/dnsrecord_test.go
Labels: kind/bug, kind/api-change, needs/ok-to-test, size/l, reviewed/lgtm, area/control-plane, merge/squash

#5112 issue#386 call inject func of mutator to inject client/decoder/apirea…
  extensions/pkg/webhook/handler.go
  extensions/pkg/webhook/mutator.go
Labels: kind/enhancement, size/xs, reviewed/lgtm, area/control-plane

#5117 Fix flaky test in `gardeneraccess` component
  pkg/operation/botanist/component/gardeneraccess/access.go
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, area/testing, kind/flake

#5119 Add timeout to `WaitCleanup` for DNS resources
  pkg/operation/botanist/component/extensions/dns/dnsentry.go
  pkg/operation/botanist/component/extensions/dns/dnsowner.go
  pkg/operation/botanist/component/extensions/dns/dnsprovider.go
  pkg/operation/botanist/dns.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5078 Added heatmaps for dns request latency to dns dashboards.
  charts/seed-monitoring/charts/grafana/dashboards/dns/node-local-dns-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/coredns-dashboard.json
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/networking

#5116 Specify minAllowed for the gardener-resource-manager VPA
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/seed/components.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane, area/auto-scaling

#5056 Refactor `vpnshoot` Helm chart into component
  charts/seed-bootstrap/charts/fluent-bit/templates/_helpers.tpl
  charts/seed-monitoring/charts/core/charts/prometheus/rules-tests/vpn.rules.test.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/vpn.rules.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/_helpers.tpl
  charts/shoot-core/components/charts/vpn-shoot/templates/deployment.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/psp/vpn-shoot-clusterrole.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/psp/vpn-shoot-psp.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/psp/vpn-shoot-rolebinding.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/secret-dh.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/secret-tlsauth.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/secret.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/service-account.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/service.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/vpa.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/vpn-networkpolicy.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/vpn-seed-rbac.yaml
  charts/shoot-core/components/charts/vpn-shoot/values.yaml
  docs/monitoring/operator_alerts.md
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/backupentry_test.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/coredns/coredns.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnshoot/logging.go
  pkg/operation/botanist/component/vpnshoot/logging_test.go
  pkg/operation/botanist/component/vpnshoot/monitoring.go
  pkg/operation/botanist/component/vpnshoot/monitoring_test.go
  pkg/operation/botanist/component/vpnshoot/testdata/monitoring_alertingrules.yaml
  pkg/operation/botanist/component/vpnshoot/vpnshoot.go
  pkg/operation/botanist/component/vpnshoot/vpnshoot_suite_test.go
  pkg/operation/botanist/component/vpnshoot/vpnshoot_test.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/vpnshoot.go
  pkg/operation/botanist/vpnshoot_test.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/care/health.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
  pkg/utils/managedresources/registry.go
Labels: area/dev-productivity, size/xl, needs/ok-to-test, platform/all, area/quality, kind/test, reviewed/lgtm, area/robustness, kind/technical-debt, merge/squash

#5093 Drop support for "ambiguous" gardenlets in `Seed{Authorizer,Restriction}`
  docs/deployment/gardenlet_api_access.md
  pkg/admissioncontroller/seedidentity/identity.go
  pkg/admissioncontroller/seedidentity/identity_test.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/bootstrap/util/util.go
  pkg/gardenlet/bootstrap/util/util_test.go
Labels: kind/enhancement, area/security, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, merge/squash

#5127 Ensure `gardeneraccess` resources are kept even if `ManagedResource` is deleted
  pkg/operation/botanist/component/gardeneraccess/access.go
  pkg/operation/botanist/component/gardeneraccess/access_test.go
Labels: kind/bug, area/security, needs/review, size/xs, needs/ok-to-test

#5124 Remove the DisallowKubeconfigRotationForShootInDeletion feature gate
  docs/deployment/feature_gates.md
  hack/local-development/start-apiserver
  pkg/apiserver/features/features.go
  pkg/features/features.go
Labels: needs/ok-to-test, reviewed/lgtm, kind/cleanup, size/s

#5101 [GEP-17] Let destination gardenlet determine that operation should be restore
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/registry/core/shoot/strategy.go
  pkg/utils/miscellaneous.go
  pkg/utils/miscellaneous_test.go
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane-migration, merge/squash

#5084 Enhance `TokenRequestor` to be able to sync tokens to a `Secret` in the target cluster
  docs/concepts/resource-manager.md
  example/resource-manager/30-secret-tokenrequestor.yaml
  hack/local-development/start-resource-manager
  pkg/apis/resources/v1alpha1/types.go
  pkg/resourcemanager/controller/tokenrequestor/reconciler.go
  pkg/resourcemanager/controller/tokenrequestor/reconciler_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Labels: kind/enhancement, area/security, kind/api-change, needs/ok-to-test, size/m, reviewed/lgtm

#5135 Create owner DNSRecord during shoot deletion
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane, needs/cherry-pick

#5134 Fix usage of `IsDeleting` predicate for extension resources
  extensions/pkg/controller/backupbucket/controller.go
  extensions/pkg/controller/backupentry/controller.go
  extensions/pkg/controller/bastion/controller.go
  extensions/pkg/controller/containerruntime/controller.go
  extensions/pkg/controller/controlplane/controller.go
  extensions/pkg/controller/dnsrecord/controller.go
  extensions/pkg/controller/extension/controller.go
  extensions/pkg/controller/infrastructure/controller.go
  extensions/pkg/controller/network/controller.go
  extensions/pkg/controller/operatingsystemconfig/controller.go
  extensions/pkg/controller/worker/controller.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#5140 [release-v1.37] Automated cherry pick of #5116: Specify minAllowed for the gardener-resource-manager VPA
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/seed/components.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane, area/auto-scaling

#5139 [release-v1.37] Automated cherry pick of #5135: Create owner DNSRecord during shoot deletion
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5126 gardenlet: Switch update strategy when syncing Shoot Secrets to the garden cluster
  pkg/operation/botanist/secrets.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#5111 Extract and collect error codes from ManagedResources
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/operation/botanist/managedresources.go
  pkg/utils/managedresources/managedresources.go
Labels: kind/enhancement, area/ops-productivity, needs/ok-to-test, size/m, reviewed/lgtm

#5058 Make the SecretBinding resource provider specific
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  docs/README.md
  docs/api-reference/core.md
  docs/deployment/feature_gates.md
  docs/deployment/secret_binding_provider_controller.md
  example/20-componentconfig-gardener-controller-manager.yaml
  example/80-secretbinding.yaml
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/types_secretbinding.go
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_secretbinding.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_secretbinding.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/secretbinding.go
  pkg/apis/core/validation/secretbinding_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/features/features.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/secretbinding/secretbinding.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding_provider_control.go
  pkg/features/features.go
  pkg/openapi/openapi_generated.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
  plugin/pkg/shoot/validator/validator_suite_test.go
Labels: kind/enhancement, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, area/scalability, merge/squash

#5092 Make seed lease/duration configurable
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  cmd/gardenlet/app/gardenlet.go
  example/20-componentconfig-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/seed/lease_control.go
  pkg/gardenlet/controller/seed/lease_control_test.go
  pkg/gardenlet/controller/seed/seed.go
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/scalability, merge/squash

#5145 Enable `TokenRequestor` to regenerate tokens even if renew timestamp is not yet reached
  pkg/resourcemanager/controller/tokenrequestor/reconciler.go
  pkg/resourcemanager/controller/tokenrequestor/reconciler_test.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/m, reviewed/lgtm, area/robustness, merge/squash

#5120 Update docker shim removal w.r.t. SuSE CHost
  docs/usage/docker-shim-removal.md
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm, os/suse-chost

#5148 Keep the namespace and pod labels
  charts/seed-bootstrap/charts/monitoring/templates/config.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#5144 Disable etcd backup compaction by default
  charts/gardener/gardenlet/values.yaml
  example/20-componentconfig-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#5146 Deploy `GardenerAccess` component in shoot deletion flow
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/robustness

#5143 Enhancements in the hibernation integration tests to make the compatible with ManagedSeeds
  test/framework/k8s_utils.go
  test/framework/shootframework.go
  test/system/shoot_hibernation/hibernation_test.go
  test/system/shoot_hibernation_wakeup/hibernation_test.go
Labels: kind/enhancement, needs/review, size/xs, needs/ok-to-test, area/testing

#5137 Add data model overview
  docs/concepts/apiserver.md
  docs/concepts/gardener-data-model-overview.png
Labels: needs/review, size/xs, needs/ok-to-test, area/documentation

#5129 Add version skew policy document
  docs/README.md
  docs/concepts/gardenlet.md
  docs/deployment/version_skew_policy.md
Labels: kind/enhancement, needs/ok-to-test, area/documentation, area/open-source, reviewed/lgtm, size/s

#5152 Update to golang@1.17.5
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/GardenletLandscaper.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#5151 Fix json tags for etcd worker config
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
Labels: kind/api-change, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane, merge/squash, needs/cherry-pick

#5149 Fix Shoot ClientSet hash calculation in ClientMap
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
Labels: kind/bug, area/security, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5155 [release-v1.37] Automated cherry pick of #5151: Fix json tags for etcd worker config
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
Labels: kind/api-change, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane, merge/squash

#5039 Add note that removing node-local-dns can be a destructive operation to docs
  docs/usage/node-local-dns.md
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm, merge/squash

#5161 [release-v1.37] Upgrade etcd-druid
  charts/images.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5131 Several improvements for the `resources.gardener.cloud/preserve-{replicas,resources}` option for managed resources
  docs/concepts/resource-manager.md
  pkg/apis/resources/v1alpha1/types.go
  pkg/resourcemanager/controller/managedresource/merger.go
  pkg/resourcemanager/controller/managedresource/merger_test.go
Labels: kind/bug, kind/enhancement, kind/api-change, needs/ok-to-test, size/m, reviewed/lgtm, area/scalability, merge/squash

#5125 Always drop 'reference' annotations in managed resources
  pkg/resourcemanager/controller/managedresource/merger.go
  pkg/resourcemanager/controller/managedresource/merger_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm

#5118 Introduce logic to initialize NodeTemplate in worker resource
  docs/api-reference/extensions.md
  docs/extensions/worker.md
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions/validation/worker.go
  pkg/apis/extensions/validation/worker_test.go
  pkg/operation/botanist/component/extensions/crds/templates/crd-worker.tpl.yaml
  pkg/operation/botanist/component/extensions/worker/worker.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
  pkg/operation/botanist/worker.go
Labels: kind/enhancement, area/performance, kind/api-change, needs/ok-to-test, size/m, reviewed/lgtm, area/high-availability, area/auto-scaling, area/scalability, merge/squash

#5167 Do not overwrite spec.selector for Jobs
  pkg/resourcemanager/controller/managedresource/merger.go
  pkg/resourcemanager/controller/managedresource/merger_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#5165 Add rateLimit fields to DNSProvider CRD
  pkg/operation/botanist/component/extensions/crds/templates/crd-dnsowner.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-dnsprovider.tpl.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5128 🛡 Switch seed components to projected `ServiceAccount` tokens
  charts/istio/istio-ingress/templates/deployment.yaml
  charts/istio/istio-ingress/templates/serviceaccount.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/istio/istio-istiod/templates/serviceaccount.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-daemonset.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-service-account.yaml
  charts/seed-bootstrap/charts/hvpa/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/kube-state-metrics/templates/deployment.yaml
  charts/seed-bootstrap/charts/kube-state-metrics/templates/serviceaccount.yaml
  charts/seed-bootstrap/charts/monitoring/templates/serviceaccount.yaml
  charts/seed-bootstrap/charts/monitoring/templates/statefulset.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/serviceaccount.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/serviceaccount-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/serviceaccount-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/serviceaccount-updater.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-updater.yaml
  charts/seed-bootstrap/templates/aggregate-prometheus/serviceaccount.yaml
  charts/seed-bootstrap/templates/aggregate-prometheus/statefulset.yaml
  charts/seed-bootstrap/templates/grafana/grafana-deployment.yaml
  charts/seed-bootstrap/templates/prometheus/serviceaccount.yaml
  charts/seed-bootstrap/templates/prometheus/statefulset.yaml
  charts/seed-bootstrap/templates/vpa-exporter/deployment-exporter.yaml
  charts/seed-bootstrap/templates/vpa-exporter/serviceaccount-exporter.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  pkg/operation/botanist/component/dependencywatchdog/bootstrap.go
  pkg/operation/botanist/component/dependencywatchdog/bootstrap_test.go
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller_test.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5168 Fix ManagedResource example CRD
  example/resource-manager/10-crd-managedresource.yaml
  example/resource-manager/10-crd-resources.gardener.cloud_managedresources.yaml
  example/seed-crds/10-crd-resources.gardener.cloud_managedresources.yaml
  pkg/apis/resources/v1alpha1/types.go
Labels: kind/bug, kind/api-change, needs/ok-to-test, needs/second-opinion, area/quality, size/m

#5108 Add gardener step which checks the docforge manifest
  .ci/verify
  Makefile
  hack/check-docforge.sh
  hack/tools.mk
Labels: kind/enhancement, needs/review, needs/ok-to-test, area/documentation, size/s

#5170 🛡 Switch `cluster-autoscaler` to projected `ServiceAccount` token
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler_test.go
Labels: kind/enhancement, reviewed/ok-to-test, area/security, needs/review, needs/ok-to-test, size/s

#5171 Cleanup loki `ServiceAccount` in seed controller
  pkg/operation/seed/seed.go
Labels: area/security, needs/review, size/xs, needs/ok-to-test, kind/cleanup

#5174 Deploy `gardener-resource-manager` first in the seed reconciliation
  pkg/operation/seed/seed.go
Labels: kind/bug, needs/ok-to-test, area/usability, reviewed/lgtm, size/s

#5172 Ensure GRM token webhooks apply for kubernetes-dashboard namespace
  charts/shoot-addons/charts/kubernetes-dashboard/templates/namespace.yaml
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
Labels: kind/bug, reviewed/ok-to-test, area/security, needs/review, size/xs, needs/ok-to-test

#5138 🛡 Eliminate client certificate for `gardener-resource-manager`
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/botanist/wanted_secrets.go
Labels: kind/enhancement, area/security, size/xl, reviewed/lgtm, merge/squash

#5121 🛡 Eliminate client certificate for `cloud-config-downloader`
  pkg/operation/botanist/component/extensions/operatingsystemconfig/downloader/downloader.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/downloader/downloader_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/downloader/templates/scripts/download-cloud-config.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/wanted_secrets.go
Labels: kind/enhancement, area/security, needs/changes, needs/review, needs/second-opinion, size/l, merge/squash

#5160 Add graphics to document GRM projected service account tokens
  docs/concepts/apiserver.md
  docs/concepts/architecture.md
  docs/concepts/gardenlet.md
  docs/concepts/images/gardener-architecture-detailed.png
  docs/concepts/images/gardener-architecture-overview.png
  docs/concepts/images/gardener-data-model-overview.png
  docs/concepts/images/gardenlet-architecture-detailed.png
  docs/concepts/images/gardenlet-architecture-similarities.png
  docs/concepts/images/resource-manager-projected-token-controlplane-to-shoot-apiserver.jpg
  docs/concepts/images/resource-manager-projected-token-shoot-to-shoot-apiserver.jpg
  docs/concepts/images/resource-manager-token-invalidator.jpg
  docs/concepts/resource-manager.md
Labels: area/security, size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm

#5177 Add shoot TechnicalID to KAS cert
  pkg/operation/botanist/wanted_secrets.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5183 `make generate` to fix the failing `make check-generate`
  charts/gardener/provider-local/registration/templates/controller-registration.yaml
  example/provider-local/base/controller-registration.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm

#5182 (Re)bootstrap GRM when renew annotation is missing
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
Labels: kind/bug, area/security, size/xs, needs/ok-to-test, reviewed/lgtm

#5104 Clean up `VolumeSnapshots` and `VolumeSnapshotContents`
  docs/usage/shoot_cleanup.md
  pkg/client/kubernetes/types.go
  pkg/operation/botanist/cleanup.go
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/client_test.go
Labels: kind/enhancement, area/ops-productivity, needs/ok-to-test, size/l, reviewed/lgtm, merge/squash

#5123 [GEP-17] Add force restoring of shoots and backup entries
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  docs/api-reference/core.md
  docs/deployment/feature_gates.md
  example/20-componentconfig-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/types_backupentry.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_backupentry.go
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_backupentry.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/controllerutils/seedfilter.go
  pkg/features/features.go
  pkg/gardenlet/apis/config/helper/helpers.go
  pkg/gardenlet/apis/config/helper/helpers_test.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/backupentry/backup_entry.go
  pkg/gardenlet/controller/backupentry/backup_entry_migration_controller.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_migration_control.go
  pkg/gardenlet/features/features.go
  pkg/openapi/openapi_generated.go
  pkg/registry/core/shoot/strategy.go
Labels: kind/enhancement, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration, merge/squash

#5187 Adds worker finalizer during restore operation
  extensions/pkg/controller/worker/reconciler.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#5190 Nit: Correct the version of the ForceRestore feature gate
  docs/deployment/feature_gates.md
  pkg/features/features.go
Labels: size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm

#5122 Refactor `node-local-dns` Helm chart into component
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/_helpers.tpl
  charts/shoot-core/components/charts/nodelocal-dns/templates/configmap.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/daemonset.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/psp/nodelocal-dns-clusterrole.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/psp/nodelocal-dns-psp.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/psp/nodelocal-dns-rolebinding.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/service.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/serviceaccount.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/vpa.yaml
  charts/shoot-core/components/charts/nodelocal-dns/values.yaml
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/component/nodelocaldns/monitoring.go
  pkg/operation/botanist/component/nodelocaldns/monitoring_test.go
  pkg/operation/botanist/component/nodelocaldns/nodelocaldns.go
  pkg/operation/botanist/component/nodelocaldns/nodelocaldns_suite_test.go
  pkg/operation/botanist/component/nodelocaldns/nodelocaldns_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/networkpolicies.go
  pkg/operation/botanist/nodelocaldns.go
  pkg/operation/botanist/nodelocaldns_test.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/care/health.go
  pkg/operation/common/types.go
  pkg/operation/seed/components.go
  pkg/operation/shoot/types.go
Labels: area/dev-productivity, size/xl, needs/ok-to-test, area/quality, kind/test, reviewed/lgtm, area/robustness, kind/technical-debt, merge/squash

#5196 [release-v1.36] Automated cherry pick of #5187: Adds worker finalizer during restore operation
  extensions/pkg/controller/worker/reconciler.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#5195 [release-v1.37] Automated cherry pick of #5187: Adds worker finalizer during restore operation
  extensions/pkg/controller/worker/reconciler.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#5194 [release-v1.38] Automated cherry pick of #5187: Adds worker finalizer during restore operation
  extensions/pkg/controller/worker/reconciler.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#5198 Add label to etcd to allow seed API server connections
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane, priority/1, needs/cherry-pick

#5199 [release-v1.37] Automated cherry pick of #5198: Add label to etcd to allow seed API server connections
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5200 [release-v1.38] Automated cherry pick of #5198: Add label to etcd to allow seed API server connections
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5201 Prevent excessive updates of `shoot-access-cloud-config-downloader` Secret on creation
  pkg/resourcemanager/controller/tokenrequestor/reconciler.go
  pkg/resourcemanager/controller/tokenrequestor/reconciler_test.go
Labels: kind/bug, area/security, needs/ok-to-test, reviewed/lgtm, size/s

#5202 Prevent code generation after new release
  charts/gardener/provider-local/extension/doc.go
  charts/gardener/provider-local/registration/templates/controller-registration.yaml
  example/provider-local/base/controller-registration.yaml
  hack/generate-controller-registration.sh
Labels: area/delivery, size/xs, needs/ok-to-test, reviewed/lgtm, kind/regression

#5175 Add logging developer guideline
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardener-resource-manager/main.go
  cmd/gardenlet/app/gardenlet.go
  docs/README.md
  docs/development/logging.md
  extensions/pkg/controller/backupentry/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/state_reconciler.go
  extensions/pkg/terraformer/state.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/waiter.go
  extensions/pkg/webhook/controlplane/genericmutator/mutator.go
  extensions/pkg/webhook/controlplane/genericmutator/mutator_test.go
  extensions/pkg/webhook/handler.go
  pkg/admissioncontroller/webhooks/admission/kubeconfigsecret/admission.go
  pkg/admissioncontroller/webhooks/admission/namespacedeletion/admission.go
  pkg/admissioncontroller/webhooks/admission/resourcesize/admission.go
  pkg/admissioncontroller/webhooks/admission/resourcesize/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph.go
  pkg/admissioncontroller/webhooks/auth/seed/handler.go
  pkg/client/kubernetes/cache/cache.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap.go
  pkg/controllermanager/controller/bastion/bastion.go
  pkg/controllermanager/controller/bastion/bastion_control.go
  pkg/controllermanager/controller/certificatesigningrequest/certificatesigningrequest.go
  pkg/controllermanager/controller/certificatesigningrequest/csr_autoapprove_control.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile_control.go
  pkg/controllerutils/worker.go
  pkg/envtest/apiserver.go
  pkg/envtest/environment.go
  pkg/logger/logrus.go
  pkg/resourcemanager/controller/health/reconciler.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
  pkg/resourcemanager/controller/secret/reconciler.go
  pkg/seedadmissioncontroller/webhooks/admission/extensionresources/admission.go
  pkg/server/server.go
Labels: kind/enhancement, area/dev-productivity, needs/changes, needs/ok-to-test, needs/second-opinion, area/documentation, size/l, area/logging, merge/squash
