Repository gardener/gardener, pull requests merged in 2021-03, with the labels that each got.

#3636 [release-v1.15] Fix potential nil pointer when validating pid reservations
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3635 [release-v1.16] Fix potential nil pointer when validating pid reservations
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3634 [release-v1.17] Fix potential nil pointer when validating pid reservations
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3596 Restart CoreDNS on each maintenance
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-deployment.yaml
  charts/shoot-core/components/charts/coredns/values.yaml
  docs/usage/shoot_maintenance.md
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/common/types.go
Labels: area/networking, kind/discussion, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3639 [v1.16] Cherry-pick Add VPA resources for istiod
  charts/istio/istio-istiod/templates/autoscale.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  pkg/operation/seed/istio/istiod.go
  pkg/operation/seed/istio/istiod_test.go
Labels: area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3637 Graceful BackupEntry deletion for specific shoot purposes
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  docs/concepts/gardenlet.md
  docs/extensions/backupentry.md
  example/20-componentconfig-gardenlet.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/validation/validation.go
  pkg/gardenlet/apis/config/validation/validation_test.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/backupentry/backupentry.go
  pkg/operation/botanist/backupentry/backupentry_test.go
Labels: area/backup, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l

#3650 Update link to KEP
  docs/concepts/gardenlet.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3628 Update GEP-13, esp. ManagedSeed and ManagedSeedSet sections
  docs/proposals/13-automated-seed-management.md
Labels: area/documentation, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3642 clarify how worker group kubelet configuration behaves
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/openapi/openapi_generated.go
Labels: area/quality, kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, priority/normal, size/xs

#3648 Remove DirectClient usage in integration tests
  test/framework/applications/guestbooktest.go
  test/framework/dump.go
  test/framework/gardener_utils.go
  test/framework/k8s_utils.go
  test/framework/managedseedframework.go
  test/framework/plant_utils.go
  test/framework/rootpod_executor.go
  test/framework/seedregistrationframework.go
  test/framework/shoot_utils.go
  test/framework/shootframework.go
  test/framework/shootmigrationtest.go
  test/integration/gardener/scheduler/scheduler_test.go
  test/integration/gardener/security/rbac.go
  test/integration/plants/plant.go
  test/integration/shoots/applications/metrics.go
  test/integration/shoots/applications/networking.go
  test/integration/shoots/care/shoot_care.go
  test/integration/shoots/logging/seed_logging_stack.go
  test/integration/shoots/logging/utils.go
  test/integration/shoots/maintenance/maintenance.go
  test/integration/shoots/operatingsystem/os.go
  test/integration/shoots/operations/clusterautoscaler.go
  test/system/complete_reconcile/gardener_reconcile_test.go
  test/system/managed_seed_deletion/delete_test.go
  test/system/seed_deletion/delete_test.go
  test/system/shoot_cp_migration/migrate_test.go
  test/system/shoot_deletion/delete_test.go
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3641 Use patches for working on finalizers
  extensions/pkg/controller/backupbucket/backupbucket_test.go
  extensions/pkg/controller/backupbucket/reconciler.go
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/worker/reconciler.go
  extensions/pkg/controller/worker/reconciler_test.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientset.go
  pkg/client/kubernetes/fake/clientset.go
  pkg/client/kubernetes/mock/mocks.go
  pkg/client/kubernetes/types.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_control_test.go
  pkg/controllermanager/controller/controllerregistration/seed_control.go
  pkg/controllermanager/controller/controllerregistration/seed_control_test.go
  pkg/controllermanager/controller/plant/plant_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/controllermanager/controller/quota/quota_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control.go
  pkg/controllermanager/controller/shoot/shoot_reference_control.go
  pkg/controllerutils/finalizers.go
  pkg/controllerutils/finalizers_test.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_reconciler.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/managedseed/managedseed_reconciler.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/mock/controller-runtime/client/doc.go
  pkg/mock/controller-runtime/client/mocks.go
Labels: area/dev-productivity, area/scalability, kind/cleanup, kind/technical-debt, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3654 Cleanup usage of PartialObjectMetadataList
  pkg/admissioncontroller/webhooks/validate_namespace_deletion.go
  pkg/admissioncontroller/webhooks/validate_namespace_deletion_test.go
  pkg/controllermanager/controller/project/project_control_delete.go
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3646 Dedicated packages for webhook handlers in GSAC
  cmd/gardener-seed-admission-controller/app/gardener_seed_admission_controller.go
  pkg/operation/botanist/seedsystemcomponents/seedadmission/seedadmission.go
  pkg/operation/seed/scheduler/gardener_kube_scheduler_bootstrap.go
  pkg/seedadmission/constants.go
  pkg/seedadmission/pod_scheduler_name_test.go
  pkg/seedadmissioncontroller/extensioncrds_suite_test.go
  pkg/seedadmissioncontroller/podschedulername_suite_test.go
  pkg/seedadmissioncontroller/seedadmission_suite_test.go
  pkg/seedadmissioncontroller/webhooks/admission/admission_suite_test.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/admission.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/admission_test.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/extensioncrds_suite_test.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/backupbucket.yaml
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/backupentry.yaml
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/containerruntime.yaml
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/controlplane.yaml
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/extension.yaml
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/infra.yaml
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/network.yaml
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/osc.yaml
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/worker.yaml
  pkg/seedadmissioncontroller/webhooks/admission/podschedulername/admission.go
  pkg/seedadmissioncontroller/webhooks/admission/podschedulername/admission_test.go
  pkg/seedadmissioncontroller/webhooks/admission/podschedulername/podschedulername_suite_test.go
  pkg/seedadmissioncontroller/webhooks/admission/request.go
  pkg/seedadmissioncontroller/webhooks/admission/request_test.go
Labels: area/dev-productivity, kind/cleanup, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3645 Add error code for retryable configuration problems
  docs/usage/shoot_status.md
  pkg/apis/core/types_common.go
  pkg/apis/core/v1alpha1/types_common.go
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/apis/core/v1beta1/types_common.go
Labels: area/ops-productivity, kind/api-change, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3655 Conformance: additional infos + remove testgrid info due to testgrid error
  README.md
Labels: area/documentation, area/testing, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3653 Fix issues with hanging Seed deletion
  pkg/gardenlet/controller/federatedseed/seed_control.go
  pkg/gardenlet/controller/seed/seed_control.go
Labels: area/usability, kind/bug, merge/keep-commits, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3649 Add missing unit tests for DeployControlPlane{Exposure}
  pkg/operation/botanist/controlplane_test.go
Labels: area/dev-productivity, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3633 Promote `ManagedIstio` and `APIServerSNI` feature gates
  docs/deployment/feature_gates.md
  docs/usage/shooted_seed.md
  example/20-componentconfig-gardenlet.yaml
  pkg/features/features.go
  pkg/gardenlet/features/features.go
Labels: area/open-source, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3661 IgnoreNotFound when removing plant finalizer
  pkg/controllermanager/controller/plant/plant_control.go
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3664 [release-v1.18] IgnoreNotFound when removing plant finalizer
  pkg/controllermanager/controller/plant/plant_control.go
Labels: needs/ok-to-test, reviewed/lgtm, reviewed/ok-to-test, size/xs

#3665 [release-v1.18] Add error code for retryable configuration problems (#3645)
  docs/usage/shoot_status.md
  pkg/apis/core/types_common.go
  pkg/apis/core/v1alpha1/types_common.go
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/apis/core/v1beta1/types_common.go
Labels: kind/api-change, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3662 Extend list of non-retryable error codes
  docs/usage/shoot_status.md
  pkg/apis/core/types_common.go
  pkg/apis/core/v1alpha1/types_common.go
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/apis/core/v1beta1/types_common.go
Labels: area/ops-productivity, area/scalability, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3669 [release-v1.18] Extend list of non-retryable error codes
  docs/usage/shoot_status.md
  pkg/apis/core/types_common.go
  pkg/apis/core/v1alpha1/types_common.go
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/apis/core/v1beta1/types_common.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/xs

#3670 Increase BackupBucket controller test timeouts
  extensions/pkg/controller/backupbucket/backupbucket_test.go
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3594 Add some stabilisation changes for logging Int test and dump Loki an…
  test/framework/resources/templates/block-loki-validatingwebhookconfiguration.yaml.tpl
  test/framework/resources/templates/templates.go
  test/integration/shoots/logging/loki_tenant.go
  test/integration/shoots/logging/utils.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3680 Prepare next dev cycle v1.19.0-dev
  VERSION
Labels: needs/ok-to-test, reviewed/lgtm

#3677 Fix debootstrap of Seed
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/seed/seed_control.go
Labels: kind/bug, kind/regression, needs/ok-to-test, reviewed/do-not-merge, reviewed/lgtm, size/xs

#3658 Cleanup context.TODO(), migrate from DeprecatedCreateWorker to CreateWorker (1)
  cmd/gardener-scheduler/app/gardener_scheduler.go
  pkg/controllermanager/controller/certificatesigningrequest/certificatesigningrequest.go
  pkg/controllermanager/controller/certificatesigningrequest/csr_autoapprove_control.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile_control.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_quota_control.go
  pkg/controllermanager/controller/shoot/shoot_reference_control.go
  pkg/scheduler/controller/shoot/scheduler.go
  pkg/scheduler/controller/shoot/scheduler_control.go
  test/framework/shootframework.go
Labels: area/dev-productivity, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3657 Update GEP template and process
  docs/proposals/00-template.md
  docs/proposals/06-etcd-druid.md
  docs/proposals/README.md
  docs/proposals/assets/druid_integration.png
Labels: area/dev-productivity, area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#3675 Increase CoreDNS memory limits to avoid OOMKill.
  charts/shoot-core/components/charts/coredns/values.yaml
Labels: area/control-plane, area/scalability, kind/enhancement, kind/test, reviewed/lgtm, reviewed/ok-to-test

#3678 Automated cherry pick of #3677: Fix debootstrap of Seed
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/seed/seed_control.go
Labels: kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#3638 [GEP-13] Add ManagedSeedSet APIs
  hack/api-reference/core.md
  hack/api-reference/seedmanagement.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/seedmanagement/register.go
  pkg/apis/seedmanagement/types_managedseed.go
  pkg/apis/seedmanagement/types_managedseedset.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed_test.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseedset.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseedset_test.go
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/register.go
  pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/types_managedseedset.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.conversion.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.defaults.go
  pkg/apis/seedmanagement/zz_generated.deepcopy.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/fake/fake_managedseedset.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/fake/fake_seedmanagement_client.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/generated_expansion.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/managedseedset.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/seedmanagement_client.go
  pkg/client/seedmanagement/informers/externalversions/generic.go
  pkg/client/seedmanagement/informers/externalversions/seedmanagement/v1alpha1/interface.go
  pkg/client/seedmanagement/informers/externalversions/seedmanagement/v1alpha1/managedseedset.go
  pkg/client/seedmanagement/listers/seedmanagement/v1alpha1/expansion_generated.go
  pkg/client/seedmanagement/listers/seedmanagement/v1alpha1/managedseedset.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
Labels: area/control-plane, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3671 Seed name identification from user information
  pkg/admissioncontroller/webhooks/auth/seed/identity.go
  pkg/admissioncontroller/webhooks/auth/seed/identity_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/controllermanager/controller/certificatesigningrequest/csr_autoapprove_control.go
  pkg/gardenlet/bootstrap/bootstrap.go
  pkg/gardenlet/bootstrap/util/util.go
  pkg/gardenlet/bootstrap/util/util_test.go
Labels: area/security, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/m

#3674 Add hack/cherry-pick-pull.sh
  docs/development/process.md
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, needs/ok-to-test, reviewed/lgtm, size/m

#3673 Fix update of generatedSecretRef in status of backupBucket
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
Labels: area/control-plane, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xs

#3562 Use separate ManagedResource for ControlPlane CRDs that are installed in the Shoot cluster
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
  extensions/pkg/controller/controlplane/genericactuator/mock/mocks.go
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m

#3686 Fix etcd-druid seed unbootstrap
  pkg/operation/botanist/controlplane/etcd/bootstrap.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3684 Ensure kubelet CSRs get approved after one year
  pkg/operation/botanist/extensions/operatingsystemconfig/downloader/downloader.go
  pkg/operation/botanist/extensions/operatingsystemconfig/downloader/downloader_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, size/s

#3689 Automated cherry pick of #3686: Fix etcd-druid seed unbootstrap
  pkg/operation/botanist/controlplane/etcd/bootstrap.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3688 Update to golang@1.15.9
  Dockerfile
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3691 Fix scaling of some istio (and SNI) components
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/operation/botanist/component/istio/istiod.go
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3690 Enhance cherry-pick-pull.sh to transport also the release notes
  docs/development/process.md
  hack/cherry-pick-pull.sh
  hack/install-requirements.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3692 Automated cherry pick of #3691: Fix istio scaling
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/operation/seed/istio/istiod.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3693 Automated cherry pick of #3691: Fix istio scaling
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/operation/seed/istio/istiod.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3694 Automated cherry pick of #3691: Fix istio scaling
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/operation/seed/istio/istiod.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3643 [GEP-13] Add ManagedSeedSet validation
  cmd/gardenlet/app/gardenlet.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/apis/seedmanagement/validation/managedseed_test.go
  pkg/apis/seedmanagement/validation/managedseedset.go
  pkg/apis/seedmanagement/validation/managedseedset_test.go
  pkg/gardenlet/apis/config/validation/validation.go
  pkg/gardenlet/apis/config/validation/validation_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#3682 VPA minAllowed configuration for metrics-server.
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
Labels: area/control-plane, area/high-availability, area/robustness, area/scalability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3698 [release-v1.16] Automated cherry pick of #3682: VPA minAllowed configuration for metrics-server.
  pkg/operation/botanist/systemcomponents/metricsserver/metrics_server.go
  pkg/operation/botanist/systemcomponents/metricsserver/metrics_server_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3697 [release-v1.17] Automated cherry pick of #3682: VPA minAllowed configuration for metrics-server.
  pkg/operation/botanist/systemcomponents/metricsserver/metrics_server.go
  pkg/operation/botanist/systemcomponents/metricsserver/metrics_server_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3695 [release-v1.18] Automated cherry pick of #3682: VPA minAllowed configuration for metrics-server.
  pkg/operation/botanist/systemcomponents/metricsserver/metrics_server.go
  pkg/operation/botanist/systemcomponents/metricsserver/metrics_server_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3696 Prefix cherry-pick PR title with the release branch name
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, priority/1, reviewed/lgtm, size/xs

#3702 [release-v1.17] Automated cherry pick of #3670: Increase BackupBucket controller test timeouts
  extensions/pkg/controller/backupbucket/backupbucket_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3660 [GEP-13] Make ManagedSeed spec.shoot field optional
  hack/api-reference/seedmanagement.md
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/apis/seedmanagement/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.conversion.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/apis/seedmanagement/validation/managedseed_test.go
  pkg/apis/seedmanagement/validation/managedseedset.go
  pkg/apis/seedmanagement/validation/managedseedset_test.go
  pkg/apis/seedmanagement/zz_generated.deepcopy.go
  pkg/controllerutils/seedfilter.go
  pkg/controllerutils/seedfilter_test.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator_test.go
  pkg/gardenlet/controller/managedseed/managedseed_reconciler_test.go
  pkg/gardenlet/controller/shoot/seed_registration_control.go
  pkg/gardenlet/controller/shoot/seed_registration_control_test.go
  pkg/openapi/openapi_generated.go
  pkg/registry/seedmanagement/managedseed/storage/tableconvertor.go
  pkg/registry/seedmanagement/managedseed/strategy.go
  pkg/registry/seedmanagement/managedseed/strategy_test.go
  pkg/utils/kubernetes/managedseed_test.go
  plugin/pkg/managedseed/validator/admission.go
  plugin/pkg/managedseed/validator/admission_test.go
  plugin/pkg/shoot/managedseed/admission_test.go
  test/framework/managedseedframework.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#3703 [release-v1.16] Automated cherry pick of #3670: Increase BackupBucket controller test timeouts
  extensions/pkg/controller/backupbucket/backupbucket_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3705 Automated cherry pick of #3684: Ensure kubelet CSRs get approved after one year
  pkg/operation/botanist/extensions/operatingsystemconfig/downloader/downloader.go
  pkg/operation/botanist/extensions/operatingsystemconfig/downloader/downloader_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#3701 [release-v1.18] Automated cherry pick of #3670: Increase BackupBucket controller test timeouts
  extensions/pkg/controller/backupbucket/backupbucket_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3704 Automated cherry pick of #3684: Ensure kubelet CSRs get approved after one year
  pkg/operation/botanist/extensions/operatingsystemconfig/downloader/downloader.go
  pkg/operation/botanist/extensions/operatingsystemconfig/downloader/downloader_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#3706 Include seed-specific namespace in SeedAuthorizer graph
  docs/deployment/gardenlet_api_access_graph.png
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_seed.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#3687 Allow ingress traffic to coredns from a pod running with hostNetwork
  charts/shoot-core/components/charts/coredns/templates/coredns-networkpolicy.yaml
  charts/shoot-core/components/charts/coredns/values.yaml
  pkg/operation/botanist/addons.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3710 Correct link to cherry-pick doc
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, needs/ok-to-test, reviewed/lgtm, size/xs

#3708 Add CloudProfile handling to SeedAuthorizer
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  docs/deployment/gardenlet_api_access.md
  hack/local-development/local-garden/run-kube-apiserver
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#3681 Cleanup context.TODO(), migrate from DeprecatedCreateWorker to CreateWorker (2)
  pkg/controllermanager/controller/plant/plant.go
  pkg/controllermanager/controller/plant/plant_control.go
  pkg/controllermanager/controller/plant/plant_types.go
  pkg/controllermanager/controller/project/project.go
  pkg/controllermanager/controller/project/project_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/controllermanager/controller/project/project_control_reconcile_test.go
  pkg/controllermanager/controller/project/project_stale_control.go
  pkg/controllermanager/controller/project/project_stale_control_test.go
  pkg/controllermanager/controller/quota/quota.go
  pkg/controllermanager/controller/quota/quota_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control_test.go
  pkg/controllermanager/controller/shoot/configmap_control.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xl

#3714 Fix broken head-update-master pipeline
  pkg/openapi/openapi_generated.go
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3716 Fix shoot care check
  pkg/operation/operation.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
Labels: area/usability, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s

#3718 Update RBAC for GAC
  charts/gardener/controlplane/charts/application/templates/rbac-system.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3719 Migrate default resource lock to leases
  charts/gardener/controlplane/values.yaml
  charts/gardener/gardenlet/values.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  example/20-componentconfig-gardener-scheduler.yaml
  example/20-componentconfig-gardenlet.yaml
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/defaults_test.go
Labels: area/scalability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#3715 Random cloud-config user data execution delay per shoot worker node
  pkg/operation/botanist/component/extensions/operatingsystemconfig/downloader/downloader.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/bindata.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
  pkg/operation/botanist/worker.go
Labels: area/robustness, area/scalability, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#3709 Merge extensions/pkg/util/test into pkg/utils/test
  extensions/pkg/controller/cmd/cmd_test.go
  extensions/pkg/controller/cmd/options_test.go
  extensions/pkg/util/test/test.go
  extensions/pkg/webhook/cmd/options_test.go
  pkg/utils/test/options.go
  pkg/utils/test/test_test.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#3721 Increase initialDelaySeconds to 40 for nginx-ingress probes
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
Labels: area/scalability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3730 Fix client.Reader injection
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
Labels: kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#3731 [release-v1.18] Automated cherry pick of #3730: Fix client.Reader injection
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
Labels: kind/bug, kind/regression, needs/ok-to-test, needs/review, size/xs

#3732 Increase istio-ingressgateway memory limits
  charts/istio/istio-ingress/templates/deployment.yaml
Labels: area/networking, area/scalability, kind/bug, needs/ok-to-test, priority/2, reviewed/lgtm, size/xs

#3729 Update github templates with priority label changes
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/flaking-test.md
  .github/pull_request_template.md
Labels: needs/ok-to-test, priority/4, reviewed/lgtm, size/xs

#3734 [release-v1.18] Automated cherry pick of #3732: increase istio-ingressgateway memory limits
  charts/istio/istio-ingress/templates/deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3735 [release-v1.17] Automated cherry pick of #3732: increase istio-ingressgateway memory limits
  charts/istio/istio-ingress/templates/deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3736 [release-v1.16] Automated cherry pick of #3732: increase istio-ingressgateway memory limits
  charts/istio/istio-ingress/templates/deployment.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#3737 Improve help message of the cherry pick pr script
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#3727 Wait for DNS record destruction during hibernation
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3726 Cleanup more usages of DirectClient
  cmd/gardenlet/app/bootstrap.go
  cmd/gardenlet/app/gardenlet.go
  pkg/client/kubernetes/fake/builder.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_control_test.go
  pkg/controllermanager/controller/controllerregistration/seed_control_test.go
  pkg/controllermanager/controller/plant/plant_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/gardenlet/bootstrap/bootstrap.go
  pkg/gardenlet/bootstrap/bootstrap_test.go
  pkg/gardenlet/bootstrap/util/util_test.go
  pkg/utils/kubernetes/object.go
Labels: area/dev-productivity, area/scalability, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#3725 Preparing the CP Integration tests to use the Managed Seed implementation
  .test-defs/DeleteSeed.yaml
  .test-defs/RegisterSeed.yaml
  test/framework/gardenerframework.go
  test/framework/seedregistrationframework.go
  test/framework/shootmigrationtest.go
  test/system/seed_deletion/delete_suite_test.go
  test/system/seed_deletion/delete_test.go
  test/system/seed_registration/create_seed_test.go
  test/system/seed_registration/create_suite_test.go
Labels: area/control-plane-migration, kind/test, needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#3742 Fix hack/.ci/component_descriptor when chart/images.yaml does not exist
  hack/.ci/component_descriptor
Labels: area/delivery, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3741 Ensure gardenlet deployment has properly set env KUBERNETES_SERVICE_HOST
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator_test.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
Labels: area/networking, area/ops-productivity, kind/bug, needs/ok-to-test, needs/review, size/m

#3743 [release-v1.19] Automated cherry pick of #3741: Ensure gardenlet deployment has properly set env #3742: Fix hack/.ci/component_descriptor when chart/images.yaml does not exist
  hack/.ci/component_descriptor
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator_test.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#3744 [release-v1.18] Automated cherry pick of #3741: Ensure gardenlet deployment has properly set env KUBERNETES_SERVICE_HOST #3742: Fix hack/.ci/component_descriptor when chart/images.yaml does not exist
  hack/.ci/component_descriptor
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator_test.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#3750 [release-v1.18] Automated cherry pick of #3727: Wait for DNS record destruction during hibernation
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3748 [release-v1.17] Automated cherry pick of #3721: Increase initialDelaySeconds to 40 for nginx-ingress probes
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3745 Improve PR subject retrieval
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3751 [release-v1.17] Automated cherry pick of #3727: Wait for DNS record destruction during hibernation
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3749 [release-v1.19] Automated cherry pick of #3727: Wait for DNS record destruction during hibernation
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3752 [release-v1.17] Ensure gardenlet deployment has properly set env KUBERNETES_SERVICE_HOST
  pkg/gardenlet/controller/shoot/seed_registration_control.go
  pkg/gardenlet/controller/shoot/seed_registration_control_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#3754 [release-v1.17] Automated cherry pick of #3742: Fix hack/.ci/component_descriptor when chart/images.yaml does not exist
  hack/.ci/component_descriptor
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3747 [release-v1.18] Automated cherry pick of #3721: Increase initialDelaySeconds to 40 for nginx-ingress probes
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3723 Switch shoot.Status.SeedName at start of the reconcile process
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: area/control-plane-migration, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3755 Add missing func in genericactuator.NoopValuesProvider
  extensions/pkg/controller/controlplane/genericactuator/noopvaluesprovider.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3740 Cleanup some more DirectClient
  pkg/client/kubernetes/fake/builder.go
  pkg/client/kubernetes/fake/clientset.go
  pkg/client/kubernetes/fake/fake_test.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/managedseed/managedseed_reconciler.go
  pkg/gardenlet/controller/managedseed/managedseed_reconciler_test.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane_test.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/kubecontrollermanager_test.go
  pkg/operation/botanist/waiter.go
  pkg/operation/operation.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/dev-productivity, area/scalability, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#3753 Add ConfigMap handling to SeedAuthorizer
  docs/deployment/gardenlet_api_access.md
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/gardenlet/controller/factory.go
  pkg/operation/botanist/controlplane.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3746 Use controller-runtime informers for refactored controllers (1)
  cmd/gardener-scheduler/app/gardener_scheduler.go
  pkg/controllermanager/controller/certificatesigningrequest/certificatesigningrequest.go
  pkg/controllermanager/controller/certificatesigningrequest/csr_autoapprove_control.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile_control.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_quota_control.go
  pkg/controllerutils/associations.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/scheduler/controller/backupbucket/scheduler.go
  pkg/scheduler/controller/backupbucket/scheduler_reconciler.go
  pkg/scheduler/controller/shoot/scheduler.go
  pkg/scheduler/controller/shoot/scheduler_control.go
  pkg/scheduler/controller/shoot/scheduler_control_test.go
Labels: area/networking, area/scalability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#3760 Prevent 'jq: not found' error on make docker-images
  Makefile
Labels: needs/ok-to-test, needs/review, size/xs

#3728 Eliminate seed-dns Helm chart
  charts/seed-dns/entry/Chart.yaml
  charts/seed-dns/entry/templates/dnsentry.yaml
  charts/seed-dns/entry/values.yaml
  charts/seed-dns/owner/Chart.yaml
  charts/seed-dns/owner/templates/dnsowner.yaml
  charts/seed-dns/owner/values.yaml
  charts/seed-dns/provider/Chart.yaml
  charts/seed-dns/provider/templates/dnsprovider.yaml
  charts/seed-dns/provider/values.yaml
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/component/extensions/dns/dns_suite_test.go
  pkg/operation/botanist/component/extensions/dns/dnsentry.go
  pkg/operation/botanist/component/extensions/dns/dnsentry_test.go
  pkg/operation/botanist/component/extensions/dns/dnsowner.go
  pkg/operation/botanist/component/extensions/dns/dnsowner_test.go
  pkg/operation/botanist/component/extensions/dns/dnsprovider.go
  pkg/operation/botanist/component/extensions/dns/dnsprovider_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/dns_test.go
  pkg/operation/seed/seed.go
Labels: area/dev-productivity, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3767 Add note about version requirement of the remote cluster
  docs/development/local_setup.md
Labels: area/dev-productivity, needs/ok-to-test, reviewed/lgtm, size/xs

#3700 Dynamically refresh configuration secrets in the `garden` namespace
  cmd/gardenlet/app/gardenlet.go
  docs/extensions/backupentry.md
  pkg/client/kubernetes/cache/cache.go
  pkg/client/kubernetes/cache/cache_suite_test.go
  pkg/client/kubernetes/cache/cache_test.go
  pkg/client/kubernetes/cache/errors.go
  pkg/client/kubernetes/cache/errors_test.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientmap/builder/garden_builder.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap_test.go
  pkg/client/kubernetes/options.go
  pkg/client/kubernetes/runtime_client.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/seed/seed.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/operation/garden/garden.go
  pkg/operation/seed/seed.go
  pkg/utils/test/matchers/matchers.go
Labels: area/robustness, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#3764 Minimum 2 KAPI replicas for production shoots
  docs/usage/shoot_purposes.md
  pkg/operation/botanist/controlplane.go
Labels: area/high-availability, area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3738 Prevent deadlock when Terraform configuration cleanup fails
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/terraform_test.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/types.go
Labels: area/dev-productivity, kind/enhancement, merge/squash, needs/ok-to-test, size/s

#3758 Add SecretBinding handling to SeedAuthorizer
  docs/deployment/gardenlet_api_access.md
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/gardenlet/controller/shoot/shoot_care_control_types.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/operation/operation.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3773 Fix make check on master
  pkg/operation/botanist/controlplane.go
  test/framework/gardenerframework.go
  test/framework/managedseedframework.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3772 Update links
  docs/extensions/operatingsystemconfig.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, size/xs

#3762 RetryableError should not block reconciliation attempts
  docs/usage/shoot_status.md
  pkg/apis/core/types_common.go
  pkg/apis/core/v1alpha1/types_common.go
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/apis/core/v1beta1/types_common.go
Labels: area/control-plane, kind/api-change, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3761 Add CP dependency to OSConfig
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3777 Remove redundancy in shoot_autoscaling.md
  docs/usage/shoot_autoscaling.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, needs/review, size/xs

#3779 Add individual context for dumping logs in the Loki's tests
  test/integration/shoots/logging/utils.go
Labels: area/logging, kind/bug, needs/ok-to-test, needs/review, size/xs

#3783 [release-v1.18] Automated cherry pick of #3675: Increase CoreDNS memory limits to avoid OOMKill.
  charts/shoot-core/components/charts/coredns/values.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3784 [release-v1.17] Automated cherry pick of #3675: Increase CoreDNS memory limits to avoid OOMKill.
  charts/shoot-core/components/charts/coredns/values.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3722 Make garden/loki-0 PriorityClass value configurable via Gardenlet configuration.
  charts/gardener/gardenlet/values.yaml
  charts/seed-bootstrap/charts/loki/templates/priorityclass.yaml
  charts/seed-bootstrap/charts/loki/templates/statefulset.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
  dev/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/3, reviewed/lgtm, size/l

#3785 test resources: replace docker.io images
  test/framework/resources/templates/logger-app.yaml.tpl
  test/framework/resources/templates/network-nginx-deamonset.yaml.tpl
  test/framework/resources/templates/simple-load-deployment.yaml.tpl
Labels: area/testing, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xs

#3789 Purge dev dir
  dev/20-componentconfig-gardenlet.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#3790 Fix ControlPlane deployment on Shoot deletion
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#3791 [release-v1.19] Automated cherry pick of #3790: Fix ControlPlane deployment on Shoot deletion
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3788 Allow gardener admission controller to read configmaps
  charts/gardener/controlplane/charts/application/templates/rbac-system.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3575 Refactor Seed (de)bootstrap to flow graph
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/operation/seed/seed.go
Labels: kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xl

#3793 Update goimports if necessary
  hack/install-requirements.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3792 [release-v1.19] Automated cherry pick of #3762: RetryableError should not block reconciliation attempts #3755: Add missing func in genericactuator.NoopValuesProvider #3785: test resources: replace docker.io images #3760: Prevent 'jq: not found' error on make docker-images
  Makefile
  docs/usage/shoot_status.md
  extensions/pkg/controller/controlplane/genericactuator/noopvaluesprovider.go
  pkg/apis/core/types_common.go
  pkg/apis/core/v1alpha1/types_common.go
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/apis/core/v1beta1/types_common.go
  test/framework/resources/templates/logger-app.yaml.tpl
  test/framework/resources/templates/network-nginx-deamonset.yaml.tpl
  test/framework/resources/templates/simple-load-deployment.yaml.tpl
Labels: kind/api-change, needs/ok-to-test, reviewed/lgtm, size/s

#3797 Set istiod admission webhook to use 10 seconds timeout.
  charts/istio/istio-istiod/templates/validatingwebhookconfiguration.yaml
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3768 Use controller-runtime informers for refactored controllers (2)
  pkg/controllermanager/controller/certificatesigningrequest/certificatesigningrequest.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/plant/plant.go
  pkg/controllermanager/controller/plant/plant_control.go
  pkg/controllermanager/controller/plant/plant_utils.go
  pkg/controllermanager/controller/project/project.go
  pkg/controllermanager/controller/project/project_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/controllermanager/controller/project/project_control_reconcile_test.go
  pkg/controllermanager/controller/project/project_stale_control.go
  pkg/controllermanager/controller/project/project_stale_control_test.go
  pkg/controllermanager/controller/project/project_utils.go
  pkg/controllermanager/controller/project/rolebinding_control.go
  pkg/controllermanager/controller/project/rolebinding_control_test.go
  pkg/controllermanager/controller/quota/quota.go
  pkg/controllermanager/controller/quota/quota_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control_test.go
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
  pkg/controllermanager/controller/shoot/configmap_control.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_control.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_control_test.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_types.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/operation/seed/seed.go
  pkg/utils/kubernetes/namespace.go
  pkg/utils/kubernetes/project.go
Labels: area/networking, area/scalability, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3756 Move internal domain secret validation to gardener-admission-controller
  charts/gardener/controlplane/charts/application/templates/rbac-system.yaml
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/webhooks/admission/internaldomainsecret/admission.go
  pkg/admissioncontroller/webhooks/admission/internaldomainsecret/admission_test.go
  pkg/admissioncontroller/webhooks/admission/internaldomainsecret/internaldomain_suite_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/garden/garden.go
  pkg/operation/garden/garden_test.go
  pkg/operation/seed/seed.go
  pkg/operation/seed/seed_test.go
  plugin/pkg/managedseed/validator/admission.go
  plugin/pkg/managedseed/validator/admission_test.go
  plugin/pkg/shoot/dns/admission.go
  plugin/pkg/shoot/dns/admission_test.go
Labels: area/dev-productivity, area/security, kind/api-change, kind/cleanup, merge/squash, needs/changes, needs/ok-to-test, size/xl

#3795 Enhance error code mapping
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3798 Add more configuration error regexes
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3799 Changing the image version of the test definitions
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
Labels: area/testing, kind/bug, needs/ok-to-test, reviewed/lgtm, reviewed/ok-to-test, size/s
