Repository gardener/gardener, pull requests merged in 2021-07, with the labels that each got.

#4290 Fix broken plant test
  docs/testing/integration_tests.md
  test/framework/k8s_utils.go
Labels: area/testing, kind/bug, needs/review, size/s

#4287 landscaper gardenlet nit for image vector
  landscaper/pkg/gardenlet/controller/gardenlet_chart_values.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs

#4291 Add controller artifact for bastion resources
  pkg/gardenlet/controller/federatedseed/extensions/artifact.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4288 Only execute test-cov when instructed to
  .ci/verify
Labels: component/cicd, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4285 Remove obsolete fields in SchedulerConfiguration
  charts/gardener/controlplane/charts/runtime/templates/scheduler/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
  docs/concepts/scheduler.md
  example/20-componentconfig-gardener-scheduler.yaml
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/defaults_test.go
  pkg/scheduler/apis/config/v1alpha1/types.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, reviewed/ok-to-test, size/s

#4297 Fix .ci/verify for head-update job
  .ci/verify
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs

#4298 [documentation] Note that operation annotations are removed by the controllers
  docs/usage/shoot_operations.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4299 Remove pointer to LabelSelector in SeedSelector
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/types_cloudprofile.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/exposureclass.go
  pkg/apis/core/validation/exposureclass_test.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/scheduler/controller/shoot/scheduler_control.go
  pkg/scheduler/controller/shoot/scheduler_control_test.go
Labels: area/dev-productivity, kind/api-change, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xl

#4267 [prepare-release] Use fullpath and do not forward stdout/stderr to /dev/null
  hack/.ci/prepare_release
Labels: area/delivery, area/dev-productivity, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4270 Remove seedSelector usage in dev-setup
  .gitignore
  Makefile
  docs/development/local_setup.md
  example/20-componentconfig-gardenlet.yaml
  hack/local-development/start-gardenlet
Labels: area/quality, kind/technical-debt, merge/squash, reviewed/lgtm, size/m

#4310 Ignore the ServiceUnavailable error in the metrics-servers integration test
  test/integration/shoots/applications/metrics.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4301 Upgrade istio images to distroless and 1.10.2
  charts/images.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
Labels: area/security, kind/enhancement, reviewed/lgtm, size/xs

#4243 Selectable Api Server endpoints aka ExposureClasses [Part 4]
  docs/concepts/apiserver_admission_plugins.md
  pkg/apiserver/plugins.go
  plugin/pkg/shoot/exposureclass/admission.go
  plugin/pkg/shoot/exposureclass/admission_test.go
  plugin/pkg/shoot/exposureclass/exposureclass_suite_test.go
Labels: area/control-plane, area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#4317 Fix compile errors in plugin/pkg/shoot/exposureclass/admission.go
  plugin/pkg/shoot/exposureclass/admission.go
  plugin/pkg/shoot/exposureclass/admission_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4231 Add DNSRecord extension resource and controller
  charts/seed-bootstrap/charts/extensions/templates/crd-dnsrecord.yaml
  docs/README.md
  docs/extensions/dnsrecord.md
  extensions/pkg/controller/dnsrecord/actuator.go
  extensions/pkg/controller/dnsrecord/controller.go
  extensions/pkg/controller/dnsrecord/dnsrecord_suite_test.go
  extensions/pkg/controller/dnsrecord/mapper.go
  extensions/pkg/controller/dnsrecord/reconciler.go
  extensions/pkg/controller/dnsrecord/utils.go
  extensions/pkg/controller/dnsrecord/utils_test.go
  hack/api-reference/extensions.md
  pkg/apis/extensions/v1alpha1/helper/helper.go
  pkg/apis/extensions/v1alpha1/helper/helper_test.go
  pkg/apis/extensions/v1alpha1/register.go
  pkg/apis/extensions/v1alpha1/types.go
  pkg/apis/extensions/v1alpha1/types_dnsrecord.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions/validation/dnsrecord.go
  pkg/apis/extensions/validation/dnsrecord_test.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/dnsrecord.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/extensions_client.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/fake/fake_dnsrecord.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/fake/fake_extensions_client.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/generated_expansion.go
  pkg/client/extensions/informers/externalversions/extensions/v1alpha1/dnsrecord.go
  pkg/client/extensions/informers/externalversions/extensions/v1alpha1/interface.go
  pkg/client/extensions/informers/externalversions/generic.go
  pkg/client/extensions/listers/extensions/v1alpha1/dnsrecord.go
  pkg/client/extensions/listers/extensions/v1alpha1/expansion_generated.go
  pkg/seedadmissioncontroller/extensioncrds_suite_test.go
  pkg/seedadmissioncontroller/seedadmission_suite_test.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/admission.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/admission_test.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/dnsrecord.yaml
Labels: area/control-plane, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#4117 Selectable Api Server endpoints aka ExposureClasses [Part 3]
  charts/istio/istio-ingress/templates/envoy-filter.yaml
  charts/istio/istio-ingress/values.yaml
  charts/istio/istio-proxy-protocol/values.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/apis/core/validation/exposureclass.go
  pkg/apis/core/validation/exposureclass_test.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/validation/validation.go
  pkg/gardenlet/apis/config/validation/validation_test.go
  pkg/operation/botanist/component/istio/ingress_gateway.go
  pkg/operation/botanist/component/istio/ingress_gateway_test.go
  pkg/operation/botanist/component/istio/proxy_protocol.go
  pkg/operation/botanist/component/istio/proxy_protocol_test.go
  pkg/operation/botanist/component/networkpolicies/global.go
  pkg/operation/botanist/component/vpnseedserver/mock/mocks.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/vpnseedserver.go
  pkg/operation/botanist/vpnseedserver_test.go
  pkg/operation/seed/seed.go
  pkg/utils/gardener/exposureclass.go
  pkg/utils/gardener/exposureclass_test.go
Labels: area/control-plane, area/open-source, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#4265 Isolate envtests
  Makefile
  extensions/test/integration/constants.go
  extensions/test/integration/envtest/backupbucket/actuator.go
  extensions/test/integration/envtest/backupbucket/backupbucket_suite_test.go
  extensions/test/integration/envtest/backupbucket/backupbucket_test.go
  hack/setup-envtest.sh
  hack/test-cover.sh
  hack/test-integration.sh
  hack/test.sh
  pkg/controllermanager/controller/shoot/shoot_suite_test.go
  test/integration/envtest/envtest/environment_test.go
  test/integration/envtest/envtest/envtest_suite_test.go
  test/integration/envtest/seedadmissioncontroller/extensioncrds_test.go
  test/integration/envtest/seedadmissioncontroller/podschedulername_test.go
  test/integration/envtest/seedadmissioncontroller/seedadmission_suite_test.go
  test/integration/envtest/seedadmissioncontroller/testdata/backupbucket.yaml
  test/integration/envtest/seedadmissioncontroller/testdata/backupentry.yaml
  test/integration/envtest/seedadmissioncontroller/testdata/bastion.yaml
  test/integration/envtest/seedadmissioncontroller/testdata/containerruntime.yaml
  test/integration/envtest/seedadmissioncontroller/testdata/controlplane.yaml
  test/integration/envtest/seedadmissioncontroller/testdata/dnsrecord.yaml
  test/integration/envtest/seedadmissioncontroller/testdata/extension.yaml
  test/integration/envtest/seedadmissioncontroller/testdata/infra.yaml
  test/integration/envtest/seedadmissioncontroller/testdata/network.yaml
  test/integration/envtest/seedadmissioncontroller/testdata/osc.yaml
  test/integration/envtest/seedadmissioncontroller/testdata/worker.yaml
  test/integration/envtest/shootretry/shootretry_control_test.go
  test/integration/envtest/shootretry/shootretry_suite_test.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#4312 Don't get cluster resources for extension resources in garden namespace
  docs/extensions/cluster.md
  extensions/pkg/controller/dnsrecord/reconciler.go
  extensions/pkg/predicate/predicate.go
  extensions/pkg/predicate/predicate_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, needs/review, size/s

#4304 Upgrade envoy image to distroless 1.18.3
  charts/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4279 Promote MountHostCADirectories feature gate to GA
  docs/deployment/feature_gates.md
  pkg/features/features.go
  pkg/gardenlet/features/features.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4244 Selectable Api Server endpoints aka ExposureClasses [Part 5]
  docs/README.md
  docs/usage/exposureclasses.md
  example/20-componentconfig-gardener-controller-manager.yaml
  example/20-componentconfig-gardenlet.yaml
  example/81_exposureclass.yaml
  example/90-shoot.yaml
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: area/control-plane, area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4282 Allow to configure image GC thresholds for kubelet configuration in `Shoot` API
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config_test.go
Labels: area/scalability, area/storage, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, needs/review, size/xl

#4325 Prevent Docker Hub rate limits in the vpntunnel test
  test/framework/resources/templates/logger-app.yaml.tpl
  test/framework/resources/templates/vpntunnel-copy.yaml.tpl
  test/framework/resources/templates/vpntunnel.yaml.tpl
  test/integration/shoots/vpntunnel/vpntunnel.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4322 Reuse seedadmissioncontroller webhook config
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller_test.go
  pkg/seedadmissioncontroller/webhooks/admission/podschedulername/admission.go
  test/integration/envtest/seedadmissioncontroller/seedadmission_suite_test.go
Labels: area/dev-productivity, area/testing, kind/technical-debt, merge/squash, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#3813 Collect logs from shoot's nodes
  charts/images.go
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
  charts/seed-bootstrap/charts/loki/templates/allow-loki-network-policy.yaml
  charts/seed-bootstrap/charts/loki/templates/allow-prometheus-to-loki-telegraf.yaml
  charts/seed-bootstrap/charts/loki/templates/hvpa.yaml
  charts/seed-bootstrap/charts/loki/templates/kube-rbac-proxy-ingress.yaml
  charts/seed-bootstrap/charts/loki/templates/service.yaml
  charts/seed-bootstrap/charts/loki/templates/statefulset.yaml
  charts/seed-bootstrap/charts/loki/templates/telegraf-config.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  docs/README.md
  docs/deployment/configuring_logging.md
  example/20-componentconfig-gardenlet.yaml
  go.mod
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/mock/mocks.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/components.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/component.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/component_suite_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/original.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/original_test.go
  pkg/operation/botanist/component/logging/kube_rbac_proxy.go
  pkg/operation/botanist/component/logging/kube_rbac_proxy_suite_test.go
  pkg/operation/botanist/component/logging/kube_rbac_proxy_test.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/operation.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/operation/types.go
  vendor/modules.txt
Labels: area/logging, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#4326 Remove 'experimental' disclaimer for `Seed{Authorizer,Restriction}` features
  docs/deployment/gardenlet_api_access.md
Labels: area/documentation, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4328 Add missing edge from BackupEntry to Shoot vertex
  docs/deployment/gardenlet_api_access.md
  docs/deployment/gardenlet_api_access_graph.png
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_backupentry.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
Labels: area/control-plane-migration, area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4296 Add docs for monitoring connectivity
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-control-plane-status-dashboard.json
  docs/README.md
  docs/monitoring/connectivity.md
  docs/monitoring/images/connectivity.png
  docs/monitoring/images/panel.png
Labels: area/documentation, area/monitoring, kind/enhancement, needs/changes, needs/ok-to-test, size/m

#4330 There is no .spec on ControllerDeployment
  docs/extensions/controllerregistration.md
Labels: area/documentation, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4306 Remove SeedSelector from GardenletConfiguration
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  cmd/gardenlet/app/gardenlet.go
  docs/concepts/gardenlet.md
  docs/deployment/deploy_gardenlet_manually.md
  docs/usage/managed_seed.md
  docs/usage/shooted_seed.md
  example/55-managedseed-seedtemplate.yaml
  landscaper/pkg/gardenlet/apis/imports/validation/validation.go
  landscaper/pkg/gardenlet/apis/imports/validation/validation_test.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/client/kubernetes/clientmap/builder/deleg_builder.go
  pkg/client/kubernetes/clientmap/builder/deleg_builder_test.go
  pkg/client/kubernetes/clientmap/builder/seed_builder.go
  pkg/client/kubernetes/clientmap/builder/seed_builder_test.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap_test.go
  pkg/controllerutils/seedfilter.go
  pkg/controllerutils/seedfilter_test.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/validation/validation.go
  pkg/gardenlet/apis/config/validation/validation_test.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/bootstrap/certificate/certificate_rotation.go
  pkg/gardenlet/bootstrap/certificate/certificate_rotation_test.go
  pkg/gardenlet/controller/backupbucket/backup_bucket.go
  pkg/gardenlet/controller/backupentry/backup_entry.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/gardenlet/controller/bastion/bastion.go
  pkg/gardenlet/controller/bastion/bastion_reconciler.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/federatedseed/seed_control.go
  pkg/gardenlet/controller/managedseed/managedseed.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator_test.go
  pkg/gardenlet/controller/seed/seed.go
  pkg/gardenlet/controller/seed/seed_lease_control.go
  pkg/gardenlet/controller/seed/seed_lease_control_test.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: area/dev-productivity, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xl

#4334 Allow authenticated users to read `ExposureClass` resources
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4335 Small improvements in ExposureClasses documentation
  docs/proposals/14-reversed-cluster-vpn.md
  docs/usage/exposureclasses.md
  example/20-componentconfig-gardenlet.yaml
  example/81-exposureclass.yaml
Labels: area/documentation, area/open-source, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s

#4289 Ensure new osc name for different cri configuration
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/operatingsystemconfig.go
Labels: area/os, kind/bug, needs/ok-to-test, needs/review, size/s

#4331 add target for gardenlet blueprint
  landscaper/pkg/gardenlet/blueprint.yaml
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs

#4319 Allow to configure a loadbalancer ip for Seed ingress gateways
  charts/istio/istio-ingress/templates/service.yaml
  charts/istio/istio-ingress/values.yaml
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/validation/validation.go
  pkg/gardenlet/apis/config/validation/validation_test.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/operation/botanist/component/istio/ingress_gateway.go
  pkg/operation/seed/seed.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4327 When defaulting and maintaining OS version, prefer older and supported version over newer but deprecated
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/validation/cloudprofile.go
Labels: area/ops-productivity, kind/bug, merge/squash, needs/cherry-pick, needs/ok-to-test, reviewed/lgtm, size/m

#4337 Deploy additional DNS providers on Shoot deletion
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/dns.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4344 Add DNSRecord controller utility functions
  extensions/pkg/controller/dnsrecord/utils.go
  extensions/pkg/controller/dnsrecord/utils_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4321 Only download hyperkube image once on shoot worker nodes
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/copy-kubernetes-binary.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/containerd/component.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/containerd/initializer.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/docker/component.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/component.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/component_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/templates/scripts/health-monitor.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/component.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config_test.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
Labels: area/cost, area/scalability, area/storage, kind/api-change, kind/enhancement, merge/squash, reviewed/lgtm, size/xl

#4332 Validate cri support for updated machine.Image
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4314 Document supported options for cri.name
  hack/api-reference/core.md
  hack/api-reference/extensions.md
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/extensions/v1alpha1/types_operatingsystemconfig.go
  pkg/openapi/openapi_generated.go
Labels: area/documentation, kind/api-change, kind/enhancement, reviewed/lgtm, size/xs

#4342 [release-v1.25] Automated cherry pick of #4327: When defaulting and maintaining OS version, prefer older and supported version over newer but deprecated
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/validation/cloudprofile.go
Labels: area/ops-productivity, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4341 [release-v1.26] Automated cherry pick of #4327: When defaulting and maintaining OS version, prefer older and supported version over newer but deprecated
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/validation/cloudprofile.go
Labels: area/ops-productivity, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4343 [release-v1.24] Automated cherry pick of #4327: When defaulting and maintaining OS version, prefer older and supported version over newer but deprecated
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/validation/cloudprofile.go
Labels: area/ops-productivity, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4348 remove component descriptor os workaround
  .ci/component_descriptor
Labels: reviewed/lgtm, size/xs

#4284 Improve golang build from source in prepare_release
  hack/.ci/prepare_release
Labels: area/dev-productivity, component/cicd, exp/beginner, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s

#4347 Fix Gardenlet config ExposureClass handler config
  pkg/gardenlet/apis/config/validation/validation.go
  pkg/gardenlet/apis/config/validation/validation_test.go
Labels: kind/bug, reviewed/lgtm, size/xs

#4354 make test-cov run the same suites as test
  Makefile
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4351 Update to golang@1.16.6
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/GardenletLandscaper.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#4355 Fix typo in osc executor script
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: area/ops-productivity, area/quality, kind/bug, needs/cherry-pick, needs/ok-to-test, reviewed/lgtm, size/xs

#4356 [release-v1.27] Automated cherry pick of #4355: Fix typo in osc executor script
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: area/ops-productivity, area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4358 [release-v1.27] Automated cherry pick of #4357: Cleanup shebang and options in hack/test*.sh
  hack/test-cover-clean.sh
  hack/test-cover.sh
  hack/test-integration.sh
  hack/test-prometheus.sh
  hack/test.sh
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4357 Cleanup shebang and options in hack/test*.sh
  hack/test-cover-clean.sh
  hack/test-cover.sh
  hack/test-integration.sh
  hack/test-prometheus.sh
  hack/test.sh
Labels: kind/bug, needs/cherry-pick, needs/ok-to-test, reviewed/lgtm, size/xs

#4359 Don't fail on missing release note
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4352 Fixed open vpn warnings about group/other accessible keys.
  charts/shoot-core/components/charts/vpn-shoot/templates/deployment.yaml
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: area/networking, kind/cleanup, reviewed/lgtm, size/xs

#4224 [GEP-15] Rotate SSH Keys
  docs/proposals/15-manage-bastions-and-ssh-key-pair-rotation.md
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/mock/mocks.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/components.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/gardeneruser/component.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/gardeneruser/component_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/gardeneruser/templates/scripts/create.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/gardeneruser/templates/scripts/reconcile.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/original_test.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/registry/core/shoot/strategy.go
  pkg/utils/encoding.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Labels: area/security, kind/api-change, kind/enhancement, merge/squash, needs/changes, needs/review, needs/second-opinion, size/l

#4353 Improve messages in generic extension reconcilers
  extensions/pkg/controller/backupbucket/reconciler.go
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/bastion/reconciler.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/csimigration/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/healthcheck/reconciler.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/worker/reconciler.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4313 Remove federated seed controller
  pkg/gardenlet/controller/extensions/artifact.go
  pkg/gardenlet/controller/extensions/controllerinstallation_control.go
  pkg/gardenlet/controller/extensions/extensions.go
  pkg/gardenlet/controller/extensions/extensions_suite_test.go
  pkg/gardenlet/controller/extensions/shootstate_control.go
  pkg/gardenlet/controller/extensions/shootstate_control_test.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/federatedseed/seed_control.go
  pkg/gardenlet/controller/networkpolicy/controller.go
  pkg/gardenlet/controller/networkpolicy/endpoints.go
  pkg/gardenlet/controller/networkpolicy/helper/helper.go
  pkg/gardenlet/controller/networkpolicy/helper/helper_suite_test.go
  pkg/gardenlet/controller/networkpolicy/helper/helper_test.go
  pkg/gardenlet/controller/networkpolicy/hostnameresolver/resolver.go
  pkg/gardenlet/controller/networkpolicy/hostnameresolver/resolver_test.go
  pkg/gardenlet/controller/networkpolicy/namespace_control.go
  pkg/gardenlet/controller/networkpolicy/namespaces.go
  pkg/gardenlet/controller/networkpolicy/networkpolicies.go
Labels: area/dev-productivity, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xl

#4262 Move kube-apiserver exposure related functions into dedicated file
  pkg/apis/seedmanagement/validation/managedseedset.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane_test.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/dns_test.go
  pkg/operation/botanist/kubeapiserverexposure.go
  pkg/operation/botanist/kubeapiserverexposure_test.go
  pkg/registry/seedmanagement/managedseedset/storage/storage.go
Labels: area/dev-productivity, kind/cleanup, kind/technical-debt, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#4362 Increased connect timeout of reversed vpn envoy sidecar.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4371 Fix gardener controlplane values file in setup_gardener
  docs/deployment/setup_gardener.md
Labels: area/documentation, kind/bug, needs/ok-to-test, needs/review, size/xs

#4365 Upgrade cluster-autoscaler
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4367 [release-v1.27] Automated cherry pick of #4365: Upgrade cluster-autoscaler
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4368 [release-v1.26] Automated cherry pick of #4365: Upgrade cluster-autoscaler
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4369 [release-v1.25] Automated cherry pick of #4365: Upgrade cluster-autoscaler
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4373 Upgrade gardener/gardener-resource-manager to v0.25.0
  charts/images.yaml
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
  extensions/pkg/controller/healthcheck/general/managed_resource.go
  extensions/pkg/controller/utils.go
  extensions/test/integration/healthcheck/healthcheck_operation.go
  go.mod
  go.sum
  pkg/client/kubernetes/types.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_care_control.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/operation/botanist/component/clusterautoscaler/bootstrap_test.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/component/clusteridentity/clusteridentity_test.go
  pkg/operation/botanist/component/dependencywatchdog/dependency_watchdog_test.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler_bootstrap_test.go
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler_test.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/component/logging/kube_rbac_proxy_test.go
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
  pkg/operation/botanist/component/namespaces/namespaces_test.go
  pkg/operation/botanist/component/networkpolicies/bootstrap_test.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller_test.go
  pkg/operation/botanist/managedresources.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/worker_test.go
  pkg/operation/care/checker.go
  pkg/operation/care/health.go
  pkg/operation/care/health_check_test.go
  pkg/utils/kubernetes/health/health.go
  pkg/utils/kubernetes/health/health_test.go
  pkg/utils/managedresources/managedresources.go
  pkg/utils/managedresources/managedresources_test.go
  test/framework/shootmigrationtest.go
  vendor/github.com/Masterminds/goutils/cryptorandomstringutils.go
  vendor/github.com/Masterminds/goutils/randomstringutils.go
  vendor/github.com/Masterminds/goutils/stringutils.go
  vendor/github.com/gardener/gardener-resource-manager/api/resources/register.go
  vendor/github.com/gardener/gardener-resource-manager/api/resources/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-resource-manager/api/resources/v1alpha1/helper/helper.go
  vendor/github.com/gardener/gardener-resource-manager/api/resources/v1alpha1/register.go
  vendor/github.com/gardener/gardener-resource-manager/api/resources/v1alpha1/types.go
  vendor/github.com/gardener/gardener-resource-manager/api/resources/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-resource-manager/pkg/health/health.go
  vendor/github.com/gardener/gardener-resource-manager/pkg/manager/managedresources.go
  vendor/github.com/mitchellh/copystructure/.travis.yml
  vendor/github.com/mitchellh/copystructure/README.md
  vendor/github.com/mitchellh/copystructure/copystructure.go
  vendor/github.com/mitchellh/copystructure/go.mod
  vendor/github.com/mitchellh/copystructure/go.sum
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4376 [release-v1.26] Automated cherry pick of #4362: Increased connect timeout of reversed vpn envoy sidecar.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4375 [release-v1.27] Automated cherry pick of #4362: Increased connect timeout of reversed vpn envoy sidecar.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4377 [release-v1.25] Automated cherry pick of #4362: Increased connect timeout of reversed vpn envoy sidecar.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4370 Prepare switching to immutable `ConfigMap`s/`Secret`s
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/secrets.go
  pkg/utils/checksums.go
  pkg/utils/checksums_test.go
  pkg/utils/kubernetes/object.go
  pkg/utils/kubernetes/object_test.go
  vendor/github.com/gardener/gardener-resource-manager/pkg/controller/garbagecollector/references/references.go
  vendor/modules.txt
Labels: area/robustness, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4374 Nit: Improve error message
  pkg/utils/kubernetes/kubernetes.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4263 Refactor kube-apiserver Helm chart into component (1)
  charts/seed-controlplane/charts/kube-apiserver/templates/hpa.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/hvpa.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/poddisruptionbudget.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/vpa.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/horizontalpodautoscaler.go
  pkg/operation/botanist/component/kubeapiserver/hvpa.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_suite_test.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/mock/doc.go
  pkg/operation/botanist/component/kubeapiserver/mock/mocks.go
  pkg/operation/botanist/component/kubeapiserver/poddisruptionbudget.go
  pkg/operation/botanist/component/kubeapiserver/verticalpodautoscaler.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
  pkg/operation/botanist/waiter.go
  pkg/operation/shoot/types.go
Labels: area/dev-productivity, area/quality, area/robustness, exp/intermediate, kind/technical-debt, kind/test, merge/squash, needs/changes, needs/ok-to-test, platform/all, priority/3, size/xl, topology/seed

#4364 Removed redundant type specifications and unified imports in test of reversed vpn
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s

#4315 Small tweaks to streamline local-dev-setup guide
  docs/development/local_setup.md
Labels: area/documentation, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4216 Use Addon Resizer for scaling the Metrics Server
  charts/images.go
  charts/images.yaml
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
  pkg/operation/botanist/metricsserver.go
  pkg/operation/botanist/metricsserver_test.go
Labels: kind/api-change, needs/changes, needs/ok-to-test, size/m

#4378 Eliminate usages of Try{Update,Patch} in gardener components
  extensions/pkg/controller/csimigration/reconciler.go
  extensions/pkg/controller/patch.go
  extensions/pkg/controller/patch_test.go
  extensions/pkg/controller/update.go
  extensions/pkg/controller/update_test.go
  extensions/pkg/controller/utils.go
  go.mod
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/operation/seed/seed.go
  pkg/utils/kubernetes/kubernetes_test.go
  pkg/utils/kubernetes/leaderelection.go
  test/integration/shoots/maintenance/maintenance.go
  test/integration/shoots/maintenance/maintenance_operations.go
  vendor/modules.txt
Labels: area/scalability, kind/technical-debt, merge/squash, needs/ok-to-test, reviewed/lgtm, size/l

#4366 optionally require external shoot client
  extensions/pkg/util/shoot_clients.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4388 Update the release responsible plan
  docs/development/process.md
  example/45-secret-seed-backup.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4386 Increase base memory for metrics-server.
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
Labels: area/auto-scaling, area/control-plane, kind/impediment, needs/ok-to-test, reviewed/lgtm, size/s

#4389 Upgrade grafana to 7.5.10
  charts/images.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4392 Fix the gardenlet RBAC
  charts/gardener/gardenlet/charts/runtime/templates/clusterrole-gardenlet.yaml
  charts/gardener/gardenlet/charts/runtime/templates/role-default-gardenlet.yaml
  charts/gardener/gardenlet/charts/runtime/templates/rolebinding-default-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m

#4394 do not fail and block deletions when no SSH keypair secret exists
  pkg/operation/botanist/secrets.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4403 Switch base images to GCR copies
  Dockerfile
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4402 Increase per node resources for metrics-server.
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
Labels: area/auto-scaling, area/control-plane, kind/impediment, needs/ok-to-test, reviewed/lgtm, size/xs

#4379 Disallow kubeconfig rotation for cluster in deletion
  docs/deployment/feature_gates.md
  docs/usage/shoot_operations.md
  hack/local-development/start-apiserver
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/features/features.go
  pkg/features/features.go
  pkg/utils/test/test.go
Labels: area/ops-productivity, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4401 Add infra deploy task on SSH keypair rotation
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4405 Undo addon-resizer for metrics-server.
  charts/images.go
  charts/images.yaml
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
  pkg/operation/botanist/metricsserver.go
  pkg/operation/botanist/metricsserver_test.go
Labels: area/auto-scaling, area/control-plane, kind/impediment, needs/ok-to-test, reviewed/lgtm, size/m

#4397 Put SSH keypair rotation on maintenance behind a feature gate
  docs/deployment/feature_gates.md
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/features/features.go
  pkg/features/features.go
Labels: area/quality, kind/bug, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4408 Revert "Ensure new osc name for different cri configuration (#4289)"
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/operatingsystemconfig.go
Labels: kind/bug, needs/cherry-pick, needs/ok-to-test, reviewed/lgtm, size/s

#4410 [release-v1.27] Automated cherry pick of #4403: Switch base images to GCR copies
  Dockerfile
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4409 [release-v1.27] Automated cherry pick of #4408: Revert "Ensure new osc name for different cri configuration (#4289)"
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/operatingsystemconfig.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4418 Create the garden ns in the Seed cluster as part of `make start-gardenlet`
  hack/local-development/start-gardenlet
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4412 Handle NoMatchErrors gracefully for extension controllers
  pkg/gardenlet/controller/extensions/artifact.go
  pkg/gardenlet/controller/extensions/extensions.go
  pkg/gardenlet/controller/factory.go
Labels: area/robustness, kind/regression, needs/ok-to-test, reviewed/lgtm, size/s

#4413 Fixed links
  CONTRIBUTING.md
  README.md
  docs/proposals/README.md
  docs/usage/shoot_status.md
Labels: merge/squash, needs/ok-to-test, reviewed/lgtm, size/xs

#4400 Fix minor nits about containerd's config.toml file
  docs/extensions/operatingsystemconfig.md
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/containerd/initializer_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/containerd/templates/scripts/init.tpl.sh
Labels: area/os, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4423 Allow the creation of the project garden
  plugin/pkg/project/validator/admission.go
  plugin/pkg/project/validator/admission_test.go
Labels: area/control-plane, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xs

#4407 Increase the fluent-bit priority class value to 150
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-priorityclass.yaml
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4431 Add v1beta1 CRD version for seeds <= 1.16
  charts/seed-bootstrap/charts/extensions/templates/crd-dnsrecord.yaml
Labels: area/robustness, kind/regression, needs/cherry-pick, needs/ok-to-test, reviewed/lgtm, size/m

#4429 [release-v1.27] Automated cherry pick of #4423: Allow the creation of the project garden
  plugin/pkg/project/validator/admission.go
  plugin/pkg/project/validator/admission_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4430 [release-v1.26] Automated cherry pick of #4423: Allow the creation of the project garden
  plugin/pkg/project/validator/admission.go
  plugin/pkg/project/validator/admission_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4432 [release-v1.27] Automated cherry pick of #4431: Add v1beta1 CRD version for seeds <= 1.16
  charts/seed-bootstrap/charts/extensions/templates/crd-dnsrecord.yaml
Labels: area/robustness, kind/regression, needs/ok-to-test, reviewed/lgtm, size/m

#4426 Raise requirement for seed K8s versions to 1.18
  docs/usage/supported_k8s_versions.md
Labels: area/robustness, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, reviewed/ok-to-test, size/xs

#4440 Revert "Switch base images to GCR copies"
  Dockerfile
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#4439 Fix potential race condition in the Shoot deletion flow
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, reviewed/ok-to-test, size/xs

#4435 Nit: Clarify existing comment
  extensions/pkg/util/shoot_clients.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4448 Update aks.md
  docs/deployment/aks.md
Labels: needs/ok-to-test, needs/review, size/xs

#4449 Improve error code mapping for quota issues
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4445 Delete DNSRecord resources explicitly during migration
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/operation/botanist/migration.go
  pkg/operation/shoot/shoot.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4454 Ensure backup entry name is generated only once using non-empty strings
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/care/health.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/utils/gardener/backupentry.go
  pkg/utils/gardener/backupentry_test.go
Labels: area/control-plane, kind/bug, needs/cherry-pick, needs/ok-to-test, reviewed/lgtm, size/s

#4455 [release-v1.26] Automated cherry pick of #4454: Ensure backup entry name is generated only once using non-empty strings
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/care/health.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/utils/gardener/backupentry.go
  pkg/utils/gardener/backupentry_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4457 [release-v1.28] Automated cherry pick of #4454: Ensure backup entry name is generated only once using non-empty strings
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/care/health.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/utils/gardener/backupentry.go
  pkg/utils/gardener/backupentry_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4456 [release-v1.27] Automated cherry pick of #4454: Ensure backup entry name is generated only once using non-empty strings
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/care/health.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/utils/gardener/backupentry.go
  pkg/utils/gardener/backupentry_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4406 Adding VPA limits proportion to requests for node-exporter
  charts/shoot-core/components/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
Labels: area/auto-scaling, area/control-plane, needs/ok-to-test, reviewed/lgtm, size/xs
