Repository gardener/gardener, pull requests merged in 2021-11, with the labels that each got.

#4891 Refactor shoot controller to reconcile.Reconciler
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: area/dev-productivity, needs/ok-to-test, size/l, reviewed/lgtm, kind/cleanup, merge/squash

#4783 Remove the "garden.sapcloud.io/role" label from several control plane components (2)
  charts/seed-bootstrap/charts/loki/templates/statefulset.yaml
  charts/seed-monitoring/charts/alertmanager/templates/alertmanager.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/templates/deployment.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/logging.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/seed/seed.go
Labels: needs/ok-to-test, size/m, reviewed/lgtm, kind/cleanup, merge/squash

#4936 Fix flaky `RootCAPublisher` controller envtest
  test/integration/envtest/resourcemanager/rootcapublisher/publisher_suite_test.go
  test/integration/envtest/resourcemanager/rootcapublisher/publisher_test.go
  test/integration/envtest/resourcemanager/rootcapublisher/testdata/ca.crt
Labels: needs/ok-to-test, size/m, reviewed/lgtm, area/testing, kind/flake, merge/squash

#4945 Temporarily skip the Shoot maintenance test suite
  test/integration/envtest/shootmaintenance/maintenance_suite_test.go
Labels: reviewed/ok-to-test, size/xs, needs/ok-to-test, reviewed/lgtm, area/testing, kind/flake

#4950 set include-zones annotation for default domains
  charts/gardener/controlplane/charts/utils-common/templates/_secret-default-domain.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#4954 [release-v1.34] Automated cherry pick of #4950: set include-zones annotation for default domains
  charts/gardener/controlplane/charts/utils-common/templates/_secret-default-domain.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#4953 [release-v1.33] Automated cherry pick of #4950: set include-zones annotation for default domains
  charts/gardener/controlplane/charts/utils-common/templates/_secret-default-domain.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#4952 [release-v1.32] Automated cherry pick of #4950: set include-zones annotation for default domains
  charts/gardener/controlplane/charts/utils-common/templates/_secret-default-domain.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#4958 Update custom-dns.md
  docs/usage/custom-dns.md
Labels: size/xs, reviewed/lgtm, kind/cleanup, area/networking

#4967 Temporarily skip Root CA Controller Integration Test Suite
  test/integration/envtest/resourcemanager/rootcapublisher/publisher_suite_test.go
Labels: reviewed/ok-to-test, size/xs, needs/ok-to-test, reviewed/lgtm, area/testing, kind/flake

#4975 Fixes nil ptr exception if an `etcd.Status.Etcd` field is not set
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#4966 Fixing ETCD deletion in the CPM flow
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane-migration

#4959 Move api-reference doc files to /docs directory
  .docforge/manifest.yaml
  docs/api-reference/authentication.md
  docs/api-reference/core.md
  docs/api-reference/extensions.md
  docs/api-reference/operations.md
  docs/api-reference/resources.md
  docs/api-reference/seedmanagement.md
  docs/api-reference/settings.md
  hack/clean.sh
  pkg/apis/authentication/v1alpha1/doc.go
  pkg/apis/core/v1beta1/doc.go
  pkg/apis/extensions/v1alpha1/doc.go
  pkg/apis/operations/v1alpha1/doc.go
  pkg/apis/resources/v1alpha1/doc.go
  pkg/apis/seedmanagement/v1alpha1/doc.go
  pkg/apis/settings/v1alpha1/doc.go
Labels: kind/enhancement, reviewed/ok-to-test, needs/ok-to-test, area/documentation, reviewed/lgtm, size/s

#4961 Fix acquiring and releasing the machine class credentials secret
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
Labels: kind/bug, reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#4962 Fix deletion of shoots with invalid DNS provider credentials
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/dns.go
  pkg/utils/kubernetes/object.go
  pkg/utils/kubernetes/object_test.go
Labels: kind/bug, reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, area/networking, size/s

#4919 correct token requestor documentation
  docs/concepts/resource-manager.md
Labels: kind/enhancement, size/xs, area/documentation, reviewed/lgtm, merge/squash

#4931 Enable `TokenRequestor` and eliminate client certificate for `kube-scheduler`
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/resources/v1alpha1/types.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/kubescheduler.go
  pkg/operation/botanist/kubescheduler_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/resourcemanager/controller/tokenrequestor/reconciler.go
  pkg/resourcemanager/controller/tokenrequestor/reconciler_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
  test/integration/envtest/resourcemanager/tokenrequestor/tokenrequestor_test.go
Labels: kind/enhancement, area/security, kind/api-change, size/xl, reviewed/lgtm, merge/squash

#4934 deleted duplicated fields for leader election
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardenlet/app/gardenlet.go
  cmd/utils/config.go
  example/20-componentconfig-gardener-controller-manager.yaml
  example/20-componentconfig-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/defaults_test.go
  pkg/scheduler/apis/config/v1alpha1/types.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
Labels: kind/enhancement, needs/review, needs/ok-to-test, needs/second-opinion, area/usability, area/quality, size/l, merge/squash

#4955 Upgrade dev-setup versions / arm64 support
  hack/local-development/dev-setup
  hack/local-development/local-garden/run-gardener-etcd
  hack/local-development/local-garden/run-kube-apiserver
  hack/local-development/local-garden/run-kube-controller-manager
  hack/local-development/local-garden/run-kube-etcd
  hack/local-development/remote-garden/run-gardener-etcd
Labels: area/dev-productivity, size/xs, reviewed/lgtm

#4965 Adds info which resource is blocking deletion of a managedresource
  pkg/utils/managedresources/managedresources.go
  pkg/utils/managedresources/managedresources_test.go
Labels: kind/enhancement, area/dev-productivity, reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, size/s

#4972 Add Kubernetes v1.22 conformance badges
  README.md
Labels: kind/enhancement, size/xs, reviewed/lgtm, area/testing

#4981 Fix flaky `Shoot Maintenance` envtest
  test/integration/envtest/shootmaintenance/maintenance_control_test.go
  test/integration/envtest/shootmaintenance/maintenance_suite_test.go
Labels: needs/review, size/xs, needs/ok-to-test, area/testing, kind/flake

#4940 Enable `RootCAPublisher` and make `gardener-resource-manager` use a projected `ServiceAccount` token
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/seed/components.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/l, reviewed/lgtm, merge/squash

#4976 Removes reconciliation of controlplane with deletion timestamp
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: kind/bug, reviewed/ok-to-test, area/ops-productivity, size/xs, needs/ok-to-test, reviewed/lgtm, area/robustness, area/control-plane

#4883 Sync cluster resource to seed at start of migration
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
Labels: kind/enhancement, reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane-migration

#4979 Add automax procs to gcm
  cmd/gardener-controller-manager/main.go
  go.mod
  go.sum
  vendor/go.uber.org/automaxprocs/.codecov.yml
  vendor/go.uber.org/automaxprocs/.gitignore
  vendor/go.uber.org/automaxprocs/.travis.yml
  vendor/go.uber.org/automaxprocs/CHANGELOG.md
  vendor/go.uber.org/automaxprocs/CODE_OF_CONDUCT.md
  vendor/go.uber.org/automaxprocs/CONTRIBUTING.md
  vendor/go.uber.org/automaxprocs/LICENSE
  vendor/go.uber.org/automaxprocs/Makefile
  vendor/go.uber.org/automaxprocs/README.md
  vendor/go.uber.org/automaxprocs/automaxprocs.go
  vendor/go.uber.org/automaxprocs/glide.yaml
  vendor/go.uber.org/automaxprocs/go.mod
  vendor/go.uber.org/automaxprocs/go.sum
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroup.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/doc.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/errors.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/mountpoint.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/subsys.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_linux.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_unsupported.go
  vendor/go.uber.org/automaxprocs/internal/runtime/runtime.go
  vendor/go.uber.org/automaxprocs/maxprocs/maxprocs.go
  vendor/go.uber.org/automaxprocs/maxprocs/version.go
  vendor/modules.txt
Labels: kind/enhancement, reviewed/ok-to-test, area/performance, size/xs, needs/ok-to-test, reviewed/lgtm

#4983 Fix flaky envtests
  hack/test-integration.sh
  test/integration/envtest/resourcemanager/tokenrequestor/tokenrequestor_test.go
  test/integration/envtest/seedadmissioncontroller/extensioncrds_test.go
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, area/testing, kind/flake, merge/squash

#4941 Ensure `gardener-resource-manager` is highly available
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/seed/components.go
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/high-availability, merge/squash

#4969 Deploy dedicated `kube-proxy` `DaemonSet`s per worker pool
  charts/shoot-core/components/charts/kube-proxy/templates/_helpers.tpl
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-cleanup-script.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-vpa.yaml
  charts/shoot-core/components/charts/kube-proxy/values.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/cliflags.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/cliflags_test.go
Labels: kind/enhancement, kind/api-change, needs/ok-to-test, area/open-source, size/m, reviewed/lgtm, merge/squash

#4982 Fix API server address in cloud-config-download for shoots with disabled DNS
  pkg/operation/botanist/component/extensions/operatingsystemconfig/mock/mocks.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
Labels: kind/bug, needs/ok-to-test, area/usability, reviewed/lgtm, area/robustness, size/s, merge/squash

#4835 Landscaper control-plane component part 2: add flow + certificate generation
  landscaper/cmd/landscaper-controlplane/app/landscaper-controlplane.go
  landscaper/cmd/landscaper-controlplane/app/options.go
  landscaper/cmd/landscaper-controlplane/main.go
  landscaper/cmd/landscaper-gardenlet/app/landscaper-gardenlet.go
  landscaper/common/health/health.go
  landscaper/common/health/health_suite_test.go
  landscaper/common/health/health_test.go
  landscaper/common/utils/utils.go
  landscaper/pkg/controlplane/README.md
  landscaper/pkg/controlplane/apis/exports/exports.go
  landscaper/pkg/controlplane/apis/imports/types_admission_controller.go
  landscaper/pkg/controlplane/apis/imports/types_apiserver.go
  landscaper/pkg/controlplane/apis/imports/types_common.go
  landscaper/pkg/controlplane/apis/imports/types_imports.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/defaults.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/defaults_test.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/types_admission_controller.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/types_apiserver.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/types_common.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/types_imports.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/zz_generated.conversion.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/zz_generated.deepcopy.go
  landscaper/pkg/controlplane/apis/imports/validation/validation.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_admission_controller.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_admissioncontroller_test.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_apiserver.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_apiserver_test.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_controllermanager_test.go
  landscaper/pkg/controlplane/apis/imports/zz_generated.deepcopy.go
  landscaper/pkg/controlplane/controller/flow_ca_certificates.go
  landscaper/pkg/controlplane/controller/flow_diffie_hellmann.go
  landscaper/pkg/controlplane/controller/flow_etcd_encryption.go
  landscaper/pkg/controlplane/controller/flow_garden_namespace.go
  landscaper/pkg/controlplane/controller/flow_gardener_identity.go
  landscaper/pkg/controlplane/controller/flow_post_install_verification.go
  landscaper/pkg/controlplane/controller/flow_sync_existing_installation.go
  landscaper/pkg/controlplane/controller/flow_tls_serving_certificates.go
  landscaper/pkg/controlplane/controller/flow_validate_references.go
  landscaper/pkg/controlplane/controller/operation.go
  landscaper/pkg/controlplane/controller/operation_delete.go
  landscaper/pkg/controlplane/controller/operation_reconcile.go
  landscaper/pkg/controlplane/controller/types.go
  landscaper/pkg/controlplane/example/minimal_landscaper-controlplane-imports.yaml
  landscaper/pkg/controlplane/example/run-locally/controlplane-component-descriptor-list.yaml
  landscaper/pkg/controlplane/util/exports.go
  landscaper/pkg/gardenlet/README.md
  landscaper/pkg/gardenlet/controller/gardenlet.go
  landscaper/pkg/gardenlet/example/landscaper-gardenlet-imports.yaml
  landscaper/pkg/gardenlet/example/landscaper-resources/03-config-configmap.yaml
  landscaper/pkg/gardenlet/example/run-locally/gardenlet-landscaper-component-descriptor-list.yaml
  pkg/operation/botanist/vpnseedserver.go
  test/framework/landscaper/commonframework.go
Labels: kind/enhancement, needs/review, size/xl, needs/ok-to-test, needs/second-opinion, area/control-plane

#4949 Add setting to disable Loki deployments
  docs/deployment/configuring_logging.md
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/operation/botanist/logging.go
  pkg/operation/seed/seed.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, area/logging, size/s, merge/squash

#4986 Add index entries for API Reference
  docs/README.md
  docs/api-reference/README.md
  hack/clean.sh
Labels: size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm, merge/squash

#4992 Fix typo in local dev setup start script
  hack/local-development/local-garden/start.sh
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test, area/usability

#4989 Add docforge manifest aliases to api-reference
  .docforge/manifest.yaml
Labels: kind/enhancement, needs/review, size/xs, needs/ok-to-test, area/documentation

#4987 Fix make dev-setup
  hack/local-development/dev-setup
Labels: needs/review, size/xs, needs/ok-to-test, kind/regression

#4991 Allow seed bootstrap to succeed even with feature gate managed istio is disabled.
  pkg/operation/seed/seed.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#4942 Introduce dedicated CA for `ReversedVPN` components
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
Labels: kind/enhancement, area/security, kind/api-change, needs/review, needs/ok-to-test, needs/second-opinion, size/s

#4865 Landscaper control-plane component part 3: Deploy application chart
  landscaper/pkg/controlplane/apis/imports/types_admission_controller.go
  landscaper/pkg/controlplane/apis/imports/types_controller_manager.go
  landscaper/pkg/controlplane/apis/imports/types_imports.go
  landscaper/pkg/controlplane/apis/imports/types_scheduler.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/conversions.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/defaults.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/types_admission_controller.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/types_controller_manager.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/types_imports.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/types_scheduler.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/zz_generated.conversion.go
  landscaper/pkg/controlplane/apis/imports/v1alpha1/zz_generated.deepcopy.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_admission_controller.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_admissioncontroller_test.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_controller_manager.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_controllermanager_test.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_scheduler.go
  landscaper/pkg/controlplane/apis/imports/validation/validation_scheduler_test.go
  landscaper/pkg/controlplane/apis/imports/zz_generated.deepcopy.go
  landscaper/pkg/controlplane/controller/chart/applier.go
  landscaper/pkg/controlplane/controller/flow_application_chart.go
  landscaper/pkg/controlplane/controller/flow_garden_endpoint.go
  landscaper/pkg/controlplane/controller/flow_virtual_garden_kubeconfigs.go
  landscaper/pkg/controlplane/controller/operation.go
  landscaper/pkg/controlplane/controller/operation_reconcile.go
  landscaper/pkg/controlplane/controller/types.go
  landscaper/pkg/controlplane/controller/values/application_chart_valueshelper.go
  landscaper/pkg/controlplane/controller/values/runtime_chart_valueshelper.go
  pkg/admissioncontroller/apis/config/helper/helpers.go
  pkg/admissioncontroller/apis/config/helper/helpers_test.go
  pkg/controllermanager/apis/config/helper/helpers.go
  pkg/controllermanager/apis/config/helper/helpers_test.go
  pkg/scheduler/apis/config/helper/helpers.go
  pkg/scheduler/apis/config/helper/helpers_test.go
  pkg/utils/secrets/control_plane.go
  pkg/utils/secrets/control_plane_test.go
  pkg/utils/secrets/export_test.go
  pkg/utils/values.go
  pkg/utils/values_test.go
Labels: kind/enhancement, needs/review, size/xl, needs/rebase, needs/ok-to-test, needs/second-opinion, needs/lgtm, area/control-plane

#4998 Remove references to alicloud specific coreos and ubuntu os extensions
  extensions/README.md
Labels: size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm, kind/cleanup

#4993 Fixed broken links
  docs/development/process.md
  docs/extensions/backupbucket.md
  docs/extensions/backupentry.md
  docs/extensions/bastion.md
  docs/extensions/managedresources.md
  docs/proposals/01-extensibility.md
  docs/proposals/09-test-framework.md
  docs/proposals/15-manage-bastions-and-ssh-key-pair-rotation.md
  docs/usage/docker-shim-removal.md
  docs/usage/node-local-dns.md
  docs/usage/shoot_status.md
Labels: kind/enhancement, needs/review, needs/ok-to-test, area/documentation, size/s

#4792 Fix Request Latency Panel for the API Server
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-overview.json
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
Labels: kind/enhancement, needs/ok-to-test, size/m, area/monitoring, reviewed/lgtm

#4935 Add remote write feature for Shoot Prometheus
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  docs/monitoring/README.md
  example/10-secret-remote-write.yaml
  example/20-componentconfig-gardenlet.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/garden/garden.go
Labels: kind/enhancement, needs/changes, kind/api-change, needs/ok-to-test, needs/second-opinion, size/l, area/monitoring

#4911 Fix Shoot deletion on Seeds with non-tolerated taints
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: kind/bug, reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane, merge/squash

#4930 Set terraform v2 as Default
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/mock/mocks.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/types.go
Labels: kind/enhancement, needs/ok-to-test, area/usability, reviewed/lgtm, size/s

#4963 Populate shoot.status.advertisedAddresses early in the reconciliation flow
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/operation.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4999 Fix broken master
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#5006 Update to envoy proxy 1.18.4
  charts/images.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#4997 Disable by default ShootCoreAddonRestarter in the gardener chart
  charts/gardener/controlplane/values.yaml
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#5005 Update to istio 1.10.5
  charts/images.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5004 Updated to core dns 1.8.6
  charts/images.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#4988 Made forcing tcp upgrade for node local dns configurable.
  charts/shoot-core/components/charts/nodelocal-dns/templates/_helpers.tpl
  charts/shoot-core/components/charts/nodelocal-dns/values.yaml
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/addons.go
Labels: kind/enhancement, kind/api-change, needs/review, needs/ok-to-test, needs/second-opinion, area/networking, size/s

#5003 Modify the document ADOPTERS to point to gardener.cloud website
  ADOPTERS.md
Labels: kind/enhancement, needs/ok-to-test, area/documentation, reviewed/lgtm, size/s

#4994 Remove bootstraptoken file from original osc
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
Labels: kind/bug, needs/ok-to-test, area/quality, reviewed/lgtm, size/s

#5000 Enhance HA-settings for gardener controlplane
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/poddisruptionbudget.yaml
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/deployment.yaml
  charts/gardener/controlplane/values.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm, area/high-availability

#4984 Promote `DisallowKubeconfigRotationForShootInDeletion` feature gate to GA
  docs/deployment/feature_gates.md
  docs/usage/shoot_operations.md
  hack/local-development/start-apiserver
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/features/features.go
  pkg/features/features.go
Labels: kind/enhancement, reviewed/lgtm, size/s, area/control-plane

#5014 Fix antiaffinity terms in gardener charts
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/deployment.yaml
Labels: kind/bug, needs/review, needs/ok-to-test, size/s

#5015 Revert istio back to 1.10.2 as 1.10.5 seems to cause problems.
  charts/images.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#4996 Remove ext-authz-server when ManagedIstio is disabled
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
Labels: kind/enhancement, reviewed/lgtm, size/s, area/control-plane

#5018 Prepare next dev cycle v1.35.1-dev
  VERSION
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm

#5016 Adjust the verbosity of the terraformer Pod logs in the terraformer pkg
  extensions/pkg/terraformer/terraformer.go
Labels: kind/bug, area/ops-productivity, size/xs, area/usability, reviewed/lgtm

#5023 Fix indentation for extensions dashboards
  charts/seed-monitoring/charts/grafana/templates/_helpers.tpl
Labels: kind/bug, size/xs, area/monitoring, reviewed/lgtm, area/control-plane

#5029 [release-v1.33] Automated cherry pick of #5023: Fix indentation for extensions dashboards
  charts/seed-monitoring/charts/grafana/templates/_helpers.tpl
Labels: kind/bug, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, area/control-plane

#5028 [release-v1.34] Automated cherry pick of #5023: Fix indentation for extensions dashboards
  charts/seed-monitoring/charts/grafana/templates/_helpers.tpl
Labels: kind/bug, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, area/control-plane

#5027 [release-v1.35] Automated cherry pick of #5023: Fix indentation for extensions dashboards
  charts/seed-monitoring/charts/grafana/templates/_helpers.tpl
Labels: kind/bug, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, area/control-plane

#5032 [release-v1.33] Automated cherry pick of #5016: Adjust the verbosity of the terraformer Pod logs in the terraformer pkg
  extensions/pkg/terraformer/terraformer.go
Labels: kind/bug, area/ops-productivity, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm

#5030 [release-v1.35] Automated cherry pick of #5016: Adjust the verbosity of the terraformer Pod logs in the terraformer pkg
  extensions/pkg/terraformer/terraformer.go
Labels: kind/bug, area/ops-productivity, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm

#5031 [release-v1.34] Automated cherry pick of #5016: Adjust the verbosity of the terraformer Pod logs in the terraformer pkg
  extensions/pkg/terraformer/terraformer.go
Labels: kind/bug, needs/review, area/ops-productivity, size/xs, needs/ok-to-test, area/usability

#5033 Fix recreation of vpn-shoot secret
  pkg/operation/botanist/secrets.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#5034 [release-v1.35] Automated cherry pick of #4988: Made forcing tcp upgrade for node local dns configurable.
  charts/shoot-core/components/charts/nodelocal-dns/templates/_helpers.tpl
  charts/shoot-core/components/charts/nodelocal-dns/values.yaml
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/addons.go
Labels: kind/enhancement, kind/api-change, needs/ok-to-test, needs/second-opinion, reviewed/lgtm, area/networking, size/s

#5019 Retry hyperkube preload if it failed
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: kind/bug, reviewed/lgtm, area/robustness, size/s, merge/squash

#5020 Disable parallel execution of update-codegen
  Makefile
  hack/update-codegen.sh
Labels: kind/bug, size/xs, area/quality, reviewed/lgtm, merge/squash

#5025 Update to golang@1.17.3
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/GardenletLandscaper.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
Labels: reviewed/lgtm, size/s

#5021 Enhancements for condition builder
  pkg/apis/core/v1beta1/helper/condition_builder.go
  pkg/apis/core/v1beta1/helper/condition_builder_test.go
Labels: kind/enhancement, area/ops-productivity, size/m, reviewed/lgtm, merge/squash

#5035 Enable access logging of envoy proxy side car of vpn seed server.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, area/networking, size/s

#4971 Kubernetes Version Configurability per Worker Pool
  cmd/gardener-apiserver/app/gardener_apiserver.go
  docs/README.md
  docs/api-reference/core.md
  docs/api-reference/extensions.md
  docs/deployment/feature_gates.md
  docs/usage/shoot_updates.md
  docs/usage/worker_pool_k8s_versions.md
  example/90-shoot.yaml
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  extensions/pkg/controller/worker/machines.go
  extensions/pkg/controller/worker/machines_test.go
  hack/local-development/start-apiserver
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apiserver/features/features.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control_test.go
  pkg/features/features.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/component/extensions/crds/templates/crd-worker.tpl.yaml
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/component/extensions/worker/worker.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
  test/integration/envtest/shootmaintenance/maintenance_control_test.go
  test/integration/envtest/shootmaintenance/maintenance_suite_test.go
Labels: kind/enhancement, kind/api-change, needs/review, size/xl, needs/rebase, needs/ok-to-test, needs/second-opinion, area/usability, merge/squash

#5002 Enable `gardener-resource-manager`'s `TokenInvalidator` and `ProjectedTokenMount` webhooks in seed and shoot
  charts/gardener/gardenlet/charts/runtime/templates/clusterrole-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/apis/resources/v1alpha1/types.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
  pkg/resourcemanager/controller/tokeninvalidator/reconciler.go
  pkg/resourcemanager/controller/tokeninvalidator/reconciler_test.go
  pkg/resourcemanager/webhook/projectedtokenmount/handler.go
  pkg/resourcemanager/webhook/projectedtokenmount/handler_test.go
  test/integration/envtest/resourcemanager/tokeninvalidator/tokeninvalidator_suite_test.go
  test/integration/envtest/resourcemanager/tokeninvalidator/tokeninvalidator_test.go
Labels: kind/enhancement, area/security, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, merge/squash

#5040 Capture a metric for a persistent volume issue
  charts/seed-bootstrap/charts/kube-state-metrics/templates/deployment.yaml
  charts/seed-bootstrap/prometheus-rules/recording-rules.rules.yaml
  charts/seed-bootstrap/values.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#5013 Move copying of seed conditions to shoots registered as seeds to GCM
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_conditions_control.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/utils/kubernetes/eventhandler.go
  pkg/utils/kubernetes/eventhandler_test.go
Labels: kind/enhancement, needs/ok-to-test, size/l, reviewed/lgtm, area/control-plane, merge/squash

#5050 Several enhancements for the integration test framework
  test/framework/shoot_utils.go
  test/framework/shootcreationframework.go
  test/framework/worker_utils.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/testing, merge/squash

#5048 Expose a metric on frequent container restarts in the seed
  charts/seed-bootstrap/prometheus-rules/recording-rules.rules.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#5052 Add missing GRM network policy and network policy labels
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane

#5053 Skip moving generated CRDs when prefix is empty
  hack/generate-seed-crds.sh
Labels: kind/bug, area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#5022 Move shoot status label updates to GCM
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_status_label_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/operation.go
Labels: kind/enhancement, needs/ok-to-test, size/l, reviewed/lgtm, area/control-plane

#4977 Add integration test for ssh-key rotation
  test/integration/shoots/operations/operations.go
Labels: needs/ok-to-test, kind/test, reviewed/lgtm, size/s, area/testing, merge/squash

#5007 Eliminate client certificate for `kube-controller-manager` and `cluster-autoscaler`
  pkg/operation/botanist/clusterautoscaler.go
  pkg/operation/botanist/clusterautoscaler_test.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/component/clusterautoscaler/mock/mocks.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/component/kubecontrollermanager/shoot_resources.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/kubecontrollermanager_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
Labels: kind/enhancement, area/security, needs/review, size/xl, needs/ok-to-test, needs/second-opinion, merge/squash

#5010 Eliminate client certificate for `kube-rbac-proxy`
  charts/seed-bootstrap/charts/loki/templates/serviceaccount.yaml
  charts/seed-bootstrap/charts/loki/templates/statefulset.yaml
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/logging/kube_rbac_proxy.go
  pkg/operation/botanist/component/logging/kube_rbac_proxy_test.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
Labels: kind/enhancement, area/security, size/xl, reviewed/lgtm, merge/squash

#5042 Make remaining values optional for generic control plane actuator
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
Labels: kind/enhancement, needs/ok-to-test, area/usability, reviewed/lgtm, size/s

#5043 Allow object selector for extensions webhooks
  extensions/pkg/webhook/registration.go
  extensions/pkg/webhook/webhook.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm

#5046 Prepare `generate-imagename-constants.sh` script for reuse
  hack/generate-imagename-constants.sh
Labels: kind/enhancement, area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#5054 Do not consider GRM webhooks in constraints check
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/care/constraints.go
Labels: kind/bug, area/ops-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#5041 Add `unknown` status label value
  pkg/controllermanager/controller/managedseedset/managedseedset_replica_test.go
  pkg/operation/shoot/status.go
  pkg/operation/shoot/status_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5049 `ExtensionValidator` only triggers if spec changed
  plugin/pkg/global/extensionvalidation/admission.go
  plugin/pkg/global/extensionvalidation/admission_test.go
Labels: kind/bug, needs/ok-to-test, area/usability, reviewed/lgtm, size/s

#5044 Introduce annotation to allow skipping the infrastructure cleanup sleep step
  docs/usage/shoot_cleanup.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: kind/enhancement, kind/api-change, needs/ok-to-test, area/usability, reviewed/lgtm, size/s, merge/squash

#5047 Ensure proper extension controller cleanup when seed is deleted
  pkg/controllermanager/controller/controllerregistration/seed_control.go
  pkg/controllermanager/controller/controllerregistration/seed_control_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm

#5045 Activate ReversedVPN feature gate for local development
  example/20-componentconfig-gardenlet.yaml
Labels: kind/enhancement, area/cost, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#4980 Introduce NodeTemplate in Worker extensions API
  docs/api-reference/extensions.md
  docs/extensions/worker.md
  example/seed-crds/10-crd-extensions.gardener.cloud_workers.yaml
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/extensions/v1alpha1/types_worker.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions/validation/worker.go
  pkg/apis/extensions/validation/worker_test.go
  pkg/operation/botanist/component/extensions/worker/worker.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
  pkg/operation/botanist/worker.go
Labels: kind/enhancement, area/performance, kind/api-change, needs/ok-to-test, size/m, reviewed/lgtm, area/high-availability, area/auto-scaling, area/scalability, merge/squash

#5062 Ensure KCM ClusterRoleBinding is not deleted too early
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/component/kubecontrollermanager/shoot_resources.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5060 Fixed typo in api-server-proxy configuration file.
  charts/shoot-core/components/charts/apiserver-proxy/templates/_helpers.tpl
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5061 Update feature gate owners
  pkg/features/features.go
Labels: size/xs, needs/ok-to-test, area/open-source, reviewed/lgtm, kind/cleanup

#5067 Adds nodeTemplate to worker CRD
  pkg/operation/botanist/component/extensions/crds/templates/crd-worker.tpl.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/auto-scaling

#5068 Destroy the source BackupEntry only during restore phase
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/backupentry_test.go
  pkg/operation/botanist/migration_test.go
Labels: kind/bug, needs/ok-to-test, area/quality, size/m, reviewed/lgtm

#4813 [GEP-17] Set owner check configuration in etcd-main Etcd resource
  docs/api-reference/core.md
  docs/usage/seed_settings.md
  example/50-seed.yaml
  pkg/apis/core/types_seed.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_seed.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/mock/mocks.go
  pkg/operation/botanist/dnsresources.go
  pkg/operation/botanist/dnsresources_test.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
Labels: kind/enhancement, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration, merge/squash

#5076 Change GRM default webhook server port to 10250
  charts/gardener/gardener-resource-manager/values.yaml
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#5075 Add seed setting for disabling the `dependency-watchdog`
  docs/api-reference/core.md
  docs/usage/seed_settings.md
  example/50-seed.yaml
  pkg/apis/core/types_seed.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_seed.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1alpha1/zz_generated.defaults.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/zz_generated.defaults.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
Labels: kind/enhancement, kind/api-change, size/xl, needs/ok-to-test, area/usability, reviewed/lgtm, merge/squash

#5009 Eliminate client certificate for `vpa-{admission-controller,recommender,updater}`
  charts/seed-bootstrap/charts/vpa/charts/application/templates/_helpers.tpl
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-actor.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-checkpointer.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-target-reader.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-updater-evictioner.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-actor.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-checkpointer.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-target-reader.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-updater-evictioner.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/serviceaccount-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/serviceaccount-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/serviceaccount-updater.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-updater.yaml
  charts/seed-bootstrap/charts/vpa/values.yaml
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5008 Eliminate client certificate for `kube-state-metrics` and `prometheus`
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/templates/deployment.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/_helpers.tpl
  charts/seed-monitoring/charts/core/charts/prometheus/templates/blackbox-exporter-config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  charts/shoot-core/components/charts/monitoring/charts/kube-state-metrics-shoot/templates/rbac.yaml
  charts/shoot-core/components/charts/monitoring/charts/prometheus-shoot/templates/rbac.yaml
  docs/extensions/logging-and-monitoring.md
  pkg/operation/botanist/component/coredns/monitoring.go
  pkg/operation/botanist/component/coredns/monitoring_test.go
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
  pkg/operation/botanist/component/kubecontrollermanager/monitoring.go
  pkg/operation/botanist/component/kubecontrollermanager/monitoring_test.go
  pkg/operation/botanist/component/kubescheduler/monitoring.go
  pkg/operation/botanist/component/kubescheduler/monitoring_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#4881 Increase infrastructure reconciliation wait timeout
  pkg/operation/botanist/component/extensions/infrastructure/infrastructure.go
Labels: status/author-action, needs/review, size/xs, needs/ok-to-test, area/quality, kind/technical-debt

#5055 Enable metrics collection of and introduce dashboard for envoy proxy side car used in reversed vpn
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpn-seed-server/envoy-proxy-dashboard.json
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
  pkg/operation/botanist/monitoring.go
Labels: kind/enhancement, size/xl, needs/ok-to-test, area/monitoring, reviewed/lgtm, area/networking

#5077 Fixed a couple of panels in the istio mesh dashboard and exposed the istio http metrics.
  charts/istio/istio-ingress/templates/envoy-filter.yaml
  charts/seed-bootstrap/dashboards/istio/istio-mesh-dashboard.json
  charts/seed-bootstrap/values.yaml
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/networking

#5065 Add access logging to apiserver-proxy for requests coming from the shoot cluster to kubernetes.default.svc.
  charts/shoot-core/components/charts/apiserver-proxy/templates/_helpers.tpl
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5066 SeedAuthorizer: Allow gardenlet to delete BackupEntry resources
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/operation/botanist/component/backupentry/backupentry.go
  pkg/operation/botanist/component/backupentry/backupentry_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#5074 Allow to configure `SerializeImagePulls` for kubelet configuration in `Shoot` API
  docs/api-reference/core.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config_test.go
Labels: kind/enhancement, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, area/storage, area/scalability

#5087 Provide ip address of local node to vpn-seed-server so that the readiness/liveness probes can be removed from the log output.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5098 Add workaround for projected service account tokens
  pkg/resourcemanager/webhook/projectedtokenmount/handler.go
  pkg/resourcemanager/webhook/projectedtokenmount/handler_test.go
Labels: area/security, needs/review, size/xs, needs/ok-to-test
