Repository gardener/gardener, pull requests merged in 2021-06, with the labels that each got.

#4128 Enhance release docs with plan and more information
  docs/README.md
  docs/development/process.md
Labels: area/documentation, area/open-source, kind/enhancement, reviewed/lgtm, reviewed/ok-to-test, size/s

#4006 [GEP-15] Add Bastion handling to gardenlet
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  docs/proposals/15-manage-bastions-and-ssh-key-pair-rotation.md
  example/20-componentconfig-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/apis/operations/v1alpha1/types_bastion.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientset.go
  pkg/client/kubernetes/fake/builder.go
  pkg/client/kubernetes/fake/clientset.go
  pkg/client/kubernetes/fake/fake_test.go
  pkg/client/kubernetes/mock/mocks.go
  pkg/client/kubernetes/types.go
  pkg/controllerutils/seedfilter.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/gardenlet/apis/config/validation/validation.go
  pkg/gardenlet/apis/config/validation/validation_test.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/backupbucket/backup_bucket.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_reconciler.go
  pkg/gardenlet/controller/backupentry/backup_entry.go
  pkg/gardenlet/controller/bastion/bastion.go
  pkg/gardenlet/controller/bastion/bastion_reconciler.go
  pkg/gardenlet/controller/factory.go
  pkg/seedadmissioncontroller/extensioncrds_suite_test.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/admission.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/admission_test.go
Labels: area/ops-productivity, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#4140 Allow edit/explore in Grafana without login
  charts/seed-bootstrap/templates/grafana/grafana-deployment.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
  docs/usage/logging.md
Labels: area/logging, area/monitoring, area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, status/in-progress

#4134 Fix Bastion CRDs
  hack/api-reference/extensions.md
  pkg/apis/extensions/v1alpha1/types_bastion.go
Labels: area/ops-productivity, kind/api-change, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, status/accepted

#4094 Add alert for snapshotter failure in etcd-backup-restore
  pkg/operation/botanist/component/etcd/monitoring.go
  pkg/operation/botanist/component/etcd/monitoring_test.go
  pkg/operation/botanist/component/etcd/testdata/monitoring_alertingrules_normal_with_backup.yaml
Labels: area/backup, area/high-availability, area/monitoring, kind/enhancement, lifecycle/stale, needs/ok-to-test, reviewed/lgtm, size/s, status/accepted

#4133 Updated core dns to 1.8.4.
  charts/images.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, status/accepted

#4137 Send logs of deleted shoots to the central Loki instance
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, status/accepted

#4115 Add a new metric for coredns and extend coredns dashboard
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/owners/coredns-dashboard.json
Labels: area/monitoring, area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, status/accepted

#4136 Scrape metrics for node-local-dns and add a grafana dashboard.
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/dns/node-local-dns-dashboard.json
  charts/seed-monitoring/charts/grafana/templates/grafana-dashboards-configmap.yaml
  charts/seed-monitoring/charts/grafana/values.yaml
  pkg/operation/botanist/monitoring.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, size/xl

#4027 Make extension components ready for cached client
  extensions/pkg/controller/backupbucket/backupbucket_test.go
  extensions/pkg/controller/utils_test.go
  pkg/controllerutils/patch.go
  pkg/controllerutils/patch_test.go
  pkg/controllerutils/seedfilter.go
  pkg/extensions/customresources.go
  pkg/extensions/customresources_test.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/extensions/backupentry/backupentry.go
  pkg/operation/botanist/component/extensions/backupentry/backupentry_test.go
  pkg/operation/botanist/component/extensions/containerruntime/containerruntime.go
  pkg/operation/botanist/component/extensions/containerruntime/containerruntime_test.go
  pkg/operation/botanist/component/extensions/controlplane/controlplane.go
  pkg/operation/botanist/component/extensions/controlplane/controlplane_test.go
  pkg/operation/botanist/component/extensions/extension/extension.go
  pkg/operation/botanist/component/extensions/extension/extension_test.go
  pkg/operation/botanist/component/extensions/infrastructure/infrastructure.go
  pkg/operation/botanist/component/extensions/infrastructure/infrastructure_test.go
  pkg/operation/botanist/component/extensions/network/network.go
  pkg/operation/botanist/component/extensions/network/network_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/component/extensions/worker/worker.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
  pkg/operation/shoot/types.go
  pkg/utils/kubernetes/health/health.go
  pkg/utils/kubernetes/health/health_test.go
  pkg/utils/object.go
  pkg/utils/test/gomock.go
  pkg/utils/test/gomock_test.go
  pkg/utils/test/matchers/matchers.go
  pkg/utils/test/test.go
Labels: area/dev-productivity, area/scalability, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl, status/in-progress

#4143 Fix `make install`
  pkg/apis/operations/v1alpha1/conversions.go
  pkg/gardenlet/controller/bastion/bastion_reconciler.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4146 inlets has moved to ghcr
  hack/hook-me.sh
Labels: area/dev-productivity, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#4077 Make docker nodeless setup the recommended way
  docs/development/local_setup.md
Labels: area/documentation, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s, status/accepted

#4145 Allow to disable ClusterRole{Binding} for global gardenlet access
  charts/gardener/controlplane/charts/application/templates/clusterrole-seeds.yaml
  charts/gardener/controlplane/charts/application/templates/clusterrolebinding-seeds.yaml
  charts/gardener/controlplane/values.yaml
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4148 Allow gardenlet to delete ShootStates in SeedAuthorizer
  charts/gardener/controlplane/charts/application/templates/clusterrole-admission-controller.yaml
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_shoot.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_shootstate.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
Labels: area/security, kind/bug, merge/squash, needs/ok-to-test, needs/review, size/m

#4156 Switch to GCR image to prevent Docker Hub rate limits
  test/framework/k8s_utils.go
Labels: area/testing, needs/ok-to-test, needs/review, size/xs

#4159 Update of reversed vpn architecture diagram.
  docs/proposals/assets/ReversedTunnelVPN.png
Labels: area/documentation, area/networking, kind/cleanup, needs/ok-to-test, needs/review, size/xs

#4155 Make bootstrapping a new Seed more smooth when SeedAuthorizer is enabled
  pkg/gardenlet/controller/factory.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4158 [release-v1.24] Automated cherry pick of #4156: Switch to GCR image to prevent Docker Hub rate limits
  test/framework/k8s_utils.go
Labels: area/testing, needs/ok-to-test, size/xs

#4132 [CPM Integration Tests] Adding support for hibernated shoots
  test/framework/shootmigrationtest.go
  test/system/shoot_cp_migration/migrate_test.go
Labels: area/control-plane-migration, kind/test, needs/ok-to-test, reviewed/lgtm, size/s

#4164 Refactor kubernetes admission plugins
  pkg/operation/botanist/controlplane.go
  pkg/utils/kubernetes/admissionplugins.go
  pkg/utils/kubernetes/admissionplugins_test.go
Labels: area/dev-productivity, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xs

#4162 Fix filtering of owned seeds in managed seed controller
  pkg/controllermanager/controller/managedseedset/managedseedset_reconciler.go
  pkg/controllermanager/controller/managedseedset/managedseedset_reconciler_test.go
  pkg/controllerutils/seedfilter.go
  pkg/controllerutils/seedfilter_test.go
  pkg/gardenlet/controller/managedseed/managedseed.go
  pkg/gardenlet/controller/managedseed/managedseed_predicates.go
  pkg/gardenlet/controller/managedseed/managedseed_reconciler.go
  pkg/gardenlet/controller/managedseed/managedseed_reconciler_test.go
Labels: area/control-plane, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4169 fix ControllerDeployment schema in docs
  docs/extensions/controllerregistration.md
  example/25-controllerdeployment.yaml
Labels: area/documentation, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4144 CreateAnd*Patch now GETs the object if it already exists
  pkg/controllerutils/patch.go
  pkg/controllerutils/patch_test.go
  pkg/extensions/customresources.go
  pkg/gardenlet/bootstrap/util/util.go
  pkg/gardenlet/bootstrap/util/util_test.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator_test.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/operation/botanist/secrets.go
  pkg/utils/kubernetes/object.go
  pkg/utils/kubernetes/object_test.go
Labels: area/dev-productivity, kind/task, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4152 Add panel for the node condition
  charts/seed-monitoring/charts/grafana/dashboards/owners/node-details-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#4165 Ignore shoots in deletion when removing versions from a cloud profile
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4170 Upgrade grafana to 7.5.7
  charts/images.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4149 Add validation of Kubernetes feature gates
  hack/compare-k8s-feature-gates.sh
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/utils/kubernetes/featuregates.go
  pkg/utils/kubernetes/featuregates_test.go
Labels: area/ops-productivity, area/usability, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#4166 Add ManagedSeedShoot admission plugin
  docs/concepts/apiserver_admission_plugins.md
  pkg/apiserver/plugins.go
  plugin/pkg/managedseed/shoot/admission.go
  plugin/pkg/managedseed/shoot/admission_test.go
  plugin/pkg/managedseed/shoot/shoot_suite_test.go
  plugin/pkg/seed/validator/admission.go
Labels: area/control-plane, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/l

#4154 Add Lease vertex in RDG in seed handler to allow gardenlet accessing its Lease even if it does not yet exist
  docs/deployment/gardenlet_api_access_flow.png
  docs/deployment/gardenlet_api_access_graph.png
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_lease.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_seed.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m

#4168 Fixed bug in node local dns implementation.
  pkg/operation/botanist/networkpolicies.go
  pkg/operation/botanist/networkpolicies_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4150 Correct edge in resource dependency graph for BackupBucket and BackupEntry
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_backupentry.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/vertices.go
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4161 Cleanup special wait logic in DNS components
  pkg/extensions/customresources.go
  pkg/extensions/customresources_test.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/component/extensions/dns/dns.go
  pkg/operation/botanist/component/extensions/dns/dns_test.go
  pkg/operation/botanist/component/extensions/dns/dnsentry.go
  pkg/operation/botanist/component/extensions/dns/dnsentry_test.go
  pkg/operation/botanist/component/extensions/dns/dnsowner_test.go
  pkg/operation/botanist/component/extensions/dns/dnsprovider.go
  pkg/operation/botanist/component/extensions/dns/dnsprovider_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/dns.go
  pkg/operation/seed/seed.go
Labels: area/dev-productivity, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#4171 Allow changing container runtime on existing workers
  docs/usage/shoot_updates.md
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s

#4178 Improve error code mapping for quota issues
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/validation/exposureclass_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4175 Properly validate OIDC signing algorithms
  example/90-shoot.yaml
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4176 Do not wait forever for Terraform pod creation if it's stuck
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/mock/mocks.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/types.go
  extensions/pkg/terraformer/waiter.go
Labels: area/ops-productivity, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4186 [release-v1.24] Automated cherry pick of #4178: Improve error code mapping for quota issues
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/validation/exposureclass_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#4185 [release-v1.23] Automated cherry pick of #4178: Improve error code mapping for quota issues
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#4184 [release-v1.22] Automated cherry pick of #4178: Improve error code mapping for quota issues
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#4187 Fix minor nit in `make remote-garden-up`
  hack/local-development/remote-garden/open-gardener-tunnels
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4181 configurable inlets pod server port
  hack/hook-me.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4151 Fix missing update of OSC status
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
Labels: kind/bug, lifecycle/stale, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xs

#4189 Eliminate ControllerInstallation reconciler in gardenlet's Shoot controller
  pkg/gardenlet/controller/shoot/controllerinstallation_control.go
  pkg/gardenlet/controller/shoot/shoot.go
Labels: area/control-plane-migration, area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4191 Fix bugs in CPM introduced by latest refactorings
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/extensions/customresources.go
  pkg/extensions/customresources_test.go
  pkg/operation/botanist/component/extensions/dns/dns.go
  pkg/operation/botanist/component/extensions/dns/dns_test.go
  pkg/operation/botanist/dns.go
Labels: kind/bug, merge/keep-commits, needs/ok-to-test, reviewed/lgtm, size/m

#4177 ManagedResource health checker determines error codes
  extensions/pkg/controller/healthcheck/general/managed_resource.go
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#4183 Read vpn-shoot service events if tunnel check fails
  pkg/operation/botanist/tunnel.go
  pkg/operation/botanist/tunnel_test.go
  pkg/operation/botanist/waiter.go
  pkg/operation/care/health.go
  pkg/utils/kubernetes/health/health.go
  pkg/utils/kubernetes/health/health_test.go
  pkg/utils/kubernetes/kubernetes.go
Labels: area/ops-productivity, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/l

#4193 Properly respect BackupEntry.status.seedName in RDG
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_backupentry.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4190 Allow CREATE requests for ShootStates,BackupEntries during control plane migration
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
Labels: area/control-plane-migration, area/security, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s

#4192 Enhance docs with steps for how to enable the Seed{Authorizer,Restriction}
  docs/deployment/gardenlet_api_access.md
  hack/local-development/local-garden/run-kube-apiserver
Labels: area/documentation, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4194 Upgrade fluent-bit version
  charts/images.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, status/under-investigation

#4179 Make Bastion controller and BackupEntry component ready for cached client
  pkg/extensions/customresources.go
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
  pkg/gardenlet/controller/bastion/bastion_reconciler.go
  pkg/gardenlet/controller/federatedseed/extensions/shootstate_control.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/backupentry/backupentry.go
  pkg/operation/botanist/component/backupentry/backupentry_test.go
  pkg/operation/botanist/component/extensions/extension/extension_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/containerruntime.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/dns_test.go
  pkg/operation/botanist/extension.go
  pkg/operation/botanist/extension_test.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/network.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/resources.go
  pkg/operation/botanist/worker.go
  pkg/utils/kubernetes/health/health.go
  pkg/utils/kubernetes/unstructured/object.go
Labels: area/dev-productivity, area/scalability, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/l

#4200 Upgrade cluster-autoscaler from v0.16.1 to v0.16.2
  charts/images.yaml
Labels: area/auto-scaling, kind/bug, needs/cherry-pick, needs/ok-to-test, reviewed/lgtm, size/xs

#4201 Fix allow-to-dns networkpoliciy in garden namespace with node local dns
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/networkpolicies.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/types.go
  pkg/operation/common/types.go
  pkg/operation/seed/seed.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4195 Use CreateOrGetAndStrategicMergePatch when gardenlet creates bucket secret
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4202 Add annotation to overwrite the Kubernetes version for CSI migration
  extensions/pkg/controller/csimigration/controller.go
  extensions/pkg/controller/csimigration/reconciler.go
  extensions/pkg/predicate/predicate.go
  extensions/pkg/predicate/predicate_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/extensions/v1alpha1/types.go
Labels: area/storage, kind/api-change, kind/enhancement, needs/cherry-pick, needs/ok-to-test, reviewed/lgtm, size/s

#4203 [release-v1.22] Automated cherry pick of #4202: Add annotation to overwrite the Kubernetes version for CSI migration
  extensions/pkg/controller/csimigration/controller.go
  extensions/pkg/controller/csimigration/reconciler.go
  extensions/pkg/predicate/predicate.go
  extensions/pkg/predicate/predicate_test.go
  pkg/apis/extensions/v1alpha1/types.go
Labels: area/storage, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4205 [release-v1.24] Automated cherry pick of #4202: Add annotation to overwrite the Kubernetes version for CSI migration
  extensions/pkg/controller/csimigration/controller.go
  extensions/pkg/controller/csimigration/reconciler.go
  extensions/pkg/predicate/predicate.go
  extensions/pkg/predicate/predicate_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/extensions/v1alpha1/types.go
Labels: area/storage, kind/api-change, kind/enhancement, needs/ok-to-test, needs/second-opinion, reviewed/lgtm, size/s

#4204 [release-v1.23] Automated cherry pick of #4202: Add annotation to overwrite the Kubernetes version for CSI migration
  extensions/pkg/controller/csimigration/controller.go
  extensions/pkg/controller/csimigration/reconciler.go
  extensions/pkg/predicate/predicate.go
  extensions/pkg/predicate/predicate_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/extensions/v1alpha1/types.go
Labels: area/storage, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4206 Re-enable testgrid now that kubernetes/test-infra/issues/22140 is fixed
  README.md
Labels: area/documentation, area/testing, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, status/accepted

#4196 Add ObservedGeneration handling to Bastions
  docs/proposals/15-manage-bastions-and-ssh-key-pair-rotation.md
  hack/api-reference/operations.md
  pkg/apis/operations/types_bastion.go
  pkg/apis/operations/v1alpha1/generated.pb.go
  pkg/apis/operations/v1alpha1/generated.proto
  pkg/apis/operations/v1alpha1/types_bastion.go
  pkg/apis/operations/v1alpha1/zz_generated.conversion.go
  pkg/apis/operations/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/operations/zz_generated.deepcopy.go
  pkg/gardenlet/controller/bastion/bastion.go
  pkg/gardenlet/controller/bastion/bastion_reconciler.go
  pkg/openapi/openapi_generated.go
Labels: area/ops-productivity, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, reviewed/ok-to-test, size/m, status/accepted

#4208 [release-v1.23] Automated cherry pick of #4200: Upgrade cluster-autoscaler from v0.16.1 to v0.16.2
  charts/images.yaml
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4207 [release-v1.24] Automated cherry pick of #4200: Upgrade cluster-autoscaler from v0.16.1 to v0.16.2
  charts/images.yaml
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4197 Make etcd component ready for cached client
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/extensions/customresources.go
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
  pkg/operation/botanist/component/etcd/monitoring_test.go
  pkg/operation/botanist/component/etcd/waiter.go
  pkg/operation/botanist/component/etcd/waiter_test.go
  pkg/operation/botanist/component/extensions/dns/dns.go
  pkg/operation/botanist/component/extensions/dns/dns_test.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/utils/retry/error.go
  pkg/utils/retry/error_test.go
  pkg/utils/retry/retry_suite_test.go
  pkg/utils/retry/retry_test.go
Labels: area/dev-productivity, area/scalability, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl, status/accepted

#4221 Adapt few usages of `io/ioutil` pkg
  Makefile
  pkg/envtest/aggregator.go
  pkg/envtest/environment.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4220 Add check for Stale objects during DNS deployment
  pkg/operation/botanist/dns.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs

#4213 Only allow addons on evaluation shoots for versions >= 1.22
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: area/usability, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s, status/accepted

#4211 Add document with recommendations for custom CSI components
  docs/README.md
  docs/usage/csi_components.md
Labels: area/documentation, area/ops-productivity, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s, status/accepted

#4223 Promote MountHostCADirectories feature gate to beta
  docs/deployment/feature_gates.md
  example/20-componentconfig-gardenlet.yaml
  pkg/features/features.go
  pkg/gardenlet/features/features.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4129 Add fine-grained RBAC resources for gardenlet in the seed cluster
  charts/gardener/gardenlet/charts/runtime/templates/clusterrole-gardenlet.yaml
  charts/gardener/gardenlet/charts/runtime/templates/clusterrole-managed-istio.yaml
  charts/gardener/gardenlet/charts/runtime/templates/clusterrolebinding-gardenlet.yaml
  charts/gardener/gardenlet/charts/runtime/templates/clusterrolebinding-managed-istio.yaml
  charts/gardener/gardenlet/charts/runtime/templates/rbac.yaml
  charts/gardener/gardenlet/charts/runtime/templates/role-default-gardenlet.yaml
  charts/gardener/gardenlet/charts/runtime/templates/role-garden-gardenlet.yaml
  charts/gardener/gardenlet/charts/runtime/templates/rolebinding-default-gardenlet.yaml
  charts/gardener/gardenlet/charts/runtime/templates/rolebinding-garden-gardenlet.yaml
  docs/deployment/deploy_gardenlet_manually.md
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  landscaper/pkg/gardenlet/chart/gardenlet_chart_test.go
  landscaper/pkg/gardenlet/controller/gardenlet_reconcile_test.go
Labels: area/security, kind/enhancement, reviewed/lgtm, size/xl, status/under-investigation

#4225 Get rid of DirectClient
  pkg/client/kubernetes/applier.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientset.go
  pkg/client/kubernetes/fake/builder.go
  pkg/client/kubernetes/fake/clientset.go
  pkg/client/kubernetes/fake/fake_test.go
  pkg/client/kubernetes/mock/mocks.go
  pkg/client/kubernetes/options.go
  pkg/client/kubernetes/runtime_client.go
  pkg/client/kubernetes/types.go
  pkg/gardenlet/bootstrap/certificate/certificate_rotation_test.go
  pkg/gardenlet/controller/federatedseed/extensions/shootstate_control_test.go
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler.go
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler_bootstrap.go
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler_bootstrap_test.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller_test.go
  pkg/operation/operation_test.go
  pkg/operation/seed/seed.go
Labels: area/dev-productivity, area/scalability, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4232 Check owner ref in seed controller
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4233 [release-v1.25] Automated cherry pick of #4232: Check owner ref in seed controller
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4234 [release-v1.24] Automated cherry pick of #4232: Check owner ref in seed controller
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4235 [release-v1.23] Automated cherry pick of #4232: Check owner ref in seed controller
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4228 Add new ProjectValidator admission plugin
  docs/concepts/apiserver_admission_plugins.md
  pkg/apiserver/plugins.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/utils/gardener/project.go
  plugin/pkg/project/validator/admission.go
  plugin/pkg/project/validator/admission_test.go
  plugin/pkg/project/validator/validator_suite_test.go
Labels: area/robustness, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4236 RequestLimitExceeded is now treated as ERR_INFRA_RATE_LIMITS_EXCEEDED
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4230 External Alert Manager secret type certificate fix
  charts/gardener/controlplane/charts/utils-common/templates/_secret-alerting.yaml
  example/10-secret-alerting.yaml
Labels: area/monitoring, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xs

#4226 Add docu for using the seed authorizer with the remote garden setup
  docs/development/local_setup.md
  hack/local-development/remote-garden/enable-seed-authorizer
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4212 Enable overriding the grace periods for cleanup steps in shoot deletion
  docs/README.md
  docs/usage/shoot_cleanup.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/cleanup.go
  pkg/utils/kubernetes/client/options.go
  pkg/utils/kubernetes/client/options_test.go
Labels: area/ops-productivity, area/usability, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4238 Vendor k/*@v0.21.1 and c-r@0.9.1
  go.mod
  go.sum
  vendor/golang.org/x/time/rate/rate.go
  vendor/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  vendor/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/fieldmanager/lastappliedupdater.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/k8s.io/code-generator/go.mod
  vendor/k8s.io/code-generator/go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/controller-runtime/OWNERS_ALIASES
  vendor/sigs.k8s.io/controller-runtime/SECURITY_CONTACTS
  vendor/sigs.k8s.io/controller-runtime/go.mod
  vendor/sigs.k8s.io/controller-runtime/go.sum
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/server.go
Labels: area/open-source, kind/task, needs/ok-to-test, reviewed/lgtm, size/s

#4229 Improve dashboards
  charts/seed-bootstrap/dashboards/extensions-dashboard.json
  charts/seed-bootstrap/dashboards/istio/istio-control-plane-dashboard.json
  charts/seed-bootstrap/dashboards/istio/istio-ingress-gateway-dashboard.json
  charts/seed-bootstrap/dashboards/istio/istio-mesh-dashboard.json
  charts/seed-bootstrap/dashboards/seed-resource-usage.json
  charts/seed-bootstrap/dashboards/vpa-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/dns/node-local-dns-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/cluster-overview-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/etcd-backup-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/etcd-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-daemonsets-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-deployments-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-pods-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-statefulsets-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/prometheus-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpa-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpn-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-overview.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/coredns-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-api-server-details.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-control-plane-status-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/node-details-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/node-pool-dashboard.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/shoot-vpa-dashboard.json
  charts/seed-monitoring/charts/grafana/templates/logging-dashboard.tpl
  docs/development/monitoring-stack.md
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4240 Update image of node local dns to 1.18.0
  charts/images.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, size/xs

#4242 Split envoyfilter into separate resources
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/component/istio/type.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_sni.go
  pkg/operation/botanist/component/kubeapiserverexposure/templates/envoyfilter.yaml
  pkg/operation/botanist/component/vpnseedserver/mock/mocks.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/vpnseedserver.go
  pkg/operation/botanist/vpnseedserver_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#4248 Fix for splitting of envoy filters into separate resources for reverse vpn and sni.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4252 [release-v1.25] Automated cherry pick of #4242: Split envoyfilter into separate resources #4248: Fix for splitting of envoy filters into separate resources for reverse vpn and sni.
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/component/istio/type.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_sni.go
  pkg/operation/botanist/component/kubeapiserverexposure/templates/envoyfilter.yaml
  pkg/operation/botanist/component/vpnseedserver/mock/mocks.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/vpnseedserver.go
  pkg/operation/botanist/vpnseedserver_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#4250 Enable martian packets
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kernelconfig/component.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kernelconfig/component_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4218 Allow selecting docker as cri.name
  docs/extensions/operatingsystemconfig.md
  example/30-cloudprofile.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4222 Set `containerd` as default container runtime for k8s>=1.22
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/openapi/openapi_generated.go
Labels: kind/api-change, lifecycle/stale, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s

#4227 Replace CreateOrUpdate with GetAndCreateOr*Patch
  extensions/pkg/controller/backupentry/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/machine_crds.go
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/state.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/util/shoot.go
  extensions/pkg/util/shoot_test.go
  extensions/pkg/webhook/registration.go
  extensions/pkg/webhook/shoot/networkpolicy.go
  landscaper/pkg/gardenlet/controller/gardenlet_reconcile.go
  landscaper/pkg/gardenlet/controller/gardenlet_reconcile_test.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/controllermanager/controller/project/project_control_reconcile_test.go
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
  pkg/gardenlet/bootstrap/bootstrap_test.go
  pkg/gardenlet/bootstrap/certificate/certificate_rotation_test.go
  pkg/gardenlet/bootstrap/util/util.go
  pkg/gardenlet/bootstrap/util/util_test.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/helper/helper.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/helper/helper_test.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/namespace_control.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/shoot/seed_registration_control.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_service.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_sni.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/component/networkpolicies/networkpolicies.go
  pkg/operation/botanist/component/networkpolicies/networkpolicies_test.go
  pkg/operation/botanist/component/projectrbac/projectrbac.go
  pkg/operation/botanist/component/projectrbac/projectrbac_test.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/namespaces.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/garden/garden.go
  pkg/operation/seed/seed.go
  pkg/utils/kubernetes/bootstraptoken/bootstraptoken.go
  test/integration/shoots/logging/loki_tenant.go
  test/integration/shoots/vpntunnel/vpntunnel.go
Labels: area/scalability, kind/cleanup, merge/squash, needs/changes, needs/ok-to-test, needs/second-opinion, size/xl

#4255 [release-v1.25] Automated cherry pick of #4236: RequestLimitExceeded is now treated as ERR_INFRA_RATE_LIMITS_EXCEEDED
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4257 [release-v1.23] Automated cherry pick of #4236: RequestLimitExceeded is now treated as ERR_INFRA_RATE_LIMITS_EXCEEDED
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4256 [release-v1.24] Automated cherry pick of #4236: RequestLimitExceeded is now treated as ERR_INFRA_RATE_LIMITS_EXCEEDED
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#4261 Allow gardenlet to list and watch priorityclasses.scheduling.k8s.io in the seeed cluster
  charts/gardener/gardenlet/charts/runtime/templates/clusterrole-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4237 Enh/stable worker hash
  extensions/pkg/controller/worker/machines.go
  extensions/pkg/controller/worker/machines_test.go
Labels: kind/api-change, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xs

#4269 Add required RBAC for istiod
  charts/istio/istio-istiod/templates/clusterrole.yaml
Labels: kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#4268 Fix the SNI transition for the kube-apiserver Service
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_service.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/quality, kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/s

#4264 Reconcile annotations and labels of ResourceQuota
  docs/concepts/controller-manager.md
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/controllermanager/controller/project/project_control_reconcile_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4249 Refactored support for node local dns.
  docs/usage/node-local-dns.md
  example/20-componentconfig-gardenlet.yaml
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/features/features.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/component/networkpolicies/bootstrap_test.go
  pkg/operation/botanist/component/networkpolicies/global.go
  pkg/operation/botanist/component/networkpolicies/global_test.go
  pkg/operation/botanist/component/networkpolicies/networkpolicies_test.go
  pkg/operation/botanist/networkpolicies.go
  pkg/operation/botanist/networkpolicies_test.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/shoot.go
Labels: area/networking, kind/api-change, needs/ok-to-test, reviewed/lgtm, size/m

#4246 Eliminate usages of retry.RetryOnConflict
  charts/gardener/controlplane/charts/application/templates/clusterrole-scheduler.yaml
  extensions/pkg/controller/backupbucket/backupbucket_test.go
  pkg/controllermanager/controller/seed/seed_lifecycle_reconcile.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_control.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_control_test.go
  pkg/controllermanager/controller/shoot/shoot_hibernation_types.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_care_control.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/operation/operation.go
  pkg/scheduler/controller/common/errors.go
  pkg/scheduler/controller/shoot/scheduler.go
  pkg/scheduler/controller/shoot/scheduler_control.go
  pkg/scheduler/controller/shoot/scheduler_control_test.go
  pkg/utils/kubernetes/controllerinstallation.go
  pkg/utils/kubernetes/controllerregistration.go
  pkg/utils/kubernetes/seed.go
  pkg/utils/kubernetes/shoot.go
  test/framework/k8s_utils.go
  test/integration/plants/plant.go
  test/integration/shoots/maintenance/maintenance_operations.go
Labels: area/scalability, kind/technical-debt, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#4260 Added option for switching kube-proxy on/off per shoot.
  docs/extensions/network.md
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/addons.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#4273 Add RBAC rules required for control plane migration
  charts/gardener/gardenlet/charts/runtime/templates/clusterrole-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
Labels: area/quality, kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/s

#4276 [release-v1.24] Automated cherry pick of #4268: Fix the SNI transition for the kube-apiserver Service
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_service.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/quality, kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/s

#4275 [release-v1.25] Automated cherry pick of #4268: Fix the SNI transition for the kube-apiserver Service
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_service.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/quality, kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/s

#4277 Pull the redis image from GCR
  test/framework/applications/guestbooktest.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4283 update landscaper gardenlet blueprint
  landscaper/pkg/gardenlet/blueprint.yaml
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs

#4278 Fix error when using git ls-files with git client >2.32.0
  hack/get-build-ld-flags.sh
Labels: needs/ok-to-test, reviewed/lgtm, size/xs
