Repository gardener/gardener, pull requests merged in 2021-09, with the labels that each got.

#4582 Classify quota issue as configuration problem
  pkg/apis/core/v1beta1/helper/errors.go
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, merge/squash

#4571 Fixed broken relative links
  docs/README.md
  docs/deployment/aks.md
Labels: size/xl, needs/ok-to-test, reviewed/lgtm, merge/squash

#4583 Name the reemiters from the fluent-bit embeded rewrite tag filters
  charts/seed-bootstrap/charts/fluent-bit/templates/_helpers.tpl
  pkg/operation/seed/seed.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/logging

#4588 Fix integration test
  test/framework/template.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/testing

#4589 Fix integration test (2)
  test/framework/resources/templates/guestbook-app.yaml.tpl
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/testing

#4590 Fix validation of DNSRecords with DNS names starting with a wildcard
  pkg/apis/extensions/validation/dnsrecord.go
  pkg/apis/extensions/validation/dnsrecord_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#4593 Set UseDNSRecords feature gate to true for local setup
  example/20-componentconfig-gardener-controller-manager.yaml
  example/20-componentconfig-gardenlet.yaml
  hack/local-development/start-apiserver
Labels: kind/enhancement, area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#4425 Add developer guideline on kubernetes client usage
  docs/README.md
  docs/development/kubernetes-clients.md
Labels: kind/enhancement, area/dev-productivity, needs/ok-to-test, area/documentation, size/l, reviewed/lgtm, area/scalability, merge/squash

#4580 Increase revisionHistoryLimit for ManagedSeed gardenlet
  hack/api-reference/seedmanagement.md
  landscaper/pkg/gardenlet/apis/imports/v1alpha1/defaults.go
  landscaper/pkg/gardenlet/apis/imports/v1alpha1/defaults_test.go
  pkg/apis/seedmanagement/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed_test.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
  pkg/openapi/openapi_generated.go
Labels: kind/enhancement, kind/api-change, area/ops-productivity, size/xs, needs/ok-to-test

#4586 Cleanup remaining `context.TODO()` occurrences
  cmd/utils/miscellaneous.go
  extensions/pkg/controller/backupbucket/mapper.go
  extensions/pkg/controller/backupentry/controller.go
  extensions/pkg/controller/backupentry/mapper.go
  extensions/pkg/controller/worker/mapper.go
  extensions/pkg/controller/worker/mapper_test.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  test/framework/gardenerframework.go
  test/framework/shootcreationframework.go
  test/framework/shootmigrationtest.go
  test/system/shoot_deletion/delete_test.go
Labels: needs/ok-to-test, size/m, reviewed/lgtm, area/robustness, kind/cleanup

#4594 Prevent Grafana of being deployed on a testing shoot
  pkg/operation/botanist/monitoring.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/logging

#4591 Health check only considers kube-apiserver MR for gardener >= 1.31
  pkg/operation/care/checker.go
  pkg/operation/care/health.go
  pkg/operation/care/health_check_test.go
Labels: kind/bug, area/ops-productivity, needs/ok-to-test, reviewed/lgtm, size/s

#4598 Fix VPA update failures
  charts/seed-bootstrap/charts/vpa/charts/application/templates/crd-verticalpodautoscalers.yaml
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, kind/regression, area/control-plane

#4596 [release-v1.30] Automated cherry pick of #4594: Prevent Grafana of being deployed on a testing shoot
  pkg/operation/botanist/monitoring.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/logging

#4595 Make use of `kutil.IgnoreAlreadyExists` where possible
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/terraformer/state.go
  landscaper/pkg/gardenlet/controller/gardenlet_reconcile.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/istio/ingress_gateway.go
  pkg/operation/botanist/component/istio/istiod.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/operation.go
  test/integration/envtest/seedadmissioncontroller/extensioncrds_test.go
  test/integration/shoots/logging/utils.go
Labels: area/dev-productivity, needs/ok-to-test, reviewed/lgtm, kind/cleanup, size/s

#4602 Add metrics/v1beta1 types to shoot scheme
  pkg/client/kubernetes/types.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#4601 add preconditions for control plane migration
  docs/usage/control_plane_migration.md
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm, area/control-plane-migration, merge/squash

#4603 Fix the logging integration tests
  test/framework/shootframework.go
  test/integration/shoots/logging/seed_logging_stack.go
  test/integration/shoots/logging/utils.go
Labels: needs/ok-to-test, kind/test, reviewed/lgtm, area/logging, size/s

#4568 Add profiling to control plane components and gardenlet
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/configmap-componentconfig.yaml
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardener-scheduler/app/gardener_scheduler.go
  cmd/gardenlet/app/gardenlet.go
  docs/README.md
  docs/monitoring/profiling.md
  example/20-componentconfig-gardener-admission-controller.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  example/20-componentconfig-gardener-scheduler.yaml
  example/20-componentconfig-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/admissioncontroller/apis/config/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/admissioncontroller/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/helper/helpers_test.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/types.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  pkg/server/routes/profiling.go
  plugin/pkg/managedseed/validator/admission_test.go
Labels: kind/enhancement, area/dev-productivity, area/ops-productivity, needs/ok-to-test, size/l, reviewed/lgtm, merge/squash

#4608 Allow restore operation for migrated resources
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/dnsrecord/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/worker/reconciler.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane-migration

#4613 Adds list of resources with generated names to ignore after cp migration integration tests
  .test-defs/MigrateShoot.yaml
  test/framework/shootmigrationtest.go
  test/system/shoot_cp_migration/migrate_test.go
Labels: kind/enhancement, reviewed/ok-to-test, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#4411 Perform reads and modifications to ShootState in a concurrency safe way
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/containerruntime.go
  pkg/operation/botanist/containerruntime_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane_test.go
  pkg/operation/botanist/dnsrecord.go
  pkg/operation/botanist/dnsrecord_test.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/extension.go
  pkg/operation/botanist/extension_test.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/infrastructure_test.go
  pkg/operation/botanist/network.go
  pkg/operation/botanist/network_test.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/worker.go
  pkg/operation/botanist/worker_test.go
  pkg/operation/operation.go
  pkg/operation/operation_test.go
  pkg/operation/shootsecrets/secrets_manager.go
  pkg/operation/shootsecrets/secrets_manager_test.go
  pkg/operation/types.go
  pkg/utils/test/test.go
Labels: kind/bug, reviewed/do-not-merge, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane-migration

#4614 Update Nginx Ingress
  charts/gardener/gardenlet/charts/runtime/templates/clusterrole-gardenlet.yaml
  charts/images.yaml
  charts/seed-bootstrap/charts/loki/templates/kube-rbac-proxy-ingress.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/_helpers.tpl
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/ingressclass.yaml
  charts/seed-bootstrap/charts/nginx-ingress/values.yaml
  charts/seed-bootstrap/templates/aggregate-prometheus/ingress.yaml
  charts/seed-bootstrap/templates/grafana/ingress.yaml
  charts/seed-monitoring/charts/alertmanager/templates/ingress.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/ingress.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-ingress.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/_helpers.tpl
  charts/shoot-addons/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/ingressclass.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/seed/seed.go
Labels: kind/enhancement, kind/api-change, needs/ok-to-test, topology/shoot, size/m, reviewed/lgtm, topology/seed, area/control-plane, merge/squash

#4615 Revert "Perform reads and modifications to ShootState in a concurrency safe way"
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/containerruntime.go
  pkg/operation/botanist/containerruntime_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane_test.go
  pkg/operation/botanist/dnsrecord.go
  pkg/operation/botanist/dnsrecord_test.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/extension.go
  pkg/operation/botanist/extension_test.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/infrastructure_test.go
  pkg/operation/botanist/network.go
  pkg/operation/botanist/network_test.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/worker.go
  pkg/operation/botanist/worker_test.go
  pkg/operation/operation.go
  pkg/operation/operation_test.go
  pkg/operation/shootsecrets/secrets_manager.go
  pkg/operation/shootsecrets/secrets_manager_test.go
  pkg/operation/types.go
  pkg/utils/test/test.go
Labels: kind/bug, reviewed/ok-to-test, needs/review, needs/ok-to-test, size/m, area/control-plane

#4610 Keep `watch_cache_capacity` and go runtime metrics
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#4619 Fix gardenlet metrics
  pkg/gardenlet/controller/networkpolicy/controller.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, needs/cherry-pick

#4622 [release-v1.29] Automated cherry pick of #4619: Fix gardenlet metrics
  pkg/gardenlet/controller/networkpolicy/controller.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#4623 [release-v1.30] Automated cherry pick of #4619: Fix gardenlet metrics
  pkg/gardenlet/controller/networkpolicy/controller.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#4624 Fix out of range issues in CP migration tests
  test/framework/shootmigrationtest.go
Labels: kind/bug, reviewed/ok-to-test, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm, area/control-plane-migration

#4107 [GEP-17] Add GEP-17 with an updated Control Plane Migration "Bad Case" Scenario description
  docs/README.md
  docs/proposals/07-shoot-control-plane-migration.md
  docs/proposals/17-shoot-control-plane-migration-bad-case.md
Labels: kind/enhancement, area/documentation, size/m, reviewed/lgtm, area/control-plane-migration

#4557 exit cloud config downloader script if the reload command has failed
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: kind/bug, size/xs, reviewed/lgtm, area/os

#4597 Increase weight for coredns podAntiAffinity
  charts/shoot-core/components/charts/coredns/templates/coredns-deployment.yaml
Labels: kind/bug, kind/enhancement, size/xs, reviewed/lgtm, area/networking

#4607 Adapt deprecated label key usage in NetworkPolicies (2)
  charts/seed-bootstrap/charts/loki/templates/statefulset.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
Labels: size/xs, reviewed/lgtm, kind/cleanup

#4618 Add new coredns metrics and grafana panels
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/owners/coredns-dashboard.json
Labels: kind/enhancement, size/l, area/monitoring, reviewed/lgtm

#4629 Fix format data device
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: kind/bug, needs/review, needs/ok-to-test, size/s, area/os

#4633 [release-v1.29] Automated cherry pick of #4629: Fix format data device
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/os

#4632 [release-v1.30] Automated cherry pick of #4629: Fix format data device
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/os

#4635 Fix typo
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm

#4521 Enforce seed allocatable capacity during admission
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: kind/enhancement, needs/review, size/xl, needs/ok-to-test, needs/second-opinion, area/robustness, merge/squash

#4307 [GEP-17] Add handling of owner DNSRecord resources
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord_test.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/dnsrecord.go
  pkg/operation/botanist/dnsresources.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/utils/gardener/dns.go
Labels: kind/enhancement, kind/api-change, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane

#4628 Fix goroutine and channel leak
  go.mod
  go.sum
  pkg/client/kubernetes/fake/builder.go
  pkg/client/kubernetes/fake/clientset.go
  pkg/client/kubernetes/fake/fake_test.go
  pkg/client/kubernetes/mock/mocks.go
  pkg/client/kubernetes/pods.go
  pkg/client/kubernetes/pods_test.go
  pkg/client/kubernetes/types.go
  pkg/operation/botanist/tunnel.go
  pkg/operation/botanist/tunnel_test.go
  vendor/go.uber.org/goleak/.gitignore
  vendor/go.uber.org/goleak/.travis.yml
  vendor/go.uber.org/goleak/CHANGELOG.md
  vendor/go.uber.org/goleak/LICENSE
  vendor/go.uber.org/goleak/Makefile
  vendor/go.uber.org/goleak/README.md
  vendor/go.uber.org/goleak/doc.go
  vendor/go.uber.org/goleak/glide.yaml
  vendor/go.uber.org/goleak/go.mod
  vendor/go.uber.org/goleak/go.sum
  vendor/go.uber.org/goleak/internal/stack/stacks.go
  vendor/go.uber.org/goleak/leaks.go
  vendor/go.uber.org/goleak/options.go
  vendor/go.uber.org/goleak/testmain.go
  vendor/go.uber.org/goleak/tools.go
  vendor/golang.org/x/lint/README.md
  vendor/golang.org/x/tools/go/ast/astutil/rewrite.go
  vendor/golang.org/x/tools/internal/gocommand/version.go
  vendor/golang.org/x/tools/internal/typeparams/doc.go
  vendor/golang.org/x/tools/internal/typeparams/notypeparams.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams.go
  vendor/modules.txt
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#4631 document rotation of cloudprovider secret
  docs/README.md
  docs/usage/secrets_rotation.md
Labels: size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm, merge/squash

#4620 Perform reads and modifications to ShootState in a concurrency safe way
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/containerruntime.go
  pkg/operation/botanist/containerruntime_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane_test.go
  pkg/operation/botanist/dnsrecord.go
  pkg/operation/botanist/dnsrecord_test.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/extension.go
  pkg/operation/botanist/extension_test.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/infrastructure_test.go
  pkg/operation/botanist/network.go
  pkg/operation/botanist/network_test.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/worker.go
  pkg/operation/botanist/worker_test.go
  pkg/operation/operation.go
  pkg/operation/operation_test.go
  pkg/operation/shootsecrets/secrets_manager.go
  pkg/operation/shootsecrets/secrets_manager_test.go
  pkg/operation/types.go
  pkg/utils/test/test.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane-migration

#4637 Exclude noisy typecheck linter errors
  .golangci.yaml
Labels: kind/bug, area/dev-productivity, needs/review, size/xs, needs/ok-to-test

#4604 Consider status.seedName when calculating seed usage
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/scheduler/controller/shoot/reconciler.go
  plugin/pkg/shoot/validator/admission.go
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/robustness

#4349 Use secret reference or cert-manager to provide certificates to the helmchart
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/secret-cert.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/secret-cert.yaml
  charts/gardener/controlplane/values.yaml
Labels: kind/enhancement, area/security, area/ops-productivity, needs/ok-to-test, reviewed/lgtm, size/s

#4636 Grant Gardener admins and viewers with access to customresourcedefinitions
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
Labels: kind/enhancement, area/ops-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#4642 Add missing entries to the feature gates doc
  docs/deployment/feature_gates.md
  pkg/features/features.go
Labels: size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm

#4536 Refactor coredns Helm chart into component
  charts/seed-bootstrap/charts/fluent-bit/templates/_helpers.tpl
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/rules/coredns.rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-configmap.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-custom-configmap.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-deployment.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-hpa.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-networkpolicy.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-poddisruptionbudget.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-rbac.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-service.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-serviceaccount.yaml
  charts/shoot-core/components/charts/coredns/values.yaml
  docs/usage/shoot_network_policies.md
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/coredns/coredns.go
  pkg/operation/botanist/component/coredns/coredns_suite_test.go
  pkg/operation/botanist/component/coredns/coredns_test.go
  pkg/operation/botanist/component/coredns/logging.go
  pkg/operation/botanist/component/coredns/logging_test.go
  pkg/operation/botanist/component/coredns/mock/doc.go
  pkg/operation/botanist/component/coredns/mock/mocks.go
  pkg/operation/botanist/component/coredns/monitoring.go
  pkg/operation/botanist/component/coredns/monitoring_test.go
  pkg/operation/botanist/component/coredns/testdata/monitoring_alertingrules.yaml
  pkg/operation/botanist/component/networkpolicies/global.go
  pkg/operation/botanist/component/networkpolicies/global_test.go
  pkg/operation/botanist/coredns.go
  pkg/operation/botanist/coredns_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/care/health.go
  pkg/operation/common/types.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
Labels: area/dev-productivity, size/xl, needs/ok-to-test, platform/all, area/quality, exp/intermediate, kind/test, reviewed/lgtm, area/robustness, kind/technical-debt, topology/seed, merge/squash, priority/3

#4645 Promote DisallowKubeconfigRotationForShootInDeletion feature gate to beta
  docs/deployment/feature_gates.md
  hack/local-development/start-apiserver
  pkg/apiserver/features/features.go
  pkg/features/features.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm

#4643 Remove netpol e2e test generator
  Makefile
  extensions/test/e2e/framework/executor/executor.go
  extensions/test/e2e/framework/networkpolicies/agnostic.go
  extensions/test/e2e/framework/networkpolicies/generators/networkpolicies.go
  extensions/test/e2e/framework/networkpolicies/generators/pretty_print.go
  extensions/test/e2e/framework/networkpolicies/networkpolicies_suite_test.go
  extensions/test/e2e/framework/networkpolicies/rule_builder.go
  extensions/test/e2e/framework/networkpolicies/rule_builder_test.go
  extensions/test/e2e/framework/networkpolicies/shared_resources.go
  extensions/test/e2e/framework/networkpolicies/types.go
  extensions/test/e2e/framework/networkpolicies/types_test.go
  go.mod
  vendor/modules.txt
Labels: size/xl, needs/ok-to-test, reviewed/lgtm, kind/cleanup, area/testing, merge/squash

#4647 Fix linting complains
  pkg/operation/botanist/component/coredns/coredns.go
  pkg/utils/secrets/certificates.go
Labels: kind/bug, area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#4656 Add missing field to v1beta2 VPA
  charts/seed-bootstrap/charts/vpa/charts/application/templates/crd-verticalpodautoscalers.yaml
Labels: kind/api-change, needs/review, size/xs, needs/ok-to-test, kind/regression, area/auto-scaling, priority/1, needs/cherry-pick

#4658 [release-v1.31] Automated cherry pick of #4656: Add missing field to v1beta2 VPA
  charts/seed-bootstrap/charts/vpa/charts/application/templates/crd-verticalpodautoscalers.yaml
Labels: kind/api-change, needs/review, size/xs, needs/ok-to-test, kind/regression, area/auto-scaling

#4668 Fix HVPA CRD
  charts/seed-bootstrap/charts/hvpa/templates/hvpa-crd.yaml
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, kind/regression, area/scalability, priority/1, needs/cherry-pick

#4669 [release-v1.31] Automated cherry pick of #4668: Fix HVPA CRD
  charts/seed-bootstrap/charts/hvpa/templates/hvpa-crd.yaml
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, kind/regression, area/scalability

#4663 Fix migration of extension resources
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/dnsrecord/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/utils_test.go
  extensions/pkg/controller/worker/reconciler.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane-migration

#4670 Fix users RBAC deffinition
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test

#4653 Enhance secrets documentation
  docs/usage/secrets_rotation.md
Labels: kind/enhancement, needs/ok-to-test, area/documentation, reviewed/lgtm, size/s

#4652 Enhance etcd documentation
  docs/README.md
  docs/concepts/etcd.md
  docs/extensions/controlplane-webhooks.md
Labels: kind/enhancement, needs/ok-to-test, area/documentation, reviewed/lgtm, size/s, merge/squash

#4675 Relax VPA validation
  charts/seed-bootstrap/charts/vpa/charts/application/templates/crd-verticalpodautoscalers.yaml
Labels: kind/api-change, size/xl, needs/ok-to-test, area/usability, reviewed/lgtm, needs/cherry-pick

#4677 [release-v1.31] Automated cherry pick of #4675: Relax VPA validation
  charts/seed-bootstrap/charts/vpa/charts/application/templates/crd-verticalpodautoscalers.yaml
Labels: kind/api-change, size/xl, needs/ok-to-test, area/usability, reviewed/lgtm

#4676 Fix ingress class handling
  charts/seed-bootstrap/charts/loki/templates/kube-rbac-proxy-ingress.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/_helpers.tpl
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/ingressclass.yaml
  charts/seed-bootstrap/templates/aggregate-prometheus/ingress.yaml
  charts/seed-bootstrap/templates/grafana/ingress.yaml
  charts/seed-monitoring/charts/alertmanager/templates/ingress.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/ingress.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-ingress.yaml
  pkg/operation/seed/seed.go
Labels: kind/bug, reviewed/lgtm, size/s, area/control-plane, needs/cherry-pick

#4679 [release-v1.31] Automated cherry pick of #4676: Fix ingress class handling
  charts/seed-bootstrap/charts/loki/templates/kube-rbac-proxy-ingress.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/_helpers.tpl
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/ingressclass.yaml
  charts/seed-bootstrap/templates/aggregate-prometheus/ingress.yaml
  charts/seed-bootstrap/templates/grafana/ingress.yaml
  charts/seed-monitoring/charts/alertmanager/templates/ingress.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/ingress.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-ingress.yaml
  pkg/operation/seed/seed.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#4651 Update Release Responsible Plan
  docs/development/process.md
Labels: kind/enhancement, needs/ok-to-test, area/open-source, reviewed/lgtm, size/s, merge/squash

#4682 Nit: add backticks to secret names
  docs/usage/secrets_rotation.md
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#4678 Fixed broken relative links
  hack/api-reference/extensions-config.json
  hack/api-reference/extensions.md
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#4665 GAC's seed restriction webhook uses 'Equivalent' match policy
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  hack/local-development/dev-setup-register-gardener
Labels: kind/bug, area/usability, status/accepted, reviewed/lgtm, size/s

#4685 Set DenyInvalidExtensionResources feature gate to true for local setup
  example/20-componentconfig-gardenlet.yaml
  hack/local-development/start-seed-admission-controller
Labels: kind/enhancement, area/dev-productivity, size/xs, reviewed/lgtm

#4680 Update operatingsystemconfig.md
  docs/extensions/operatingsystemconfig.md
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#4671 Use `certificates.k8s.io/v1.CertificateSigningRequests` if available
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_certificatesigningrequest.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/controllermanager/controller/certificatesigningrequest/certificatesigningrequest.go
  pkg/controllermanager/controller/certificatesigningrequest/csr_autoapprove_control.go
  pkg/gardenlet/bootstrap/certificate/certificate.go
  pkg/utils/gardener/seed.go
  pkg/utils/gardener/seed_test.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: kind/enhancement, size/xl, area/open-source, reviewed/lgtm, merge/squash

#4667 Enable immediate renewal of gardenlet client cert
  docs/concepts/gardenlet.md
  pkg/gardenlet/bootstrap/certificate/certificate_rotation.go
  pkg/gardenlet/bootstrap/certificate/certificate_rotation_test.go
  pkg/gardenlet/bootstrap/util/util.go
  pkg/gardenlet/bootstrap/util/util_test.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/m, reviewed/lgtm

#4666 Generate unique OSC resources per machine image name
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
Labels: kind/bug, reviewed/ok-to-test, area/ops-productivity, area/quality, reviewed/lgtm, size/s

#4644 Cleanup some context.Background()
  extensions/pkg/webhook/cmd/options.go
  extensions/test/integration/healthcheck/healthcheck_operation.go
  extensions/test/integration/operation/shoot_operation.go
  pkg/admissioncontroller/webhooks/auth/seed/handler.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/seed/seed.go
  pkg/utils/flow/flow.go
  pkg/utils/flow/flow_test.go
  test/framework/gardener_utils.go
  test/framework/k8s_utils.go
  test/framework/shootframework.go
  test/integration/gardener/scheduler/scheduler_test.go
  test/integration/shoots/care/shoot_care.go
  test/integration/shoots/logging/utils.go
  test/integration/shoots/maintenance/maintenance.go
Labels: needs/ok-to-test, size/m, reviewed/lgtm, area/robustness, kind/cleanup, merge/squash

#4560 Add prometheus for seed monitoring
  charts/gardener/gardenlet/charts/runtime/templates/deployment.yaml
  charts/seed-bootstrap/charts/monitoring/Chart.yaml
  charts/seed-bootstrap/charts/monitoring/charts/utils-templates
  charts/seed-bootstrap/charts/monitoring/seed-prometheus-rules/.gitkeep
  charts/seed-bootstrap/charts/monitoring/templates/_helpers.tpl
  charts/seed-bootstrap/charts/monitoring/templates/clusterrolebinding.yaml
  charts/seed-bootstrap/charts/monitoring/templates/config.yaml
  charts/seed-bootstrap/charts/monitoring/templates/prometheus-vpa.yaml
  charts/seed-bootstrap/charts/monitoring/templates/rules.yaml
  charts/seed-bootstrap/charts/monitoring/templates/service.yaml
  charts/seed-bootstrap/charts/monitoring/templates/serviceaccount.yaml
  charts/seed-bootstrap/charts/monitoring/templates/statefulset.yaml
  charts/seed-bootstrap/charts/monitoring/values.yaml
  charts/seed-bootstrap/templates/grafana/_helpers.tpl
  charts/seed-bootstrap/templates/grafana/grafana-deployment.yaml
  docs/monitoring/README.md
  docs/monitoring/images/monitoring.png
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/component/networkpolicies/bootstrap_test.go
  pkg/operation/botanist/component/networkpolicies/global.go
  pkg/operation/botanist/component/networkpolicies/global_test.go
  pkg/operation/botanist/component/networkpolicies/networkpolicies_test.go
Labels: kind/api-change, needs/ok-to-test, size/l, reviewed/lgtm

#4641 Add goleak where applicable, fix one more goroutine leak
  pkg/client/kubernetes/cache/cache.go
  pkg/client/kubernetes/cache/cache_test.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
  pkg/controllerutils/worker.go
  pkg/healthz/periodic_test.go
  pkg/utils/flow/flow_test.go
  pkg/utils/flow/progress_reporter_delaying_test.go
  pkg/utils/flow/taskfn.go
  pkg/utils/flow/taskfn_test.go
Labels: kind/bug, needs/ok-to-test, area/quality, size/m, reviewed/lgtm, area/robustness, merge/squash

#4689 Fix CSR approval in GCM for v1 API version
  pkg/controllermanager/controller/certificatesigningrequest/csr_autoapprove_control.go
Labels: kind/bug, area/ops-productivity, size/xs, reviewed/lgtm, area/robustness, priority/1

#4684 Fix handling of debugging fields in ManagedSeed
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardener-scheduler/app/gardener_scheduler.go
  cmd/gardenlet/app/gardenlet.go
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/admissioncontroller/apis/config/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/admissioncontroller/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/helper/helpers_test.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/types.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  plugin/pkg/managedseed/validator/admission_test.go
Labels: kind/bug, area/ops-productivity, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#4686 [release-v1.31] Automated cherry pick of #4684: Fix handling of debugging fields in ManagedSeed
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardener-scheduler/app/gardener_scheduler.go
  cmd/gardenlet/app/gardenlet.go
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/admissioncontroller/apis/config/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/admissioncontroller/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/helper/helpers_test.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1alpha1/types.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/scheduler/apis/config/zz_generated.deepcopy.go
  plugin/pkg/managedseed/validator/admission_test.go
Labels: kind/bug, needs/review, area/ops-productivity, needs/ok-to-test, size/m, merge/squash

#4681 Fixes restoration of worker resource
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane-migration

#4674 Fix race condition in WaitCleanup
  pkg/extensions/customresources.go
  pkg/extensions/customresources_test.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/component/extensions/containerruntime/containerruntime.go
  pkg/operation/botanist/component/extensions/containerruntime/containerruntime_test.go
  pkg/operation/botanist/component/extensions/containerruntime/mock/mocks.go
  pkg/operation/botanist/component/extensions/extension/extension.go
  pkg/operation/botanist/component/extensions/extension/extension_test.go
  pkg/operation/botanist/component/extensions/extension/mock/mocks.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/mock/mocks.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
Labels: kind/bug, needs/ok-to-test, size/l, reviewed/lgtm, area/robustness, merge/squash, priority/3

#4701 [release-v1.31] Automated cherry pick of #4663: Fix migration of extension resources
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/dnsrecord/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/utils_test.go
  extensions/pkg/controller/worker/reconciler.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane-migration

#4638 [GEP-17] Add owner check watchdog to extension reconcilers
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/cluster.go
  extensions/pkg/controller/common/checkerwatchdog.go
  extensions/pkg/controller/common/checkerwatchdog_test.go
  extensions/pkg/controller/common/checkerwatchdogfactory.go
  extensions/pkg/controller/common/checkerwatchdogfactory_test.go
  extensions/pkg/controller/common/common_suite_test.go
  extensions/pkg/controller/common/mock/doc.go
  extensions/pkg/controller/common/mock/mocks.go
  extensions/pkg/controller/common/ownerchecker.go
  extensions/pkg/controller/common/ownerchecker_test.go
  extensions/pkg/controller/common/ownercheckerfactory.go
  extensions/pkg/controller/common/ownercheckerfactory_test.go
  extensions/pkg/controller/common/watchdogmanager.go
  extensions/pkg/controller/common/watchdogmanager_test.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/dnsrecord/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/shoot.go
  extensions/pkg/controller/worker/controller.go
  extensions/pkg/controller/worker/mock/doc.go
  extensions/pkg/controller/worker/mock/mocks.go
  extensions/pkg/controller/worker/reconciler.go
  extensions/pkg/controller/worker/reconciler_test.go
  pkg/extensions/owner.go
  pkg/extensions/owner_test.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: kind/enhancement, size/xl, reviewed/lgtm, area/control-plane-migration, merge/squash

#4672 Refactor MaintainKubernetes
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control_test.go
Labels: needs/ok-to-test, size/m, reviewed/lgtm, kind/cleanup, area/control-plane, merge/squash

#4705 Add overview picture for the 4 prometheus roles
  docs/monitoring/README.md
  docs/monitoring/images/monitoring.png
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#4691 Enhance the step that waits for the tunnel connection
  pkg/operation/botanist/waiter.go
Labels: kind/enhancement, size/xs, area/quality, reviewed/lgtm

#4699 Update promtail and fluent-bit version. Stop promtail server
  charts/images.yaml
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/logging

#4707 add missing 'sideEffects' field to validatingwebhookconfiguration
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#4709 Fix nil pointer exception during restore phase
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/operation.go
  pkg/operation/operation_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#4706 Seed monitoring enhancement
  charts/seed-bootstrap/charts/monitoring/templates/config.yaml
Labels: kind/bug, kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, merge/squash

#4710 [release-v1.32] Automated cherry pick of #4707: add missing 'sideEffects' field to validatingwebhookconfiguration
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#4711 [release-v1.31] Automated cherry pick of #4707: add missing 'sideEffects' field to validatingwebhookconfiguration
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#4716 [release-v1.32] Automated cherry pick of #4706: Seed monitoring enhancement
  charts/seed-bootstrap/charts/monitoring/templates/config.yaml
Labels: kind/bug, kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#4703 Improve error code mapping
  pkg/apis/core/v1beta1/helper/errors.go
Labels: kind/enhancement, area/ops-productivity, size/xs, needs/ok-to-test, reviewed/lgtm, merge/squash

#4693 Remove docker-specific kubelet flags when container runtime is set to containerd
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/cliflags.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/cliflags_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/component_test.go
Labels: kind/enhancement, needs/review, needs/ok-to-test, size/m, area/control-plane

#4712 Fix gardenlet rbac for events in seed cluster
  charts/gardener/gardenlet/charts/runtime/templates/role-garden-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap_test.go
  pkg/utils/kubernetes/kubernetes.go
Labels: kind/bug, area/security, size/xs, needs/ok-to-test, reviewed/lgtm

#4696 Optimize finalizer addition
  pkg/controllermanager/controller/cloudprofile/cloudprofile_control.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile_control_test.go
  pkg/controllermanager/controller/controllerdeployment/controllerdeployment_control.go
  pkg/controllermanager/controller/controllerdeployment/controllerdeployment_control_test.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_control_test.go
  pkg/controllermanager/controller/controllerregistration/seed_control.go
  pkg/controllermanager/controller/controllerregistration/seed_control_test.go
  pkg/controllermanager/controller/exposureclass/exposureclass_control.go
  pkg/controllermanager/controller/managedseedset/managedseedset_reconciler.go
  pkg/controllermanager/controller/plant/plant_control.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/controllermanager/controller/quota/quota_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control.go
  pkg/controllermanager/controller/shoot/shoot_reference_control.go
  pkg/controllerutils/finalizers.go
  pkg/controllerutils/finalizers_test.go
  pkg/controllerutils/patch.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_reconciler.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/gardenlet/controller/bastion/bastion_reconciler.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/managedseed/managedseed_reconciler.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/scalability, merge/squash

#4715 Fix make test-integration for bash 3
  hack/test-integration.sh
Labels: kind/bug, area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#4728 [release-v1.32] Automated cherry pick of #4709: Fix nil pointer exception during restore phase
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/operation.go
  pkg/operation/operation_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#4698 Log feature gates on gardener-apiserver startup
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-apiserver/app/gardener_apiserver.go
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardener-scheduler/app/gardener_scheduler.go
  cmd/gardener-seed-admission-controller/app/gardener_seed_admission_controller.go
  cmd/gardenlet/app/gardenlet.go
Labels: kind/enhancement, area/ops-productivity, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm

#4537 Deploy CRDs as early as possible during seed bootstrap
  charts/seed-bootstrap-crds/Chart.yaml
  charts/seed-bootstrap-crds/charts/hvpa/Chart.yaml
  charts/seed-bootstrap-crds/charts/hvpa/templates/hvpa.yaml
  charts/seed-bootstrap-crds/charts/hvpa/values.yaml
  charts/seed-bootstrap-crds/charts/vpa/Chart.yaml
  charts/seed-bootstrap-crds/charts/vpa/templates/verticalpodautoscalercheckpoints.yaml
  charts/seed-bootstrap-crds/charts/vpa/templates/verticalpodautoscalers.yaml
  charts/seed-bootstrap-crds/charts/vpa/values.yaml
  charts/seed-bootstrap-crds/values.yaml
  charts/seed-bootstrap/charts/extensions/Chart.yaml
  charts/seed-bootstrap/requirements.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/application/Chart.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/application/charts
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/application/templates
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/application/values.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/crds/Chart.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/crds/templates
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/crds/values.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/templates
  extensions/test/integration/envtest/backupbucket/backupbucket_suite_test.go
  pkg/operation/botanist/component/extensions/crds/crds.go
  pkg/operation/botanist/component/extensions/crds/crds_suite_test.go
  pkg/operation/botanist/component/extensions/crds/crds_test.go
  pkg/operation/botanist/component/extensions/crds/templates/crd-backupbucket.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-backupentry.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-bastion.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-cluster.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-containerruntime.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-controlplane.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-dnsentry.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-dnsowner.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-dnsprovider.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-dnsrecord.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-extension.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-infrastructure.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-managedresources.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-network.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-operatingsystemconfig.tpl.yaml
  pkg/operation/botanist/component/extensions/crds/templates/crd-worker.tpl.yaml
  pkg/operation/seed/seed.go
  test/integration/envtest/seedadmissioncontroller/extensioncrds_test.go
Labels: kind/bug, area/dev-productivity, area/ops-productivity, needs/ok-to-test, area/quality, size/l, reviewed/lgtm, area/robustness

#4697 Allow configuration MaxGracefulTerminationSec flag on ClusterAutoscaler
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler_test.go
Labels: kind/enhancement, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, area/auto-scaling, merge/squash

#4704 Fix potential deadlock on sequential ControllerInstallation deletion and creation
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
Labels: kind/bug, needs/ok-to-test, area/quality, reviewed/lgtm, size/s

#4718 Do not try to update needed ControllerInstallation when it is being deleted
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
Labels: kind/bug, needs/ok-to-test, area/quality, size/m, reviewed/lgtm

#4737 Deflake newly introduced flaky unit test
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
Labels: needs/review, size/xs, needs/ok-to-test, area/testing, kind/flake

#4720 Delete Terraformer pod even if the context was cancelled
  extensions/pkg/terraformer/terraformer.go
Labels: kind/enhancement, needs/review, needs/ok-to-test, size/s, area/control-plane-migration

#4639 Refactor kube-apiserver Helm chart into component (3)
  charts/seed-bootstrap/charts/fluent-bit/templates/_helpers.tpl
  charts/seed-controlplane/charts/kube-apiserver/Chart.yaml
  charts/seed-controlplane/charts/kube-apiserver/charts/utils-templates
  charts/seed-controlplane/charts/kube-apiserver/templates/_helpers.tpl
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-admission-config.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-audit-policy.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-egress-selection.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/secret-oidc-ca.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/secret-service-account-signing-key.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/utils-templates/README.md
  docs/usage/shoot_auditpolicy.md
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/kubeapiserver/configmaps.go
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/hvpa.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/logging.go
  pkg/operation/botanist/component/kubeapiserver/logging_test.go
  pkg/operation/botanist/component/kubeapiserver/mock/mocks.go
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
  pkg/operation/botanist/component/kubeapiserver/networkpolicies.go
  pkg/operation/botanist/component/kubeapiserver/secrets.go
  pkg/operation/botanist/component/kubeapiserver/shoot_resources.go
  pkg/operation/botanist/component/kubeapiserver/testdata/monitoring_alertingrules.yaml
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_service.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_sni.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane_test.go
  pkg/operation/botanist/coredns.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/networkpolicies.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/vpnseedserver.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/etcdencryption/encryptionconfiguration.go
  pkg/operation/etcdencryption/encryptionconfiguration_test.go
  pkg/operation/etcdencryption/etcdencryptioninfodata_test.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shootsecrets/secrets_manager.go
  pkg/utils/gardener/shoot.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
  pkg/utils/secrets/basic_auth_test.go
  pkg/utils/secrets/static_token_test.go
  pkg/utils/version/version.go
Labels: area/dev-productivity, size/xl, needs/ok-to-test, platform/all, area/quality, exp/intermediate, kind/test, reviewed/lgtm, area/robustness, kind/technical-debt, topology/seed, merge/squash, priority/3

#4745 Remove broken links from api-reference/core.md file
  hack/api-reference/core.md
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/v1alpha1/types_cloudprofile.go
  pkg/apis/core/v1beta1/types_cloudprofile.go
Labels: kind/enhancement, kind/api-change, size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm
