Repository gardener/gardener, pull requests merged in 2021-05, with the labels that each got.

#3845 Do not retry shoot status updates on conflict when starting a reconcile, restore or migrate operation
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3957 Add Seed, Shoot, ControllerRegistration handling to Seed{Authorizer,Restriction}
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  docs/deployment/gardenlet_api_access.md
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: area/security, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3985 Add missing field index for projects
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/project/project_stale_control_test.go
Labels: kind/regression, needs/ok-to-test, reviewed/lgtm, size/s

#3959 Parse the webhook URL to detect and remove port given for SAN
  extensions/pkg/webhook/certificates.go
  extensions/pkg/webhook/certificates_test.go
Labels: area/control-plane, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, reviewed/ok-to-test, size/s

#3986 Add missing cloudprofile permission for scheduler
  charts/gardener/controlplane/charts/application/templates/clusterrole-scheduler.yaml
  hack/local-development/start-admission-controller
  hack/local-development/start-apiserver
  hack/local-development/start-controller-manager
  hack/local-development/start-gardenlet
  hack/local-development/start-scheduler
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3984 Increase istio-ingressgateway memory limits
  charts/istio/istio-ingress/templates/deployment.yaml
Labels: area/networking, area/scalability, needs/ok-to-test, reviewed/lgtm, size/xs

#3988 Fix apiserver docs to use more inclusive language
  docs/concepts/apiserver.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3993 fixed external alertmanager mtls doc example - added missing required…
  docs/monitoring/alerting.md
Labels: area/documentation, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3828 Added the RBAC for druid leader election.
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
Labels: needs/ok-to-test, size/s

#3953 Introduce compressed etcd snapshots
  go.mod
  go.sum
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/etcd_types.go
  vendor/github.com/gardener/etcd-druid/api/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/backup, component/etcd-druid, kind/enhancement, needs/ok-to-test, needs/review, size/s

#3991 Even more DirectClient cleanup
  pkg/controllerutils/patch.go
  pkg/controllerutils/patch_test.go
  pkg/extensions/cluster.go
  pkg/gardenlet/controller/federatedseed/extensions/controllerinstallation_control.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/cleanup.go
  pkg/operation/botanist/infrastructure_test.go
  pkg/operation/botanist/managedresources.go
  pkg/operation/operation.go
  pkg/utils/managedresources/managedresources.go
  pkg/utils/managedresources/managedresources_test.go
Labels: area/dev-productivity, area/scalability, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/do-not-merge, reviewed/lgtm, size/m

#3996 Made check script to also work for api modules
  hack/check.sh
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3878 Add Resource "ShootExtensionStatus" in core.gardener.cloud
  cmd/gardener-apiserver/app/gardener_apiserver.go
  pkg/apis/core/register.go
  pkg/apis/core/types_shootextensionstatus.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/register.go
  pkg/apis/core/v1alpha1/types_shootextensionstatus.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shootextensionstatus.go
  pkg/apis/core/validation/shootextensionstatus_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/core_client.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/fake/fake_core_client.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/fake/fake_shootextensionstatus.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/generated_expansion.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/shootextensionstatus.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/core_client.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/fake/fake_core_client.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/fake/fake_shootextensionstatus.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/generated_expansion.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/shootextensionstatus.go
  pkg/client/core/informers/externalversions/core/v1alpha1/interface.go
  pkg/client/core/informers/externalversions/core/v1alpha1/shootextensionstatus.go
  pkg/client/core/informers/externalversions/generic.go
  pkg/client/core/informers/internalversion/core/internalversion/interface.go
  pkg/client/core/informers/internalversion/core/internalversion/shootextensionstatus.go
  pkg/client/core/informers/internalversion/generic.go
  pkg/client/core/listers/core/internalversion/expansion_generated.go
  pkg/client/core/listers/core/internalversion/shootextensionstatus.go
  pkg/client/core/listers/core/v1alpha1/expansion_generated.go
  pkg/client/core/listers/core/v1alpha1/shootextensionstatus.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/shootextensionstatus/storage/storage.go
  pkg/registry/core/shootextensionstatus/storage/tableconvertor.go
  pkg/registry/core/shootextensionstatus/strategy.go
Labels: area/quality, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#3982 Cleanup context.TODO(), migrate from DeprecatedCreateWorker to CreateWorker (6)
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  pkg/controllermanager/controller/event/event.go
  pkg/controllermanager/controller/event/event_control.go
  pkg/controllermanager/controller/event/event_control_test.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/project/project_stale_control.go
  pkg/controllermanager/controller/seed/seed.go
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile.go
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile_test.go
  pkg/controllermanager/controller/seed/seed_garden_secret_mapper.go
  pkg/controllermanager/controller/seed/seed_lifecycle_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_reference_control.go
  pkg/controllermanager/controller/shoot/shoot_reference_control_test.go
  pkg/operation/garden/garden.go
  pkg/utils/gardener/secrets.go
Labels: area/dev-productivity, kind/cleanup, merge/squash, needs/ok-to-test, size/xl

#3997 Do not use hostport for konnectivity-server
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  pkg/operation/botanist/component/konnectivity/konnectivity_server.go
  pkg/operation/botanist/component/konnectivity/konnectivity_server_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4001 Fix SeedSettingExcessCapacityReservation in seed example
  example/50-seed.yaml
Labels: area/documentation, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3999 Enrich component descriptor with Gardener landscaper blueprints
  .ci/component_descriptor
  hack/.ci/component_descriptor
  landscaper/resources.yaml
Labels: kind/enhancement, needs/changes, needs/ok-to-test, needs/review, size/s

#3992 Add CertificateSigningRequest handling to Seed{Authorizer,Restriction}
  charts/gardener/controlplane/charts/application/templates/clusterrole-admission-controller.yaml
  charts/gardener/controlplane/charts/application/templates/clusterrole-seed-bootstrapper.yaml
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  docs/deployment/deploy_gardenlet_manually.md
  docs/deployment/gardenlet_api_access.md
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/seedidentity/identity.go
  pkg/admissioncontroller/seedidentity/identity_test.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_certificatesigningrequest.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/vertices.go
  pkg/controllermanager/controller/certificatesigningrequest/csr_autoapprove_control.go
  pkg/gardenlet/bootstrap/bootstrap_test.go
  pkg/gardenlet/bootstrap/certificate/certificate.go
  pkg/gardenlet/bootstrap/certificate/certificate_rotation_test.go
  pkg/utils/encoding.go
  pkg/utils/encoding_test.go
  pkg/utils/gardener/seed.go
  pkg/utils/gardener/seed_test.go
Labels: area/security, kind/enhancement, merge/squash, needs/changes, needs/ok-to-test, size/xl

#3998 Fix handling of aggregate-prometheus resources with hvpa
  charts/seed-bootstrap/templates/aggregate-prometheus/statefulset.yaml
  pkg/operation/seed/seed.go
Labels: area/monitoring, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4003 Added watch and get permissions for PVCs to Druid.
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4008 [release-v1.22] Upgrade cluster-autoscaler
  charts/images.yaml
Labels: area/scalability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4009 [release-v1.22] Automated cherry pick of #3998: Fix handling of aggregate-prometheus resources with hvpa
  charts/seed-bootstrap/templates/aggregate-prometheus/statefulset.yaml
  pkg/operation/seed/seed.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4007 restrict vpn validation to new clusters
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4012 Allow admission-controller to list/watch bastions
  charts/gardener/controlplane/charts/application/templates/clusterrole-admission-controller.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4015 [release-v1.21] restrict vpn validation to new clusters
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4014 [release-v1.22] restrict vpn validation to new clusters
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3960 Don't wait for terminating ControlPlane to be reconciled
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4011 Kubeconfig genration now uses runtime.Encoder
  pkg/utils/secrets/control_plane.go
  pkg/utils/template_engine.go
Labels: area/security, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/m

#4026 Update to golang@1.16.4
  Dockerfile
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4017 Increase limits for metrics-server.
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
Labels: area/auto-scaling, area/control-plane, kind/post-mortem, needs/ok-to-test, reviewed/lgtm, size/xs

#4031 [release-v1.22] Automated cherry pick of #4029: [ci:component:github.com/gardener/autoscaler:v0.16.0->v0.16.1]
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4040 Smaller improvements in preparation for SeedAuthorizer
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_backupbucket.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/shoot_care_control_types.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/types.go
  pkg/operation/garden/garden.go
  pkg/utils/gardener/project.go
  pkg/utils/gardener/project_test.go
Labels: area/security, kind/cleanup, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4035 [release-v1.21] Automated cherry pick of #4017: Increase limits for metrics-server.
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4041 Fix commit message check action
  .github/workflows/commit-message.yaml
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, needs/review, size/xs

#4037 Comment out testgrid table due to kubernetes/test-infra/issues/22140
  README.md
Labels: area/testing, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#4030 Allow disabling scale-down of some control-plane components
  charts/seed-controlplane/charts/kube-apiserver/templates/hvpa.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/component/kubecontrollermanager/monitoring_test.go
  pkg/operation/botanist/component/kubecontrollermanager/waiter_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/kubecontrollermanager.go
Labels: area/scalability, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#4046 Get rid of the debug logging of Shoots in the shootUpdate func
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: area/quality, kind/bug, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#4045 Eliminate unnecessary Seed decoding in SeedRestriction
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#4047 [release-v1.22] Automated cherry pick of #4046: Get rid of the debug logging of Shoots in the shootUpdate func
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4039 clean up io/ioutil deprecation
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardenlet/app/gardenlet.go
  extensions/pkg/controller/operatingsystemconfig/oscommon/cloudinit/cloudinit.go
  extensions/pkg/webhook/certificates.go
  extensions/test/tm/generator/helper.go
  landscaper/cmd/landscaper-gardenlet/app/landscaper-gardenlet.go
  landscaper/pkg/gardenlet/controller/gardenlet.go
  pkg/admissioncontroller/webhooks/auth/seed/handler.go
  pkg/client/kubernetes/pods.go
  pkg/envtest/apiserver.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper.go
  pkg/logger/logger.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/utils/unitserializer.go
  pkg/operation/botanist/component/test/monitoringcomponent.go
  pkg/scheduler/apis/config/loader/loader.go
  pkg/utils/imagevector/imagevector_test.go
  pkg/utils/secrets/certificates.go
  pkg/utils/test/test.go
  pkg/utils/test/test_resources.go
  plugin/pkg/shoot/tolerationrestriction/config.go
  test/framework/applications/guestbooktest.go
  test/framework/config/config_test.go
  test/framework/k8s_utils.go
  test/framework/landscaper/commonframework.go
  test/framework/rootpod_executor.go
  test/framework/utils.go
  test/framework/utils_test.go
  test/integration/shoots/applications/networking.go
  test/integration/shoots/operations/operations.go
  test/integration/shoots/vpntunnel/vpntunnel.go
Labels: kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4049 Adjust `limitsRequestsGapScaleParams` for prometheus hvpa
  charts/seed-bootstrap/values.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4053 Preserve area/ and kind/ labels on cherry pick PRs
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4032 Add new columns for `k get shoot` and support `-o wide`
  pkg/registry/core/shoot/storage/tableconvertor.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4057 Fix wrong MergePatchOrCreate usage
  pkg/controllerutils/patch.go
  pkg/controllerutils/patch_test.go
  pkg/extensions/cluster.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m

#4058 [release-v1.22] Automated cherry pick of #4049: Adjust `limitsRequestsGapScaleParams` for prometheus hvpa
  charts/seed-bootstrap/values.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4050 Retrieve the first log lines from failed kube-apiserver when k8s version <1.19
  pkg/operation/botanist/waiter.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/ops-productivity, area/quality, area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4059 Allow Gardener admins to access csrs
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
Labels: area/ops-productivity, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4061 Fix ./hack/.ci/prepare_release
  hack/.ci/prepare_release
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4065 [release-v1.20] Automated cherry pick of #3990 & #4029: [ci:component:github.com/gardener/autoscaler:v0.15.0->v0.16.1]
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4064 [release-v1.21] Automated cherry pick of #3990 & #4029: [ci:component:github.com/gardener/autoscaler:v0.15.0->v0.16.1]
  charts/images.yaml
Labels: kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xs

#4066 Fix ManagedSeed deletion
  pkg/operation/seed/seed.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4069 Add the `certificatesigningrequests/seedclient` RBAC rule to the seed-bootstrapper ClusterRole
  charts/gardener/controlplane/charts/application/templates/clusterrole-seed-bootstrapper.yaml
  docs/deployment/deploy_gardenlet_manually.md
Labels: kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#4052 Kubeconfig generation supports multiple server hosts
  extensions/pkg/util/shoot.go
  hack/local-development/local-garden/garden-certificate-generator.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/utils/secrets/control_plane.go
  pkg/utils/secrets/control_plane_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#4070 Fix ManagedSeed update / deletion issue on soil clusters
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3902 Enh/bootstrap tokens for machines
  charts/seed-bootstrap/charts/extensions/templates/crd-operatingsystemconfig.yaml
  docs/extensions/images/bootstrap_token.png
  docs/extensions/operatingsystemconfig.md
  extensions/pkg/controller/operatingsystemconfig/oscommon/README.md
  extensions/pkg/controller/operatingsystemconfig/oscommon/actuator/actuator_util.go
  extensions/pkg/controller/operatingsystemconfig/oscommon/generator/generator.go
  extensions/pkg/controller/operatingsystemconfig/oscommon/generator/test/template_generator.go
  extensions/pkg/controller/operatingsystemconfig/oscommon/template/template_generator.go
  hack/api-reference/extensions.md
  pkg/apis/extensions/v1alpha1/types_operatingsystemconfig.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/features/features.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/downloader/downloader.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/downloader/downloader_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
  pkg/operation/botanist/operatingsystemconfig.go
Labels: area/security, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4062 When finding pods beloning to replicaSet, use label selector instead of owner reference
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4073 [release-v1.20] Automated cherry pick of #4070: Fix ManagedSeed update / deletion issue on soil clusters
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4074 [release-v1.21] Automated cherry pick of #4070: Fix ManagedSeed update / deletion issue on soil clusters
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4075 [release-v1.22] Automated cherry pick of #4070: Fix ManagedSeed update / deletion issue on soil clusters
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4051 Ask contributor to open cherry-pick PR if needed
  docs/development/process.md
Labels: area/dev-productivity, area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4076 Update K8s dependencies to v0.20.7
  Makefile
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/util/httpstream/httpstream.go
  vendor/k8s.io/apimachinery/pkg/util/httpstream/spdy/connection.go
  vendor/k8s.io/apiserver/pkg/apis/flowcontrol/bootstrap/default.go
  vendor/k8s.io/apiserver/pkg/authentication/authenticatorfactory/delegating.go
  vendor/k8s.io/apiserver/pkg/server/options/authentication.go
  vendor/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook.go
  vendor/k8s.io/component-base/logs/json/json.go
  vendor/modules.txt
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s

#4080 Increasing requests and limits for the istio-ingressgateway envoy proxies.
  charts/istio/istio-ingress/templates/deployment.yaml
Labels: area/performance, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#4068 Explicitly destroy kube-apiserver-sni resources before the kube-apiserver-service is destroyed.
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4081 Cherry pick to release v1.22: Increasing requests and limits for the istio-ingressgateway envoy
  charts/istio/istio-ingress/templates/deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4082 Cherry pick to release v1.23: Increasing requests and limits for the istio-ingressgateway envoy
  charts/istio/istio-ingress/templates/deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4088 Remove from ControllerDeployment in generate script
  hack/generate-controller-registration.sh
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4071 Add alert for etcd high memory usage
  pkg/operation/botanist/component/etcd/monitoring.go
  pkg/operation/botanist/component/etcd/monitoring_test.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4067 Added --external-hostname flag to the default kapi server config
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/operation/botanist/controlplane.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4089 [release-v1.23] Automated cherry pick of #4088: Remove from ControllerDeployment in generate script
  hack/generate-controller-registration.sh
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4072 Allow enabling/disabling anonymous auth for the kapi server
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/controlplane.go
Labels: area/control-plane, area/security, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#3994 Support helm3 in configure-rbac
  hack/generate-controller-registration.sh
  hack/install-requirements.sh
  hack/local-development/local-garden/configure-rbac
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4090 Allow ControllerRegistration `.spec.resources[].type` to be `Bastion`
  pkg/apis/extensions/v1alpha1/types.go
Labels: kind/api-change, kind/bug, needs/ok-to-test, size/xs

#4092 [release-v1.22] Automated cherry pick of #4090: Allow ControllerRegistration `.spec.resources[].type` to be `Bastion`
  pkg/apis/extensions/v1alpha1/types.go
Labels: kind/api-change, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4087 [release-v1.23] [ci:component:github.com/gardener/etcd-druid:v0.5.0->v0.5.1]
  charts/images.yaml
Labels: kind/bug, kind/regression, needs/ok-to-test, needs/review, size/xs

#4091 [release-v1.23] Automated cherry pick of #4090: Allow ControllerRegistration `.spec.resources[].type` to be `Bastion`
  pkg/apis/extensions/v1alpha1/types.go
Labels: kind/api-change, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4093 fix DNS provider messages with "emptyProvider"
  pkg/operation/botanist/component/extensions/dns/dnsprovider.go
Labels: area/control-plane, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#4060 Merge all logging dashboards into one
  charts/seed-monitoring/charts/grafana/templates/grafana-dashboards-configmap.yaml
  charts/seed-monitoring/charts/grafana/templates/logging-dashboard.tpl
  charts/seed-monitoring/charts/grafana/values.yaml
  docs/extensions/logging-and-monitoring.md
  docs/usage/logging.md
  pkg/operation/botanist/monitoring.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#4097 Enhance error code mapping
  pkg/apis/core/v1beta1/helper/errors.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3983 Refactor kube-apiserver-{service,sni} Helm charts into component
  charts/seed-controlplane/charts/kube-apiserver-service/Chart.yaml
  charts/seed-controlplane/charts/kube-apiserver-service/charts/utils-templates
  charts/seed-controlplane/charts/kube-apiserver-service/templates/kube-apiserver-service.yaml
  charts/seed-controlplane/charts/kube-apiserver-service/values.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/Chart.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/charts/utils-templates
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-destinationrule.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-gateway.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-virtualservice.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/values.yaml
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_service.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_service_test.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_sni.go
  pkg/operation/botanist/component/kubeapiserverexposure/kube_apiserver_sni_test.go
  pkg/operation/botanist/component/kubeapiserverexposure/kubeapiserverexposure_suite_test.go
  pkg/operation/botanist/component/kubeapiserverexposure/templates/envoyfilter.yaml
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/kube_apiserver_service.go
  pkg/operation/botanist/controlplane/kube_apiserver_sni.go
  pkg/operation/botanist/controlplane/kube_apiserver_sni_test.go
  pkg/operation/botanist/controlplane_test.go
  pkg/operation/botanist/dns_test.go
  pkg/operation/operation.go
  pkg/operation/seed/seed.go
  pkg/operation/types.go
Labels: area/dev-productivity, area/quality, area/robustness, exp/intermediate, kind/technical-debt, kind/test, lifecycle/stale, merge/squash, needs/ok-to-test, needs/review, needs/second-opinion, platform/all, priority/3, size/xl, topology/seed

#4099 Fix regression in Shoot reconciliation
  pkg/client/kubernetes/types.go
Labels: kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#4044 Add Secret handling to Seed{Authorizer,Restriction}
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  cmd/gardenlet/app/gardenlet.go
  docs/deployment/gardenlet_api_access.md
  docs/deployment/gardenlet_api_access_graph.png
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_shoot.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/controllerutils/patch.go
  pkg/controllerutils/patch_test.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/seed/seed.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/secrets.go
  pkg/operation/operation.go
  pkg/operation/operation_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Labels: area/security, kind/api-change, kind/enhancement, merge/squash, needs/changes, needs/ok-to-test, size/xl

#4101 Isto is upgraded to 1.9.5
  charts/images.yaml
  charts/istio/istio-crds/templates/crd-all.gen.yaml
  charts/istio/istio-ingress/templates/envoy-filter.yaml
  pkg/operation/botanist/component/istio/crds.go
  pkg/operation/botanist/component/istio/ingress_gateway.go
  pkg/operation/botanist/component/istio/ingress_gateway_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4102 Disable seed restriction handler in GAC by default
  charts/gardener/controlplane/values.yaml
Labels: area/open-source, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4085 Add release milestone check
  .github/workflows/release-milestone.yaml
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4096 Refactor cluster-identity Helm charts into component
  charts/cluster-identity/Chart.yaml
  charts/cluster-identity/templates/configmap-cluster-identity.yaml
  charts/cluster-identity/values-test.yaml
  charts/cluster-identity/values.yaml
  charts/seed-bootstrap/charts/cluster-identity
  charts/seed-bootstrap/values-test.yaml
  charts/seed-bootstrap/values.yaml
  charts/shoot-core/components/charts/cluster-identity
  charts/shoot-core/components/values-test.yaml
  charts/shoot-core/components/values.yaml
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/clusteridentity.go
  pkg/operation/botanist/clusteridentity_test.go
  pkg/operation/botanist/component/clusteridentity/clusteridentity.go
  pkg/operation/botanist/component/clusteridentity/clusteridentity_test.go
  pkg/operation/botanist/component/clusteridentity/mock/doc.go
  pkg/operation/botanist/component/clusteridentity/mock/mocks.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
Labels: area/dev-productivity, area/quality, area/robustness, exp/intermediate, kind/technical-debt, kind/test, merge/squash, needs/ok-to-test, platform/all, priority/3, reviewed/lgtm, size/xl, topology/seed

#4105 Consider Seed's `.spec.dns.provider.secretRef` in resource dependency graph
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_seed.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#4113 [release-v1.23] Upgrade etcd-druid from v0.5.1 to v0.5.2
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#4111 Several corrections in preparation for the activation of SeedAuthorizer
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  cmd/gardenlet/app/gardenlet.go
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_seed.go
  pkg/controllermanager/controller/project/project_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/controllerutils/patch.go
  pkg/controllerutils/patch_test.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_reconciler.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_types.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/secrets.go
  pkg/operation/operation.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
  pkg/utils/kubernetes/secretref.go
Labels: area/security, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#4116 Update coredns to 1.8.3
  charts/images.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4118 Updated node local dns cache to more recent release.
  charts/images.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4100 Enh/shoot state deletion
  cmd/gardener-apiserver/app/gardener_apiserver.go
  docs/concepts/apiserver_admission_plugins.md
  pkg/apiserver/admission/initializer/initializer.go
  pkg/apiserver/admission/initializer/types.go
  pkg/apiserver/plugins.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/operation.go
  pkg/operation/operation_test.go
  plugin/pkg/global/deletionconfirmation/admission.go
  plugin/pkg/global/deletionconfirmation/admission_test.go
  plugin/pkg/shootstate/validator/admission.go
  plugin/pkg/shootstate/validator/admission_test.go
  plugin/pkg/shootstate/validator/shootstate_suite_test.go
Labels: area/control-plane, merge/squash, needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#4121 Rename JeOS to CHost on few more places
  .ci/tm-config.yaml
  docs/proposals/10-shoot-additional-container-runtimes.md
  extensions/pkg/controller/operatingsystemconfig/oscommon/README.md
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s

#4119 Add migration description to managed seed docu
  docs/usage/managed_seed.md
  docs/usage/shooted_seed.md
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#4126 add missing clusterrole permissions
  charts/shoot-core/components/charts/coredns/templates/coredns-rbac.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4104 Update VPA components
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3932 [GEP-16] Add shoot subresrouce adminkubeconfig
  cmd/gardener-apiserver/app/gardener_apiserver.go
  docs/deployment/feature_gates.md
  docs/proposals/16-adminkubeconfig-subresource.md
  example/shoot-kubeconfig/README.md
  example/shoot-kubeconfig/kubeconfig-request.json
  hack/api-reference/authentication-config.json
  hack/api-reference/authentication.md
  hack/local-development/start-apiserver
  hack/update-codegen.sh
  pkg/api/register.go
  pkg/apis/authentication/doc.go
  pkg/apis/authentication/install/install.go
  pkg/apis/authentication/register.go
  pkg/apis/authentication/types_adminkubeconfigrequest.go
  pkg/apis/authentication/v1alpha1/defaults.go
  pkg/apis/authentication/v1alpha1/doc.go
  pkg/apis/authentication/v1alpha1/generated.pb.go
  pkg/apis/authentication/v1alpha1/generated.proto
  pkg/apis/authentication/v1alpha1/register.go
  pkg/apis/authentication/v1alpha1/types_adminkubeconfigrequest.go
  pkg/apis/authentication/v1alpha1/zz_generated.conversion.go
  pkg/apis/authentication/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/authentication/v1alpha1/zz_generated.defaults.go
  pkg/apis/authentication/validation/validation.go
  pkg/apis/authentication/validation/validation_suite_test.go
  pkg/apis/authentication/zz_generated.deepcopy.go
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apiserver/apiserver.go
  pkg/apiserver/features/features.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/fake/fake_shoot.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/shoot.go
  pkg/client/core/clientset/versioned/typed/core/v1beta1/fake/fake_shoot.go
  pkg/client/core/clientset/versioned/typed/core/v1beta1/mock/mocks.go
  pkg/client/core/clientset/versioned/typed/core/v1beta1/shoot.go
  pkg/envtest/apiserver.go
  pkg/features/features.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/shoot/storage/admin_kubeconfig.go
  pkg/registry/core/shoot/storage/admin_kubeconfig_test.go
  pkg/registry/core/shoot/storage/storage.go
  pkg/registry/core/shoot/storage/storage_suite_test.go
  pkg/utils/secrets/certificates.go
Labels: area/security, kind/api-change, lifecycle/stale, needs/ok-to-test, reviewed/lgtm, size/xl

#4138 Fix the containerd integration test
  test/integration/shoots/operations/containerruntime.go
Labels: area/testing, kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs
