Repository gardener/gardener, pull requests merged in 2021-04, with the labels that each got.

#3806 Isto is upgraded to 1.9.2
  charts/images.yaml
  charts/istio/istio-crds/templates/crd-all.gen.yaml
  charts/istio/istio-ingress/templates/envoy-filter.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-envoyfilter.yaml
  docs/proposals/08-shoot-apiserver-via-sni.md
  pkg/client/kubernetes/types.go
  pkg/operation/botanist/component/istio/crds.go
  pkg/operation/botanist/component/istio/ingress_gateway.go
  pkg/operation/botanist/component/istio/ingress_gateway_test.go
  pkg/operation/botanist/component/istio/istiod.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3807 Allow Gardener admins to access leases
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
Labels: area/ops-productivity, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3809 Add correct path to landscaper component in dev-setup script
  hack/local-development/dev-setup
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, needs/review, size/xs

#3805 Fixes a panic when migrating hibernated shoots
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3810 Revert "Isto is upgraded to 1.9.2"
  charts/images.yaml
  charts/istio/istio-crds/templates/crd-all.gen.yaml
  charts/istio/istio-ingress/templates/envoy-filter.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-envoyfilter.yaml
  docs/proposals/08-shoot-apiserver-via-sni.md
  pkg/client/kubernetes/types.go
  pkg/operation/botanist/component/istio/crds.go
  pkg/operation/botanist/component/istio/ingress_gateway.go
  pkg/operation/botanist/component/istio/ingress_gateway_test.go
  pkg/operation/botanist/component/istio/istiod.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#3804 Deserialize custom resources with EnableStrict
  extensions/pkg/controller/common/context.go
  extensions/pkg/controller/worker/genericactuator/actuator.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, priority/3, reviewed/lgtm, size/xs

#3757 Add integration tests for the gardenlet landscaper
  .dockerignore
  .test-defs/GardenletLandscaper.yaml
  go.mod
  go.sum
  landscaper/utils/health/health.go
  landscaper/utils/health/health_suite_test.go
  landscaper/utils/health/health_test.go
  test/framework/gardener_utils.go
  test/framework/landscaper/commonframework.go
  test/framework/landscaper/gardenletframework.go
  test/framework/managedseedframework.go
  test/integration/landscaper/gardenlet/landscaper_suite_test.go
  test/integration/landscaper/gardenlet/landscaper_test.go
  vendor/github.com/gardener/landscaper/apis/core/constants.go
  vendor/github.com/gardener/landscaper/apis/core/types_blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/dataobjects.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/error.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/helpers.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/helper/installationstate.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_blueprint.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_deployitem.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/types_execution.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/landscaper/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/landscaper/apis/core/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: kind/enhancement, needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#3796 Add Gardener Envtest
  cmd/gardener-apiserver/app/gardener_apiserver.go
  cmd/gardener-apiserver/main.go
  cmd/gardenlet/app/gardenlet.go
  go.mod
  go.sum
  hack/test-cover.sh
  hack/test.sh
  pkg/apiserver/apis.go
  pkg/client/kubernetes/types.go
  pkg/envtest/apiserver.go
  pkg/envtest/environment.go
  pkg/envtest/environment_test.go
  pkg/envtest/envtest_suite_test.go
  pkg/envtest/port.go
  pkg/utils/kubernetes/health/health.go
  pkg/utils/kubernetes/health/health_test.go
  pkg/utils/secrets/certificates.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/apiserver.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/testing/integration/internal/tinyca.go
Labels: area/dev-productivity, area/testing, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3811 Dynamically set replicas for seed-admission-controller deployment.
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller_test.go
Labels: area/control-plane, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s

#3815 Fix build after #3627 and #3796 are merged together
  pkg/envtest/apiserver.go
Labels: area/delivery, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#3817 Prepare Envoy for 1.9.x Istio upgrade
  charts/istio/istio-ingress/templates/envoy-filter.yaml
  charts/istio/istio-proxy-protocol/templates/envoyfilter.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-envoyfilter.yaml
  docs/proposals/08-shoot-apiserver-via-sni.md
  pkg/operation/botanist/component/istio/proxy_protocol_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3820 Todo doc cleanup
  hack/api-reference/core.md
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_project.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_project.go
Labels: area/documentation, kind/api-change, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xs

#3822 Gardenlet creates the Seed as early as possible
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/seed/seed.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3819 Fix bug in Internal domain admission that does not honor replication of the secret
  pkg/admissioncontroller/webhooks/admission/internaldomainsecret/admission.go
  pkg/admissioncontroller/webhooks/admission/internaldomainsecret/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_seed.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/operation/seed/seed.go
  pkg/utils/gardener/seed.go
  pkg/utils/gardener/seed_test.go
  pkg/utils/gardener/utils_suite_test.go
  test/framework/landscaper/gardenletframework.go
  test/framework/managedseedframework.go
Labels: area/security, kind/bug, kind/regression, needs/ok-to-test, priority/2, reviewed/lgtm, size/xl

#3827 remove static loki priorityclass from the integration test
  test/integration/shoots/logging/seed_logging_stack.go
Labels: area/logging, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3829 Enhance error code mappings
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3826 Re-add conformance test badges now that testgrid issue is solved
  README.md
Labels: area/testing, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#3825 Update kubernetes/node-problem-detector
  charts/images.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3824 Switch dependency-watchdog to use 'gardener.cloud/role' label key
  charts/seed-bootstrap/charts/dependency-watchdog/templates/endpoint-configmap.yaml
  docs/usage/seed_bootstrapping.md
  pkg/operation/botanist/component/etcd/dependency_watchdog.go
  pkg/operation/botanist/component/etcd/dependency_watchdog_test.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/do-not-merge, reviewed/lgtm, size/xs

#3818 Clean up some migration code
  extensions/pkg/controller/backupentry/mapper.go
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/component/istio/istiod.go
  pkg/operation/botanist/component/istio/istiod_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/namespaces.go
  pkg/operation/botanist/namespaces_test.go
  pkg/operation/care/checker.go
  pkg/operation/care/health.go
  pkg/operation/care/health_check_test.go
  pkg/operation/seed/seed.go
  pkg/utils/validation/cidr/helper.go
Labels: kind/api-change, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#3713 [GEP-13] Add ManagedSeedSet controller
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  example/57-managedseedset.yaml
  hack/api-reference/seedmanagement.md
  pkg/apis/seedmanagement/types_managedseedset.go
  pkg/apis/seedmanagement/v1alpha1/constants/types_constants.go
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/types_managedseedset.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.conversion.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/seedmanagement/validation/managedseedset.go
  pkg/apis/seedmanagement/validation/managedseedset_test.go
  pkg/apis/seedmanagement/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/managedseedset/managedseedset.go
  pkg/controllermanager/controller/managedseedset/managedseedset_actuator.go
  pkg/controllermanager/controller/managedseedset/managedseedset_actuator_test.go
  pkg/controllermanager/controller/managedseedset/managedseedset_controller.go
  pkg/controllermanager/controller/managedseedset/managedseedset_controller_test.go
  pkg/controllermanager/controller/managedseedset/managedseedset_predicates.go
  pkg/controllermanager/controller/managedseedset/managedseedset_reconciler.go
  pkg/controllermanager/controller/managedseedset/managedseedset_reconciler_test.go
  pkg/controllermanager/controller/managedseedset/managedseedset_replica.go
  pkg/controllermanager/controller/managedseedset/managedseedset_replica_test.go
  pkg/controllermanager/controller/managedseedset/managedseedset_replicagetter.go
  pkg/controllermanager/controller/managedseedset/managedseedset_replicagetter_test.go
  pkg/controllermanager/controller/managedseedset/managedseedset_suite_test.go
  pkg/controllermanager/controller/managedseedset/mock/doc.go
  pkg/controllermanager/controller/managedseedset/mock/mocks.go
  pkg/mock/controller-runtime/predicate/doc.go
  pkg/mock/controller-runtime/predicate/mocks.go
  pkg/openapi/openapi_generated.go
  pkg/operation/shoot/status.go
  pkg/registry/seedmanagement/managedseedset/storage/tableconvertor.go
  pkg/utils/kubernetes/eventhandler.go
  pkg/utils/kubernetes/eventhandler_test.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/mock/doc.go
  pkg/utils/kubernetes/mock/mocks.go
  pkg/utils/kubernetes/object.go
Labels: area/control-plane, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3833 Use GCS instead of bitnami as helm repo for redis chart for integration tests
  test/framework/resources/repository/repositories.yaml
Labels: area/testing, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#3832 Fix Seed deletion error due to uncaught NotFound
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3774 Add Project handling to SeedAuthorizer
  cmd/gardenlet/app/gardenlet.go
  docs/deployment/gardenlet_api_access.md
  pkg/admissioncontroller/webhooks/admission/namespacedeletion/admission.go
  pkg/admissioncontroller/webhooks/admission/namespacedeletion/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/apis/core/field_constants.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/conversions.go
  pkg/client/kubernetes/clientmap/builder/garden_builder.go
  pkg/client/kubernetes/clientmap/builder/garden_builder_test.go
  pkg/client/kubernetes/clientmap/internal/alias.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/controllermanager/controller/project/project_stale_control.go
  pkg/controllermanager/controller/project/project_stale_control_test.go
  pkg/controllermanager/controller/project/project_utils.go
  pkg/controllermanager/controller/project/rolebinding_control.go
  pkg/controllermanager/controller/project/rolebinding_control_test.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/shoot_care_control_types.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/operation/botanist/component/projectrbac/projectrbac.go
  pkg/operation/botanist/component/projectrbac/projectrbac_test.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/garden/garden.go
  pkg/operation/garden/types.go
  pkg/operation/operation.go
  pkg/operation/types.go
  pkg/registry/core/project/storage/storage.go
  pkg/registry/core/project/strategy.go
  pkg/registry/core/project/strategy_test.go
  pkg/utils/gardener/project.go
  pkg/utils/gardener/project_test.go
  plugin/pkg/plant/admission.go
  plugin/pkg/shoot/dns/admission.go
  plugin/pkg/shoot/dns/admission_test.go
  plugin/pkg/shoot/tolerationrestriction/admission.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/utils/miscellaneous.go
  test/framework/gardener_utils.go
Labels: area/security, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3840 Let gardenlet run even without any seed resource to exist
  pkg/gardenlet/controller/factory.go
  pkg/operation/garden/garden.go
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3842 [release-v1.19] Automated cherry pick of #3832: Fix Seed deletion error due to uncaught NotFound
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3841 [release-v1.20] Automated cherry pick of #3832: Fix Seed deletion error due to uncaught NotFound
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3843 [release-v1.18] Automated cherry pick of #3832: Fix Seed deletion error due to uncaught NotFound
  pkg/operation/botanist/controlplane/etcd/bootstrap.go
  pkg/operation/botanist/controlplane/etcd/bootstrap_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3848 Fix failed to get key errors
  pkg/controllermanager/controller/plant/plant_control.go
  pkg/controllermanager/controller/shoot/configmap_control.go
Labels: kind/regression, needs/ok-to-test, priority/1, reviewed/lgtm, size/xs

#3849 [release-v1.20] Automated cherry pick of #3848: Fix failed to get key errors
  pkg/controllermanager/controller/plant/plant_control.go
  pkg/controllermanager/controller/shoot/configmap_control.go
Labels: kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#3855 Fix audit policy webhook
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission.go
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission_test.go
  pkg/controllermanager/controller/shoot/configmap_control.go
Labels: kind/regression, merge/keep-commits, needs/ok-to-test, priority/1, reviewed/lgtm, size/m

#3856 [release-v1.20] Automated cherry pick of #3855: Fix audit policy webhook
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission.go
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission_test.go
  pkg/controllermanager/controller/shoot/configmap_control.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#3854 Avoid listing all BackupEntries during care operation
  pkg/operation/care/health.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/performance, area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3850 Update local-garden README with correct make target
  hack/local-development/local-garden/README.md
Labels: area/documentation, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3859 [release-v1.20] Automated cherry pick of #3854: Avoid listing all BackupEntries during care operation
  pkg/operation/care/health.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#3780 Consolidate utilities for working with ManagedResources
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
  extensions/pkg/controller/managedresources.go
  extensions/pkg/controller/shoot.go
  extensions/pkg/controller/worker/genericactuator/actuator_migrate.go
  extensions/pkg/controller/worker/genericactuator/machine_controller_manager.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/cleanup.go
  pkg/operation/botanist/component/clusterautoscaler/bootstrap.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler.go
  pkg/operation/botanist/component/konnectivity/konnectivity_server.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/component/kubecontrollermanager/shoot_resources.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/namespaces/namespaces.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller.go
  pkg/operation/botanist/managedresources.go
  pkg/operation/botanist/matchers/matcher.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/resources.go
  pkg/operation/botanist/worker.go
  pkg/operation/common/managedresources.go
  pkg/operation/common/managedresources_test.go
  pkg/operation/common/types.go
  pkg/utils/managedresources/managedresources.go
  pkg/utils/managedresources/managedresources_test.go
Labels: area/dev-productivity, kind/api-change, kind/cleanup, kind/technical-debt, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3801 Remove ShootRetriever from ShootStateSync reconciler
  extensions/pkg/controller/csimigration/controller.go
  extensions/pkg/controller/csimigration/reconciler.go
  extensions/pkg/predicate/predicate_test.go
  pkg/extensions/cluster.go
  pkg/gardenlet/controller/federatedseed/extensions/extensions.go
  pkg/gardenlet/controller/federatedseed/extensions/shootretriever.go
  pkg/gardenlet/controller/federatedseed/extensions/shootstate_control.go
  pkg/gardenlet/controller/federatedseed/extensions/shootstate_control_test.go
Labels: area/dev-productivity, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#3863 set realms annotation for non-internal DNSProviders
  pkg/operation/botanist/component/extensions/dns/dnsprovider.go
  pkg/operation/botanist/component/extensions/dns/dnsprovider_test.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/dns_test.go
Labels: area/control-plane, kind/regression, needs/ok-to-test, reviewed/lgtm, size/s

#3823 [GEP-16] Dynamic kubeconfig generation for Shoot clusters GEP
  docs/README.md
  docs/proposals/16-adminkubeconfig-subresource.md
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3864 [release-v1.20] Automated cherry pick of #3863: set realms annotation for non-internal DNSProviders
  pkg/operation/botanist/component/extensions/dns/dnsprovider.go
  pkg/operation/botanist/component/extensions/dns/dnsprovider_test.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/dns_test.go
Labels: kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/s

#3844 Prevent overlaps in seed/shoot networks with vpn default network range.
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
  pkg/utils/validation/cidr/disjoint.go
  pkg/utils/validation/cidr/disjoint_test.go
Labels: area/networking, area/usability, kind/api-change, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/m

#3847 Reconcile managed seeds via the operation annotation
  pkg/registry/seedmanagement/managedseed/strategy.go
  pkg/registry/seedmanagement/managedseed/strategy_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#3853 Add validation of image vectors
  pkg/utils/imagevector/imagevector.go
  pkg/utils/imagevector/imagevector_components.go
  pkg/utils/imagevector/imagevector_components_test.go
  pkg/utils/imagevector/imagevector_validation.go
  pkg/utils/imagevector/imagevector_validation_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3771 [GEP-14] New cluster VPN proposal
  docs/README.md
  docs/proposals/14-reversed-cluster-vpn.md
  docs/proposals/assets/CurrentClusterVPN.png
  docs/proposals/assets/ReversedTunnelVPN.png
  docs/proposals/assets/WireGuardClusterVPN.png
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3868 VPA minAllowed configuration for node-exporter.
  charts/shoot-core/components/charts/monitoring/charts/node-exporter/templates/vpa.yaml
Labels: area/auto-scaling, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3870 [release-v1.19] Automated cherry pick of #3868: VPA minAllowed configuration for node-exporter.
  charts/shoot-core/components/charts/monitoring/charts/node-exporter/templates/vpa.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3860 Support for Kubernetes v1.21
  README.md
  docs/usage/supported_k8s_versions.md
  pkg/client/kubernetes/client.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, priority/3, reviewed/lgtm, size/xs, topology/garden, topology/seed, topology/shoot

#3867 Clean up the workaround for extension library webhooks
  pkg/operation/care/constraints.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s

#3879 Fix broken docs link
  docs/deployment/deploy_gardenlet_automatically.md
Labels: area/quality, needs/ok-to-test, reviewed/lgtm, size/xs

#3852 Grafana is now deleted separately from the monitoring stack
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/monitoring.go
Labels: area/monitoring, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3831 VPA minAllowed for dependency-watchdog
  charts/seed-bootstrap/charts/dependency-watchdog/templates/endpoint-deployment.yaml
  charts/seed-bootstrap/charts/dependency-watchdog/templates/probe-deployment.yaml
Labels: area/auto-scaling, area/control-plane, area/high-availability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3866 Decouple gardener-apiserver from pkg/operation/*
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/validation/controllerregistration.go
  pkg/apis/core/validation/shoot.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
  pkg/controllermanager/controller/managedseedset/managedseedset_replica.go
  pkg/controllermanager/controller/managedseedset/managedseedset_replica_test.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_quota_control.go
  pkg/controllerutils/miscellaneous.go
  pkg/controllerutils/miscellaneous_test.go
  pkg/extensions/id.go
  pkg/extensions/id_test.go
  pkg/gardenlet/bootstrap/util/util.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_reconciler.go
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/secrets.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/operation.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/shoot_test.go
  pkg/registry/core/shoot/strategy.go
  pkg/registry/core/shoot/strategy_test.go
  pkg/utils/gardener/dns.go
  pkg/utils/gardener/dns_test.go
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
  plugin/pkg/plant/admission.go
  plugin/pkg/plant/admission_test.go
  plugin/pkg/shoot/quotavalidator/admission.go
  plugin/pkg/shoot/quotavalidator/admission_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
  test/integration/shoots/maintenance/maintenance_operations.go
  test/integration/shoots/operations/operations.go
Labels: area/dev-productivity, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3803 Add ShootState handling to SeedAuthorizer
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardenlet/app/gardenlet.go
  docs/deployment/gardenlet_api_access.md
  extensions/pkg/controller/utils_test.go
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/seedidentity/identity.go
  pkg/admissioncontroller/seedidentity/identity_test.go
  pkg/admissioncontroller/seedidentity/seedidentity_suite_test.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/controllerutils/patch.go
  pkg/controllerutils/patch_test.go
  pkg/operation/botanist/component/extensions/backupentry/backupentry_test.go
  pkg/operation/botanist/component/extensions/containerruntime/containerruntime_test.go
  pkg/operation/botanist/component/extensions/controlplane/controlplane_test.go
  pkg/operation/botanist/component/extensions/extension/extension_test.go
  pkg/operation/botanist/component/extensions/infrastructure/infrastructure_test.go
  pkg/operation/botanist/component/extensions/network/network_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
  pkg/operation/operation.go
  pkg/operation/operation_test.go
  pkg/utils/kubernetes/client/client_test.go
  pkg/utils/test/test.go
Labels: area/security, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3882 Allow GAC user to list/watch namespaces
  charts/gardener/controlplane/charts/application/templates/rbac-system.yaml
Labels: area/control-plane, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#3834 [GEP-13] Enhance ManagedSeed controller
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  example/20-componentconfig-gardenlet.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  pkg/apis/seedmanagement/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
  pkg/controllermanager/controller/managedseedset/managedseedset.go
  pkg/controllermanager/controller/managedseedset/managedseedset_actuator.go
  pkg/controllermanager/controller/managedseedset/managedseedset_actuator_test.go
  pkg/controllermanager/controller/managedseedset/managedseedset_reconciler.go
  pkg/controllermanager/controller/managedseedset/managedseedset_reconciler_test.go
  pkg/controllermanager/controller/managedseedset/mock/mocks.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/validation/validation.go
  pkg/gardenlet/apis/config/validation/validation_test.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/managedseed/managedseed.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator_test.go
  pkg/gardenlet/controller/managedseed/managedseed_controller.go
  pkg/gardenlet/controller/managedseed/managedseed_controller_test.go
  pkg/gardenlet/controller/managedseed/managedseed_predicates.go
  pkg/gardenlet/controller/managedseed/managedseed_reconciler.go
  pkg/gardenlet/controller/managedseed/managedseed_reconciler_test.go
  pkg/gardenlet/controller/managedseed/mock/mocks.go
  pkg/utils/kubernetes/eventhandler.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#3885 Aggregate container label for seed:images:count
  charts/seed-bootstrap/prometheus-rules/recording-rules.rules.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3887 typos correct
  docs/proposals/02-backupinfra.md
  docs/proposals/13-automated-seed-management.md
  docs/proposals/14-reversed-cluster-vpn.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3876 Increase limits for etcd to avoid potential long down time during maintenance window.
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
Labels: area/auto-scaling, area/control-plane, area/cost, area/high-availability, kind/post-mortem, needs/ok-to-test, reviewed/lgtm, size/xs

#3869 First steps towards removal of duplication in extension controllers
  extensions/pkg/controller/backupbucket/controller.go
  extensions/pkg/controller/backupbucket/reconciler.go
  extensions/pkg/controller/backupentry/controller.go
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/containerruntime/controller.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/controller.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/healthcheck/reconciler.go
  extensions/pkg/controller/infrastructure/controller.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/controller.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/controller.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/status.go
  extensions/pkg/controller/status_test.go
  extensions/pkg/controller/worker/reconciler.go
  extensions/pkg/controller/worker/state_reconciler.go
  pkg/api/extensions/accessor.go
  pkg/api/extensions/accessor_test.go
  pkg/apis/extensions/v1alpha1/types.go
  pkg/apis/extensions/v1alpha1/types_defaults.go
Labels: area/dev-productivity, kind/api-change, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3883 [GEP-16] Add advertise addresses in Shoot status
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/operation/operation.go
  pkg/operation/operation_test.go
  pkg/operation/shoot/shoot.go
Labels: area/control-plane, kind/api-change, needs/ok-to-test, reviewed/lgtm, size/xl

#3778 Minor improvements to health check messages and formatting
  extensions/pkg/controller/healthcheck/actuator.go
  extensions/pkg/controller/healthcheck/controller.go
  extensions/pkg/controller/healthcheck/general/daemonset.go
  extensions/pkg/controller/healthcheck/general/deployment.go
  extensions/pkg/controller/healthcheck/general/managed_resource.go
  extensions/pkg/controller/healthcheck/general/statefulsets.go
  extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  extensions/pkg/controller/healthcheck/healthcheck_suite_test.go
  extensions/pkg/controller/healthcheck/message_util.go
  extensions/pkg/controller/healthcheck/message_util_test.go
  extensions/pkg/controller/healthcheck/reconciler.go
  extensions/pkg/controller/healthcheck/worker/helpers.go
  extensions/pkg/controller/healthcheck/worker/helpers_test.go
  extensions/pkg/controller/healthcheck/worker/nodes.go
  pkg/controllermanager/controller/plant/plant_health.go
  pkg/operation/care/checker.go
  pkg/operation/care/health.go
  pkg/operation/care/health_check_test.go
  pkg/utils/kubernetes/health/health.go
  pkg/utils/kubernetes/health/pod_health.go
  test/framework/k8s_utils.go
Labels: area/quality, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xl

#3896 [release-v1.20] Cherry pick of #3895: [ci:component:github.com/gardener/autoscaler:v0.14.0->v0.15.0]
  charts/images.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3802 [GEP-15] Bastion Management and SSH Key Pair Rotation
  docs/README.md
  docs/proposals/15-manage-bastions-and-ssh-key-pair-rotation.md
Labels: area/documentation, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#3912 Remove ginkgo flags from g-apiserver
  pkg/utils/kubernetes/client/client.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3913 [release-v1.20] Automated cherry pick of #3912: Remove ginkgo flags from g-apiserver
  pkg/utils/kubernetes/client/client.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3914 [release-v1.19] Automated cherry pick of #3912: Remove ginkgo flags from g-apiserver
  pkg/utils/kubernetes/client/client.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3900 Stop running logging integration test on chost nodes
  test/integration/shoots/logging/seed_logging_stack.go
Labels: area/logging, kind/bug, needs/ok-to-test, needs/review, size/xs

#3906 Only validate shoot resources when changed
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
Labels: area/quality, kind/regression, needs/ok-to-test, priority/1, reviewed/lgtm, size/m

#3891 Upgrade logging stack versions
  charts/images.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3888 Delete legacy GCM configmap
  pkg/controllermanager/controller/factory.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#3880 [GEP-7] Properly handle migration and restoration of BackupEntry
  hack/api-reference/core.md
  pkg/apis/core/types_backupentry.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_backupentry.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_backupentry.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/controllerutils/seedfilter.go
  pkg/controllerutils/seedfilter_test.go
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/component/backupentry/backupentry.go
  pkg/operation/botanist/component/backupentry/backupentry_test.go
  pkg/operation/botanist/component/extensions/backupentry/backupentry.go
  pkg/operation/botanist/component/extensions/backupentry/backupentry_test.go
  pkg/operation/botanist/migration.go
  pkg/operation/botanist/migration_test.go
  pkg/operation/operation.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/registry/core/backupentry/strategy.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
Labels: kind/api-change, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3915 [release-v1.20] Automated cherry pick of #3906: Only validate shoot resources when changed
  plugin/pkg/global/resourcereferencemanager/admission.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#3911 Add scale subresource for ManagedSeedSets
  pkg/api/register.go
  pkg/registry/seedmanagement/managedseedset/storage/storage.go
  pkg/registry/seedmanagement/rest/storage_seedmanagement.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3812 [GEP-14] Reverse cluster vpn.
  charts/images.go
  charts/images.yaml
  charts/istio/istio-ingress/templates/envoy-filter.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-envoyfilter.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/values.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-egress-selection.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/networkpolicy-allow-kube-apiserver-policy.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/deployment.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/service.yaml
  charts/shoot-core/components/charts/vpn-shoot/values.yaml
  cmd/gardenlet/app/gardenlet.go
  docs/README.md
  docs/deployment/feature_gates.md
  docs/usage/reversed-vpn-tunnel.md
  example/20-componentconfig-gardenlet.yaml
  pkg/apis/core/v1alpha1/constants/types_constants.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/features/features.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/vpnseedserver/mock/doc.go
  pkg/operation/botanist/component/vpnseedserver/mock/mocks.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_suite_test.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/kube_apiserver_sni.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/vpnseedserver.go
  pkg/operation/botanist/vpnseedserver_test.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
Labels: area/networking, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3920 [release-v1.20] Automated cherry pick of #3861: Use separate context to update shoot status
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#3919 [release-v1.20] Automated cherry pick of #3831: VPA minAllowed for dependency-watchdog
  charts/seed-bootstrap/charts/dependency-watchdog/templates/endpoint-deployment.yaml
  charts/seed-bootstrap/charts/dependency-watchdog/templates/probe-deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3921 [release-v1.20] Automated cherry pick of #3876: Increase limits for etcd to avoid potential long down time during maintenance window.
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3927 Make sure Seed and ManagedSeed names are DNS-1123 label compliant names
  pkg/apis/core/validation/backupbucket_test.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/controllerinstallation_test.go
  pkg/apis/core/validation/controllerregistration_test.go
  pkg/apis/core/validation/plant_test.go
  pkg/apis/core/validation/project_test.go
  pkg/apis/core/validation/quota_test.go
  pkg/apis/core/validation/secretbinding_test.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/validation/shootstate_test.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/apis/seedmanagement/validation/managedseed_test.go
  pkg/apis/seedmanagement/validation/managedseedset_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xl

#3928 [release-v1.21] Automated cherry pick of #3927: Make sure Seed and ManagedSeed names are DNS-1123 label compliant names
  pkg/apis/core/validation/backupbucket_test.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/controllerinstallation_test.go
  pkg/apis/core/validation/controllerregistration_test.go
  pkg/apis/core/validation/plant_test.go
  pkg/apis/core/validation/project_test.go
  pkg/apis/core/validation/quota_test.go
  pkg/apis/core/validation/secretbinding_test.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/validation/shootstate_test.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/apis/seedmanagement/validation/managedseed_test.go
  pkg/apis/seedmanagement/validation/managedseedset_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xl

#3929 [release-v1.20] Automated cherry pick of #3927: Make sure Seed and ManagedSeed names are DNS-1123 label compliant names
  pkg/apis/core/validation/backupbucket_test.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/validation/controllerinstallation_test.go
  pkg/apis/core/validation/controllerregistration_test.go
  pkg/apis/core/validation/plant_test.go
  pkg/apis/core/validation/project_test.go
  pkg/apis/core/validation/quota_test.go
  pkg/apis/core/validation/secretbinding_test.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/validation/shootstate_test.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/apis/seedmanagement/validation/managedseed_test.go
  pkg/apis/seedmanagement/validation/managedseedset_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xl

#3922 Reconcile ManagedSeedSets via the operation annotation
  pkg/registry/seedmanagement/managedseedset/strategy.go
  pkg/registry/seedmanagement/managedseedset/strategy_test.go
Labels: area/ops-productivity, area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#3931 Use alpine:3 in dev setup
  hack/local-development/dev-setup
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3923 docs: import "Architecture" chapter from the wiki
  docs/README.md
  docs/concepts/architecture.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3933 Fixed vpn-seed-server envoy filter configuration not being deleted when feature is disabled.
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-envoyfilter.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/values.yaml
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/kube_apiserver_sni.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3930 docs: improve the local setup section
  docs/development/local_setup.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3937 Changed priority class of vpn-seed-server deployment to shoot controlplane.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3935 Add 23 Technologies to the ADOPTERS file
  ADOPTERS.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3934 docs: import detailed architecture graphic from gardener/documentation
  docs/concepts/architecture.md
  docs/concepts/gardener-architecture-detailed.png
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3938 Ensure that reversed vpn and konnectivity tunnel are not set at the same time.
  pkg/operation/shoot/shoot.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3916 Finalize VolumeAttachments on hibernation
  pkg/operation/botanist/cleanup.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/volumeattachments.go
  pkg/operation/botanist/volumeattachments_test.go
Labels: area/ops-productivity, area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3944 Update metrics-server
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3946 Add missing test suite
  pkg/extensions/extensions_suite_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3886 Refactor global-network-policies and control plane network policies into component
  charts/global-network-policies/Chart.yaml
  charts/global-network-policies/charts/utils-templates
  charts/global-network-policies/templates/_private.tpl
  charts/global-network-policies/templates/allow-to-aggregate-prometheus.yaml
  charts/global-network-policies/templates/allow-to-all-shoot-apiservers.yaml
  charts/global-network-policies/templates/allow-to-blocked-cidrs.yaml
  charts/global-network-policies/templates/allow-to-dns.yaml
  charts/global-network-policies/templates/allow-to-private-networks.yaml
  charts/global-network-policies/templates/allow-to-public-networks.yaml
  charts/global-network-policies/templates/deny-all.yaml
  charts/global-network-policies/values.yaml
  charts/seed-bootstrap/charts/global-network-policies
  charts/seed-bootstrap/requirements.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-controlplane/charts/network-policies/Chart.yaml
  charts/seed-controlplane/charts/network-policies/charts/global-network-policies
  charts/seed-controlplane/charts/network-policies/charts/utils-templates
  charts/seed-controlplane/charts/network-policies/templates/allow-to-shoot-networks.yaml
  charts/seed-controlplane/charts/network-policies/values.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/networkpolicies/bootstrap.go
  pkg/operation/botanist/component/networkpolicies/bootstrap_test.go
  pkg/operation/botanist/component/networkpolicies/global.go
  pkg/operation/botanist/component/networkpolicies/global_test.go
  pkg/operation/botanist/component/networkpolicies/networkpolicies.go
  pkg/operation/botanist/component/networkpolicies/networkpolicies_suite_test.go
  pkg/operation/botanist/component/networkpolicies/networkpolicies_test.go
  pkg/operation/botanist/component/networkpolicies/peers.go
  pkg/operation/botanist/component/networkpolicies/peers_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/networkpolicies.go
  pkg/operation/botanist/networkpolicies_test.go
  pkg/operation/common/network_policies_test.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
Labels: area/dev-productivity, area/quality, area/robustness, exp/intermediate, kind/api-change, kind/technical-debt, kind/test, merge/squash, needs/changes, needs/ok-to-test, platform/all, priority/3, size/xl, topology/seed

#3942 Use new vpn2 container image to include firewall rules for vpn-seed-server
  charts/images.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3903 Add hvpa for Prometheus deployed by seed-bootstrap
  charts/seed-bootstrap/templates/aggregate-prometheus/hvpa.yaml
  charts/seed-bootstrap/templates/aggregate-prometheus/statefulset.yaml
  charts/seed-bootstrap/templates/aggregate-prometheus/vpa.yaml
  charts/seed-bootstrap/templates/prometheus/hvpa.yaml
  charts/seed-bootstrap/templates/prometheus/prometheus-vpa.yaml
  charts/seed-bootstrap/templates/prometheus/statefulset.yaml
  charts/seed-bootstrap/values.yaml
  pkg/operation/seed/seed.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#3940 docs: add high-level overview architecture diagram
  docs/concepts/architecture.md
  docs/concepts/gardener-architecture-overview.png
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3917 Fix logging for suse
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-daemonset.yaml
  test/integration/shoots/logging/seed_logging_stack.go
Labels: area/logging, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3884 Add Backup{Bucket,Entry}, ManagedSeed, ControllerInstallation handling to Seed{Authorizer,Restriction}
  docs/deployment/gardenlet_api_access.md
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
Labels: area/security, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3939 Remove watch on secrets from ManagedSeed controller
  pkg/gardenlet/controller/managedseed/managedseed.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator_test.go
  pkg/gardenlet/controller/managedseed/managedseed_predicates.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3918 Use dedicated reasons for ManagedSeedSet events
  pkg/controllermanager/controller/managedseedset/managedseedset_actuator.go
  pkg/controllermanager/controller/managedseedset/managedseedset_actuator_test.go
Labels: area/ops-productivity, area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3924 Relax server-side validation for shoot templates
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: area/ops-productivity, area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#3936 Add default shoots capacity for ManagedSeeds
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/defaults_managedseed_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#3926 Ensure grm is present during hibernation
  pkg/operation/botanist/resource_manager.go
Labels: area/ops-productivity, area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3941 Cleanup nits for SeedAuthorizer preparation
  cmd/gardenlet/app/gardenlet.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/factory.go
Labels: area/usability, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s

#3947 add nodeMonitorGracePeriod to kubeControllerManager shoot spec
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3950 Use terraformer termination message
  extensions/pkg/terraformer/errors.go
  extensions/pkg/terraformer/errors_test.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/waiter.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3943 Add FluentBitIdleInputPlugins alert
  charts/seed-bootstrap/aggregate-prometheus-rules-tests/fluent-bit.rules.test.yaml
  charts/seed-bootstrap/aggregate-prometheus-rules/fluent-bit.rules.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#3966 Specify minAllowed for the kube-scheduler VPA
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler_test.go
Labels: area/auto-scaling, area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3925 Introduce new error code for cloud provider rate limit exceeded errors
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
  docs/concepts/controller-manager.md
  docs/usage/shoot_status.md
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/apis/core/types_common.go
  pkg/apis/core/v1alpha1/types_common.go
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/apis/core/v1beta1/types_common.go
  pkg/controllermanager/apis/config/types.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
  pkg/controllermanager/apis/config/v1alpha1/types.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/controllermanager/apis/config/zz_generated.deepcopy.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_retry_control.go
  pkg/controllermanager/controller/shoot/shoot_retry_control_test.go
  pkg/controllermanager/controller/shoot/shoot_suite_test.go
  pkg/envtest/environment_test.go
Labels: kind/api-change, kind/bug, merge/keep-commits, needs/ok-to-test, reviewed/lgtm, size/xl

#3967 Fix make local-garden-up
  hack/local-development/local-garden/configure-rbac
Labels: kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#3865 [GEP-15] add bastions.extensions.gardener.cloud CRD
  charts/seed-bootstrap/charts/extensions/templates/crd-bastion.yaml
  docs/README.md
  docs/extensions/bastion.md
  example/seed-admission-controller/10-validatingwebhookconfiguration.yaml
  extensions/pkg/controller/bastion/actuator.go
  extensions/pkg/controller/bastion/controller.go
  extensions/pkg/controller/bastion/reconciler.go
  hack/api-reference/extensions.md
  pkg/apis/extensions/v1alpha1/register.go
  pkg/apis/extensions/v1alpha1/types_bastion.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions/validation/bastion.go
  pkg/apis/extensions/validation/bastion_test.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/bastion.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/extensions_client.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/fake/fake_bastion.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/fake/fake_extensions_client.go
  pkg/client/extensions/clientset/versioned/typed/extensions/v1alpha1/generated_expansion.go
  pkg/client/extensions/informers/externalversions/extensions/v1alpha1/bastion.go
  pkg/client/extensions/informers/externalversions/extensions/v1alpha1/interface.go
  pkg/client/extensions/informers/externalversions/generic.go
  pkg/client/extensions/listers/extensions/v1alpha1/bastion.go
  pkg/client/extensions/listers/extensions/v1alpha1/expansion_generated.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller_test.go
  pkg/seedadmissioncontroller/extensioncrds_suite_test.go
  pkg/seedadmissioncontroller/seedadmission_suite_test.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/admission.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/admission_test.go
  pkg/seedadmissioncontroller/webhooks/admission/extensioncrds/testdata/bastion.yaml
Labels: area/ops-productivity, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3964 Use grm's default leader election settings
  charts/images.yaml
  hack/local-development/local-garden/configure-rbac
  pkg/operation/botanist/resource_manager.go
Labels: area/scalability, kind/cleanup, needs/ok-to-test, needs/review, size/xs

#3973 Restricted reversed vpn to only kubernetes 1.18 and higher.
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-egress-selection.yaml
  docs/deployment/feature_gates.md
  docs/usage/reversed-vpn-tunnel.md
  pkg/operation/shoot/shoot.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3970 Add DeployMachineClasses step in the worker restore flow
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3969 Centralize error code extraction
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/operation/botanist/component/extensions/dns/dnsentry.go
  pkg/operation/botanist/component/extensions/dns/dnsprovider.go
  pkg/operation/botanist/waiter.go
  pkg/utils/flow/flow.go
Labels: area/dev-productivity, area/ops-productivity, area/usability, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s

#3955 Cleanup context.TODO(), migrate from DeprecatedCreateWorker to CreateWorker (4)
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/plant/plant.go
  pkg/controllermanager/controller/plant/plant_control.go
  pkg/controllermanager/controller/quota/quota.go
  pkg/controllermanager/controller/quota/quota_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_quota_control.go
  pkg/controllerutils/associations.go
Labels: area/dev-productivity, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/m

#3977 Switch back to the dockerhub base images
  Dockerfile
  Makefile
Labels: kind/enhancement, needs/ok-to-test, priority/5, reviewed/lgtm, size/xs

#3963 Use cache in .ci/verify
  .ci/verify
  .gitignore
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#3975 Fixes for release validation v1.22
  charts/gardener/controlplane/charts/application/templates/clusterrole-apiserver.yaml
  charts/gardener/controlplane/charts/application/templates/clusterrole-controller-manager.yaml
  charts/gardener/controlplane/charts/application/templates/clusterrole-scheduler.yaml
  charts/gardener/controlplane/charts/application/templates/clusterrolebinding-apiserver.yaml
  charts/gardener/controlplane/charts/application/templates/clusterrolebinding-controller-manager.yaml
  charts/gardener/controlplane/charts/application/templates/clusterrolebinding-scheduler.yaml
  hack/local-development/local-garden/configure-rbac
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/open-source, kind/regression, merge/keep-commits, needs/ok-to-test, priority/2, reviewed/lgtm, size/m

#3972 Add tests for the vpn tunnel
  test/framework/resources/templates/templates.go
  test/framework/resources/templates/vpntunnel-copy.yaml.tpl
  test/framework/resources/templates/vpntunnel.yaml.tpl
  test/framework/shootframework.go
  test/integration/shoots/vpntunnel/vpntunnel.go
  test/suites/shoot/run_suite_test.go
Labels: area/networking, kind/enhancement, needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#3954 Cleanup context.TODO(), migrate from DeprecatedCreateWorker to CreateWorker (3)
  pkg/controllermanager/controller/controllerregistration/controllerregistration.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_control_test.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_suite_test.go
  pkg/controllermanager/controller/controllerregistration/seed_control.go
  pkg/controllermanager/controller/controllerregistration/seed_control_test.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/project/project.go
  pkg/operation/botanist/botanist.go
  pkg/operation/garden/garden.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/shoot_test.go
Labels: area/dev-productivity, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3958 Add Event, Lease handling to Seed{Authorizer,Restriction}
  charts/gardener/controlplane/charts/application/templates/clusterrole-admission-controller.yaml
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  docs/deployment/gardenlet_api_access.md
  docs/deployment/gardenlet_api_access_graph.png
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_lease.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/vertices.go
Labels: area/security, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3956 Cleanup context.TODO(), migrate from DeprecatedCreateWorker to CreateWorker (5)
  pkg/admissioncontroller/webhooks/admission/namespacedeletion/admission.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/project/project.go
  pkg/controllermanager/controller/project/project_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_stale_control.go
  pkg/controllermanager/controller/project/project_stale_control_test.go
  pkg/utils/kubernetes/object.go
  pkg/utils/kubernetes/object_test.go
Labels: area/dev-productivity, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3976 Add minSize option to CloudProfile
  example/30-cloudprofile.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_cloudprofile.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_cloudprofile.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/cloudprofile.go
  pkg/apis/core/validation/cloudprofile_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  plugin/pkg/shoot/quotavalidator/admission.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: area/usability, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3979 More cleanup related to DirectClient
  pkg/controllermanager/controller/project/project_stale_control.go
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile.go
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile_test.go
  pkg/controllermanager/controller/shoot/shoot_quota_control.go
  pkg/controllerutils/operations.go
  pkg/extensions/customresources.go
  pkg/extensions/customresources_test.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_reconciler.go
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
  pkg/operation/botanist/component/extensions/backupentry/backupentry_test.go
  pkg/operation/botanist/component/extensions/containerruntime/containerruntime_test.go
  pkg/operation/botanist/component/extensions/controlplane/controlplane_test.go
  pkg/operation/botanist/component/extensions/extension/extension_test.go
  pkg/operation/botanist/component/extensions/infrastructure/infrastructure_test.go
  pkg/operation/botanist/component/extensions/network/network_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
  pkg/utils/gardener/deletion_confirmation.go
  pkg/utils/gardener/deletion_confirmation_test.go
  pkg/utils/kubernetes/kubernetes_test.go
  pkg/utils/kubernetes/patch.go
  test/framework/gardener_utils.go
Labels: area/dev-productivity, area/scalability, kind/cleanup, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xl

#3980 Deny mentions in commit messages
  .github/workflows/commit-message.yaml
Labels: area/open-source, kind/enhancement, needs/ok-to-test, needs/review, size/s
