Repository gardener/gardener, pull requests merged in 2021-08, with the labels that each got.

#4451 Keep kube-apiserver HPA scale down mode `Auto` even when scale down is disabled.
  pkg/operation/botanist/component/kubeapiserver/hvpa.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
Labels: area/auto-scaling, area/control-plane, kind/bug, merge/squash, needs/ok-to-test, reviewed/lgtm, size/xs

#4428 Upgrade gardener fluent-bit-to-loki plugin to v0.36.1
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, size/s

#4469 [release-v1.26] Manual cherry pick of #4451: Keep kube-apiserver HPA scale down mode Auto even when scale down is disabled.
  charts/seed-controlplane/charts/kube-apiserver/templates/hvpa.yaml
Labels: area/auto-scaling, area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs

#4468 [release-v1.27] Manual cherry pick of #4451: Keep kube-apiserver HPA scale down mode Auto even when scale down is disabled.
  charts/seed-controlplane/charts/kube-apiserver/templates/hvpa.yaml
Labels: area/auto-scaling, area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs

#4466 [release-v1.28] Automated cherry pick of #4451: Keep kube-apiserver HPA scale down mode `Auto` even when scale down is disabled.
  pkg/operation/botanist/component/kubeapiserver/hvpa.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
Labels: area/auto-scaling, area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#4387 Grafana Controlplane Logs Dashboard discover available components at runtime.
  charts/seed-monitoring/charts/grafana/dashboards/owners/controlplane-logs-dashboard.json
  charts/seed-monitoring/charts/grafana/templates/grafana-dashboards-configmap.yaml
  charts/seed-monitoring/charts/grafana/values.yaml
  docs/extensions/logging-and-monitoring.md
  docs/usage/logging.md
  pkg/operation/botanist/monitoring.go
Labels: area/logging, area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#4452 Add stakeholder communication regarding dockershim removal
  docs/usage/docker-shim-removal.md
Labels: area/documentation, kind/enhancement, merge/squash, needs/ok-to-test, reviewed/lgtm, size/s

#4470 Remove symmetric keys from valid OIDC signing algorithms
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4467 Make KAS certificate DNS-1123 compliant
  pkg/operation/botanist/wanted_secrets.go
Labels: area/security, kind/enhancement, needs/ok-to-test, size/xs

#4473 [release-v1.26] Automated cherry pick of #4470: Remove symmetric keys from valid OIDC signing algorithms
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4472 [release-v1.27] Automated cherry pick of #4470: Remove symmetric keys from valid OIDC signing algorithms
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4471 [release-v1.28] Automated cherry pick of #4470: Remove symmetric keys from valid OIDC signing algorithms
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4444 Improve local setup to respect gardenlet RBAC roles
  hack/local-development/start-gardenlet
Labels: area/dev-productivity, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4475 Fix staticcheck findings and bump golangci-lint
  hack/install-requirements.sh
  pkg/client/kubernetes/cache/cache.go
  pkg/utils/kubernetes/client/client.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#4479 Persist KCM replicas during creation if hibernation is enabled
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/kubecontrollermanager_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#4447 Trigger project reconcile on shoot creation and add LastActivity timestamp to the project
  docs/concepts/controller-manager.md
  hack/api-reference/core.md
  pkg/apis/core/types_project.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_project.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_project.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/controllermanager/controller/project/project.go
  pkg/controllermanager/controller/project/project_activity_control.go
  pkg/controllermanager/controller/project/project_activity_control_test.go
  pkg/controllermanager/controller/project/project_control.go
  pkg/controllermanager/controller/project/project_stale_control.go
  pkg/controllermanager/controller/project/project_stale_control_test.go
  pkg/controllermanager/controller/project/project_suite_test.go
  pkg/openapi/openapi_generated.go
Labels: kind/bug, reviewed/ok-to-test, kind/api-change, size/xl, area/ops-productivity, reviewed/lgtm

#4483 Fix `make verify`
  pkg/controllermanager/controller/project/project_suite_test.go
Labels: area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#4478 Fix KCM start-up in local developement env
  hack/local-development/local-garden/run-kube-controller-manager
Labels: kind/bug, area/dev-productivity, reviewed/ok-to-test, size/xs

#4482 Adds OverconstrainedZonalAllocationRequest to config problem regex
  pkg/apis/core/v1beta1/helper/errors.go
Labels: kind/enhancement, reviewed/ok-to-test, area/ops-productivity, size/xs, reviewed/lgtm

#4480 Local setup now uses only the gardenlet SA token and nothing else
  charts/gardener/gardenlet/charts/runtime/templates/clusterrole-gardenlet.yaml
  charts/gardener/gardenlet/charts/runtime/templates/clusterrole-managed-istio.yaml
  charts/gardener/gardenlet/charts/runtime/templates/clusterrolebinding-managed-istio.yaml
  hack/local-development/start-gardenlet
Labels: kind/enhancement, area/dev-productivity, needs/ok-to-test, reviewed/lgtm, size/s, area/testing, merge/keep-commits

#4488 Fix `make verify`
  pkg/controllermanager/controller/project/project_activity_control_test.go
Labels: area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#4502 Fix CSR approvals for Gardenlet renewals
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
Labels: kind/bug, area/security, size/xs, needs/ok-to-test, reviewed/lgtm, needs/cherry-pick

#4506 [release-v1.27] Automated cherry pick of #4502: Fix CSR approvals for Gardenlet renewals
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
Labels: kind/bug, area/security, size/xs, needs/ok-to-test, reviewed/lgtm

#4505 [release-v1.28] Automated cherry pick of #4502: Fix CSR approvals for Gardenlet renewals
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
Labels: kind/bug, area/security, size/xs, needs/ok-to-test, reviewed/lgtm

#4446 Added readiness probe to vpn-seed-server deployment.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: kind/enhancement, reviewed/lgtm, area/networking, size/s

#4493 Clarify conformance test state for k8s v1.21
  README.md
Labels: kind/enhancement, size/xs, area/documentation, reviewed/lgtm, area/testing

#4492 Upgrade fluent-bit-to-loki plugin to v.36.2 and add telegraf into the…
  charts/images.yaml
  hack/.ci/set_dependency_version
Labels: kind/enhancement, size/xs, reviewed/lgtm, area/logging

#4496 Update metrics-server to v0.5.0
  charts/images.yaml
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
Labels: kind/enhancement, size/xs, reviewed/lgtm

#4497 Viewer roles definition
  charts/gardener/controlplane/charts/application/templates/rbac-user.yaml
Labels: kind/enhancement, area/security, needs/ok-to-test, size/m, reviewed/lgtm

#4515 make component-cli parameters configurable
  .ci/component_descriptor
  hack/.ci/component_descriptor
Labels: kind/enhancement, needs/ok-to-test, area/quality, reviewed/lgtm, size/s

#4503 Cleanup duplicated watches in gardenlet (1)
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile_test.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
  pkg/controllerutils/worker.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_care_control.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/lease/lease.go
  pkg/gardenlet/controller/lease/lease_suite_test.go
  pkg/gardenlet/controller/lease/lease_test.go
  pkg/gardenlet/controller/seed/lease_control.go
  pkg/gardenlet/controller/seed/lease_control_test.go
  pkg/gardenlet/controller/seed/seed.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/seed/seed_extension_control.go
  pkg/gardenlet/controller/seed/seed_extension_control_test.go
  pkg/gardenlet/controller/seed/seed_lease_control.go
  pkg/gardenlet/controller/seed/seed_lease_control_test.go
  pkg/operation/botanist/component/etcd/bootstrap.go
  pkg/operation/botanist/component/etcd/bootstrap_test.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller_test.go
  pkg/operation/botanist/waiter.go
  pkg/operation/common/utils.go
  pkg/operation/garden/garden.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
  pkg/utils/secrets/certificates.go
  pkg/utils/secrets/generate.go
  pkg/utils/secrets/secrets.go
Labels: size/xl, needs/ok-to-test, reviewed/lgtm, kind/cleanup, area/scalability, merge/squash

#4481 Ensure proper istio RBAC permissions when `ManagedIstio` feature gate is enabled by default
  charts/gardener/gardenlet/charts/runtime/templates/_feature-gates.tpl
  charts/gardener/gardenlet/charts/runtime/templates/clusterrole-managed-istio.yaml
Labels: area/security, size/xs, needs/ok-to-test, kind/impediment, reviewed/lgtm, merge/squash

#4509 Fixes for concurrent access of Operation object
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/clusterautoscaler.go
  pkg/operation/botanist/clusterautoscaler_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/infrastructure_test.go
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/kubecontrollermanager_test.go
  pkg/operation/botanist/kubescheduler.go
  pkg/operation/botanist/kubescheduler_test.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/metricsserver.go
  pkg/operation/botanist/metricsserver_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/types.go
  pkg/operation/botanist/vpnseedserver.go
  pkg/operation/botanist/vpnseedserver_test.go
  pkg/operation/botanist/worker.go
  pkg/operation/botanist/worker_test.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/operation.go
  pkg/operation/types.go
Labels: kind/bug, needs/ok-to-test, size/l, reviewed/lgtm, area/robustness, merge/squash

#4316 Prevent deletion of shoots that are in Migrate or Restore phase
  pkg/apis/core/types_common.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: kind/enhancement, kind/api-change, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#4520 Update to golang@1.16.7
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/GardenletLandscaper.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#4522 Increase timeouts in hostnameresolver tests
  pkg/gardenlet/controller/networkpolicy/hostnameresolver/resolver_test.go
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, kind/flake

#4517 Sort dates chronologically
  docs/usage/docker-shim-removal.md
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm, merge/squash

#4510 Cleanup duplicated watches in gardenlet (2)
  cmd/gardenlet/app/gardenlet.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/factory.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/seed/seed_control.go
  pkg/gardenlet/controller/shoot/seed_registration_control.go
  pkg/gardenlet/controller/shoot/seed_registration_control_test.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/gardenlet/controller/shoot/shoot_care_control_types.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/logger/logrus.go
  pkg/operation/garden/garden.go
  pkg/operation/operation.go
  pkg/operation/seed/seed.go
  pkg/operation/seed/types.go
  pkg/operation/shoot/shoot.go
  pkg/operation/types.go
Labels: size/xl, needs/ok-to-test, reviewed/lgtm, kind/cleanup, area/scalability, merge/squash

#4485 Refactoring unit tests for the project activity controller
  docs/concepts/controller-manager.md
  pkg/controllermanager/controller/project/project_activity_control_test.go
Labels: kind/enhancement, area/ops-productivity, needs/ok-to-test, size/m, reviewed/lgtm

#4498 Increase initial delay of CoreDNS readiness probe
  charts/shoot-core/components/charts/coredns/templates/coredns-deployment.yaml
Labels: kind/enhancement, area/ops-productivity, size/xs, reviewed/lgtm

#4525 [release-v1.27] Automated cherry pick of #4509: Fixes for concurrent access of Operation object
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/clusterautoscaler.go
  pkg/operation/botanist/clusterautoscaler_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/infrastructure_test.go
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/kubecontrollermanager_test.go
  pkg/operation/botanist/kubescheduler.go
  pkg/operation/botanist/kubescheduler_test.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/metricsserver.go
  pkg/operation/botanist/metricsserver_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/types.go
  pkg/operation/botanist/vpnseedserver.go
  pkg/operation/botanist/vpnseedserver_test.go
  pkg/operation/botanist/worker.go
  pkg/operation/botanist/worker_test.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/operation.go
  pkg/operation/types.go
Labels: kind/bug, needs/ok-to-test, size/l, reviewed/lgtm, area/robustness, merge/squash

#4524 [release-v1.28] Automated cherry pick of #4509: Fixes for concurrent access of Operation object
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/clusterautoscaler.go
  pkg/operation/botanist/clusterautoscaler_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/infrastructure_test.go
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/kubecontrollermanager_test.go
  pkg/operation/botanist/kubescheduler.go
  pkg/operation/botanist/kubescheduler_test.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/metricsserver.go
  pkg/operation/botanist/metricsserver_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/types.go
  pkg/operation/botanist/vpnseedserver.go
  pkg/operation/botanist/vpnseedserver_test.go
  pkg/operation/botanist/worker.go
  pkg/operation/botanist/worker_test.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/operation.go
  pkg/operation/types.go
Labels: kind/bug, needs/ok-to-test, size/l, reviewed/lgtm, area/robustness, merge/squash

#4523 [release-v1.29] Automated cherry pick of #4509: Fixes for concurrent access of Operation object
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/clusterautoscaler.go
  pkg/operation/botanist/clusterautoscaler_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/botanist/etcdencryption.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/infrastructure_test.go
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/kubecontrollermanager_test.go
  pkg/operation/botanist/kubescheduler.go
  pkg/operation/botanist/kubescheduler_test.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/metricsserver.go
  pkg/operation/botanist/metricsserver_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/types.go
  pkg/operation/botanist/vpnseedserver.go
  pkg/operation/botanist/vpnseedserver_test.go
  pkg/operation/botanist/worker.go
  pkg/operation/botanist/worker_test.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/operation.go
  pkg/operation/types.go
Labels: kind/bug, needs/ok-to-test, size/l, reviewed/lgtm, area/robustness

#4508 Expose more configurations for CA
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1alpha1/zz_generated.defaults.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/zz_generated.defaults.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler_test.go
Labels: kind/enhancement, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, area/auto-scaling

#4507 Deploy Grafana twice: after Logging and after Monitoring stack
  charts/images.go
  charts/images.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
  charts/seed-monitoring/charts/grafana/values.yaml
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/monitoring.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, area/logging, size/s

#4438 Maintenance controller now respects workers CRI configuration
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control_test.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane

#4526 Remove the MountHostCADirectories feature gate
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  docs/deployment/feature_gates.md
  example/20-componentconfig-gardenlet.yaml
  pkg/features/features.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/controlplane.go
Labels: needs/ok-to-test, reviewed/lgtm, kind/cleanup, size/s

#4500 Add migration to Cloud Profile adding docker runtime to all MachineImageVersions
  pkg/controllermanager/controller/cloudprofile/cloudprofile.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile_control.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile_control_test.go
  pkg/controllermanager/controller/cloudprofile/cloudprofile_suite_test.go
  pkg/controllermanager/controller/factory.go
Labels: kind/enhancement, needs/ok-to-test, size/l, reviewed/lgtm, area/control-plane, merge/squash

#4530 Nit: Fix typo in doc string
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
Labels: kind/api-change, size/xs, needs/ok-to-test, reviewed/lgtm

#4533 Incude generation of charts/images.go to makefile generate target
  Makefile
  charts/images.go
  hack/install-requirements.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/component.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config_test.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/operatingsystemconfig.go
Labels: kind/enhancement, area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#4535 Cleanup deletion of legacy GCM internal ConfigMap
  pkg/controllermanager/controller/factory.go
Labels: size/xs, needs/ok-to-test, area/open-source, reviewed/lgtm, kind/cleanup

#4529 Prevent Shoots with k8s>=1.23 to have `cri.name: docker`
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane, merge/squash

#4532 Disclaimer for removal date of deprecated fields in ControllerRegistration
  hack/api-reference/core.md
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_controllerregistration.go
  pkg/openapi/openapi_generated.go
Labels: kind/enhancement, kind/api-change, size/xs, needs/ok-to-test, area/open-source, reviewed/lgtm

#4531 Refactor kube-apiserver Helm chart into component (2)
  charts/seed-controlplane/charts/kube-apiserver/templates/networkpolicy-allow-from-shoot-apiserver-policy.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/networkpolicy-allow-kube-apiserver-policy.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/networkpolicy-allow-to-shoot-apiserver-policy.yaml
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/networkpolicies.go
  pkg/operation/botanist/component/monitoring/blackbox_exporter.go
  pkg/operation/botanist/component/monitoring/prometheus.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/kubeapiserver.go
Labels: area/dev-productivity, size/xl, needs/ok-to-test, platform/all, area/quality, exp/intermediate, kind/test, reviewed/lgtm, area/robustness, kind/technical-debt, topology/seed, merge/squash, priority/3

#4538 Remove obsolete code cleaning fluentbit priority class
  pkg/operation/seed/seed.go
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, kind/cleanup

#4383 switch hook-me from inlets to quic-reverse-proxy
  hack/hook-me.sh
Labels: kind/bug, area/dev-productivity, needs/ok-to-test, size/l, reviewed/lgtm

#4541 Update release responsible schedule
  docs/development/process.md
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm

#4542 Clean up migration logic in resource-manager deployment
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
Labels: needs/ok-to-test, reviewed/lgtm, kind/cleanup, size/s

#4543 Reconcile network policies explicitly after infrastructure readiness
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/open-source, reviewed/lgtm

#4544 Handle vpn-seed-server Deployment in generic controlplane mutator
  extensions/pkg/webhook/controlplane/genericmutator/mock/mocks.go
  extensions/pkg/webhook/controlplane/genericmutator/mutator.go
  extensions/pkg/webhook/controlplane/genericmutator/mutator_test.go
  extensions/pkg/webhook/controlplane/genericmutator/noopensurer.go
Labels: kind/enhancement, reviewed/ok-to-test, needs/ok-to-test, area/open-source, reviewed/lgtm, size/s

#4516 exempt ingress-controller and pause images from vulnerability-scanning
  charts/images.yaml
Labels: area/delivery, size/xs, needs/ok-to-test, reviewed/lgtm

#4549 Implement GetProviderType() for v1beta1.Shoot
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/types_seed.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
Labels: kind/enhancement, kind/api-change, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#4550 [release-v1.29] Automated cherry pick of #4549: Implement GetProviderType() for v1beta1.Shoot
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/types_seed.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
Labels: kind/enhancement, kind/api-change, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#4551 [release-v1.28] Automated cherry pick of #4549: Implement GetProviderType() for v1beta1.Shoot
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/types_seed.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
Labels: kind/enhancement, kind/api-change, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#4552 [release-v1.27] Automated cherry pick of #4549: Implement GetProviderType() for v1beta1.Shoot
  pkg/apis/core/types_cloudprofile.go
  pkg/apis/core/types_seed.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1beta1/types_shoot.go
Labels: kind/enhancement, kind/api-change, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#4555 Fix empty seed when preparing shoot for migration
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#4534 Refactor kube-apiserver-kubelet Helm chart into Golang component
  charts/shoot-core/components/charts/kube-apiserver-kubelet/templates/kube-apiserver-kubelet-rbac.yaml
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/shoot_resources.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/care/checker.go
Labels: area/dev-productivity, needs/review, needs/ok-to-test, platform/all, area/quality, exp/intermediate, size/m, kind/test, area/robustness, kind/technical-debt, topology/seed, merge/squash, priority/3

#4569 Deflake some more time-sensitive unit tests
  cmd/gardenlet/app/gardenlet.go
  pkg/extensions/customresources_test.go
  pkg/gardenlet/controller/shoot/shoot.go
  pkg/healthz/periodic.go
  pkg/healthz/periodic_test.go
  pkg/utils/flow/progress_reporter_delaying.go
  pkg/utils/flow/progress_reporter_delaying_test.go
  test/integration/envtest/seedadmissioncontroller/extensioncrds_test.go
Labels: needs/ok-to-test, reviewed/lgtm, merge/squash

#4574 update alpine image to v3.13.5
  charts/images.yaml
Labels: kind/enhancement, area/security, needs/ok-to-test, reviewed/lgtm

#4528 Use unique `ConfigMap`s/`Secret`s for Helm chart components
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
  charts/seed-bootstrap/charts/fluent-bit/templates/_helpers.tpl
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-daemonset.yaml
  charts/seed-bootstrap/charts/loki/templates/_helpers.tpl
  charts/seed-bootstrap/charts/loki/templates/loki-configmap.yaml
  charts/seed-bootstrap/charts/loki/templates/statefulset.yaml
  charts/seed-bootstrap/charts/loki/templates/telegraf-config.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/_helpers.tpl
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-configmap.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/seed-bootstrap/templates/grafana/_helpers.tpl
  charts/seed-bootstrap/templates/grafana/grafana-dashboard-providers-configmap.yaml
  charts/seed-bootstrap/templates/grafana/grafana-dashboards-configmap.yaml
  charts/seed-bootstrap/templates/grafana/grafana-datasources-configmap.yaml
  charts/seed-bootstrap/templates/grafana/grafana-deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/_helpers.tpl
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-admission-config.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-audit-policy.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-egress-selection.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/secret-oidc-ca.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/secret-service-account-signing-key.yaml
  charts/seed-monitoring/charts/grafana/templates/_helpers.tpl
  charts/seed-monitoring/charts/grafana/templates/grafana-dashboard-providers-configmap.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-dashboards-configmap.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-datasources-configmap.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/_helpers.tpl
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-daemonset.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/proxy-configmap.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/_helpers.tpl
  charts/shoot-core/components/charts/kube-proxy/templates/componentconfig.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/conntrack-fix-script.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-cleanup-script.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-secret.yaml
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/_helpers.tpl
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/config.yaml
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/deployment.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/custom-config-configmap.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/daemonset.yaml
  charts/shoot-core/components/charts/node-problem-detector/values.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/_helpers.tpl
  charts/shoot-core/components/charts/nodelocal-dns/templates/configmap.yaml
  charts/shoot-core/components/charts/nodelocal-dns/templates/daemonset.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/_helpers.tpl
  charts/shoot-core/components/charts/vpn-shoot/templates/deployment.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/secret-dh.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/secret-tlsauth.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/secret.yaml
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/seed/seed.go
Labels: kind/enhancement, size/xl, needs/ok-to-test, reviewed/lgtm, area/robustness, merge/squash

#4545 Fix BackupEntry operation annotation removal
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/controllerutils/miscellaneous.go
  pkg/controllerutils/miscellaneous_test.go
  pkg/gardenlet/controller/backupentry/backup_entry_controller.go
  pkg/gardenlet/controller/backupentry/backup_entry_reconciler.go
  pkg/registry/core/backupentry/strategy.go
Labels: kind/bug, needs/ok-to-test, area/backup, reviewed/lgtm, size/s, merge/squash

#4572 Adapt deprecated label key usage in NetworkPolicies related to several components
  charts/seed-bootstrap/charts/loki/templates/allow-prometheus-to-loki-telegraf.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/networkpolicy.yaml
  charts/seed-monitoring/charts/alertmanager/templates/allow-alertmanager-network-policy.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/allow-from-prometheus-network-policy.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/allow-prometheus-network-policy.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-network-policy.yaml
  docs/development/seed_network_policies.md
  extensions/test/e2e/framework/networkpolicies/agnostic.go
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/monitoring/prometheus.go
  pkg/operation/botanist/component/networkpolicies/global.go
  pkg/operation/botanist/component/networkpolicies/global_test.go
Labels: needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#4585 Add zone annotation to domain secrets
  charts/gardener/controlplane/charts/utils-common/templates/_secret-default-domain.yaml
  charts/gardener/controlplane/charts/utils-common/templates/_secret_internal-domain.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane
