Repository gardener/gardener, pull requests merged in 2021-02, with the labels that each got.

#3476 Cleanup of runtime.Object and meta.Accessor
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
  extensions/pkg/controller/csimigration/predicate.go
  extensions/pkg/controller/csimigration/reconciler_test.go
  extensions/pkg/controller/healthcheck/actuator.go
  extensions/pkg/controller/healthcheck/controller.go
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/worker/mapper.go
  extensions/pkg/controller/worker/predicate.go
  extensions/pkg/predicate/predicate.go
  extensions/pkg/webhook/cloudprovider/mutator.go
  extensions/pkg/webhook/controlplane/genericmutator/mutator_test.go
  pkg/apis/extensions/v1alpha1/types.go
  pkg/client/kubernetes/applier_test.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
  pkg/controllermanager/controller/event/event_control_test.go
  pkg/controllermanager/controller/plant/plant_test.go
  pkg/gardenlet/bootstrap/certificate/certificate_rotation_test.go
  pkg/gardenlet/controller/backupbucket/backup_bucket_actuator.go
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
  pkg/gardenlet/controller/federatedseed/networkpolicy/helper/helper_test.go
  pkg/operation/botanist/cleanup.go
  pkg/operation/botanist/controlplane/clusterautoscaler/bootstrap_test.go
  pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/controlplane/etcd/bootstrap.go
  pkg/operation/botanist/controlplane/etcd/bootstrap_test.go
  pkg/operation/botanist/controlplane/etcd/etcd.go
  pkg/operation/botanist/controlplane/etcd/etcd_test.go
  pkg/operation/botanist/controlplane/etcd/waiter_test.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/botanist/extensions/controlplane/controlplane.go
  pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  pkg/operation/botanist/extensions/worker/worker.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/seedsystemcomponents/seedadmission/seedadmission_test.go
  pkg/operation/botanist/systemcomponents/metricsserver/metrics_server_test.go
  pkg/operation/botanist/systemcomponents/namespaces/namespaces_test.go
  pkg/operation/common/extensions.go
  pkg/operation/common/extensions_test.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/scheduler/controller/shoot/scheduler_control_test.go
  pkg/seedadmission/extension_crds.go
  pkg/seedadmission/extension_crds_test.go
  pkg/seedadmission/utils_test.go
  pkg/utils/kubernetes/client/client_test.go
  pkg/utils/kubernetes/health/and.go
  pkg/utils/kubernetes/health/and_test.go
  pkg/utils/kubernetes/health/health.go
  pkg/utils/kubernetes/health/health_test.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
  pkg/utils/kubernetes/sorter.go
  pkg/utils/kubernetes/sorter_test.go
  pkg/utils/managedresources/registry.go
  pkg/utils/managedresources/registry_test.go
  plugin/pkg/global/deletionconfirmation/admission.go
Labels: kind/api-change, kind/cleanup, merge/squash, needs/ok-to-test, needs/second-opinion, priority/normal, size/xl

#3483 Deploy Loki's PriorityClass into the integration test
  test/integration/shoots/logging/seed_logging_stack.go
Labels: area/logging, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3479 Add options for configuring leader election resource lock
  extensions/pkg/controller/cmd/options.go
  extensions/pkg/controller/cmd/options_test.go
Labels: area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3416 [GEP-13] Add ManagedSeed admission plugins
  pkg/apiserver/plugins.go
  pkg/utils/kubernetes/managedseed.go
  pkg/utils/kubernetes/managedseed_test.go
  pkg/utils/test/matchers/matchers.go
  plugin/pkg/managedseed/validator/admission.go
  plugin/pkg/managedseed/validator/admission_test.go
  plugin/pkg/managedseed/validator/validator_suite_test.go
  plugin/pkg/shoot/managedseed/admission.go
  plugin/pkg/shoot/managedseed/admission_test.go
  plugin/pkg/shoot/managedseed/managedseed_suite_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3459 Refactor gardener-seed-admission-controller
  cmd/gardener-seed-admission-controller/app/app_suite_test.go
  cmd/gardener-seed-admission-controller/app/gardener_seed_admission_controller.go
  cmd/gardener-seed-admission-controller/app/testdata/admission.json
  cmd/gardener-seed-admission-controller/app/testdata/ca.crt
  cmd/gardener-seed-admission-controller/app/testdata/dummy-kubeconfig.yaml
  cmd/gardener-seed-admission-controller/app/testdata/tls.crt
  cmd/gardener-seed-admission-controller/app/testdata/tls.key
  cmd/gardener-seed-admission-controller/main.go
  go.mod
  hack/local-development/start-seed-admission-controller
  pkg/operation/botanist/seedsystemcomponents/seedadmission/seedadmission.go
  pkg/operation/botanist/seedsystemcomponents/seedadmission/seedadmission_test.go
  pkg/operation/seed/scheduler/gardener_kube_scheduler.go
  pkg/operation/seed/scheduler/gardener_kube_scheduler_test.go
  pkg/seedadmission/constants.go
  pkg/seedadmission/extension_crds.go
  pkg/seedadmission/extension_crds_test.go
  pkg/seedadmission/pod_scheduler_name_test.go
  pkg/seedadmission/seedadmission_suite_test.go
  pkg/seedadmission/testdata/backupbucket.yaml
  pkg/seedadmission/testdata/backupentry.yaml
  pkg/seedadmission/testdata/containerruntime.yaml
  pkg/seedadmission/testdata/controlplane.yaml
  pkg/seedadmission/testdata/extension.yaml
  pkg/seedadmission/testdata/infra.yaml
  pkg/seedadmission/testdata/network.yaml
  pkg/seedadmission/testdata/osc.yaml
  pkg/seedadmission/testdata/worker.yaml
  pkg/seedadmission/utils.go
  pkg/utils/test/test_resources.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/testcerts/certs.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/testcerts/doc.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/testcerts/gencerts.sh
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/testing/authentication_info_resolver.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/testing/service_resolver.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/testing/testcase.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/testing/webhook_server.go
  vendor/modules.txt
Labels: area/dev-productivity, area/quality, kind/cleanup, kind/test, merge/squash, needs/ok-to-test, needs/second-opinion, priority/normal, size/xl

#3467 Use protobuf in gardener components
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/configmap-componentconfig.yaml
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/configmap-componentconfig.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/configmap-componentconfig.yaml
  charts/gardener/controlplane/values.yaml
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  cmd/gardener-apiserver/app/gardener_apiserver.go
  example/20-componentconfig-gardener-admission-controller.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  example/20-componentconfig-gardener-scheduler.yaml
  example/20-componentconfig-gardenlet.yaml
  pkg/admissioncontroller/apis/config/v1alpha1/defaults.go
  pkg/admissioncontroller/apis/config/v1alpha1/defaults_test.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/client/kubernetes/client.go
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
  pkg/controllermanager/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/defaults_test.go
  pkg/scheduler/apis/config/v1alpha1/v1alpha1_suite_test.go
  pkg/scheduler/apis/config/v1alpha1/zz_generated.defaults.go
Labels: area/cost, area/networking, area/performance, kind/enhancement, merge/squash, needs/changes, needs/ok-to-test, needs/second-opinion, priority/normal, size/l

#3458 Refactor garden-project chart into Golang component
  charts/garden-project/charts/project-rbac/Chart.yaml
  charts/garden-project/charts/project-rbac/charts/utils-templates
  charts/garden-project/charts/project-rbac/templates/clusterrole-project-admin.yaml
  charts/garden-project/charts/project-rbac/templates/clusterrole-project-extensions.yaml
  charts/garden-project/charts/project-rbac/templates/clusterrole-project-members.yaml
  charts/garden-project/charts/project-rbac/templates/clusterrole-project-uam.yaml
  charts/garden-project/charts/project-rbac/templates/clusterrole-project-viewers.yaml
  charts/garden-project/charts/project-rbac/templates/clusterrolebinding-project-admin.yaml
  charts/garden-project/charts/project-rbac/templates/clusterrolebinding-project-members.yaml
  charts/garden-project/charts/project-rbac/templates/clusterrolebinding-project-uam.yaml
  charts/garden-project/charts/project-rbac/templates/clusterrolebinding-project-viewers.yaml
  charts/garden-project/charts/project-rbac/templates/rolebinding-project-extensions.yaml
  charts/garden-project/charts/project-rbac/templates/rolebinding-project-members.yaml
  charts/garden-project/charts/project-rbac/templates/rolebinding-project-viewers.yaml
  charts/garden-project/charts/project-rbac/values.yaml
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/controllermanager/controller/project/project_control_reconcile_test.go
  pkg/operation/botanist/projectrbac/projectrbac.go
  pkg/operation/botanist/projectrbac/projectrbac_suite_test.go
  pkg/operation/botanist/projectrbac/projectrbac_test.go
Labels: area/dev-productivity, area/quality, area/robustness, exp/intermediate, kind/technical-debt, kind/test, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xl, topology/seed

#3417 [GEP-13] Add ManagedSeed controller prerequisites
  extensions/pkg/controller/backupbucket/reconciler.go
  extensions/pkg/controller/backupentry/genericactuator/actuator.go
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/utils_test.go
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientset.go
  pkg/client/kubernetes/fake/clientset.go
  pkg/client/kubernetes/types.go
  pkg/mock/gardener/client/kubernetes/mocks.go
  pkg/utils/kubernetes/secretref.go
  pkg/utils/kubernetes/secretref_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, needs/review, needs/second-opinion, priority/normal, size/l

#3486 Use autoscaling/v2beta2 for seeds >= 1.12
  pkg/operation/botanist/controlplane.go
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3477 Use SeedTemplate instead of Seed in GardenletConfiguration
  cmd/gardenlet/app/gardenlet.go
  hack/api-reference/core.md
  hack/api-reference/seedmanagement.md
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/types_seed.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apis/seedmanagement/helper/helper.go
  pkg/apis/seedmanagement/helper/helper_test.go
  pkg/apis/seedmanagement/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/defaults.go
  pkg/apis/seedmanagement/v1alpha1/defaults_test.go
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.conversion.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/apis/seedmanagement/validation/managedseed_test.go
  pkg/apis/seedmanagement/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/helper/helpers.go
  pkg/gardenlet/apis/config/helper/helpers_test.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/validation/validation.go
  pkg/gardenlet/apis/config/validation/validation_test.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/bootstrap/util/util_test.go
  pkg/gardenlet/controller/seed/seed.go
  pkg/gardenlet/controller/shoot/seed_registration_control.go
  pkg/openapi/openapi_generated.go
  plugin/pkg/managedseed/validator/admission.go
  plugin/pkg/managedseed/validator/admission_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, needs/second-opinion, priority/normal, size/xl

#3488 Enhance create Shoot test with Shoot status expectations
  test/system/shoot_creation/create_test.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#3399 konnectivity-server is separate deployment when SNI is enabled
  charts/seed-controlplane/charts/kube-apiserver-service/templates/kube-apiserver-service.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-gateway.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/templates/kube-apiserver-virtualservice.yaml
  charts/seed-controlplane/charts/kube-apiserver-sni/values.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/configmap-egress-selection.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/networkpolicy-allow-kube-apiserver-policy.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/rbac.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  pkg/client/kubernetes/types.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/mock/gardener/operation/botanist/controlplane/konnectivity/doc.go
  pkg/mock/gardener/operation/botanist/controlplane/konnectivity/mocks.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/konnectivity/konnectivity_agent.go
  pkg/operation/botanist/controlplane/konnectivity/konnectivity_server.go
  pkg/operation/botanist/controlplane/konnectivity/konnectivity_server_test.go
  pkg/operation/botanist/controlplane/konnectivity/konnectivity_suite_test.go
  pkg/operation/botanist/controlplane/kube_apiserver_sni.go
  pkg/operation/botanist/konnectivity_server.go
  pkg/operation/botanist/konnectivity_server_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/types.go
  pkg/operation/shoot/types.go
Labels: area/control-plane, area/networking, kind/enhancement, needs/changes, needs/ok-to-test, needs/review, needs/second-opinion, priority/normal, size/xl

#3493 Install jq with the other requirements
  hack/install-requirements.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3492 Improve LB error code mapping
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3490 Improve backupbucket test
  extensions/pkg/controller/backupbucket/backupbucket_test.go
Labels: area/quality, area/testing, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3500 Stop marking 'not found' errors as configuration problem
  pkg/apis/core/v1beta1/helper/errors.go
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs

#3497 Wait for the out-of-tree mcm provider finalizer as well
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3499 [release-v1.15] Wait for the out-of-tree mcm provider finalizer as well
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3498 [release-v1.16] Wait for the out-of-tree mcm provider finalizer as well
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3445 Refactor gardener-resource-manager deployment
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
  charts/seed-bootstrap/templates/gardener-resource-manager/deployment.yaml
  charts/seed-bootstrap/templates/gardener-resource-manager/rbac.yaml
  charts/seed-bootstrap/templates/gardener-resource-manager/serviceaccount.yaml
  charts/seed-bootstrap/templates/gardener-resource-manager/vpa.yaml
  charts/seed-bootstrap/values.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/Chart.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/charts/utils-templates
  charts/seed-controlplane/charts/gardener-resource-manager/templates/deployment.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/rbac.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/service.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/serviceaccount.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/vpa.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/values.yaml
  extensions/test/integration/operation/shoot_operation.go
  pkg/mock/gardener/operation/botanist/controlplane/resourcemanager/doc.go
  pkg/mock/gardener/operation/botanist/controlplane/resourcemanager/mocks.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/resourcemanager/logging.go
  pkg/operation/botanist/controlplane/resourcemanager/logging_test.go
  pkg/operation/botanist/controlplane/resourcemanager/resource_manager.go
  pkg/operation/botanist/controlplane/resourcemanager/resource_manager_suite_test.go
  pkg/operation/botanist/controlplane/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
  pkg/utils/miscellaneous.go
Labels: area/control-plane, area/dev-productivity, area/quality, area/robustness, area/testing, exp/intermediate, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xl, topology/seed

#3504 Add gardenlet service to its Helm chart
  charts/gardener/gardenlet/charts/runtime/templates/service.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3508 [release-v1.16] Stop marking 'not found' errors as configuration problem
  pkg/apis/core/v1beta1/helper/errors.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3482 Add MaintenanceWindow to the Loki hvpa
  charts/seed-bootstrap/charts/loki/templates/hvpa.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/do-not-merge, reviewed/lgtm, size/xs

#3506 Use `patch` to update Seed.Status
  pkg/gardenlet/controller/seed/seed_control.go
Labels: kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3503 Add some ReplicaSet metrics
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3515 Update metrics-server to v0.4.2
  charts/images.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3517 [release-v1.15] Update metrics-server to v0.4.2
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3516 [release-v1.16] Update metrics-server to v0.4.2
  charts/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3512 Removed duplicate word (inside)
  docs/development/local_setup.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, priority/normal, size/xs

#3519 Added missing word (need)
  docs/development/local_setup.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, needs/review, priority/normal, size/xs

#3518 Fix bug when debootstrapping Seed cluster
  pkg/operation/seed/seed.go
Labels: kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs

#3523 [release-v1.16] Deploy Loki's PriorityClass into the integration test
  test/integration/shoots/logging/seed_logging_stack.go
Labels: area/logging, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3522 Fix conversion of SeedConfig in seed registration
  pkg/gardenlet/controller/shoot/seed_registration_control.go
  pkg/gardenlet/controller/shoot/seed_registration_control_test.go
Labels: kind/bug, needs/ok-to-test, priority/blocker, size/m

#3524 Remove the Affinity from the Loki StatefulSet only for int. tests
  test/integration/shoots/logging/seed_logging_stack.go
Labels: area/logging, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3526 [release-v1.16] Remove the Affinity from the Loki StatefulSet only for the intergrati…
  test/integration/shoots/logging/seed_logging_stack.go
Labels: area/logging, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3525 Fix conflicts when bootstrapping new seeds
  pkg/operation/seed/seed.go
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3529 [release-v1.16] Fix conflicts when bootstrapping new seeds
  pkg/operation/seed/seed.go
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3530 [release-v1.15] Fix conflicts when bootstrapping new seeds
  pkg/operation/seed/seed.go
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3533 Enable replicasets collector
  charts/seed-bootstrap/charts/kube-state-metrics/templates/deployment.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/templates/deployment.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, needs/review, priority/critical, size/xs

#3535 Migrate default resource lock to configmapsleases
  charts/gardener/controlplane/charts/application/templates/rbac-system.yaml
  charts/gardener/controlplane/values.yaml
  charts/gardener/gardenlet/values.yaml
  example/20-componentconfig-gardener-controller-manager.yaml
  example/20-componentconfig-gardener-scheduler.yaml
  example/20-componentconfig-gardenlet.yaml
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/scheduler/apis/config/v1alpha1/defaults.go
  pkg/scheduler/apis/config/v1alpha1/defaults_test.go
Labels: area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3520 Scale down MCM deployment instead of deleting it during restore
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/machine_controller_manager.go
  pkg/client/kubernetes/scaling.go
  pkg/operation/botanist/waiter.go
Labels: area/control-plane, kind/enhancement, needs/changes, needs/ok-to-test, needs/review, priority/normal, size/s

#3538 Fix kubeconfig rotation for konnectivity-servers
  pkg/operation/botanist/secrets.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3540 Fix name of grm vpa after refactoring
  pkg/operation/botanist/controlplane/resourcemanager/resource_manager.go
  pkg/operation/botanist/controlplane/resourcemanager/resource_manager_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3539 Deploy GRM after KCM to prevent edge case in cluster deletion
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: area/quality, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3507 adding the to-private-networks networkpolicy to the dependency watchdog prober
  charts/seed-bootstrap/charts/dependency-watchdog/templates/probe-deployment.yaml
Labels: area/networking, area/security, kind/discussion, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3543 Fix gardener-resource-manager deletion order
  pkg/operation/seed/seed.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3558 Fix promtool installation
  Makefile
  hack/install-promtool.sh
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3514 Increase the LokiDown alert trigger period
  charts/seed-bootstrap/aggregate-prometheus-rules-tests/loki.rules.test.yaml
  charts/seed-bootstrap/aggregate-prometheus-rules/loki.rules.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3555 Fix imagevector scoring on exact match
  pkg/utils/imagevector/imagevector.go
  pkg/utils/imagevector/imagevector_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3541 Fix apiVersion error when fetching events
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3502 Enhance Grafana dashboards for kube-apiserver
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-admission-details.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-overview.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-request-details.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-storage-details.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-watch-details.json
Labels: area/monitoring, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3564 Fix shoot label update
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3566 [release-v1.16] Fix promtool installation
  Makefile
  hack/install-promtool.sh
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3532 Add Loki curator
  charts/images.yaml
  charts/seed-bootstrap/aggregate-prometheus-rules-tests/fluent-bit.rules.test.yaml
  charts/seed-bootstrap/aggregate-prometheus-rules/fluent-bit.rules.yaml
  charts/seed-bootstrap/charts/loki/templates/hvpa.yaml
  charts/seed-bootstrap/charts/loki/templates/loki-configmap.yaml
  charts/seed-bootstrap/charts/loki/templates/statefulset.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
  charts/seed-bootstrap/dashboards/fluent-bit-dashboard.json
  charts/seed-bootstrap/values.yaml
  hack/.ci/set_dependency_version
  pkg/operation/botanist/logging.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l

#3567 [release-v1.16] Fix shoot label update
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3568 [release-v1.16] Fix imagevector scoring on exact match
  pkg/utils/imagevector/imagevector.go
  pkg/utils/imagevector/imagevector_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3542 Upgrade konnectivity to v0.0.15
  charts/images.yaml
  pkg/operation/botanist/controlplane/konnectivity/konnectivity_server.go
  pkg/operation/botanist/controlplane/konnectivity/konnectivity_server_test.go
Labels: area/networking, needs/ok-to-test, reviewed/lgtm, size/xs

#3574 exclude the konnectivity-server image from the component-references
  hack/.ci/component_descriptor
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3572 Remove broken link to installer
  README.md
Labels: area/documentation, kind/bug, needs/ok-to-test, priority/normal, size/xs

#3528 Update set_dependency_version
  hack/.ci/set_dependency_version
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3565 Upgrade gomega version
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/.travis.yml
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/format/format.go
  vendor/github.com/onsi/gomega/gbytes/io_wrappers.go
  vendor/github.com/onsi/gomega/go.mod
  vendor/github.com/onsi/gomega/go.sum
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers/consist_of.go
  vendor/github.com/onsi/gomega/matchers/contain_elements_matcher.go
  vendor/github.com/onsi/gomega/matchers/match_error_matcher.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Labels: area/testing, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3563 Update "Features, Hotfixes, and Releases" doc
  docs/README.md
  docs/development/process.md
Labels: area/dev-productivity, area/documentation, area/open-source, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3557 Fixing minor issues with th CP Migration integration tests
  .test-defs/DeleteSeed.yaml
  .test-defs/MigrateShoot.yaml
  test/framework/gardener_utils.go
  test/framework/shootmigrationtest.go
  test/system/shoot_cp_migration/migrate_test.go
Labels: area/control-plane-migration, area/testing, kind/enhancement, needs/ok-to-test, needs/review, priority/normal, size/s

#3581 Fix ManagedSeed admission with shoot ingress addon
  plugin/pkg/managedseed/validator/admission.go
  plugin/pkg/managedseed/validator/admission_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3583 Execute cloud-config if change in cloud config downloader is detected.
  pkg/operation/botanist/extensions/operatingsystemconfig/downloader/downloader.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/executor.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/bindata.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3556 Removing the finalizers from the Terraform config resources during cleanup
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/terraform_test.go
  extensions/pkg/terraformer/types.go
  pkg/mock/gardener/extensions/terraformer/mocks.go
Labels: area/control-plane, area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3585 Fix ManagedSeed merging of seedConfig with parent
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3587 Node exporter: enable uname collector
  charts/shoot-core/components/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3586 Fix KonnectivityTunnel annotation when SNI is enabled
  pkg/operation/seed/seed.go
Labels: area/control-plane, area/networking, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3578 Don't release non-empty project namespace
  pkg/apis/core/types_project.go
  pkg/apis/core/v1alpha1/types_project.go
  pkg/apis/core/v1beta1/types_project.go
  pkg/controllermanager/controller/project/project_control_delete.go
Labels: area/robustness, kind/api-change, kind/bug, needs/ok-to-test, needs/second-opinion, priority/normal, size/s

#3576 Delay the deletion of the external DNS
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/cleanup.go
  pkg/utils/kubernetes/client/client.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3592 [release-v1.15] Fix promtool installation
  Makefile
  hack/install-promtool.sh
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3591 Avoid excessive execution of cloud-config
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/bindata.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3560 Remove finalizers from the worker secret in the migration flow
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_migrate.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3590 [release-v1.16] [manual:component:github.com/gardener/gardener-resource-manager:v0.21.0->v0.21.1]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3577 Refactor gardener-admission-controller
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/configmap-componentconfig.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/secret-cert.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/service.yaml
  charts/gardener/controlplane/values.yaml
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-admission-controller/main.go
  example/20-componentconfig-gardener-admission-controller.yaml
  hack/local-development/dev-setup
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/apis/config/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/defaults.go
  pkg/admissioncontroller/apis/config/v1alpha1/defaults_test.go
  pkg/admissioncontroller/apis/config/v1alpha1/types.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/admissioncontroller/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/admissioncontroller/apis/config/zz_generated.deepcopy.go
  pkg/admissioncontroller/metrics/metrics.go
  pkg/admissioncontroller/server/handlers/webhooks/utils.go
  pkg/admissioncontroller/server/handlers/webhooks/utils_test.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_kubeconfig_secrets.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_kubeconfig_secrets_test.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_namespace_deletion.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_namespace_deletion_test.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_resource_size.go
  pkg/admissioncontroller/server/handlers/webhooks/validate_resource_size_test.go
  pkg/admissioncontroller/webhooks/utils.go
  pkg/admissioncontroller/webhooks/validate_kubeconfig_secrets.go
  pkg/admissioncontroller/webhooks/validate_kubeconfig_secrets_test.go
  pkg/admissioncontroller/webhooks/validate_namespace_deletion.go
  pkg/admissioncontroller/webhooks/validate_namespace_deletion_test.go
  pkg/admissioncontroller/webhooks/validate_resource_size.go
  pkg/admissioncontroller/webhooks/validate_resource_size_test.go
  pkg/admissioncontroller/webhooks/webhooks_suite_test.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
  pkg/healthz/informer.go
  pkg/healthz/informer_test.go
  pkg/operation/common/utils.go
Labels: area/dev-productivity, area/quality, kind/cleanup, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3593 Restart cloud-config-downloader service after the annotation is removed
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/bindata.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3589 [release-v1.15] [manual:component:github.com/gardener/gardener-resource-manager:v0.21.0->v0.21.1]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3571 Boilerplate for `SeedAuthorizer` authorization plugin and `SeedRestriction` admission plugin
  Makefile
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  charts/gardener/controlplane/values.yaml
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-seed-admission-controller/app/gardener_seed_admission_controller.go
  docs/README.md
  docs/concepts/admission-controller.md
  docs/deployment/gardenlet_api_access.md
  docs/deployment/gardenlet_api_access.png
  docs/development/local_setup.md
  hack/local-development/dev-setup-register-gardener
  hack/local-development/local-garden/configs/.gitignore
  hack/local-development/local-garden/run-kube-apiserver
  hack/local-development/local-garden/start.sh
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/seedrestriction_suite_test.go
  pkg/admissioncontroller/webhooks/auth/seed/attributes.go
  pkg/admissioncontroller/webhooks/auth/seed/attributes_test.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer.go
  pkg/admissioncontroller/webhooks/auth/seed/authorizer_test.go
  pkg/admissioncontroller/webhooks/auth/seed/handler.go
  pkg/admissioncontroller/webhooks/auth/seed/handler_test.go
  pkg/admissioncontroller/webhooks/auth/seed/response.go
  pkg/admissioncontroller/webhooks/auth/seed/response_test.go
  pkg/admissioncontroller/webhooks/auth/seed/seedauthorizer_suite_test.go
  pkg/seedadmission/constants.go
Labels: area/security, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3600 Fix seedrestriction URL in chart
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3599 Add alicloud k8s v1.20 testgrid badge
  README.md
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3597 Port modifications for enabling PPC64LE arch with single node minikube setup [Old PR #3544]
  Dockerfile
  Makefile
  hack/install.sh
  hack/local-development/dev-setup
Labels: needs/ok-to-test, needs/review, size/s

#3550 Use patch to update the extension data in the ShootState
  pkg/gardenlet/controller/federatedseed/extensions/extensions.go
  pkg/gardenlet/controller/federatedseed/extensions/extensions_suite_test.go
  pkg/gardenlet/controller/federatedseed/extensions/shootstate_control.go
  pkg/gardenlet/controller/federatedseed/extensions/shootstate_control_test.go
Labels: area/control-plane-migration, kind/api-change, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3601 [release-v1.17] [manual:component:github.com/gardener/gardener-resource-manager:v0.21.0->v0.21.1]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3607 [release-v1.17] Remove finalizers from the worker secret in the migration flow
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_migrate.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#3605 [release-v1.17] Fix KonnectivityTunnel annotation when SNI is enabled
  pkg/operation/seed/seed.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3609 Enhance care tests
  pkg/operation/care/constraints_test.go
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3610 Fix clean.sh for vendoring repos
  hack/clean.sh
Labels: area/open-source, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3584 Do not try to remove the finalizer of Plant Secret when it is not found
  pkg/controllermanager/controller/plant/plant_control.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3603 [release-v1.17] Execute cloud-config if change in cloud config downloader is detected.
  pkg/operation/botanist/extensions/operatingsystemconfig/downloader/downloader.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/executor.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/bindata.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#3606 [release-v1.17] Don't release non-empty project namespace
  pkg/apis/core/types_project.go
  pkg/apis/core/v1alpha1/types_project.go
  pkg/apis/core/v1beta1/types_project.go
  pkg/controllermanager/controller/project/project_control_delete.go
Labels: kind/api-change, needs/ok-to-test, reviewed/lgtm, size/s

#3611 [release-v1.17] Fix clean.sh for vendoring repos
  hack/clean.sh
Labels: needs/ok-to-test, needs/review, size/xs

#3602 [release-v1.17] Fixing minor issues with th CP Migration integration tests
  .test-defs/DeleteSeed.yaml
  .test-defs/MigrateShoot.yaml
  test/framework/gardener_utils.go
  test/framework/shootmigrationtest.go
  test/system/shoot_cp_migration/migrate_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#3615 [release-v1.17] Do not try to remove the finalizer of Plant Secret when it is not found
  pkg/controllermanager/controller/plant/plant_control.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3614 [release-v1.17] Avoid excessive execution of cloud-config
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/bindata.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3617 Ensure ManagedSeed VPA is not enabled if shoot VPA is enabled
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  plugin/pkg/managedseed/validator/admission.go
  plugin/pkg/managedseed/validator/admission_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3579 [GEP-13] Add ManagedSeed documentation
  docs/README.md
  docs/concepts/gardenlet.md
  docs/deployment/deploy_gardenlet.md
  docs/deployment/deploy_gardenlet_automatically.md
  docs/deployment/deploy_gardenlet_manually.md
  docs/deployment/feature_gates.md
  docs/development/seed_network_policies.md
  docs/usage/managed_seed.md
  docs/usage/shooted_seed.md
Labels: area/control-plane, kind/test, needs/ok-to-test, needs/release-notes, priority/normal, size/m, status/author-action

#3612 Deploy Cluster Autoscaler earlier in shoot flow
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: area/control-plane, area/ops-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3616 [release-1.17] Restart cloud-config-downloader service after the annotation is removed
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/bindata.go
  pkg/operation/botanist/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3613 Add VPA resources for istiod
  charts/istio/istio-istiod/templates/autoscale.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  pkg/operation/seed/istio/istiod.go
  pkg/operation/seed/istio/istiod_test.go
Labels: area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3608 Upgrade gomock to v1.5.0
  go.mod
  go.sum
  vendor/github.com/golang/mock/gomock/callset.go
  vendor/github.com/golang/mock/gomock/controller.go
  vendor/github.com/golang/mock/gomock/matchers.go
  vendor/github.com/golang/mock/mockgen/mockgen.go
  vendor/github.com/golang/mock/mockgen/model/model.go
  vendor/github.com/golang/mock/mockgen/parse.go
  vendor/modules.txt
Labels: kind/task, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3620 [v1.17] Cherry-pick Add VPA resources for istiod
  charts/istio/istio-istiod/templates/autoscale.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  pkg/operation/seed/istio/istiod.go
  pkg/operation/seed/istio/istiod_test.go
Labels: area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3622 Fix nil pointer exception when updating shootstate
  pkg/gardenlet/controller/federatedseed/extensions/shootstate_control.go
  pkg/gardenlet/controller/federatedseed/extensions/shootstate_control_test.go
Labels: area/control-plane-migration, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm, size/s

#3623 Change uptime panel for logging dashboards
  charts/seed-monitoring/charts/grafana/templates/logging-dashboard.tpl
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3624 Nit: Correct the test arg to match the test name
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
Labels: needs/ok-to-test, needs/review, size/xs

#3573 [GEP-13] Add managed seed integration test
  .test-defs/CreateManagedSeed.yaml
  .test-defs/DeleteManagedSeed.yaml
  pkg/utils/kubernetes/health/health.go
  test/framework/common.go
  test/framework/gardener_utils.go
  test/framework/managedseedframework.go
  test/framework/shoot_utils.go
  test/framework/shootcreationframework.go
  test/framework/utils.go
  test/system/managed_seed_creation/create_suite_test.go
  test/system/managed_seed_creation/create_test.go
  test/system/managed_seed_deletion/delete_suite_test.go
  test/system/managed_seed_deletion/delete_test.go
Labels: area/control-plane, kind/api-change, kind/test, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3582 Add seed reconciler for secret replication
  docs/concepts/controller-manager.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/seed/seed.go
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile.go
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile_test.go
  pkg/controllermanager/controller/seed/seed_garden_secret_mapper.go
  pkg/controllermanager/controller/seed/seed_lifecycle_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/mock/client-go/core/v1/doc.go
  pkg/mock/client-go/core/v1/mocks.go
  pkg/operation/botanist/secrets.go
  pkg/utils/kubernetes/secret.go
Labels: area/security, kind/api-change, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3626 Clean up {pkg/version,pkg/version/verflag} packages
  pkg/operation/botanist/controlplane/resourcemanager/resource_manager_test.go
  pkg/operation/common/utils.go
  pkg/version/verflag/verflag.go
  pkg/version/version.go
  test/framework/rootpod_executor.go
  test/framework/template.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m

#3618 Scale down Loki only once per week
  charts/seed-bootstrap/charts/loki/values.yaml
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3625 Checking for leaked non-namespaced resources in in CP Migration IT
  test/framework/shootmigrationtest.go
  test/system/shoot_cp_migration/migrate_test.go
Labels: area/control-plane-migration, kind/enhancement, needs/ok-to-test, needs/review, priority/normal, size/s

#3632 Fix potential nil pointer when validating pid reservations
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s
