Repository gardener/gardener, pull requests merged in 2021-10, with the labels that each got.

#4746 Skip cloud-config checksum check for nodes in deletion
  pkg/operation/botanist/worker.go
  pkg/operation/botanist/worker_test.go
Labels: kind/enhancement, area/ops-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#4754 Enable secrets cache for GCM
  cmd/gardenlet/app/gardenlet.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/scalability

#4713 Fixed broken absolute links
  .github/ISSUE_TEMPLATE/support.md
  README.md
  docs/development/process.md
  docs/extensions/logging-and-monitoring.md
  docs/proposals/README.md
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#4755 Fix helm values for vpa shoot core addon
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/application/values.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/crds/values.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/values.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/values.yml
  pkg/operation/botanist/addons.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane, area/auto-scaling

#4751 Upgrade fluent-bit-to-loki plugin to version 0.37.1
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/_helpers.tpl
  docs/extensions/logging-and-monitoring.md
  pkg/operation/seed/seed.go
  test/framework/resources/templates/logger-app.yaml.tpl
  test/framework/shoot_utils.go
  test/integration/shoots/logging/loki_tenant.go
  test/integration/shoots/logging/seed_logging_stack.go
  test/integration/shoots/logging/utils.go
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/logging

#4756 Always update timestamp annotation on owner DNSRecord
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord_test.go
  pkg/operation/botanist/dnsrecord.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, area/robustness, size/s

#4753 Allow specification of `--service-account-{extend-token-expiration,max-token-expiration}` kube-apiserver flags
  example/90-shoot.yaml
  hack/api-reference/core.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
Labels: kind/enhancement, area/security, kind/api-change, size/xl, needs/ok-to-test, area/open-source, reviewed/lgtm, merge/squash

#4714 Increase the kube-rback-proxy and telegraf resources in Loki pod
  charts/seed-bootstrap/charts/loki/templates/hvpa.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/logging

#4763 Wait for caches to sync on `ClientMap.Start`
  pkg/client/kubernetes/clientmap/internal/generic_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, area/robustness, size/s

#4760 [release-v1.32] Automated cherry pick of #4756: Always update timestamp annotation on owner DNSRecord
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord_test.go
  pkg/operation/botanist/dnsrecord.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, area/robustness, size/s

#4752 Fix a deadlock issue in the owner check watchdogs
  extensions/pkg/controller/common/checkerwatchdog.go
  extensions/pkg/controller/common/checkerwatchdog_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#4761 Upgrade prometheus to v2.30.2
  charts/images.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#4769 [release-v1.32] Automated cherry pick of #4714: Increase the kube-rback-proxy and telegraf resources in Loki pod
  charts/seed-bootstrap/charts/loki/templates/hvpa.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/logging

#4770 [release-v1.31] Automated cherry pick of #4714: Increase the kube-rback-proxy and telegraf resources in Loki pod
  charts/seed-bootstrap/charts/loki/templates/hvpa.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/logging

#4771 [release-v1.30] Automated cherry pick of #4714: Increase the kube-rback-proxy and telegraf resources in Loki pod
  charts/seed-bootstrap/charts/loki/templates/hvpa.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/logging

#4780 Fixes wakeup of APIServer during migration of hibernated cluster
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#4779 Fix creation of hibernated shoots
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
Labels: kind/bug, reviewed/ok-to-test, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane
