Repository gardener/gardener, pull requests merged in 2021-01, with the labels that each got.

#3352 Use the metric label associated with the new API group
  charts/seed-monitoring/charts/grafana/dashboards/owners/node-pool-dashboard.json
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s

#3341 Owner reference for extension webhooks
  extensions/pkg/webhook/registration.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/quality, kind/technical-debt, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3355 [minor] fix typo
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/extensions/infrastructure/infrastructure_test.go
Labels: area/control-plane, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3313 Evolve Infrastructure component into DeployMigrateWaiter
  pkg/api/extensions/utils.go
  pkg/mock/gardener/operation/shoot/doc.go
  pkg/mock/gardener/operation/shoot/mocks.go
  pkg/operation/botanist/extensions/controlplane/controlplane.go
  pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  pkg/operation/botanist/extensions/infrastructure/infrastructure_test.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/infrastructure_test.go
  pkg/operation/botanist/migration.go
  pkg/operation/botanist/migration_test.go
  pkg/operation/common/types.go
  pkg/operation/shoot/types.go
Labels: area/dev-productivity, area/quality, area/robustness, exp/intermediate, kind/api-change, kind/technical-debt, kind/test, needs/ok-to-test, platform/all, priority/normal, reviewed/lgtm, size/xl, topology/seed

#3356 Promote the hibernation test to default
  test/integration/shoots/operations/operations.go
Labels: area/testing, needs/ok-to-test, reviewed/lgtm, size/xs

#3354 Fixing minor issue with UnmarshalRawState logic and adding unit tests.
  extensions/pkg/terraformer/raw_state.go
  extensions/pkg/terraformer/raw_state_test.go
Labels: area/quality, area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3340 Enhance remote garden setup
  Makefile
  hack/local-development/remote-garden/generate-certs
  hack/local-development/remote-garden/open-gardener-tunnels
Labels: area/dev-productivity, kind/enhancement, needs/changes, needs/ok-to-test, priority/normal, size/s

#2925 Gardenlet does not fail liveness probe when configured seed is deleted
  pkg/gardenlet/controller/seed/seed.go
Labels: area/usability, kind/enhancement, needs/changes, needs/ok-to-test, priority/normal, size/s

#3350 Switch the HealthChecker to use the 'gardener.cloud/role' label key
  charts/seed-bootstrap/charts/loki/values.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/deployment.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/rbac.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/service.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/serviceaccount.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/vpa.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-monitoring/charts/alertmanager/templates/alertmanager.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/templates/deployment.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/deployment.yaml
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/controlplane/etcd/etcd.go
  pkg/operation/botanist/controlplane/etcd/etcd_test.go
  pkg/operation/botanist/controlplane/etcd/waiter.go
  pkg/operation/botanist/controlplane/etcd/waiter_test.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/health_check.go
  pkg/operation/botanist/health_check_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/common/types.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m

#3360 Enhance error code mapping
  pkg/apis/core/v1beta1/helper/errors.go
Labels: area/ops-productivity, kind/api-change, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3359 Enhance documentation for the Gardenlet's /healthz endpoint
  docs/concepts/gardenlet.md
Labels: area/documentation, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3358 Cleanup a couple of `context.TODO()`s
  extensions/pkg/util/shoot.go
  pkg/controllermanager/controller/factory.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/garden/garden.go
  pkg/operation/operation.go
  pkg/operation/seed/seed.go
  pkg/utils/secrets/certificates.go
  pkg/utils/secrets/secrets.go
Labels: area/dev-productivity, kind/cleanup, kind/technical-debt, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3366 Do not ignore the updated shoot to prevent empty .status.uid
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#3365 Clean up the bcrypt password hash handling
  pkg/utils/secrets/basic_auth.go
  pkg/utils/secrets/basic_auth_test.go
  vendor/golang.org/x/crypto/bcrypt/base64.go
  vendor/golang.org/x/crypto/bcrypt/bcrypt.go
  vendor/modules.txt
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s

#3369 Increase the Loki chunk idle period from 3m to 1h
  charts/seed-bootstrap/charts/loki/templates/loki-configmap.yaml
Labels: area/logging, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs

#3370 Fix allow-prometheus NetworkPolicy
  charts/seed-monitoring/charts/core/charts/prometheus/templates/allow-prometheus-network-policy.yaml
Labels: kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs

#3372 Add scheduler versions to third_party not a as module
  go.mod
  pkg/operation/seed/scheduler/gardener_kube_scheduler_bootstrap.go
  pkg/operation/seed/scheduler/v18/configurator.go
  pkg/operation/seed/scheduler/v18/configurator_test.go
  pkg/operation/seed/scheduler/v19/configurator.go
  pkg/operation/seed/scheduler/v19/configurator_test.go
  pkg/operation/seed/scheduler/v20/configurator.go
  pkg/operation/seed/scheduler/v20/configurator_test.go
  third_party/kube-scheduler/config/v1/doc.go
  third_party/kube-scheduler/config/v1/register.go
  third_party/kube-scheduler/config/v1/types.go
  third_party/kube-scheduler/config/v1/zz_generated.deepcopy.go
  third_party/kube-scheduler/go.mod
  third_party/kube-scheduler/go.sum
  third_party/kube-scheduler/v18/go.mod
  third_party/kube-scheduler/v18/go.sum
  third_party/kube-scheduler/v19/go.mod
  third_party/kube-scheduler/v19/go.sum
  third_party/kube-scheduler/v20/go.mod
  third_party/kube-scheduler/v20/go.sum
  vendor/k8s.io/kube-scheduler/v18/v1alpha2/doc.go
  vendor/k8s.io/kube-scheduler/v18/v1alpha2/register.go
  vendor/k8s.io/kube-scheduler/v18/v1alpha2/types.go
  vendor/k8s.io/kube-scheduler/v18/v1alpha2/zz_generated.deepcopy.go
  vendor/k8s.io/kube-scheduler/v19/v1beta1/doc.go
  vendor/k8s.io/kube-scheduler/v19/v1beta1/register.go
  vendor/k8s.io/kube-scheduler/v19/v1beta1/types.go
  vendor/k8s.io/kube-scheduler/v19/v1beta1/types_pluginargs.go
  vendor/k8s.io/kube-scheduler/v19/v1beta1/zz_generated.deepcopy.go
  vendor/k8s.io/kube-scheduler/v20/v1beta1/doc.go
  vendor/k8s.io/kube-scheduler/v20/v1beta1/register.go
  vendor/k8s.io/kube-scheduler/v20/v1beta1/types.go
  vendor/k8s.io/kube-scheduler/v20/v1beta1/types_pluginargs.go
  vendor/k8s.io/kube-scheduler/v20/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3371 Skip stale project reconciliation when deletionTimestamp is already set
  pkg/controllermanager/controller/project/project_stale_control.go
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3357 Make fluent-bit always privileged for the integration tests
  test/framework/resources/templates/fluent-bit-psp-clusterrolebinding.yaml
  test/framework/resources/templates/logger-app.yaml.tpl
  test/integration/shoots/logging/seed_logging_stack.go
Labels: area/logging, kind/test, needs/ok-to-test, priority/normal, size/xs

#3368 Remove insensitive terms
  docs/concepts/network_policies.md
  hack/api-reference/core.md
  pkg/apis/core/types_project.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/project.go
  pkg/openapi/openapi_generated.go
  plugin/pkg/shoot/tolerationrestriction/admission.go
  test/framework/utils.go
  test/integration/shoots/operatingsystem/os.go
Labels: area/open-source, kind/api-change, kind/cleanup, needs/ok-to-test, needs/review, needs/second-opinion, priority/normal, size/s

#3367 Sets concurrency to envoy
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-daemonset.yaml
Labels: area/scalability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3363 Introduce per test suite timeout
  hack/test-cover.sh
Labels: area/dev-productivity, area/testing, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3267 Upgrade konnectivity components to v0.0.14
  charts/images.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/rbac.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/serviceaccount.yaml
  charts/seed-controlplane/charts/kube-apiserver/values.yaml
  charts/shoot-core/components/charts/konnectivity-agent/templates/daemonset.yaml
Labels: area/control-plane, area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3376 Fix deletion of clusterrole for seed nginx ingress
  pkg/operation/seed/seed.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs

#3348 Webhook for Cloudprovider secret
  extensions/pkg/webhook/cloudprovider/cloudprovider.go
  extensions/pkg/webhook/cloudprovider/mutator.go
  extensions/pkg/webhook/cloudprovider/mutator_test.go
  extensions/pkg/webhook/context/context.go
  extensions/pkg/webhook/controlplane/genericmutator/mutator.go
  extensions/pkg/webhook/controlplane/genericmutator/mutator_test.go
  extensions/pkg/webhook/controlplane/genericmutator/noopensurer.go
  pkg/mock/gardener/extensions/webhook/cloudprovider/doc.go
  pkg/mock/gardener/extensions/webhook/cloudprovider/mocks.go
  pkg/mock/gardener/extensions/webhook/controlplane/genericmutator/mocks.go
Labels: area/control-plane, kind/enhancement, merge/squash, needs/changes, needs/ok-to-test, priority/normal, size/xl

#3275 Add ownerRef to infra configmap and secret
  Dockerfile
  extensions/pkg/event/event_test.go
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/state.go
  extensions/pkg/terraformer/terraform_test.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/types.go
  hack/hook-me.sh
  pkg/mock/gardener/extensions/terraformer/mocks.go
Labels: area/robustness, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l

#3375 Clean up the deprecated confirmation and operation annotations
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/operation/botanist/secrets.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/registry/core/shoot/strategy.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: kind/api-change, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m

#3379 Avoid Grafana restarts
  pkg/operation/botanist/monitoring.go
  pkg/operation/seed/seed.go
Labels: area/monitoring, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3364 Replace `TryUpdateShoot{Labels,Annotations}` functions with `Patch` requests
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/secrets.go
  pkg/operation/operation.go
  pkg/operation/shoot/status.go
  pkg/operation/shoot/status_test.go
  pkg/utils/kubernetes/shoot.go
Labels: area/usability, kind/cleanup, kind/technical-debt, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3318 Refactor BackupEntry handling into components
  pkg/gardenlet/controller/backupentry/backup_entry_actuator.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/backupentry.go
  pkg/operation/botanist/backupentry/backupentry.go
  pkg/operation/botanist/backupentry/backupentry_suite_test.go
  pkg/operation/botanist/backupentry/backupentry_test.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/extensions/backupentry/backupentry.go
  pkg/operation/botanist/extensions/backupentry/backupentry_suite_test.go
  pkg/operation/botanist/extensions/backupentry/backupentry_test.go
  pkg/operation/botanist/extensions/network/network_test.go
  pkg/operation/botanist/migration.go
  pkg/operation/botanist/migration_test.go
  pkg/operation/botanist/waiter.go
  pkg/operation/shoot/types.go
Labels: area/dev-productivity, area/quality, area/robustness, exp/intermediate, kind/technical-debt, kind/test, needs/changes, needs/ok-to-test, platform/all, priority/normal, size/xl, topology/seed

#3381 Move some waiter code into dedicated files
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/namespaces.go
  pkg/operation/botanist/waiter.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3374 Set revisionHistoryLimit to 1 for deployments
  charts/istio/istio-ingress/templates/deployment.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/seed-bootstrap/charts/dependency-watchdog/templates/endpoint-deployment.yaml
  charts/seed-bootstrap/charts/dependency-watchdog/templates/probe-deployment.yaml
  charts/seed-bootstrap/charts/hvpa/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/kube-state-metrics/templates/deployment.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/default-backend-deployment.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-updater.yaml
  charts/seed-bootstrap/templates/gardener-resource-manager/deployment.yaml
  charts/seed-bootstrap/templates/grafana/grafana-deployment.yaml
  charts/seed-bootstrap/templates/reserve-excess-capacity/deployment.yaml
  charts/seed-bootstrap/templates/vpa-exporter/deployment-exporter.yaml
  charts/seed-controlplane/charts/gardener-resource-manager/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/templates/deployment.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
  charts/shoot-addons/charts/kubernetes-dashboard/templates/deployment-dashboard.yaml
  charts/shoot-addons/charts/kubernetes-dashboard/templates/deployment-metrics-scraper.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/default-backend-deployment.yaml
  charts/shoot-core/components/charts/coredns/templates/coredns-deployment.yaml
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/deployment.yaml
  charts/shoot-core/components/charts/vpn-shoot/templates/deployment.yaml
  pkg/gardenlet/controller/shoot/seed_registration_control.go
  pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/controlplane/etcd/bootstrap.go
  pkg/operation/botanist/controlplane/etcd/bootstrap_test.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/seedsystemcomponents/seedadmission/seedadmission.go
  pkg/operation/botanist/seedsystemcomponents/seedadmission/seedadmission_test.go
  pkg/operation/botanist/systemcomponents/metricsserver/metrics_server.go
  pkg/operation/botanist/systemcomponents/metricsserver/metrics_server_test.go
  pkg/operation/seed/scheduler/gardener_kube_scheduler.go
  pkg/operation/seed/scheduler/gardener_kube_scheduler_test.go
Labels: area/ops-productivity, kind/enhancement, needs/changes, needs/ok-to-test, priority/normal, size/s

#3387 Fix 'make install'
  pkg/operation/botanist/waiter.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3380 Remove deprecated monitoring hosts
  pkg/operation/botanist/monitoring.go
  pkg/operation/operation.go
Labels: area/monitoring, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3382 fix istiod rolebinding
  charts/istio/istio-istiod/templates/rolebinding.yaml
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3385 Fix gardener-seed-scheduler permissions
  pkg/operation/seed/scheduler/gardener_kube_scheduler.go
  pkg/operation/seed/scheduler/gardener_kube_scheduler_bootstrap.go
  pkg/operation/seed/scheduler/gardener_kube_scheduler_test.go
  pkg/operation/seed/scheduler/types.go
Labels: area/scalability, kind/bug, needs/ok-to-test, priority/normal, size/m

#3383 Re-use utility function when updating the `.spec.keepObjects` for `ManagedResource`s
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/operation/botanist/managedresources.go
  pkg/utils/managedresources/managedresources.go
Labels: area/dev-productivity, kind/cleanup, kind/technical-debt, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3389 Revert "Increase the Loki chunk idle period from 3m to 1h"
  charts/seed-bootstrap/charts/loki/templates/loki-configmap.yaml
Labels: area/logging, needs/ok-to-test, reviewed/lgtm, size/xs

#3386 Fix debootstaping for gardener-kube-scheduler
  pkg/operation/seed/scheduler/gardener_kube_scheduler.go
  pkg/operation/seed/scheduler/gardener_kube_scheduler_bootstrap.go
  pkg/operation/seed/scheduler/gardener_kube_scheduler_bootstrap_test.go
  pkg/operation/seed/scheduler/gardener_kube_scheduler_test.go
  pkg/operation/seed/seed.go
Labels: area/scalability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3390 Enable the check for stale extension health checks
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/helper/helpers.go
  pkg/gardenlet/apis/config/helper/helpers_test.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
Labels: kind/cleanup, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#3384 Add the 'gardener.cloud/role' label key to controlplane Pods
  charts/seed-controlplane/charts/gardener-resource-manager/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/deployment.yaml
  charts/seed-controlplane/charts/kube-apiserver/templates/serviceaccount.yaml
  charts/seed-monitoring/charts/alertmanager/templates/alertmanager.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/templates/deployment.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
  docs/extensions/worker.md
  docs/monitoring/alerting.md
  extensions/pkg/controller/healthcheck/actuator.go
  extensions/pkg/controller/shoot.go
  extensions/pkg/controller/worker/genericactuator/interface.go
  extensions/pkg/util/secret/secret.go
  pkg/apis/extensions/v1alpha1/types_network.go
  pkg/gardenlet/controller/federatedseed/extensions/extensions.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/controlplane/etcd/etcd.go
  pkg/operation/botanist/controlplane/etcd/etcd_test.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler_test.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/etcdencryption/etcdencryptioninfodata.go
  plugin/pkg/shoot/validator/admission.go
Labels: kind/api-change, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s

#3395 Add side-car container to kube-proxy to remove incorrect conntrack table entries
  charts/shoot-core/components/charts/kube-proxy/templates/conntrack-fix-script.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3185 [GEP-8] Deprecation warning for IGW AWS annotations
  charts/istio/istio-ingress/templates/service.yaml
  pkg/operation/seed/istio/ingress_gateway_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3401 [release-v1.15] Fix error during creation of fresh seed clusters
  pkg/operation/seed/seed.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, priority/normal, size/xs

#3400 Fix error during creation of fresh seed clusters
  pkg/operation/seed/seed.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, priority/normal, size/xs

#3403 [release-v1.15] change the fluent bit to loki plugin to.0.33 and set new configuration
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, size/m

#3402 Upgrade fluent-bit-to-loki-plugin to 0.33.0
  charts/images.yaml
  charts/seed-bootstrap/charts/fluent-bit/templates/_fluent-bit-config.tpl
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3394 Make ingress domain for Seeds immutable
  hack/api-reference/core.md
  pkg/apis/core/types_seed.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_seed.go
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_seed.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
  pkg/openapi/openapi_generated.go
Labels: kind/api-change, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3404 [release-v1.15] Avoid Grafana restarts
  pkg/operation/botanist/monitoring.go
  pkg/operation/seed/seed.go
  pkg/utils/kubernetes/sorter.go
  pkg/utils/kubernetes/sorter_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m

#3349 Terraformer execution adopts still running pods
  extensions/pkg/controller/infrastructure/controller.go
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/errors.go
  extensions/pkg/terraformer/errors_test.go
  extensions/pkg/terraformer/terraform_test.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/types.go
  extensions/pkg/terraformer/waiter.go
Labels: area/ops-productivity, kind/enhancement, kind/technical-debt, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l

#3408 Vendor controller-runtime@v0.7.1
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/split.go
  vendor/sigs.k8s.io/controller-runtime/pkg/log/log.go
  vendor/sigs.k8s.io/controller-runtime/pkg/webhook/admission/response.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3410 [release-v1.15] Allow kube-proxy PSP to use NET_ADMIN
  charts/shoot-core/components/charts/kube-proxy/templates/psp/kube-proxy-psp.yaml
Labels: area/security, kind/regression, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs

#3409 Allow kube-proxy PSP to use NET_ADMIN
  charts/shoot-core/components/charts/kube-proxy/templates/psp/kube-proxy-psp.yaml
Labels: area/security, kind/regression, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs

#3407 Pin sigs.k8s.io/structured-merge-diff/v4 back to upstream
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3396 Improve cloud-config execution observability and enable systemd service restarts
  charts/seed-operatingsystemconfig/downloader/templates/scripts/_download-cloud-config.sh
  charts/shoot-cloud-config/templates/scripts/_cloud-config-script.sh
  charts/shoot-cloud-config/templates/secret-cloud-config-data.yaml
  docs/usage/shoot_operations.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/mock/gardener/utils/kubernetes/doc.go
  pkg/mock/gardener/utils/kubernetes/mocks.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/health_check.go
  pkg/operation/botanist/health_check_test.go
  pkg/operation/botanist/worker.go
  pkg/operation/botanist/worker_test.go
  pkg/operation/common/types.go
  pkg/utils/kubernetes/kubernetes_test.go
  pkg/utils/kubernetes/node.go
Labels: area/monitoring, area/ops-productivity, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3424 Add networkpolicy labels to node-problem-detector
  charts/shoot-core/components/charts/node-problem-detector/templates/daemonset.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3421 Update the organization of the grafana and prometheus certificates
  pkg/operation/seed/seed.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#3377 Shoot care refactoring
  pkg/client/kubernetes/fake/builder.go
  pkg/client/kubernetes/fake/clientset.go
  pkg/client/kubernetes/fake/fake_test.go
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/garbage_collection.go
  pkg/operation/care/care_suite_test.go
  pkg/operation/care/checker.go
  pkg/operation/care/constraints.go
  pkg/operation/care/constraints_test.go
  pkg/operation/care/garbage_collection.go
  pkg/operation/care/health.go
  pkg/operation/care/health_check_test.go
  pkg/operation/operation.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/types.go
  pkg/utils/kubernetes/health/health.go
  pkg/utils/kubernetes/health/health_test.go
Labels: area/quality, kind/cleanup, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3425 Wait until the finalizer of the credentials secret is removed
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#3422 preserve unknown fields for status.state field of extension types.
  charts/seed-bootstrap/charts/extensions/templates/crd-backupbucket.yaml
  charts/seed-bootstrap/charts/extensions/templates/crd-backupentry.yaml
  charts/seed-bootstrap/charts/extensions/templates/crd-containerruntime.yaml
  charts/seed-bootstrap/charts/extensions/templates/crd-controlplane.yaml
  charts/seed-bootstrap/charts/extensions/templates/crd-extension.yaml
  charts/seed-bootstrap/charts/extensions/templates/crd-infrastructure.yaml
  charts/seed-bootstrap/charts/extensions/templates/crd-network.yaml
  charts/seed-bootstrap/charts/extensions/templates/crd-operatingsystemconfig.yaml
  charts/seed-bootstrap/charts/extensions/templates/crd-worker.yaml
  hack/api-reference/extensions.md
  pkg/apis/extensions/v1alpha1/types_backupbucket.go
  pkg/apis/extensions/v1alpha1/types_backupentry.go
  pkg/apis/extensions/v1alpha1/types_cluster.go
  pkg/apis/extensions/v1alpha1/types_containerruntime.go
  pkg/apis/extensions/v1alpha1/types_controlplane.go
  pkg/apis/extensions/v1alpha1/types_defaults.go
  pkg/apis/extensions/v1alpha1/types_extension.go
  pkg/apis/extensions/v1alpha1/types_infrastructure.go
  pkg/apis/extensions/v1alpha1/types_network.go
  pkg/apis/extensions/v1alpha1/types_operatingsystemconfig.go
  pkg/apis/extensions/v1alpha1/types_worker.go
Labels: area/control-plane, kind/api-change, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3392 test cidr handling againts ipv6
  pkg/utils/validation/cidr/cidr_test.go
Labels: area/networking, area/testing, kind/technical-debt, kind/test, needs/ok-to-test, needs/second-opinion, priority/normal, size/l

#3391 Test ValidateNetworkDisjointedness against ipv6
  pkg/utils/validation/cidr/disjoint_test.go
Labels: area/networking, area/testing, kind/technical-debt, kind/test, needs/ok-to-test, needs/second-opinion, priority/normal, size/s

#3431 Docforge manifest
  .docforge/manifest.yaml
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, priority/normal, size/xs

#3413 Enhance webhook constraints checks
  docs/usage/shoot_status.md
  pkg/operation/botanist/matchers/matcher.go
  pkg/operation/care/constraints.go
  pkg/operation/care/constraints_test.go
Labels: area/ops-productivity, area/quality, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3432 Add CPU throttling to the "Kubernetes Pods" Grafana dashboard
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-pods-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3435 Add k8s 1.20 conformance tests (testgrid) links
  README.md
Labels: area/testing, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3436 Separate the Seeds and the Shoots loggins stack deleteion
  pkg/operation/botanist/logging.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3439 Fix nil pointer dereference while hibernating Shoot
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3438 Fix shoot/seed conditions merging
  pkg/gardenlet/controller/shoot/shoot_care_control.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3429 Fix gardener-seed-admission controller, etcd backup-restore and extension parsers time format
  charts/seed-bootstrap/charts/fluent-bit/templates/fluent-bit-configmap.yaml
  pkg/operation/botanist/controlplane/etcd/logging.go
  pkg/operation/botanist/controlplane/etcd/logging_test.go
  pkg/operation/botanist/seedsystemcomponents/seedadmission/logging.go
  pkg/operation/botanist/seedsystemcomponents/seedadmission/logging_test.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3426 Update local dev setup
  Makefile
  hack/local-development/dev-setup-register-gardener
  hack/local-development/local-garden/apply-rbac-garden-ns
  hack/local-development/local-garden/run-gardener-etcd
  hack/local-development/local-garden/run-kube-apiserver
  hack/local-development/local-garden/run-kube-controller-manager
  hack/local-development/local-garden/run-kube-etcd
  hack/local-development/local-garden/start.sh
  hack/local-development/local-garden/stop.sh
  hack/local-development/remote-garden/run-gardener-etcd
  hack/local-development/remote-garden/start.sh
  hack/local-development/remote-garden/stop.sh
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3412 [GEP-13] Add ManagedSeed APIs
  .golangci.yaml
  hack/api-reference/seedmanagement-config.json
  hack/api-reference/seedmanagement.md
  hack/update-codegen.sh
  pkg/apis/seedmanagement/doc.go
  pkg/apis/seedmanagement/field_constants.go
  pkg/apis/seedmanagement/helper/helper.go
  pkg/apis/seedmanagement/helper/helper_suite_test.go
  pkg/apis/seedmanagement/helper/helper_test.go
  pkg/apis/seedmanagement/install/install.go
  pkg/apis/seedmanagement/register.go
  pkg/apis/seedmanagement/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/conversions.go
  pkg/apis/seedmanagement/v1alpha1/defaults.go
  pkg/apis/seedmanagement/v1alpha1/defaults_test.go
  pkg/apis/seedmanagement/v1alpha1/doc.go
  pkg/apis/seedmanagement/v1alpha1/generated.pb.go
  pkg/apis/seedmanagement/v1alpha1/generated.proto
  pkg/apis/seedmanagement/v1alpha1/register.go
  pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
  pkg/apis/seedmanagement/v1alpha1/v1alpha1_suite_test.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.conversion.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/seedmanagement/v1alpha1/zz_generated.defaults.go
  pkg/apis/seedmanagement/zz_generated.deepcopy.go
  pkg/client/seedmanagement/clientset/versioned/clientset.go
  pkg/client/seedmanagement/clientset/versioned/doc.go
  pkg/client/seedmanagement/clientset/versioned/fake/clientset_generated.go
  pkg/client/seedmanagement/clientset/versioned/fake/doc.go
  pkg/client/seedmanagement/clientset/versioned/fake/register.go
  pkg/client/seedmanagement/clientset/versioned/scheme/doc.go
  pkg/client/seedmanagement/clientset/versioned/scheme/register.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/doc.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/fake/doc.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/fake/fake_managedseed.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/fake/fake_seedmanagement_client.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/generated_expansion.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/managedseed.go
  pkg/client/seedmanagement/clientset/versioned/typed/seedmanagement/v1alpha1/seedmanagement_client.go
  pkg/client/seedmanagement/informers/externalversions/factory.go
  pkg/client/seedmanagement/informers/externalversions/generic.go
  pkg/client/seedmanagement/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/client/seedmanagement/informers/externalversions/seedmanagement/interface.go
  pkg/client/seedmanagement/informers/externalversions/seedmanagement/v1alpha1/interface.go
  pkg/client/seedmanagement/informers/externalversions/seedmanagement/v1alpha1/managedseed.go
  pkg/client/seedmanagement/listers/seedmanagement/v1alpha1/expansion_generated.go
  pkg/client/seedmanagement/listers/seedmanagement/v1alpha1/managedseed.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
Labels: area/control-plane, kind/api-change, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3441 Calculate ingressDomain for ControllerInstallation deployment
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3437 [release-v1.15] Separate the Seeds and the Shoots loggins stack deleteion
  pkg/operation/botanist/logging.go
  pkg/operation/common/utils.go
  pkg/operation/common/utils_test.go
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3443 [release-v1.15] Calculate ingressDomain for ControllerInstallation deployment
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3442 Update to golang@1.15.7
  Dockerfile
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#3444 Normalize versions when comparing against constraints
  pkg/operation/seed/seed.go
  pkg/utils/imagevector/imagevector_test.go
  pkg/utils/version/version.go
Labels: area/usability, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3446 Preserve unknown metadata fields in HVPA CRD
  charts/seed-bootstrap/charts/hvpa/templates/hvpa-crd.yaml
Labels: area/scalability, kind/regression, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3440 Adapt "problematic webhook timeout" check
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/webhook/registration.go
  pkg/operation/care/constraints.go
Labels: area/usability, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3448 Fix seed ingressdomain validation
  pkg/apis/core/validation/seed.go
  pkg/apis/core/validation/seed_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs

#3447 Prevent "lastTransitionTime" and "lastUpdateTime" of constraints to be updated continuously
  pkg/gardenlet/controller/shoot/shoot_care_control.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3434 Node exporter changes
  charts/shoot-core/components/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3450 Fix IndexerFuncs signatures
  extensions/pkg/util/index/index.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#3452 Changed schedule of community meeting from weekly to bi-weekly and fixed link to target correct anchor in the target README file
  README.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3455 Remove redundant apierrors.IsNotFound check
  extensions/pkg/controller/worker/genericactuator/actuator.go
  pkg/operation/care/constraints.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#3414 [GEP-13] Add ManagedSeed validation
  cmd/gardenlet/app/gardenlet.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/apis/seedmanagement/validation/managedseed_test.go
  pkg/apis/seedmanagement/validation/validation_suite_test.go
  pkg/gardenlet/apis/config/validation/validation.go
  pkg/gardenlet/apis/config/validation/validation_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3456 Expose VerticalPodAutoscaler logs
  charts/seed-monitoring/charts/grafana/templates/grafana-dashboards-configmap.yaml
  charts/seed-monitoring/charts/grafana/templates/logging-dashboard.tpl
  charts/seed-monitoring/charts/grafana/values.yaml
  pkg/operation/seed/seed.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, size/m

#3449 Update cloud-config-downloader files via Original OSC
  charts/seed-operatingsystemconfig/downloader/templates/cloud-config-downloader/_download-cloud-config-service.content
  charts/seed-operatingsystemconfig/downloader/templates/cloud-config-downloader/_download-cloud-config-service.file
  charts/seed-operatingsystemconfig/downloader/templates/cloud-config-downloader/_download-cloud-config.files
  charts/seed-operatingsystemconfig/downloader/templates/cloud-config-downloader/_download-cloud-config.service
  charts/seed-operatingsystemconfig/downloader/templates/cloud-config-downloader/_download-cloud-config.sh
  charts/seed-operatingsystemconfig/downloader/templates/osc.yaml
  charts/seed-operatingsystemconfig/downloader/values.yaml
  charts/seed-operatingsystemconfig/original/templates/cloud-config-downloader
  charts/seed-operatingsystemconfig/original/templates/kubelet/_kubelet-binary
  charts/seed-operatingsystemconfig/original/templates/osc.yaml
  charts/seed-operatingsystemconfig/original/values.yaml
  charts/shoot-cloud-config/templates/scripts/_cloud-config-script.sh
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/operatingsystemconfig.go
Labels: area/ops-productivity, area/os, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3460 Adapt shoot table convertor
  pkg/registry/core/shoot/storage/tableconvertor.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3423 Enhahance Terraformer.IsStateEmpty to check for presence of terraformer finalizer
  extensions/pkg/terraformer/state.go
  extensions/pkg/terraformer/state_test.go
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, reviewed/ok-to-test, size/m

#3457 Fix shoot conditions
  .gitignore
  pkg/gardenlet/controller/shoot/shoot_care_control.go
  pkg/gardenlet/controller/shoot/shoot_care_control_test.go
  pkg/gardenlet/controller/shoot/shoot_care_control_types.go
  pkg/operation/care/constraints.go
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3462 Fix ToExceptNetworks to handle overlapping except nets
  pkg/operation/common/network_policies.go
  pkg/operation/common/network_policies_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3415 [GEP-13] Add ManagedSeed apiserver storage
  charts/gardener/controlplane/charts/application/templates/apiservice-v1alpha1-seedmanagement-gardener-cloud.yaml
  cmd/gardener-apiserver/app/gardener_apiserver.go
  example/55-managedseed-gardenlet.yaml
  example/55-managedseed-seedtemplate.yaml
  hack/local-development/dev-setup-register-gardener
  pkg/api/register.go
  pkg/apis/seedmanagement/validation/managedseed.go
  pkg/apiserver/admission/initializer/initializer.go
  pkg/apiserver/admission/initializer/types.go
  pkg/apiserver/apiserver.go
  pkg/registry/seedmanagement/managedseed/managedseed_suite_test.go
  pkg/registry/seedmanagement/managedseed/storage/storage.go
  pkg/registry/seedmanagement/managedseed/storage/tableconvertor.go
  pkg/registry/seedmanagement/managedseed/strategy.go
  pkg/registry/seedmanagement/managedseed/strategy_test.go
  pkg/registry/seedmanagement/rest/storage_seedmanagement.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#3465 Add PiorityClass for Loki
  charts/seed-bootstrap/charts/loki/templates/priorityclass.yaml
  charts/seed-bootstrap/charts/loki/templates/statefulset.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#3463 Cleanup some deprecated helper funcs
  extensions/pkg/controller/backupbucket/reconciler.go
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/infrastructure/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_delete.go
  extensions/pkg/controller/worker/genericactuator/actuator_migrate.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/reconciler.go
  extensions/pkg/controller/worker/state_reconciler.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/waiter.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_control.go
  pkg/controllermanager/controller/controllerregistration/seed_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control.go
  pkg/controllermanager/controller/shoot/shoot_reference_control.go
  pkg/controllerutils/finalizers.go
  pkg/controllerutils/pointers.go
  pkg/controllerutils/pointers_test.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/operation/botanist/migration.go
  pkg/utils/flow/taskfn.go
  pkg/utils/kubernetes/kubernetes.go
Labels: kind/cleanup, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l

#3468 Add ShootVPAEnabledByDefault admission plugin
  cmd/gardener-apiserver/app/gardener_apiserver.go
  docs/concepts/apiserver_admission_plugins.md
  hack/local-development/start-apiserver
  pkg/apiserver/plugins.go
  pkg/utils/test/matchers/matchers.go
  plugin/pkg/shoot/vpa/admission.go
  plugin/pkg/shoot/vpa/admission_test.go
  plugin/pkg/shoot/vpa/vpa_suite_test.go
Labels: area/auto-scaling, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/l

#3466 Expose FetchEvents function
  pkg/operation/botanist/controlplane/kube_apiserver_service.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: area/open-source, kind/enhancement, merge/squash, needs/ok-to-test, priority/normal, reviewed/lgtm, size/m

#3427 replace image vector component descriptor creation with component-cli
  hack/.ci/component_descriptor
Labels: area/delivery, kind/task, needs/ok-to-test, needs/review, needs/second-opinion, priority/normal, size/xs

#3473 Remove kubernetes.Interface.RESTMapper in favor of client.RESTMapper
  pkg/client/kubernetes/client.go
  pkg/client/kubernetes/clientset.go
  pkg/client/kubernetes/fake/builder.go
  pkg/client/kubernetes/fake/clientset.go
  pkg/client/kubernetes/fake/fake_test.go
  pkg/client/kubernetes/types.go
  pkg/mock/gardener/client/kubernetes/mocks.go
  pkg/operation/seed/seed.go
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/s

#3474 Keep VPA namespace env variable in sync
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-updater.yaml
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs

#3480 [release-v1.15] Keep VPA namespace env variable in sync
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-updater.yaml
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs

#3481 [release-v1.16] Keep VPA namespace env variable in sync
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-updater.yaml
Labels: area/auto-scaling, kind/bug, needs/ok-to-test, priority/critical, reviewed/lgtm, size/xs
