Repository gardener/gardener, pull requests merged in 2022-03, with the labels that each got.

#5499 gardener-controller-manager: Enable SecretBinding provider controller
  docs/deployment/secret_binding_provider_controller.md
  example/20-componentconfig-gardener-controller-manager.yaml
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5472 Add a mutating admission plugin which add labels for extension types specified in the `Spec` of the objects
  docs/README.md
  docs/concepts/apiserver_admission_plugins.md
  docs/extensions/admission.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apiserver/plugins.go
  plugin/pkg/global/extensionlabels/admission.go
  plugin/pkg/global/extensionlabels/admission_test.go
  plugin/pkg/global/extensionlabels/extensionlabels_suite_test.go
  plugin/pkg/global/extensionvalidation/admission_test.go
  plugin/pkg/shoot/validator/admission.go
Labels: kind/enhancement, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, area/robustness, merge/squash

#5501 Delete deprecated error code `ERR_INFRA_INSUFFICIENT_PRIVILEGES`
  docs/usage/shoot_status.md
  extensions/pkg/controller/status_test.go
  pkg/apis/core/types_common.go
  pkg/apis/core/v1alpha1/types_common.go
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/apis/core/v1beta1/types_common.go
  pkg/extensions/customresources_test.go
  pkg/operation/botanist/component/extensions/dns/dns_test.go
  pkg/operation/care/health_check_test.go
Labels: kind/enhancement, kind/api-change, area/ops-productivity, needs/ok-to-test, reviewed/lgtm, size/s

#5505 Fix Shoot creation integration test
  test/testmachinery/landscaper/gardenlet/landscaper_test.go
  test/testmachinery/system/managed_seed_creation/create_test.go
  test/testmachinery/system/shoot_creation/create_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, kind/regression, area/testing

#5506 🛡 Provide some helpful log messages for `ProjectedTokenMount`
  pkg/resourcemanager/webhook/projectedtokenmount/add.go
  pkg/resourcemanager/webhook/projectedtokenmount/handler.go
  pkg/resourcemanager/webhook/projectedtokenmount/handler_test.go
Labels: kind/enhancement, area/security, needs/ok-to-test, reviewed/lgtm, size/s, merge/squash

#5507 Install correct version of promtool
  hack/tools/install-promtool.sh
Labels: area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm, needs-ok-to-test

#5502 Use `clock.Clock` for faking the time in unit tests
  landscaper/common/utils/certificate_test.go
  pkg/operation/botanist/secrets.go
  pkg/registry/core/shoot/storage/admin_kubeconfig.go
  pkg/registry/core/shoot/storage/admin_kubeconfig_test.go
  pkg/registry/core/shoot/storage/storage.go
  pkg/utils/secrets/certificates.go
  pkg/utils/secrets/certificates_infodata.go
  pkg/utils/secrets/certificates_infodata_test.go
  pkg/utils/secrets/certificates_test.go
  pkg/utils/secrets/types.go
Labels: area/dev-productivity, needs/ok-to-test, reviewed/lgtm, kind/cleanup, size/s

#5508 Fix overflowing float to int32 conversion
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/robustness, area/testing, needs-ok-to-test

#5509 Improve `PreCheckFunc` function signature
  extensions/pkg/controller/healthcheck/actuator.go
  extensions/pkg/controller/healthcheck/healtcheck_actuator.go
Labels: kind/enhancement, area/ops-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#5520 [release-v1.41] Automated cherry pick of #5506: 🛡 Provide some helpful log messages for `ProjectedTokenMount`
  pkg/resourcemanager/webhook/projectedtokenmount/add.go
  pkg/resourcemanager/webhook/projectedtokenmount/handler.go
  pkg/resourcemanager/webhook/projectedtokenmount/handler_test.go
Labels: kind/enhancement, area/security, needs/ok-to-test, reviewed/lgtm, size/s

#5516 Fix data race in `OperatingSystemConfig` component
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/operatingsystemconfig.go
Labels: kind/bug, needs/ok-to-test, area/usability, reviewed/lgtm, size/s

#5517 [release-v1.41] Automated cherry pick of #5516: Fix data race in `OperatingSystemConfig` component
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/operatingsystemconfig.go
Labels: kind/bug, needs/ok-to-test, area/usability, reviewed/lgtm, size/s

#5518 [release-v1.40] Automated cherry pick of #5516: Fix data race in `OperatingSystemConfig` component
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/operatingsystemconfig.go
Labels: kind/bug, needs/ok-to-test, area/usability, reviewed/lgtm, size/s

#5513 Set `automountServiceAccountToken=false` for shoot's `kube-apiserver`
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
Labels: kind/enhancement, area/security, size/xs, needs/ok-to-test, reviewed/lgtm

#5498 Allow specifying additional accepted issuers for the shoot kapi server
  docs/api-reference/core.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
Labels: kind/enhancement, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, area/control-plane, merge/squash

#5521 Fix resources dir path (2)
  test/framework/commonframework.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, kind/regression, area/testing

#5523 gardener-resource-manager: Fix Destroy to delete only the appropriate resources
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
Labels: kind/bug, needs/ok-to-test, area/quality, reviewed/lgtm, kind/regression, size/s

#5483 Add `jitterUpdates` field to managed seed controller configuration.
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/values.yaml
  landscaper/pkg/gardenlet/chart/charttest/charttest.go
  landscaper/pkg/gardenlet/generate/openapi/openapi_generated.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/managedseed/managedseed_controller.go
  pkg/gardenlet/controller/managedseed/managedseed_controller_test.go
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/robustness, area/scalability, merge/squash

#5527 add label to cloudprovider secret and adapt webhook
  extensions/pkg/webhook/cloudprovider/cloudprovider.go
  pkg/operation/botanist/secrets.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5512 Promote `DenyInvalidExtensionResources` feature gate to beta
  docs/deployment/feature_gates.md
  pkg/features/features.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller_test.go
Labels: kind/enhancement, needs/review, size/xs, needs/ok-to-test

#5515 Promote gardenlet feature gate `ReversedVPN` to beta.
  docs/deployment/feature_gates.md
  pkg/features/features.go
  pkg/gardenlet/features/features.go
Labels: kind/api-change, needs/review, size/xs, needs/ok-to-test, area/networking

#5388 Prevent creation of `ssh-keypair.old` secret on Shoot creation.
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
Labels: kind/enhancement, kind/api-change, needs/ok-to-test, area/quality, reviewed/lgtm, size/s, area/auto-scaling, merge/squash

#5504 adapt esreporter to ginkgo v2 report type
  test/framework/reporter/esreporter.go
  test/framework/reporter/esreporter_test.go
  test/testmachinery/suites/gardener/run_suite_test.go
  test/testmachinery/suites/shoot/run_suite_test.go
Labels: needs/review, needs/ok-to-test, needs/second-opinion, size/l, kind/cleanup, area/testing

#5511 Promote `AdminKubeconfigRequest` feature gate to GA
  docs/deployment/feature_gates.md
  docs/proposals/16-adminkubeconfig-subresource.md
  example/gardener-local/controlplane/values.yaml
  pkg/apiserver/features/features.go
  pkg/features/features.go
  pkg/registry/core/shoot/storage/storage.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5497 Integrate enhanced meltdown handling for dependency-watchdog probe
  charts/images.yaml
  go.mod
  go.sum
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/component/dependencywatchdog/dependency_watchdog.go
  pkg/operation/botanist/component/dependencywatchdog/dependency_watchdog_test.go
  pkg/operation/botanist/component/kubeapiserver/dependency_watchdog.go
  pkg/operation/botanist/component/kubeapiserver/dependency_watchdog_test.go
  vendor/github.com/gardener/dependency-watchdog/pkg/restarter/api/types.go
  vendor/github.com/gardener/dependency-watchdog/pkg/scaler/api/types.go
  vendor/golang.org/x/mod/modfile/read.go
  vendor/golang.org/x/mod/modfile/rule.go
  vendor/golang.org/x/mod/module/module.go
  vendor/golang.org/x/mod/module/pseudo.go
  vendor/golang.org/x/mod/semver/semver.go
  vendor/golang.org/x/tools/cmd/goimports/doc.go
  vendor/golang.org/x/tools/go/ast/astutil/enclosing.go
  vendor/golang.org/x/tools/go/ast/astutil/rewrite.go
  vendor/golang.org/x/tools/go/ast/inspector/typeof.go
  vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
  vendor/golang.org/x/tools/go/internal/gcimporter/bexport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/bimport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/exportdata.go
  vendor/golang.org/x/tools/go/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/go/internal/gcimporter/support_go117.go
  vendor/golang.org/x/tools/go/internal/gcimporter/support_go118.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/internal/imports/sortimports.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/enabled_go117.go
  vendor/golang.org/x/tools/internal/typeparams/enabled_go118.go
  vendor/golang.org/x/tools/internal/typeparams/normalize.go
  vendor/golang.org/x/tools/internal/typeparams/termlist.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go117.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go118.go
  vendor/golang.org/x/tools/internal/typeparams/typeterm.go
  vendor/modules.txt
Labels: kind/enhancement, reviewed/ok-to-test, kind/api-change, needs/ok-to-test, area/disaster-recovery, size/m, reviewed/lgtm, area/control-plane, merge/squash

#5543 Add dedicated serviceaccount for blackbox-exporter
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/deployment.yaml
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/serviceaccount.yaml
Labels: kind/bug, area/security, size/xs, area/monitoring, reviewed/lgtm, priority/2, needs/cherry-pick

#5544 Add liveness probe to the apiserver-proxy proxy container.
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-daemonset.yaml
Labels: kind/enhancement, reviewed/ok-to-test, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5542 Use headings for auth types and adjust formatting
  docs/deployment/authentication_gardener_control_plane.md
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm

#5545 [release-v1.41] Automated cherry pick of #5543: Add dedicated serviceaccount for blackbox-exporter
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/deployment.yaml
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/serviceaccount.yaml
Labels: needs/ok-to-test

#5535 Define feature gates centrally and document relevance for components
  docs/deployment/feature_gates.md
  pkg/apiserver/features/features.go
  pkg/controllermanager/features/features.go
  pkg/features/features.go
  pkg/features/features_suite_test.go
  pkg/features/features_test.go
  pkg/gardenlet/features/features.go
  pkg/scheduler/features/features.go
Labels: area/dev-productivity, area/documentation, size/m, reviewed/lgtm, kind/cleanup, merge/squash

#5537 Added static information about the pods, e.g. node name and ip, to the pods dashboard.
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-pods-dashboard.json
Labels: kind/enhancement, size/m, area/monitoring, reviewed/lgtm

#5540 Use field selector for `core.BackupBucket.spec.seedName`
  pkg/controllermanager/controller/controllerregistration/seed_control.go
  pkg/controllermanager/controller/controllerregistration/seed_control_test.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile.go
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile_test.go
  pkg/controllerutils/associations.go
  pkg/gardenlet/controller/factory.go
Labels: area/dev-productivity, size/m, reviewed/lgtm, kind/cleanup, merge/squash

#5546 Update helm version for install-requirements
  hack/install-requirements.sh
  hack/tools.mk
Labels: kind/bug, area/dev-productivity, needs/review, size/xs, needs/second-opinion

#5457 Fix service annotation deletion on reconcile loop
  pkg/client/kubernetes/applier.go
  pkg/client/kubernetes/applier_test.go
  pkg/resourcemanager/controller/managedresource/merger.go
  pkg/resourcemanager/controller/managedresource/merger_test.go
Labels: kind/enhancement, kind/api-change, reviewed/lgtm, size/s, area/control-plane, needs-ok-to-test

#5510 [GEP-18] Adapt `generic-token-kubeconfig` to new secrets manager
  charts/gardener/provider-local/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/gardener/provider-local/internal/machine-controller-manager/seed/values.yaml
  charts/seed-bootstrap/charts/loki/templates/statefulset.yaml
  charts/seed-bootstrap/charts/loki/values.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/templates/deployment.yaml
  charts/seed-monitoring/charts/core/charts/kube-state-metrics-shoot/values.yaml
  charts/seed-monitoring/charts/core/values.yaml
  extensions/pkg/controller/cluster.go
  extensions/pkg/controller/worker/genericactuator/machine_controller_manager.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/extensions/cluster.go
  pkg/extensions/cluster_test.go
  pkg/operation/botanist/clusterautoscaler.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/component/clusterautoscaler/monitoring_test.go
  pkg/operation/botanist/component/gardeneraccess/access.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/component/kubecontrollermanager/monitoring_test.go
  pkg/operation/botanist/component/kubecontrollermanager/waiter_test.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/kubeproxy.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/secrets_test.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
  pkg/utils/secrets/control_plane.go
  pkg/utils/secrets/kubeconfig.go
  pkg/utils/secrets/kubeconfig_test.go
Labels: kind/enhancement, area/security, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, merge/squash

#5559 [release-v1.41] Automated cherry pick of #5555: Do not try to destroy DNSRecord when Namespace is terminating
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/quality

#5558 [release-v1.42] Automated cherry pick of #5555: Do not try to destroy DNSRecord when Namespace is terminating
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/quality

#5560 [release-v1.40] Automated cherry pick of #5555: Do not try to destroy DNSRecord when Namespace is terminating
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test, area/quality

#5557 Drop undesired metadata fields from referenced resources in `Shoot`s
  pkg/operation/botanist/resources.go
  pkg/operation/botanist/resources_test.go
  pkg/utils/kubernetes/unstructured/object.go
  pkg/utils/kubernetes/unstructured/object_test.go
  pkg/utils/kubernetes/unstructured/unstructured_suite_test.go
Labels: kind/bug, area/ops-productivity, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5565 [release-v1.40] Automated cherry pick of #5557: Drop undesired metadata fields from referenced resources in `Shoot`s
  pkg/operation/botanist/resources.go
  pkg/operation/botanist/resources_test.go
  pkg/utils/kubernetes/unstructured/object.go
  pkg/utils/kubernetes/unstructured/object_test.go
  pkg/utils/kubernetes/unstructured/unstructured_suite_test.go
Labels: kind/bug, area/ops-productivity, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5564 [release-v1.41] Automated cherry pick of #5557: Drop undesired metadata fields from referenced resources in `Shoot`s
  pkg/operation/botanist/resources.go
  pkg/operation/botanist/resources_test.go
  pkg/utils/kubernetes/unstructured/object.go
  pkg/utils/kubernetes/unstructured/object_test.go
  pkg/utils/kubernetes/unstructured/unstructured_suite_test.go
Labels: kind/bug, area/ops-productivity, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5563 [release-v1.42] Automated cherry pick of #5557: Drop undesired metadata fields from referenced resources in `Shoot`s
  pkg/operation/botanist/resources.go
  pkg/operation/botanist/resources_test.go
  pkg/utils/kubernetes/unstructured/object.go
  pkg/utils/kubernetes/unstructured/object_test.go
  pkg/utils/kubernetes/unstructured/unstructured_suite_test.go
Labels: kind/bug, area/ops-productivity, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5539 Fix "no matches for kind" errors during shoot reconciliation/deletion
  cmd/gardenlet/app/gardenlet.go
  pkg/client/kubernetes/clientmap/internal/alias.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
  pkg/client/kubernetes/clientmap/mock/mocks.go
  pkg/client/kubernetes/clientmap/types.go
Labels: kind/bug, needs/ok-to-test, area/usability, size/l, reviewed/lgtm, merge/squash

#5549 Fix race condition leading to `Pod`s without any projected token volumes
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/component/namespaces/namespaces.go
  pkg/operation/botanist/component/namespaces/namespaces_test.go
  pkg/resourcemanager/webhook/projectedtokenmount/handler.go
  pkg/resourcemanager/webhook/tokeninvalidator/handler.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: kind/bug, area/security, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5552 Increased kube-proxy memory limit to eight times the size.
  pkg/operation/botanist/component/kubeproxy/kube_proxy_test.go
  pkg/operation/botanist/component/kubeproxy/resources.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking, kind/post-mortem

#5566 Adapt SecretBinding table convertor
  pkg/registry/core/secretbinding/storage/tableconvertor.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm

#5536 Eliminate the `predicate.FromMapper` usage to ensure code consistency
  extensions/pkg/predicate/predicate.go
  extensions/pkg/predicate/predicate_test.go
  pkg/controllerutils/predicate/mapper.go
  pkg/resourcemanager/predicate/has_operation_annotation.go
Labels: area/dev-productivity, needs/ok-to-test, size/m, reviewed/lgtm, kind/cleanup, merge/squash

#5568 [release-v1.41] Automated cherry pick of #5539: Fix "no matches for kind" errors during shoot reconciliation/deletion
  cmd/gardenlet/app/gardenlet.go
  pkg/client/kubernetes/clientmap/internal/alias.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
  pkg/client/kubernetes/clientmap/mock/mocks.go
  pkg/client/kubernetes/clientmap/types.go
Labels: kind/bug, needs/ok-to-test, area/usability, size/l, reviewed/lgtm

#5569 [release-v1.40] Automated cherry pick of #5539: Fix "no matches for kind" errors during shoot reconciliation/deletion
  cmd/gardenlet/app/gardenlet.go
  pkg/client/kubernetes/clientmap/internal/alias.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
  pkg/client/kubernetes/clientmap/mock/mocks.go
  pkg/client/kubernetes/clientmap/types.go
Labels: kind/bug, needs/ok-to-test, area/usability, size/l, reviewed/lgtm

#5572 [release-v1.40] Automated cherry pick of #5549: Fix race condition leading to `Pod`s without any projected token volumes
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/component/namespaces/namespaces.go
  pkg/operation/botanist/component/namespaces/namespaces_test.go
  pkg/resourcemanager/webhook/tokeninvalidator/handler.go
  pkg/utils/kubernetes/kubernetes.go
  pkg/utils/kubernetes/kubernetes_test.go
Labels: needs/ok-to-test, size/m, reviewed/lgtm

#5567 [release-v1.42] Automated cherry pick of #5539: Fix "no matches for kind" errors during shoot reconciliation/deletion
  cmd/gardenlet/app/gardenlet.go
  pkg/client/kubernetes/clientmap/internal/alias.go
  pkg/client/kubernetes/clientmap/internal/garden_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap.go
  pkg/client/kubernetes/clientmap/internal/generic_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap.go
  pkg/client/kubernetes/clientmap/internal/plant_clientmap_test.go
  pkg/client/kubernetes/clientmap/internal/seed_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap.go
  pkg/client/kubernetes/clientmap/internal/shoot_clientmap_test.go
  pkg/client/kubernetes/clientmap/mock/mocks.go
  pkg/client/kubernetes/clientmap/types.go
Labels: kind/bug, needs/ok-to-test, area/usability, size/l, reviewed/lgtm

#5575 Update to golang@1.17.8
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  Dockerfile.local
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#5574 Nit: Update the release note category in a doc file
  docs/development/changing-the-api.md
  docs/development/testmachinery_tests.md
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#5551 Extend error code mapping
  pkg/apis/core/v1beta1/helper/errors.go
Labels: kind/enhancement, area/ops-productivity, size/xs, needs/ok-to-test, reviewed/lgtm, merge/squash

#5529 Optimize node listing calls to reduce load on API server
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/component.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/component_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/templates/scripts/health-monitor.tpl.sh
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/scalability, merge/squash

#5573 Preserve 'apiserver_audit_(event|error)_total' metrics in aggregated prometheus
  Makefile
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, area/audit-logging

#5580 [release-v1.40] Node names are always lower case
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/component_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/templates/scripts/health-monitor.tpl.sh
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#5578 [release-v1.42] Node names are always lower case
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/component_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/templates/scripts/health-monitor.tpl.sh
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#5579 [release-v1.41] Node names are always lower case
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/executor_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/executor/templates/scripts/execute-cloud-config.tpl.sh
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/component_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/templates/scripts/health-monitor.tpl.sh
Labels: size/xs, needs/ok-to-test, reviewed/lgtm

#5562 Improve error handling for admission plugins
  extensions/pkg/webhook/handler.go
  extensions/pkg/webhook/handler_test.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/handler.go
  pkg/admissioncontroller/webhooks/auth/seed/handler_test.go
  pkg/apis/core/validation/project.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/registry/core/shoot/storage/admin_kubeconfig.go
  plugin/pkg/plant/admission.go
  plugin/pkg/shoot/dns/admission.go
  plugin/pkg/shoot/dns/admission_test.go
  plugin/pkg/shoot/quotavalidator/admission.go
  plugin/pkg/shoot/tolerationrestriction/admission.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane

#5588 Silence error on missing optional tools dependency
  hack/tools.mk
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm

#5589 Fix flaky e2e hibernation/wake-up shoot test suite
  extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  extensions/pkg/controller/healthcheck/reconciler.go
  extensions/pkg/util/shoot_clients.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/testing, merge/squash

#5524 [GEP-18] Adapt `static-token`, `kubecfg` and `kube-apiserver-basic-auth` to new secrets manager
  docs/api-reference/core.md
  docs/usage/secrets_rotation.md
  docs/usage/shoot_operations.md
  extensions/pkg/util/shoot.go
  hack/local-development/local-garden/garden-certificate-generator.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/mock/mocks.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
  pkg/operation/botanist/component/kubeapiserver/secrets.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/types.go
  pkg/operation/shootsecrets/secrets_manager.go
  pkg/operation/shootsecrets/secrets_manager_test.go
  pkg/operation/types.go
  pkg/registry/core/shoot/storage/admin_kubeconfig.go
  pkg/utils/secrets/basic_auth.go
  pkg/utils/secrets/basic_auth_test.go
  pkg/utils/secrets/control_plane.go
  pkg/utils/secrets/control_plane_test.go
  pkg/utils/secrets/export_test.go
  pkg/utils/secrets/manager/generate.go
  pkg/utils/secrets/manager/generate_test.go
  test/testmachinery/shoots/applications/shoot_app.go
  test/testmachinery/shoots/operations/operations.go
  test/testmachinery/shoots/vpntunnel/vpntunnel.go
Labels: kind/enhancement, area/security, kind/api-change, needs/review, size/xl, needs/rebase, needs/ok-to-test, needs/second-opinion, merge/squash

#5593 [release-v1.41] Automated cherry pick of #5588: Silence error on missing optional tools dependency
  hack/tools.mk
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test

#5592 [release-v1.42] Automated cherry pick of #5588: Silence error on missing optional tools dependency
  hack/tools.mk
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test

#5591 [release-v1.42] Automated cherry pick of #5589: Fix flaky e2e hibernation/wake-up shoot test suite
  extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  extensions/pkg/controller/healthcheck/reconciler.go
  extensions/pkg/util/shoot_clients.go
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test, area/testing

#5590 [release-v1.41] Automated cherry pick of #5589: Fix flaky e2e hibernation/wake-up shoot test suite
  extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  extensions/pkg/controller/healthcheck/reconciler.go
  extensions/pkg/util/shoot_clients.go
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test, area/testing

#5598 [release-v1.42] Automated cherry pick of #5573: Preserve 'apiserver_audit_(event|error)_total' metrics in aggregated prometheus
  Makefile
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, area/audit-logging

#5595 [GEP-18] Add CA rotation `LastInitiationTime` field to `ShootStatus`
  docs/api-reference/core.md
  docs/development/testing.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/secrets.go
  test/e2e/shoot/create_rotate-ca_delete.go
Labels: kind/enhancement, area/security, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, merge/squash

#5597 [release-v1.41] Automated cherry pick of #5573: Preserve 'apiserver_audit_(event|error)_total' metrics in aggregated prometheus
  Makefile
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, area/audit-logging

#5596 [release-v1.40] Automated cherry pick of #5573: Preserve 'apiserver_audit_(event|error)_total' metrics in aggregated prometheus
  Makefile
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, area/audit-logging

#5556 Allow excluding `ManagedResource`s from reconciliation
  docs/concepts/resource-manager.md
  example/resource-manager/20-managedresource.yaml
  pkg/resourcemanager/controller/health/add.go
  pkg/resourcemanager/controller/managedresource/add.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
  pkg/resourcemanager/predicate/ignore.go
  pkg/resourcemanager/predicate/ignore_test.go
  test/integration/resourcemanager/health/health_test.go
Labels: kind/enhancement, area/ops-productivity, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5577 Update nodeTemplate on worker pool machineType update
  pkg/operation/botanist/component/extensions/worker/worker.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/auto-scaling

#5604 [release-v1.40] Automated cherry pick of #5577: Update nodeTemplate on worker pool machineType update
  pkg/operation/botanist/component/extensions/worker/worker.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/auto-scaling

#5603 [release-v1.41] Automated cherry pick of #5577: Update nodeTemplate on worker pool machineType update
  pkg/operation/botanist/component/extensions/worker/worker.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/auto-scaling

#5602 [release-v1.42] Automated cherry pick of #5577: Update nodeTemplate on worker pool machineType update
  pkg/operation/botanist/component/extensions/worker/worker.go
  pkg/operation/botanist/component/extensions/worker/worker_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/auto-scaling

#5605 `AdminKubeconfig` falls back to old data type
  pkg/registry/core/shoot/storage/admin_kubeconfig.go
  pkg/registry/core/shoot/storage/admin_kubeconfig_test.go
Labels: kind/bug, needs/ok-to-test, area/usability, size/m, reviewed/lgtm

#5582 Allow the seed-prometheus to scrape VPA recommender and updater
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-updater.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/allow-from-prometheus-network-policy.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, area/auto-scaling, merge/squash

#5531 Improve reconciliation of `DNSRecord`s
  docs/usage/shoot_maintenance.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control_test.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord_test.go
  pkg/operation/botanist/dnsrecord.go
  pkg/operation/botanist/dnsrecord_test.go
  pkg/operation/seed/nginxingress.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
  test/integration/controllermanager/shootmaintenance/maintenance_control_test.go
Labels: kind/enhancement, kind/api-change, size/l, reviewed/lgtm, area/scalability, merge/squash

#5390 Increase the cental Loki storage to 100Gi by default and make it conf…
  charts/gardener/gardenlet/values.yaml
  docs/deployment/configuring_logging.md
  example/20-componentconfig-gardenlet.yaml
  pkg/client/kubernetes/scaling.go
  pkg/client/kubernetes/scaling_test.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/defaults.go
  pkg/gardenlet/apis/config/v1alpha1/defaults_test.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/managedseed/charttest/charttest.go
  pkg/operation/seed/seed.go
  pkg/operation/seed/seed_test.go
Labels: kind/enhancement, size/xl, needs/ok-to-test, reviewed/lgtm, area/logging

#5550 Ensure the max token expiration during for shoot clusters is within boundaries
  docs/api-reference/core.md
  docs/deployment/feature_gates.md
  example/gardener-local/controlplane/values.yaml
  hack/local-development/start-apiserver
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apiserver/features/features.go
  pkg/features/features.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/registry/core/shoot/strategy.go
  pkg/registry/core/shoot/strategy_test.go
Labels: kind/enhancement, area/security, kind/api-change, needs/ok-to-test, area/usability, size/m, reviewed/lgtm

#5601 Use relative paths in module manifest
  .docforge/manifest.yaml
  hack/check-docforge.sh
  hack/tools.mk
Labels: kind/enhancement, needs/review, needs/ok-to-test, area/documentation, size/s

#5607 [GEP-18] Prepare reusing secrets manager in extensions
  docs/development/secrets_management.md
  docs/extensions/conventions.md
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/secrets_test.go
  pkg/utils/secrets/manager/cleanup.go
  pkg/utils/secrets/manager/cleanup_test.go
  pkg/utils/secrets/manager/fake/fake_manager.go
  pkg/utils/secrets/manager/fake/fake_manager_test.go
  pkg/utils/secrets/manager/generate.go
  pkg/utils/secrets/manager/generate_test.go
  pkg/utils/secrets/manager/manager.go
  pkg/utils/secrets/manager/manager_test.go
  test/integration/gardenlet/shootsecret/controller_test.go
  test/integration/gardenlet/shootsecret/shootsecret_suite_test.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5583 [GEP-18] Adapt `ssh-keypair` to new secrets manager
  docs/api-reference/core.md
  docs/development/secrets_management.md
  docs/usage/secrets_rotation.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/secrets.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/infrastructure.go
  pkg/operation/botanist/infrastructure_test.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/secrets_test.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/botanist/worker.go
  pkg/operation/botanist/worker_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/secrets/alias.go
  pkg/utils/secrets/basic_auth.go
  pkg/utils/secrets/certificates.go
  pkg/utils/secrets/kubeconfig.go
  pkg/utils/secrets/manager/fake/fake_manager.go
  pkg/utils/secrets/manager/fake/fake_manager_test.go
  pkg/utils/secrets/manager/generate.go
  pkg/utils/secrets/manager/generate_test.go
  pkg/utils/secrets/manager/get.go
  pkg/utils/secrets/manager/get_test.go
  pkg/utils/secrets/manager/interface.go
  pkg/utils/secrets/rsa_private_key.go
  pkg/utils/secrets/static_token.go
  test/testmachinery/shoots/operations/operations.go
Labels: kind/enhancement, area/security, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, merge/squash

#5600 Scrape logs from shoot kube-system namespace
  go.mod
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/components.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/templates/promtail-config.tpl.yaml
  vendor/modules.txt
Labels: kind/enhancement, needs/ok-to-test, size/l, reviewed/lgtm, area/logging

#5615 Fix helm chart validation errors on VPA chart
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-actor.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-checkpointer.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-target-reader.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrole-updater-evictioner.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-actor.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-checkpointer.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-target-reader.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/clusterrolebinding-updater-evictioner.yaml
  charts/seed-bootstrap/charts/vpa/charts/application/templates/serviceaccount-admission-controller.yaml
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test, area/auto-scaling, ok-to-test

#5614 Fixed file permissions of keys in vpn-shoot.
  pkg/operation/botanist/component/vpnshoot/vpnshoot.go
  pkg/operation/botanist/component/vpnshoot/vpnshoot_test.go
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test, area/networking, ok-to-test

#5613 Fix/seed prometheus network policy
  charts/seed-monitoring/charts/core/charts/prometheus/templates/allow-from-prometheus-network-policy.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, area/auto-scaling, ok-to-test

#5623 Improve error message
  pkg/apis/core/validation/shoot.go
Labels: kind/enhancement, needs/review, size/xs, needs/ok-to-test, area/usability

#5617 gardener-apiserver: Allow SecretBinding update when provider=nil
  pkg/apis/core/validation/secretbinding.go
  pkg/apis/core/validation/secretbinding_test.go
  pkg/apis/core/validation/shoot_test.go
  pkg/registry/core/secretbinding/secretbinding_suite_test.go
  pkg/registry/core/secretbinding/strategy.go
  pkg/registry/core/secretbinding/strategy_test.go
  pkg/registry/core/shoot/strategy.go
Labels: kind/bug, needs/ok-to-test, area/quality, size/l, reviewed/lgtm

#5612 [GEP-18] Sync CA bundle to garden
  docs/usage/secrets_rotation.md
  pkg/admissioncontroller/webhooks/auth/seed/graph/graph_test.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/secrets_test.go
  pkg/utils/gardener/shoot.go
  pkg/utils/gardener/shoot_test.go
  test/e2e/shoot/create_rotate-ca_delete.go
Labels: kind/enhancement, area/security, kind/api-change, needs/review, needs/ok-to-test, needs/second-opinion, size/m, merge/squash

#5621 Improve the hibernation doc
  docs/api-reference/core.md
  docs/usage/shoot_hibernate.md
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/openapi/openapi_generated.go
Labels: kind/api-change, needs/ok-to-test, area/documentation, reviewed/lgtm, size/s

#5618 Revert "Add Resource "ShootExtensionStatus" in core.gardener.cloud"
  cmd/gardener-apiserver/app/gardener_apiserver.go
  pkg/apis/core/register.go
  pkg/apis/core/types_shootextensionstatus.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/register.go
  pkg/apis/core/v1alpha1/types_shootextensionstatus.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shootextensionstatus.go
  pkg/apis/core/validation/shootextensionstatus_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/core_client.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/fake/fake_core_client.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/fake/fake_shootextensionstatus.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/generated_expansion.go
  pkg/client/core/clientset/internalversion/typed/core/internalversion/shootextensionstatus.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/core_client.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/fake/fake_core_client.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/fake/fake_shootextensionstatus.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/generated_expansion.go
  pkg/client/core/clientset/versioned/typed/core/v1alpha1/shootextensionstatus.go
  pkg/client/core/informers/externalversions/core/v1alpha1/interface.go
  pkg/client/core/informers/externalversions/core/v1alpha1/shootextensionstatus.go
  pkg/client/core/informers/externalversions/generic.go
  pkg/client/core/informers/internalversion/core/internalversion/interface.go
  pkg/client/core/informers/internalversion/core/internalversion/shootextensionstatus.go
  pkg/client/core/informers/internalversion/generic.go
  pkg/client/core/listers/core/internalversion/expansion_generated.go
  pkg/client/core/listers/core/internalversion/shootextensionstatus.go
  pkg/client/core/listers/core/v1alpha1/expansion_generated.go
  pkg/client/core/listers/core/v1alpha1/shootextensionstatus.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/shootextensionstatus/storage/storage.go
  pkg/registry/core/shootextensionstatus/storage/tableconvertor.go
  pkg/registry/core/shootextensionstatus/strategy.go
Labels: kind/api-change, needs/review, size/xl, needs/ok-to-test, needs/second-opinion, area/quality, kind/cleanup

#5620 Update control plane migration documentation
  docs/extensions/migration.md
  docs/usage/control_plane_migration.md
Labels: kind/enhancement, size/xs, area/documentation, status/accepted, reviewed/lgtm, area/control-plane-migration, merge/squash

#5633 Fix `master` branch by running `make revendor`
  go.mod
  vendor/modules.txt
Labels: needs/ok-to-test

#5628 resource-manager: Improve the CheckDaemonSet func
  pkg/resourcemanager/controller/health/health_checker_test.go
  pkg/utils/kubernetes/health/daemonset.go
  pkg/utils/kubernetes/health/daemonset_test.go
Labels: needs/ok-to-test, reviewed/lgtm, merge/squash

#5635 Update dockershim removal FAQ with most recent doc
  docs/usage/docker-shim-removal.md
Labels: kind/enhancement, reviewed/ok-to-test, size/xs, area/documentation, reviewed/lgtm

#5640 [ReversedVPN]: Increased maximum number of hosts in the dns cache config of the envoy proxy.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking, needs/cherry-pick

#5637 Improve error messages (2)
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
  test/testmachinery/shoots/operations/containerruntime.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#5643 [release-v1.41] Automated cherry pick of #5640: [ReversedVPN]: Increased maximum number of hosts in the dns cache config of the envoy proxy.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5642 [release-v1.42] Automated cherry pick of #5640: [ReversedVPN]: Increased maximum number of hosts in the dns cache config of the envoy proxy.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5641 [release-v1.43] Automated cherry pick of #5640: [ReversedVPN]: Increased maximum number of hosts in the dns cache config of the envoy proxy.
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5587 Forbids change to shoot.spec.seedName in some cases
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: kind/enhancement, status/accepted, size/m, reviewed/lgtm, area/control-plane-migration

#5648 [release-v1.43] Automated cherry pick of #5645: Disable etcd-main downscaling for Shoots with .spec.purpose=infrastructure
  docs/concepts/etcd.md
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
Labels: kind/enhancement, needs/review, size/xs, needs/ok-to-test, area/auto-scaling

#5647 [release-v1.42] Automated cherry pick of #5645: Disable etcd-main downscaling for Shoots with .spec.purpose=infrastructure
  docs/concepts/etcd.md
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
Labels: kind/enhancement, needs/review, size/xs, needs/ok-to-test, area/auto-scaling

#5632 Deploy the shoot logging stack only after `gardener-resource-manager` becomes ready
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
Labels: kind/bug, needs/review, area/ops-productivity, needs/ok-to-test, size/s

#5651 Add profiling for gardener-seed-admission-controller
  cmd/gardener-seed-admission-controller/app/gardener_seed_admission_controller.go
  docs/monitoring/profiling.md
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller_test.go
Labels: kind/enhancement, needs/ok-to-test, area/quality, reviewed/lgtm, size/s

#5655 [GEP-18] Adapt seed cluster CA secret to new secrets manager
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/botanist.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
Labels: kind/enhancement, area/security, kind/api-change, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5653 Promote `UseDNSRecords` feature gate to GA
  docs/deployment/feature_gates.md
  docs/extensions/dnsrecord.md
  example/20-componentconfig-gardener-controller-manager.yaml
  example/20-componentconfig-gardenlet.yaml
  example/gardener-local/controlplane/values.yaml
  example/gardener-local/gardenlet/values.yaml
  pkg/controllermanager/controller/controllerregistration/seed_control.go
  pkg/controllermanager/controller/controllerregistration/seed_control_test.go
  pkg/features/features.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/dnsresources.go
  pkg/operation/botanist/dnsresources_test.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/shoot.go
  pkg/operation/shoot/shoot_test.go
  plugin/pkg/global/extensionlabels/admission.go
  plugin/pkg/global/extensionvalidation/admission.go
  plugin/pkg/global/extensionvalidation/admission_test.go
Labels: kind/enhancement, size/xl, needs/ok-to-test, reviewed/lgtm, area/networking, ok-to-test

#5652 Add PriorityClass to gardener control plane components
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/controller-manager/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/priorityclass.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/deployment.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm, ok-to-test

#5654 Add profiling for `GRM`
  cmd/gardener-resource-manager/app/app.go
  docs/monitoring/profiling.md
  pkg/resourcemanager/cmd/profiling.go
Labels: kind/enhancement, area/dev-productivity, area/ops-productivity, needs/ok-to-test, reviewed/lgtm, size/s, merge/squash, ok-to-test

#5662 [GEP-18] Drop unused `prometheus-kubelet` secret
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
Labels: kind/enhancement, area/security, size/xs, needs/ok-to-test, reviewed/lgtm, merge/squash

#5665 Implement the core.Object interface for SecretBinding types
  pkg/apis/core/types_secretbinding.go
  pkg/apis/core/types_secretbinding_test.go
  pkg/apis/core/v1alpha1/types_secretbinding.go
  pkg/apis/core/v1alpha1/types_secretbinding_test.go
  pkg/apis/core/v1beta1/types_secretbinding.go
  pkg/apis/core/v1beta1/types_secretbinding_test.go
  plugin/pkg/global/resourcereferencemanager/admission_test.go
  plugin/pkg/managedseed/validator/admission_test.go
Labels: kind/enhancement, kind/api-change, needs/ok-to-test, area/usability, size/m, reviewed/lgtm

#5468 Add a priority class for istiod and istio-ingressgateway.
  charts/istio/istio-ingress/templates/deployment.yaml
  charts/istio/istio-ingress/templates/priorityclass-istioingressgateway.yaml
  charts/istio/istio-ingress/values.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/istio/istio-istiod/templates/priorityclass-istiod.yaml
  charts/istio/istio-istiod/values.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5661 [GEP-18] Adapt `metrics-server` secret to new secrets manager
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/component/metricsserver/metrics_server.go
  pkg/operation/botanist/component/metricsserver/metrics_server_test.go
  pkg/operation/botanist/component/metricsserver/metricsserver_suite_test.go
  pkg/operation/botanist/component/metricsserver/mock/doc.go
  pkg/operation/botanist/component/metricsserver/mock/mocks.go
  pkg/operation/botanist/metricsserver.go
  pkg/operation/botanist/metricsserver_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/shoot/types.go
Labels: size/xl, needs/ok-to-test, reviewed/lgtm

#5670 Clean up deletion of Secrets related to the old logging stack
  pkg/operation/botanist/logging.go
  pkg/operation/seed/seed.go
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, kind/cleanup, area/control-plane

#5677 narrow the promtail k8s pod discovery to kube-system only
  charts/seed-bootstrap/charts/loki/values.yaml
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/templates/promtail-config.tpl.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/logging

#5681 Add handling for SecretBindings in the ExtensionLabels admission plugin
  docs/concepts/apiserver_admission_plugins.md
  docs/extensions/admission.md
  plugin/pkg/global/extensionlabels/admission.go
  plugin/pkg/global/extensionlabels/admission_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#5659 Add vpa-recommender dashboard
  charts/seed-bootstrap/dashboards/vpa-recommender.json
Labels: needs/review, size/xl, needs/ok-to-test, needs/second-opinion

#5684 Add OWNERS files
  .test-defs/OWNERS
  OWNERS
  OWNERS_ALIASES
  extensions/test/testmachinery/OWNERS
  test/testmachinery/OWNERS
Labels: kind/enhancement, area/dev-productivity, needs/ok-to-test, reviewed/lgtm, size/s

#5667 Add validation for locked feature gate
  docs/development/new-kubernetes-version.md
  hack/compare-k8s-feature-gates.sh
  pkg/utils/validation/features/featuregates.go
  pkg/utils/validation/features/featuregates_test.go
Labels: kind/bug, area/ops-productivity, needs/ok-to-test, reviewed/lgtm, size/s, merge/squash

#5666 [GEP-18] Trigger rolling update of Shoot worker nodes when CA rotation is triggered
  docs/usage/shoot_updates.md
  extensions/pkg/controller/worker/machines.go
  extensions/pkg/controller/worker/machines_test.go
  test/e2e/shoot/create_rotate-ca_delete.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5660 [ReversedVPN]: Add several panels to identify issues with DNS cache host limit faster.
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpn-seed-server/envoy-proxy-dashboard.json
Labels: kind/enhancement, size/xl, area/ops-productivity, needs/ok-to-test, needs/second-opinion, area/monitoring, needs/lgtm, area/networking

#5680 Allows creation of source BackupEntries in the seedrestriction admission webhook handler
  docs/deployment/gardenlet_api_access.md
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission.go
  pkg/admissioncontroller/webhooks/admission/seedrestriction/admission_test.go
Labels: kind/enhancement, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane-migration

#5038 Use immutable ConfigMaps/Secrets for gardenlet
  charts/gardener/gardenlet/charts/runtime/templates/_helpers.tpl
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/charts/runtime/templates/configmap-imagevector-overwrite-components.yaml
  charts/gardener/gardenlet/charts/runtime/templates/configmap-imagevector-overwrite.yaml
  charts/gardener/gardenlet/charts/runtime/templates/deployment.yaml
  charts/gardener/gardenlet/charts/runtime/templates/secret-cert.yaml
  charts/gardener/gardenlet/charts/runtime/templates/secret-kubeconfig-garden.yaml
  charts/gardener/gardenlet/charts/runtime/templates/secret-kubeconfig-seed.yaml
  pkg/gardenlet/bootstrap/util/util.go
  pkg/gardenlet/bootstrap/util/util_test.go
  pkg/gardenlet/controller/managedseed/charttest/charttest.go
  pkg/gardenlet/controller/managedseed/charttest/gardenlet_chart_test.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator.go
  pkg/gardenlet/controller/managedseed/managedseed_actuator_test.go
Labels: kind/enhancement, size/xl, needs/ok-to-test, area/quality, reviewed/lgtm, merge/squash

#5679 [GEP-18] Auto-renew secrets which are about to expire
  docs/development/secrets_management.md
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/secrets.go
  pkg/operation/common/types.go
  pkg/operation/seed/seed.go
  pkg/utils/secrets/certificates.go
  pkg/utils/secrets/certificates_test.go
  pkg/utils/secrets/manager/cleanup.go
  pkg/utils/secrets/manager/cleanup_test.go
  pkg/utils/secrets/manager/fake/fake_manager.go
  pkg/utils/secrets/manager/generate.go
  pkg/utils/secrets/manager/generate_test.go
  pkg/utils/secrets/manager/manager.go
  pkg/utils/secrets/manager/manager_test.go
Labels: kind/enhancement, area/security, size/xl, needs/ok-to-test, reviewed/lgtm, merge/squash

#5668 [GEP-18] Adapt `service-account-key` secret to new secrets manager
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/secrets.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/kubecontrollermanager_test.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/utils/secrets/manager/generate.go
  pkg/utils/secrets/manager/generate_test.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#5692 `references.InjectAnnotations` now considers `Secret`s/`ConfigMap`s in projected volumes
  pkg/resourcemanager/controller/garbagecollector/references/references.go
  pkg/resourcemanager/controller/garbagecollector/references/references_test.go
Labels: kind/bug, needs/ok-to-test, area/usability, reviewed/lgtm, size/s

#5688 [GEP-18] Adapt kubeconfig secrets (`gardener{-internal}`, `kube-proxy`)
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/component/gardeneraccess/access.go
  pkg/operation/botanist/component/gardeneraccess/access_test.go
  pkg/operation/botanist/component/gardeneraccess/mock/doc.go
  pkg/operation/botanist/component/gardeneraccess/mock/mocks.go
  pkg/operation/botanist/gardeneraccess.go
  pkg/operation/botanist/gardeneraccess_test.go
  pkg/operation/botanist/kubeproxy.go
  pkg/operation/botanist/kubeproxy_test.go
  pkg/operation/shoot/types.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/l, reviewed/lgtm, merge/squash

#5671 [GEP-18] Adapt `kube-apiserver`, `kube-apiserver-kubelet`, `kube-aggregator`, `kube-apiserver-http-proxy` secrets to new secrets manager
  pkg/operation/botanist/component/kubeapiserver/configmaps.go
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/mock/mocks.go
  pkg/operation/botanist/component/kubeapiserver/secrets.go
  pkg/operation/botanist/component/kubeapiserver/shoot_resources.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
Labels: kind/enhancement, area/security, needs/review, size/xl, needs/ok-to-test, needs/second-opinion, merge/squash

#5673 [GEP-18] Adapt `prometheus` secret to new secrets manager
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/core/values.yaml
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/secrets.go
Labels: kind/enhancement, area/security, needs/review, needs/ok-to-test, size/s, merge/squash

#5669 [GEP-18] Adapt `gardener-resource-manager-server` and its bootstrap kubeconfig secret to new secrets manager
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_suite_test.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
  pkg/utils/secrets/manager/generate.go
  pkg/utils/secrets/manager/generate_test.go
  test/integration/resourcemanager/tokeninvalidator/tokeninvalidator_suite_test.go
Labels: kind/enhancement, area/security, needs/review, needs/ok-to-test, needs/second-opinion, size/l, merge/squash

#5663 Move VPA CRDs from Helm chart to a Golang component
  charts/seed-bootstrap-crds/charts/vpa/Chart.yaml
  charts/seed-bootstrap-crds/charts/vpa/values.yaml
  charts/seed-bootstrap-crds/values.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/crds/Chart.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/crds/templates
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/crds/templates/verticalpodautoscalercheckpoints.yaml
  charts/shoot-core/components/charts/vertical-pod-autoscaler/charts/crds/templates/verticalpodautoscalers.yaml
  pkg/operation/botanist/component/extensions/crds/crds.go
  pkg/operation/botanist/component/vpa/crd.go
  pkg/operation/botanist/component/vpa/crd_test.go
  pkg/operation/botanist/component/vpa/templates/crd-verticalpodautoscalercheckpoints.tpl.yaml
  pkg/operation/botanist/component/vpa/templates/crd-verticalpodautoscalers.tpl.yaml
  pkg/operation/botanist/component/vpa/vpa_suite_test.go
  pkg/operation/seed/seed.go
  pkg/utils/managedresources/registry.go
  pkg/utils/managedresources/registry_test.go
Labels: kind/enhancement, area/dev-productivity, needs/review, size/xl, needs/ok-to-test, needs/second-opinion, area/quality, area/robustness, kind/cleanup, merge/squash

#5682 [GEP-18] Adapt `{alertmanager,prometheus,grafana}-tls` secrets (for ingress) to new secrets manager
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/common/types.go
  pkg/operation/common/utils.go
  pkg/operation/seed/seed.go
Labels: kind/enhancement, area/security, needs/review, needs/rebase, needs/ok-to-test, size/m, merge/squash

#5696 ❄️ De-flake e2e tests by waiting for `Seed` resource getting created
  skaffold.yaml
Labels: needs/ok-to-test, cla: yes, lgtm, approved

#5699 [release-v1.42] Automated cherry pick of #5468: Add priority class for istiod and istio-ingressgateway
  charts/istio/istio-ingress/templates/deployment.yaml
  charts/istio/istio-ingress/templates/priorityclass-istioingressgateway.yaml
  charts/istio/istio-ingress/values.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/istio/istio-istiod/templates/priorityclass-istiod.yaml
  charts/istio/istio-istiod/values.yaml
Labels: area/networking, cla: yes, lgtm

#5698 [release-v1.41] Automated cherry pick of #5468: Add priority class for istiod and istio-ingressgateway
  charts/istio/istio-ingress/templates/deployment.yaml
  charts/istio/istio-ingress/templates/priorityclass-istioingressgateway.yaml
  charts/istio/istio-ingress/values.yaml
  charts/istio/istio-istiod/templates/deployment.yaml
  charts/istio/istio-istiod/templates/priorityclass-istiod.yaml
  charts/istio/istio-istiod/values.yaml
Labels: needs/ok-to-test, cla: yes, lgtm

#5686 [GEP-18] Adapt seed `{aggregate-prometheus,grafana}-tls` secrets (for ingress) to new secrets manager
  pkg/operation/seed/seed.go
Labels: kind/enhancement, area/security, needs/ok-to-test, reviewed/lgtm, size/S, merge/squash, cla: yes, lgtm, approved

#5697 Exclude node from worker healthcheck which are not managed by MCM
  extensions/pkg/controller/healthcheck/worker/helpers.go
  extensions/pkg/controller/healthcheck/worker/helpers_test.go
  extensions/pkg/controller/healthcheck/worker/nodes.go
Labels: needs/ok-to-test, size/M, cla: yes, lgtm, approved

#5687 Add integration test for GRM secret controller
  test/integration/resourcemanager/secret/secret_suite_test.go
  test/integration/resourcemanager/secret/secret_test.go
Labels: kind/enhancement, needs/review, needs/ok-to-test, size/L, area/testing, cla: yes, lgtm, approved

#5689 Remove or adjust memory limits for shoot components
  charts/seed-bootstrap/charts/loki/values.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-admission-controller.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-recommender.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-updater.yaml
  charts/seed-bootstrap/templates/alertmanager/alertmanager.yaml
  charts/seed-bootstrap/templates/grafana/grafana-deployment.yaml
  charts/seed-monitoring/charts/alertmanager/templates/alertmanager.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
  charts/shoot-addons/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/shoot-addons/charts/nginx-ingress/values.yaml
  charts/shoot-core/components/charts/apiserver-proxy/templates/apiserver-proxy-daemonset.yaml
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/deployment.yaml
  charts/shoot-core/components/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler_test.go
  pkg/operation/botanist/component/coredns/coredns.go
  pkg/operation/botanist/component/coredns/coredns_test.go
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager.go
  pkg/operation/botanist/component/kubecontrollermanager/kube_controller_manager_test.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler_test.go
  pkg/operation/botanist/component/nodeproblemdetector/node_problem_detector.go
  pkg/operation/botanist/component/nodeproblemdetector/node_problem_detector_test.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
  pkg/operation/botanist/component/vpnshoot/vpnshoot.go
  pkg/operation/botanist/component/vpnshoot/vpnshoot_test.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
Labels: needs/ok-to-test, size/L, cla: yes, lgtm, approved

#5705 [GEP-18] Remove prometheus client cert from `wanted_secrets.go`
  pkg/operation/botanist/wanted_secrets.go
Labels: area/security, needs/ok-to-test, kind/cleanup, size/S, cla: yes, lgtm, approved

#5695 Split VPA count in dashboard by API version
  charts/seed-bootstrap/dashboards/vpa-recommender.json
Labels: kind/enhancement, needs/review, needs/ok-to-test, needs/second-opinion, area/auto-scaling, cla: yes, lgtm, approved, size/XXL

#5629 [GEP-18] Adapt `etcd-server-cert` and `etcd-client-tls` secrets to new secrets manager
  charts/seed-monitoring/charts/core/charts/prometheus/templates/prometheus.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/seed-monitoring/charts/core/values.yaml
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_suite_test.go
  pkg/operation/botanist/component/etcd/etcd_test.go
  pkg/operation/botanist/component/etcd/mock/mocks.go
  pkg/operation/botanist/component/etcd/monitoring_test.go
  pkg/operation/botanist/component/etcd/waiter_test.go
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
Labels: kind/enhancement, area/security, needs/review, needs/ok-to-test, needs/second-opinion, merge/squash, cla: yes, lgtm, approved, size/XXL

#5691 [GEP-18] Adapt VPN-related secrets to new secrets manager
  pkg/operation/botanist/component/kubeapiserver/deployment.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/secrets.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_suite_test.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
  pkg/operation/botanist/component/vpnshoot/monitoring_test.go
  pkg/operation/botanist/component/vpnshoot/vpnshoot.go
  pkg/operation/botanist/component/vpnshoot/vpnshoot_suite_test.go
  pkg/operation/botanist/component/vpnshoot/vpnshoot_test.go
  pkg/operation/botanist/kubeapiserver.go
  pkg/operation/botanist/kubeapiserver_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/vpnseedserver.go
  pkg/operation/botanist/vpnseedserver_test.go
  pkg/operation/botanist/vpnshoot.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/utils/secrets/alias.go
  pkg/utils/secrets/vpn_tlsauth.go
Labels: kind/enhancement, area/security, needs/review, needs/ok-to-test, needs/second-opinion, merge/squash, cla: yes, lgtm, approved, size/XXL

#5685 🛡 Eliminate client certificate for `dependency-watchdog-probe`
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/dependencywatchdog/access.go
  pkg/operation/botanist/component/dependencywatchdog/access_test.go
  pkg/operation/botanist/component/dependencywatchdog/bootstrap.go
  pkg/operation/botanist/component/dependencywatchdog/bootstrap_test.go
  pkg/operation/botanist/component/kubeapiserver/dependency_watchdog.go
  pkg/operation/botanist/component/kubeapiserver/dependency_watchdog_test.go
  pkg/operation/botanist/dependency_watchdog.go
  pkg/operation/botanist/dependency_watchdog_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
Labels: kind/enhancement, area/security, needs/review, size/XL, needs/ok-to-test, needs/second-opinion, merge/squash, cla: yes, lgtm, approved

#5610 Add integration tests for ManagedResource controller
  example/seed-crds/10-crd-autoscaling.k8s.io_hvpas.yaml
  go.mod
  go.sum
  hack/generate-seed-crds.sh
  test/integration/resourcemanager/managedresource/reconciler_suite_test.go
  test/integration/resourcemanager/managedresource/reconciler_test.go
  vendor/github.com/gardener/hvpa-controller/LICENSE.md
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/hvpa_types.go
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/hvpa_webhook.go
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: needs/review, needs/ok-to-test, needs/second-opinion, kind/test, area/testing, cla: yes, lgtm, approved, size/XXL

#5715 Keep existing `annotations` or `labels` on `ManagedResource`s
  pkg/utils/managedresources/builder/managedresources.go
  pkg/utils/managedresources/builder/resourcemanager_test.go
Labels: kind/enhancement, area/ops-productivity, needs/ok-to-test, size/L, cla: yes, lgtm, approved
