Repository gardener/gardener, pull requests merged in 2022-02, with the labels that each got.

#5360 Update grafana image version
  charts/images.yaml
Labels: kind/enhancement, needs/review, size/xs, needs/ok-to-test, area/monitoring

#5351 Increase the logging integration test logger application memory request
  test/framework/resources/templates/logger-app.yaml.tpl
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/logging

#5365 [release-v1.37] Automated cherry pick of #5354: Delete kube-apiserver-http-proxy secret if ReversedVPN is disabled
  pkg/operation/botanist/secrets.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5367 [release-v1.39] Automated cherry pick of #5354: Delete kube-apiserver-http-proxy secret if ReversedVPN is disabled
  pkg/operation/botanist/secrets.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5361 Fix the `shootHasBastions` check on Shoot deletion
  pkg/controllermanager/controller/bastion/bastion_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: kind/bug, area/ops-productivity, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#5366 [release-v1.38] Automated cherry pick of #5354: Delete kube-apiserver-http-proxy secret if ReversedVPN is disabled
  pkg/operation/botanist/secrets.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5369 [release-v1.39] Automated cherry pick of #5361: Fix the `shootHasBastions` check on Shoot deletion
  pkg/controllermanager/controller/bastion/bastion_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: kind/bug, area/ops-productivity, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#5371 [release-v1.37] Automated cherry pick of #5361: Fix the `shootHasBastions` check on Shoot deletion
  pkg/controllermanager/controller/bastion/bastion_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: kind/bug, area/ops-productivity, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#5370 [release-v1.38] Automated cherry pick of #5361: Fix the `shootHasBastions` check on Shoot deletion
  pkg/controllermanager/controller/bastion/bastion_control.go
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: kind/bug, needs/review, area/ops-productivity, size/xs, needs/ok-to-test, area/quality

#5322 Fix wrongfully added `keep-after-project-deletion` annotation
  docs/usage/projects.md
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/controllermanager/controller/project/project_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
Labels: kind/bug, kind/api-change, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm, merge/squash

#5372 Set lower vpa cpu requests for vpn-shoot pod to 100m
  pkg/operation/botanist/component/vpnshoot/vpnshoot.go
  pkg/operation/botanist/component/vpnshoot/vpnshoot_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5356 Update status in case Bastion blocks Shoot deletion
  pkg/gardenlet/controller/shoot/shoot_control.go
Labels: kind/enhancement, area/ops-productivity, size/xs, needs/ok-to-test, reviewed/lgtm, merge/squash

#5345 Allow Bastion update of finalizer
  plugin/pkg/bastion/validator/admission.go
  plugin/pkg/bastion/validator/admission_test.go
Labels: kind/bug, needs/ok-to-test, area/quality, reviewed/lgtm, size/s, merge/squash

#5373 [CPM IT] Fix the Before calls to be campatible with ginkgo v2
  test/system/shoot_cp_migration/migrate_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane-migration

#5384 Preserve other annotations/labels on shoot `Namespace`s
  pkg/operation/botanist/namespaces.go
  pkg/operation/botanist/namespaces_test.go
Labels: kind/bug, area/ops-productivity, needs/ok-to-test, size/l, reviewed/lgtm, merge/squash

#5385 Revert project controller to use a cached client
  pkg/controllermanager/controller/project/project_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
Labels: kind/enhancement, size/xs, area/quality, reviewed/lgtm

#5379 Increase number of max connections to 8192
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server.go
  pkg/operation/botanist/component/vpnseedserver/vpn_seed_server_test.go
Labels: kind/enhancement, size/xs, reviewed/lgtm, area/networking

#5398 Fix skaffold artifactOverrides for admission-controller
  skaffold.yaml
Labels: kind/bug, area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#5399 Always validate AuditPolicy
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission.go
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_shoot.go
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
Labels: kind/bug, needs/ok-to-test, area/usability, size/l, reviewed/lgtm, merge/squash, priority/3, needs/cherry-pick

#5400 Fix shoot configmap controller
  pkg/controllermanager/controller/shoot/configmap_control.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm, area/scalability, priority/1, needs/cherry-pick

#5406 [release-v1.37] Automated cherry pick of #5400: Fix shoot configmap controller
  pkg/controllermanager/controller/shoot/configmap_control.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm, area/scalability

#5405 [release-v1.38] Automated cherry pick of #5400: Fix shoot configmap controller
  pkg/controllermanager/controller/shoot/configmap_control.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm, area/scalability

#5381 Fixes restoration of worker resource
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane-migration

#5404 [release-v1.39] Automated cherry pick of #5400: Fix shoot configmap controller
  pkg/controllermanager/controller/shoot/configmap_control.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm, area/scalability

#5407 [release-v1.39] Automated cherry pick of #5398: Fix skaffold artifactOverrides for admission-controller
  skaffold.yaml
Labels: kind/bug, area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#5402 [release-v1.38] Automated cherry pick of #5399: Always validate AuditPolicy
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission.go
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_shoot.go
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
Labels: kind/bug, needs/ok-to-test, needs/second-opinion, area/usability, size/l, merge/squash

#5403 [release-v1.37] Automated cherry pick of #5399: Always validate AuditPolicy
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission.go
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_shoot.go
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
Labels: kind/bug, needs/ok-to-test, needs/second-opinion, area/usability, size/l, merge/squash

#5408 [release-v1.39] Automated cherry pick of #5381: Fixes restoration of worker resource
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane-migration, merge/squash

#5401 [release-v1.39] Automated cherry pick of #5399: Always validate AuditPolicy
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission.go
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission_test.go
  pkg/admissioncontroller/webhooks/auth/seed/graph/eventhandler_shoot.go
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
Labels: kind/bug, needs/ok-to-test, needs/second-opinion, area/usability, size/l, merge/squash

#5409 [release-v1.39] Automated cherry pick of #5351: Increase the logging integration test logger application memory request
  test/framework/resources/templates/logger-app.yaml.tpl
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/logging

#5375 Update the DNSRecord Secret on Destroy
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord_test.go
Labels: kind/bug, area/ops-productivity, needs/ok-to-test, area/quality, reviewed/lgtm, size/s

#5392 Drop Shoot ConfigMap controller
  charts/gardener/controlplane/charts/application/templates/mutatingwebhook-admission-controller.yaml
  charts/gardener/controlplane/charts/application/templates/validatingwebhook-admission-controller.yaml
  docs/usage/shoot_auditpolicy.md
  hack/local-development/dev-setup-register-gardener
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission.go
  pkg/admissioncontroller/webhooks/admission/auditpolicy/admission_test.go
  pkg/controllermanager/controller/shoot/configmap_control.go
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_maintenance_control.go
  test/integration/envtest/shootmaintenance/maintenance_control_test.go
  test/integration/envtest/shootmaintenance/maintenance_suite_test.go
  test/integration/envtest/shootmaintenance/utils_test.go
Labels: kind/bug, needs/ok-to-test, area/usability, size/l, reviewed/lgtm, area/scalability, merge/squash

#5341 🛡 Provide some helpful log messages for `TokenInvalidator` and `TokenRequestor`
  pkg/resourcemanager/controller/tokeninvalidator/reconciler.go
  pkg/resourcemanager/controller/tokenrequestor/reconciler.go
  pkg/resourcemanager/controller/tokenrequestor/reconciler_test.go
  pkg/resourcemanager/webhook/tokeninvalidator/add.go
  pkg/resourcemanager/webhook/tokeninvalidator/handler.go
  pkg/resourcemanager/webhook/tokeninvalidator/handler_test.go
Labels: kind/enhancement, area/security, needs/ok-to-test, reviewed/lgtm, size/s, merge/squash

#5416 Fix `invalid status` error on Bastion extension status update
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_bastions.yaml
  pkg/apis/extensions/v1alpha1/types_bastion.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/operation/botanist/component/extensions/crds/templates/crd-bastion.tpl.yaml
Labels: kind/bug, kind/api-change, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm, needs/cherry-pick

#5417 [release-v1.39] Automated cherry pick of #5416: Fix `invalid status` error on Bastion extension status update
  docs/api-reference/extensions.md
  example/seed-crds/10-crd-extensions.gardener.cloud_bastions.yaml
  pkg/apis/extensions/v1alpha1/types_bastion.go
  pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  pkg/operation/botanist/component/extensions/crds/templates/crd-bastion.tpl.yaml
Labels: kind/bug, kind/api-change, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm, merge/squash

#5419 Add a dashboard for API Server request duration and response size
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-request-duration-and-response-size.json
Labels: kind/enhancement, size/xl, area/monitoring, reviewed/lgtm

#5418 Use max instead of sum when counting etcd objects
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-overview.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-api-server-details.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-control-plane-status-dashboard.json
  pkg/operation/botanist/component/etcd/monitoring.go
  pkg/operation/botanist/component/etcd/monitoring_test.go
Labels: kind/enhancement, size/xs, area/monitoring, reviewed/lgtm

#5396 Add new collector configs to node exporter
  charts/shoot-core/components/charts/monitoring/charts/node-exporter/templates/node-exporter.yaml
Labels: kind/enhancement, size/xs, area/monitoring, reviewed/lgtm, ok-to-test

#5393 Better spread coredns across multiple zones
  pkg/operation/botanist/component/coredns/coredns.go
  pkg/operation/botanist/component/coredns/coredns_test.go
Labels: kind/enhancement, area/networking, size/s

#5387 [ReversedVPN] Add dashboard for connection overflows of envoy proxy to reversed-vpn dashboard
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpn-seed-server/envoy-proxy-dashboard.json
Labels: kind/enhancement, needs/ok-to-test, size/m, area/monitoring, reviewed/lgtm, area/networking

#5208 Refactor `nginx-ingress` Helm chart into component
  charts/seed-bootstrap/charts/nginx-ingress/Chart.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/_helpers.tpl
  charts/seed-bootstrap/charts/nginx-ingress/templates/clusterrole.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/clusterrolebinding.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-configmap.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-service.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/default-backend-deployment.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/default-backend-role.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/default-backend-rolebinding.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/default-backend-service.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/ingressclass.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/serviceaccount.yaml
  charts/seed-bootstrap/charts/nginx-ingress/templates/vpa.yaml
  charts/seed-bootstrap/charts/nginx-ingress/values.yaml
  charts/seed-bootstrap/requirements.yaml
  charts/seed-bootstrap/values.yaml
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/component/dependencywatchdog/dependency_watchdog.go
  pkg/operation/botanist/component/dependencywatchdog/dependency_watchdog_test.go
  pkg/operation/botanist/component/nginxingress/nginxingress.go
  pkg/operation/botanist/component/nginxingress/nginxingress_suite_test.go
  pkg/operation/botanist/component/nginxingress/nginxingress_test.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/seed/nginxingress.go
  pkg/operation/seed/seed.go
Labels: area/dev-productivity, needs/changes, kind/api-change, needs/review, size/xl, needs/ok-to-test, needs/second-opinion, platform/all, area/quality, kind/test, area/robustness, kind/technical-debt, merge/squash

#5275 Added option to enable cluster proportional autoscaling of core dns.
  charts/images.yaml
  docs/README.md
  docs/api-reference/core.md
  docs/usage/dns-autoscaling.md
  example/90-shoot.yaml
  pkg/admissioncontroller/webhooks/admission/resourcesize/admission_test.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/defaults.go
  pkg/apis/core/v1alpha1/defaults_test.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/defaults.go
  pkg/apis/core/v1beta1/defaults_test.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/coredns/coredns.go
  pkg/operation/botanist/component/coredns/coredns_test.go
  pkg/operation/botanist/coredns.go
  pkg/operation/botanist/coredns_test.go
  pkg/utils/images/images.go
Labels: kind/enhancement, kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, area/networking

#5424 Keep the _count and _sum series of the histogram metrics
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
Labels: kind/enhancement, needs/ok-to-test, area/monitoring, reviewed/lgtm, needs/lgtm, size/s

#5420 Fix shoot API server dashboard inflight requests pane
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-overview.json
Labels: needs/review, size/xs, needs/ok-to-test, area/monitoring, merge/squash

#5386 [Admission Controller] Add support for projected service account tokens
  charts/gardener/controlplane/charts/application/templates/clusterrolebinding-admission-controller.yaml
  charts/gardener/controlplane/charts/application/templates/serviceaccount-admission-controller.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/admission-controller/serviceaccount.yaml
  charts/gardener/controlplane/values.yaml
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  pkg/client/kubernetes/client.go
Labels: kind/enhancement, area/security, needs/changes, needs/ok-to-test, reviewed/lgtm, size/s, merge/squash

#5430 [Scheduler] Add support for projected service account tokens
  charts/gardener/controlplane/charts/application/templates/clusterrolebinding-scheduler.yaml
  charts/gardener/controlplane/charts/application/templates/serviceaccount-scheduler.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/scheduler/serviceaccount.yaml
  charts/gardener/controlplane/values.yaml
  cmd/gardener-scheduler/app/gardener_scheduler.go
Labels: kind/enhancement, area/security, needs/ok-to-test, reviewed/lgtm, size/s

#5431 [API Server] Add support for projected service account tokens
  charts/gardener/controlplane/charts/application/templates/clusterrolebinding-apiserver-auth-delegator.yaml
  charts/gardener/controlplane/charts/application/templates/clusterrolebinding-apiserver.yaml
  charts/gardener/controlplane/charts/application/templates/rolebinding-apiserver-auth-reader.yaml
  charts/gardener/controlplane/charts/application/templates/serviceaccount-apiserver.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/deployment.yaml
  charts/gardener/controlplane/charts/runtime/templates/apiserver/serviceaccount.yaml
  charts/gardener/controlplane/values.yaml
Labels: kind/enhancement, area/security, needs/review, needs/ok-to-test, size/s

#5433 [release-v1.39] Automated cherry pick of #5345: Allow Bastion update of finalizer
  plugin/pkg/bastion/validator/admission.go
  plugin/pkg/bastion/validator/admission_test.go
Labels: kind/bug, needs/review, needs/ok-to-test, area/quality, size/s, merge/squash

#5426 gardener-controller-manager: Enable the audit policy configmap reference protection by default
  charts/gardener/controlplane/values.yaml
  docs/concepts/controller-manager.md
  pkg/controllermanager/apis/config/v1alpha1/defaults.go
  pkg/controllermanager/apis/config/v1alpha1/defaults_test.go
Labels: area/ops-productivity, size/xs, needs/ok-to-test, reviewed/lgtm, kind/cleanup, area/control-plane

#5428 Increase ginkgo timeout for default serial shoot suite
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/GardenletLandscaper.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/WakeUpShoot.yaml
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, kind/regression, area/testing, merge/squash

#5436 [release-v1.40] Automated cherry pick of #5428: Increase ginkgo timeout for default serial shoot suite
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/GardenletLandscaper.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/WakeUpShoot.yaml
Labels: size/xs, needs/ok-to-test, reviewed/lgtm, kind/regression, area/testing

#5422 🛡 Invalidate `ServiceAccount`s for controllers part of `kube-controller-manager`
  hack/compare-kcm-controllers.sh
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/shootsystem/shootsystem.go
  pkg/operation/botanist/component/shootsystem/shootsystem_suite_test.go
  pkg/operation/botanist/component/shootsystem/shootsystem_test.go
  pkg/operation/botanist/shootsystem.go
  pkg/operation/shoot/types.go
Labels: kind/enhancement, area/security, size/xl, reviewed/lgtm, merge/squash

#5382 Add field selector for `.spec.shootRef` in `Bastion`s
  pkg/apis/operations/field_constants.go
  pkg/apis/operations/v1alpha1/conversions.go
  pkg/controllermanager/controller/bastion/bastion_control.go
  pkg/controllermanager/controller/factory.go
  pkg/gardenlet/controller/factory.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/registry/core/controllerinstallation/strategy_test.go
  pkg/registry/operations/bastion/storage/storage.go
  pkg/registry/operations/bastion/strategy.go
  pkg/registry/operations/bastion/strategy_test.go
Labels: kind/enhancement, area/dev-productivity, needs/ok-to-test, reviewed/lgtm, size/s, area/scalability, merge/squash

#5427 Add gardener control plane authentication docu
  docs/deployment/authentication_gardener_control_plane.md
  docs/deployment/setup_gardener.md
Labels: kind/enhancement, needs/ok-to-test, area/documentation, reviewed/lgtm, size/s, ok-to-test

#5342 🛡 Invalidate static `ServiceAccount` token of `provider-local`
  charts/gardener/provider-local/extension/templates/serviceaccount.yaml
  charts/gardener/provider-local/registration/templates/controller-registration.yaml
  example/provider-local/base/controller-registration.yaml
  pkg/provider-local/controller/network/actuator.go
Labels: kind/enhancement, area/security, size/xs, needs/ok-to-test, reviewed/lgtm, merge/squash

#5389 Introduce validation for max worker node count
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/registry/core/shoot/strategy.go
Labels: kind/enhancement, area/ops-productivity, needs/ok-to-test, size/m, kind/test, reviewed/lgtm, area/networking

#5383 Set `RecoverPanic` to true for controller reconcile
  extensions/pkg/controller/backupbucket/controller.go
  extensions/pkg/controller/backupentry/controller.go
  extensions/pkg/controller/bastion/controller.go
  extensions/pkg/controller/containerruntime/controller.go
  extensions/pkg/controller/controlplane/controller.go
  extensions/pkg/controller/csimigration/controller.go
  extensions/pkg/controller/dnsrecord/controller.go
  extensions/pkg/controller/extension/controller.go
  extensions/pkg/controller/healthcheck/controller.go
  extensions/pkg/controller/infrastructure/controller.go
  extensions/pkg/controller/network/controller.go
  extensions/pkg/controller/operatingsystemconfig/controller.go
  extensions/pkg/controller/operatingsystemconfig/oscommon/add.go
  extensions/pkg/controller/worker/controller.go
  landscaper/cmd/landscaper-controlplane/app/landscaper-controlplane.go
  landscaper/cmd/landscaper-gardenlet/app/landscaper-gardenlet.go
  pkg/provider-local/controller/dnsprovider/add.go
  pkg/provider-local/controller/node/add.go
  pkg/provider-local/controller/service/add.go
  pkg/resourcemanager/controller/garbagecollector/add.go
  pkg/resourcemanager/controller/health/add.go
  pkg/resourcemanager/controller/managedresource/add.go
  pkg/resourcemanager/controller/rootcapublisher/add.go
  pkg/resourcemanager/controller/secret/add.go
  pkg/resourcemanager/controller/tokeninvalidator/add.go
  pkg/resourcemanager/controller/tokenrequestor/add.go
  pkg/scheduler/controller/shoot/scheduler.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/open-source, reviewed/lgtm

#5445 Add metrics about the costs of handling LIST requests
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#5446 Change the Throttle factor to Throttle %
  charts/seed-monitoring/charts/grafana/dashboards/operators/kubernetes-pods-dashboard.json
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm, needs/lgtm

#5337 Drop logging feature gate
  docs/deployment/configuring_logging.md
  docs/deployment/feature_gates.md
  docs/development/local_setup.md
  example/20-componentconfig-gardenlet.yaml
  example/gardener-local/gardenlet/values.yaml
  landscaper/pkg/gardenlet/generate/openapi/openapi_generated.go
  pkg/features/features.go
  pkg/gardenlet/apis/config/helper/helpers.go
  pkg/gardenlet/apis/config/helper/helpers_test.go
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/gardenlet/controller/managedseed/managedseed_valueshelper_test.go
  pkg/gardenlet/controller/shoot/seed_registration_control_test.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/logging.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/care/health.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/shoot.go
Labels: kind/enhancement, needs/changes, needs/review, needs/ok-to-test, area/usability, size/m, kind/test, merge/squash

#5438 Refactor `kube-proxy` Helm chart into component
  charts/seed-bootstrap/charts/fluent-bit/templates/_helpers.tpl
  charts/seed-monitoring/charts/core/charts/prometheus/rules/kube-proxy.rules.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/templates/config.yaml
  charts/seed-monitoring/charts/core/charts/prometheus/values.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/_helpers.tpl
  charts/shoot-core/components/charts/kube-proxy/templates/_proxy_mode.tpl
  charts/shoot-core/components/charts/kube-proxy/templates/componentconfig.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/conntrack-fix-script.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-cleanup-script.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-daemonset.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-secret.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-service.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-serviceaccount.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/kube-proxy-vpa.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/psp/kube-proxy-clusterrole.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/psp/kube-proxy-psp.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/psp/kube-proxy-rolebinding.yaml
  charts/shoot-core/components/charts/kube-proxy/templates/rbac.yaml
  charts/shoot-core/components/charts/kube-proxy/values.yaml
  charts/shoot-core/components/values.yaml
  charts/utils-templates/templates/_versions.tpl
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/kubeproxy/configcodec.go
  pkg/operation/botanist/component/kubeproxy/configcodec_test.go
  pkg/operation/botanist/component/kubeproxy/kube_proxy.go
  pkg/operation/botanist/component/kubeproxy/kube_proxy_suite_test.go
  pkg/operation/botanist/component/kubeproxy/kube_proxy_test.go
  pkg/operation/botanist/component/kubeproxy/logging.go
  pkg/operation/botanist/component/kubeproxy/logging_test.go
  pkg/operation/botanist/component/kubeproxy/mock/doc.go
  pkg/operation/botanist/component/kubeproxy/mock/mocks.go
  pkg/operation/botanist/component/kubeproxy/monitoring.go
  pkg/operation/botanist/component/kubeproxy/monitoring_test.go
  pkg/operation/botanist/component/kubeproxy/resources.go
  pkg/operation/botanist/component/kubeproxy/resources/cleanup.sh
  pkg/operation/botanist/component/kubeproxy/resources/conntrack-fix.sh
  pkg/operation/botanist/component/test/monitoringcomponent.go
  pkg/operation/botanist/kubeproxy.go
  pkg/operation/botanist/kubeproxy_test.go
  pkg/operation/botanist/monitoring.go
  pkg/operation/care/checker.go
  pkg/operation/care/health.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
  pkg/provider-local/webhook/shoot/kube_proxy.go
  pkg/provider-local/webhook/shoot/mutator.go
Labels: kind/enhancement, area/dev-productivity, kind/api-change, size/xl, needs/ok-to-test, platform/all, area/quality, exp/intermediate, kind/test, reviewed/lgtm, area/robustness, kind/technical-debt, topology/seed, merge/squash

#5450 Add a size based retention policy to the aggregate prometheus
  charts/seed-bootstrap/templates/aggregate-prometheus/statefulset.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, needs/lgtm

#5451 Make Worker status update more resilient
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/update.go
  extensions/pkg/controller/worker/genericactuator/update_test.go
Labels: kind/bug, needs/ok-to-test, area/quality, size/m, reviewed/lgtm

#5455 [release-v1.39] Automated cherry pick of #5451: Make Worker status update more resilient
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/update.go
  extensions/pkg/controller/worker/genericactuator/update_test.go
Labels: kind/bug, needs/review, needs/ok-to-test, area/quality, size/m

#5437 Fix invalid node check when pool overwrites Kubernetes version
  pkg/operation/care/checker.go
  pkg/operation/care/health_check_test.go
Labels: kind/bug, area/ops-productivity, needs/ok-to-test, reviewed/lgtm, size/s

#5447 Classify duplicate and overlapping zones as configuration errors
  pkg/apis/core/v1beta1/helper/errors.go
Labels: needs/ok-to-test, reviewed/lgtm

#5458 Bump envtest binaries to v1.23
  hack/test-integration.sh
Labels: kind/enhancement, needs/review, size/xs, needs/ok-to-test, area/open-source

#5349 Add feature flag `DisableDNSProviderManagement`
  docs/deployment/feature_gates.md
  example/20-componentconfig-gardenlet.yaml
  pkg/features/features.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/gardenlet/features/features.go
  pkg/operation/botanist/dns.go
  pkg/operation/botanist/dnsresources_test.go
Labels: needs/ok-to-test, kind/task, reviewed/lgtm, size/s, area/control-plane

#5456 Set default resource lock to leases for extensions
  extensions/pkg/controller/cmd/options.go
  extensions/pkg/controller/cmd/options_test.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5465 Prevent `cloud-controller-manager`-related `ServiceAccount`s from being invalidated for Kubernetes < 1.21
  docs/development/new-kubernetes-version.md
  hack/compare-k8s-controllers.sh
  pkg/operation/botanist/component/shootsystem/shootsystem.go
  pkg/operation/botanist/component/shootsystem/shootsystem_test.go
  pkg/utils/version/version.go
Labels: kind/bug, area/security, needs/ok-to-test, reviewed/lgtm, size/s

#5471 Properly restore multiple machines if present in the worker state
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane-migration, merge/squash, needs/cherry-pick

#5473 [release-v1.39] Automated cherry pick of #5471: Properly restore multiple machines if present in the worker state
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane-migration

#5474 [release-v1.40] Automated cherry pick of #5471: Properly restore multiple machines if present in the worker state
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/genericactuator/actuator_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane-migration

#5489 Update release responsible plan
  docs/development/process.md
Labels: kind/enhancement, area/delivery, size/xs, reviewed/lgtm

#5485 [release-v1.40] Automated cherry pick of #5482: Set ingress DNSRecord component values even if the addon is disabled
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord.go
  pkg/operation/botanist/component/extensions/dnsrecord/mock/mocks.go
  pkg/operation/botanist/dnsrecord_test.go
Labels: kind/bug, reviewed/do-not-merge, needs/review, needs/ok-to-test, area/quality, size/m

#5482 Set ingress DNSRecord component values even if the addon is disabled
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord.go
  pkg/operation/botanist/component/extensions/dnsrecord/mock/mocks.go
  pkg/operation/botanist/dnsrecord_test.go
Labels: kind/bug, area/quality, size/m, reviewed/lgtm

#5449 [GEP-18] Infrastructural preparations
  docs/api-reference/core.md
  docs/deployment/feature_gates.md
  example/20-componentconfig-gardenlet.yaml
  example/gardener-local/controlplane/values.yaml
  example/gardener-local/gardenlet/values.yaml
  hack/local-development/start-apiserver
  hack/test-e2e-local.sh
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/types_common.go
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/constants/types_constants.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/helper/helper.go
  pkg/apis/core/v1beta1/helper/helper_test.go
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/apiserver/features/features.go
  pkg/features/features.go
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/features/features.go
  pkg/openapi/openapi_generated.go
  pkg/registry/core/shoot/shoot_suite_test.go
  pkg/registry/core/shoot/strategy.go
  pkg/registry/core/shoot/strategy_test.go
  test/e2e/shoot/create_rotate-ca_delete.go
Labels: kind/enhancement, area/security, kind/api-change, size/xl, reviewed/lgtm, merge/squash

#5477 Improve Grafana panels regarding Request latency
  charts/seed-monitoring/charts/grafana/dashboards/owners/apiserver-overview.json
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-control-plane-status-dashboard.json
Labels: kind/enhancement, size/xs, area/monitoring, reviewed/lgtm, merge/squash

#5425 Use secretref to provide bootstrap kubeconfig
  charts/gardener/gardenlet/charts/runtime/templates/configmap-componentconfig.yaml
  charts/gardener/gardenlet/charts/runtime/templates/deployment.yaml
  charts/gardener/gardenlet/charts/runtime/templates/secret-kubeconfig-garden-bootstrap.yaml
  charts/gardener/gardenlet/values.yaml
Labels: kind/enhancement, area/ops-productivity, size/xs, area/usability, reviewed/lgtm, merge/squash, ok-to-test

#5466 Destroy gardener-resource-manager early in the shoot deletion flow
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/controlplane.go
Labels: kind/enhancement, area/ops-productivity, size/xs, reviewed/lgtm

#5476 Update to golang@1.17.7
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/GardenletLandscaper.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  Dockerfile.local
Labels: reviewed/lgtm, size/s

#5484 Fix cleaning K8s resources
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/client_test.go
Labels: kind/bug, reviewed/lgtm, size/s, area/control-plane, needs/cherry-pick

#5470 Return /var/log/journal when /run/log/journal is missing in the Promtail service configuration
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config.go
Labels: kind/enhancement, needs/review, size/xs, area/logging

#5467 Add VPA-recommender scrape config to seed-prometheus
  charts/seed-bootstrap/charts/monitoring/templates/config.yaml
  charts/seed-bootstrap/charts/vpa/charts/runtime/templates/deployment-recommender.yaml
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#5493 [release-v1.41] Automated cherry pick of #5482: Set ingress DNSRecord component values even if the addon is disabled
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/addons_test.go
  pkg/operation/botanist/component/extensions/dnsrecord/dnsrecord.go
  pkg/operation/botanist/component/extensions/dnsrecord/mock/mocks.go
  pkg/operation/botanist/dnsrecord_test.go
Labels: kind/bug, needs/ok-to-test, area/quality, size/m, reviewed/lgtm

#5478 Replace -ginkgo.noColor with -ginkgo.no-color
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/GardenletLandscaper.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  docs/development/testmachinery_tests.md
  docs/proposals/09-test-framework.md
Labels: needs/review, needs/ok-to-test, kind/cleanup, size/s, area/testing

#5492 [release-v1.39] Automated cherry pick of #5484: Fix cleaning K8s resources
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/client_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#5491 [release-v1.40] Automated cherry pick of #5484: Fix cleaning K8s resources
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/client_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#5490 [release-v1.41] Automated cherry pick of #5484: Fix cleaning K8s resources
  pkg/utils/kubernetes/client/client.go
  pkg/utils/kubernetes/client/client_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#5380 Add ready check for Webhook server
  charts/gardener/provider-local/extension/templates/deployment.yaml
  charts/gardener/provider-local/extension/values.yaml
  charts/gardener/provider-local/registration/templates/controller-registration.yaml
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-extension-provider-local/app/app.go
  cmd/gardener-resource-manager/app/app.go
  cmd/gardener-seed-admission-controller/app/gardener_seed_admission_controller.go
  example/provider-local/base/controller-registration.yaml
  extensions/pkg/controller/cmd/options.go
  extensions/pkg/controller/cmd/options_test.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller.go
  pkg/operation/botanist/component/seedadmissioncontroller/seedadmissioncontroller_test.go
  pkg/resourcemanager/readyz/add.go
Labels: kind/enhancement, needs/ok-to-test, area/open-source, size/m, reviewed/lgtm

#5488 Switch controller-manager to logr (4)
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/project/project.go
  pkg/controllermanager/controller/project/project_activity_control.go
  pkg/controllermanager/controller/project/project_activity_control_test.go
  pkg/controllermanager/controller/project/project_control.go
  pkg/controllermanager/controller/project/project_control_delete.go
  pkg/controllermanager/controller/project/project_control_reconcile.go
  pkg/controllermanager/controller/project/project_control_test.go
  pkg/controllermanager/controller/project/project_stale_control.go
  pkg/controllermanager/controller/project/project_stale_control_test.go
  pkg/controllermanager/controller/project/rolebinding_control.go
  pkg/controllermanager/controller/project/rolebinding_control_test.go
  pkg/controllermanager/controller/quota/quota.go
  pkg/controllermanager/controller/quota/quota_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding.go
  pkg/controllermanager/controller/secretbinding/secretbinding_control.go
  pkg/controllermanager/controller/secretbinding/secretbinding_provider_control.go
  pkg/controllermanager/controller/seed/seed.go
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile.go
  pkg/controllermanager/controller/seed/seed_backup_bucket_reconcile_test.go
  pkg/controllermanager/controller/seed/seed_garden_secret_mapper.go
  pkg/controllermanager/controller/seed/seed_lifecycle_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile.go
  pkg/controllermanager/controller/seed/seed_reconcile_test.go
Labels: kind/enhancement, area/dev-productivity, size/xl, needs/ok-to-test, reviewed/lgtm, area/logging, merge/squash
