Repository gardener/gardener, pull requests merged in 2022-01, with the labels that each got.

#5169 Expose ignore taints
  docs/api-reference/core.md
  docs/usage/shoot_autoscaling.md
  example/90-shoot.yaml
  pkg/apis/core/types_shoot.go
  pkg/apis/core/v1alpha1/generated.pb.go
  pkg/apis/core/v1alpha1/generated.proto
  pkg/apis/core/v1alpha1/types_shoot.go
  pkg/apis/core/v1alpha1/zz_generated.conversion.go
  pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/core/v1beta1/generated.pb.go
  pkg/apis/core/v1beta1/generated.proto
  pkg/apis/core/v1beta1/types_shoot.go
  pkg/apis/core/v1beta1/zz_generated.conversion.go
  pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/apis/core/validation/shoot.go
  pkg/apis/core/validation/shoot_test.go
  pkg/apis/core/zz_generated.deepcopy.go
  pkg/openapi/api_violations.report
  pkg/openapi/openapi_generated.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler.go
  pkg/operation/botanist/component/clusterautoscaler/cluster_autoscaler_test.go
Labels: kind/api-change, size/xl, needs/ok-to-test, reviewed/lgtm, area/auto-scaling, merge/squash

#5211 Fix VPA dashboard
  charts/seed-monitoring/charts/grafana/dashboards/operators/vpa-dashboard.json
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test, area/monitoring

#5215 Fix apiserver_latency_seconds:quantile recording rule
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
Labels: kind/bug, needs/ok-to-test, area/monitoring

#5223 Fix formating bug for seed nginx-ingress controller deployment
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5224 [release-v1.38] Automated cherry pick of #5223: Fix formating bug for seed nginx-ingress controller deployment
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5225 [release-v1.37] Automated cherry pick of #5223: Fix formating bug for seed nginx-ingress controller deployment
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5226 [release-v1.36] Automated cherry pick of #5223: Fix formating bug for seed nginx-ingress controller deployment
  charts/seed-bootstrap/charts/nginx-ingress/templates/controller-deployment.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5162 🛡 Preparations for allowing extension controllers eliminating static credentials
  extensions/pkg/controller/cmd/options.go
  extensions/pkg/controller/cmd/options_test.go
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/utils_test.go
  extensions/pkg/util/shoot.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/gardenlet/controller/factory.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/m, kind/test, reviewed/lgtm, merge/squash

#5228 Revert hvpa-controller to use static `ServiceAccount` token
  charts/seed-bootstrap/charts/hvpa/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/hvpa/values.yaml
Labels: kind/bug, area/security, size/xs, needs/ok-to-test, reviewed/lgtm, kind/regression, area/control-plane

#5232 [release-v1.38] Automated cherry pick of #5228: Revert hvpa-controller to use static `ServiceAccount` token
  charts/seed-bootstrap/charts/hvpa/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/hvpa/values.yaml
Labels: kind/bug, area/security, size/xs, needs/ok-to-test, reviewed/lgtm, kind/regression, area/control-plane

#5206 Fix start-up of local garden
  hack/local-development/common/helpers
  hack/local-development/local-garden/start.sh
Labels: kind/bug, area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#5231 Update to golang@1.17.6
  .test-defs/CreateManagedSeed.yaml
  .test-defs/CreateShoot.yaml
  .test-defs/DeleteManagedSeed.yaml
  .test-defs/DeleteShoot.yaml
  .test-defs/GardenletLandscaper.yaml
  .test-defs/HibernateShoot.yaml
  .test-defs/MigrateShoot.yaml
  .test-defs/ReconcileShoots.yaml
  .test-defs/ShootKubernetesUpdateTest.yaml
  .test-defs/TestSuiteGardenerBeta.yaml
  .test-defs/TestSuiteGardenerBetaSerial.yaml
  .test-defs/TestSuiteGardenerDefault.yaml
  .test-defs/TestSuiteGardenerDefaultSerial.yaml
  .test-defs/TestSuiteGardenerRelease.yaml
  .test-defs/TestSuiteGardenerReleaseSerial.yaml
  .test-defs/TestSuiteShootBeta.yaml
  .test-defs/TestSuiteShootBetaDisruptive.yaml
  .test-defs/TestSuiteShootBetaSerial.yaml
  .test-defs/TestSuiteShootDefault.yaml
  .test-defs/TestSuiteShootDefaultDisruptive.yaml
  .test-defs/TestSuiteShootDefaultSerial.yaml
  .test-defs/TestSuiteShootRelease.yaml
  .test-defs/TestSuiteShootReleaseDisruptive.yaml
  .test-defs/TestSuiteShootReleaseSerial.yaml
  .test-defs/WakeUpShoot.yaml
  Dockerfile
  Dockerfile.local
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#5230 [release-v1.36] Automated cherry pick of #5126: gardenlet: Switch update strategy when syncing Shoot Secrets to the garden cluster
  pkg/operation/botanist/secrets.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#5229 [release-v1.37] Automated cherry pick of #5126: gardenlet: Switch update strategy when syncing Shoot Secrets to the garden cluster
  pkg/operation/botanist/secrets.go
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test, area/quality

#5235 README.md: Remove statement about K8s e2e tests
  README.md
Labels: size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm, kind/cleanup

#5220 Promote `AdminKubeconfigRequest` feature gate to beta
  docs/deployment/feature_gates.md
  docs/proposals/16-adminkubeconfig-subresource.md
  hack/local-development/start-apiserver
  pkg/apiserver/features/features.go
  pkg/features/features.go
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm, merge/squash

#5209 Set operation annotation when scaling etcd
  pkg/client/kubernetes/scaling.go
  pkg/client/kubernetes/scaling_test.go
  pkg/operation/botanist/etcd_test.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane

#5213 Add priority for default-domains to select which default-domain is used for new shoots
  docs/usage/configuration.md
  example/10-secret-default-domain.yaml
  pkg/utils/gardener/dns.go
  plugin/pkg/shoot/dns/admission.go
  plugin/pkg/shoot/dns/admission_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s, ok-to-test

#5238 [release-v1.37] Automated cherry pick of #5209: Set operation annotation when scaling etcd
  pkg/client/kubernetes/scaling.go
  pkg/client/kubernetes/scaling_test.go
  pkg/operation/botanist/etcd_test.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane

#5237 [release-v1.38] Automated cherry pick of #5209: Set operation annotation when scaling etcd
  pkg/client/kubernetes/scaling.go
  pkg/client/kubernetes/scaling_test.go
  pkg/operation/botanist/etcd_test.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane

#5163 🛡 Adapt generic {`Worker`,`ControlPlane`} actuators and `terraformer` library for elimination of static credentials
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/machine_controller_manager.go
  extensions/pkg/terraformer/config.go
  extensions/pkg/terraformer/mock/mocks.go
  extensions/pkg/terraformer/terraformer.go
  extensions/pkg/terraformer/types.go
  pkg/provider-local/controller/controlplane/add.go
  pkg/provider-local/controller/worker/actuator.go
Labels: kind/enhancement, area/security, needs/ok-to-test, size/l, reviewed/lgtm, merge/squash

#5244 Prevent e2e test to succeed if only deletion fails
  hack/test-e2e-local.sh
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/testing

#5241 Fix unmanaged primary DNS provider
  plugin/pkg/global/extensionvalidation/admission.go
  plugin/pkg/global/extensionvalidation/admission_test.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/usability, reviewed/lgtm

#5245 Fix `make docker-images`
  Dockerfile
Labels: kind/bug, area/dev-productivity, needs/review, size/xs, needs/ok-to-test, area/quality, kind/regression

#5243 Fix timestamp expectation when scaling etcd
  pkg/client/kubernetes/scaling.go
  pkg/client/kubernetes/scaling_test.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
  pkg/operation/botanist/component/etcd/mock/mocks.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
Labels: needs/ok-to-test, size/l, reviewed/lgtm, kind/regression, area/control-plane, merge/squash, needs/cherry-pick

#5246 Do not bootstrap GRM when shoot is hibernated
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
Labels: area/security, needs/ok-to-test, reviewed/lgtm, kind/regression, size/s

#5248 [release-v1.38] Automated cherry pick of #5243: Fix timestamp expectation when scaling etcd
  pkg/client/kubernetes/scaling.go
  pkg/client/kubernetes/scaling_test.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
  pkg/operation/botanist/component/etcd/mock/mocks.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
Labels: needs/ok-to-test, size/l, reviewed/lgtm, kind/regression, area/control-plane

#5247 [release-v1.37] Automated cherry pick of #5243: Fix timestamp expectation when scaling etcd
  pkg/client/kubernetes/scaling.go
  pkg/client/kubernetes/scaling_test.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/component/etcd/etcd.go
  pkg/operation/botanist/component/etcd/etcd_test.go
  pkg/operation/botanist/component/etcd/mock/mocks.go
  pkg/operation/botanist/etcd.go
  pkg/operation/botanist/etcd_test.go
Labels: needs/ok-to-test, size/l, reviewed/lgtm, kind/regression, area/control-plane

#4799 Eliminate `Try{Update,Patch}*`
  extensions/pkg/controller/backupentry/reconciler.go
  extensions/pkg/controller/containerruntime/reconciler.go
  extensions/pkg/controller/controlplane/reconciler.go
  extensions/pkg/controller/dnsrecord/reconciler.go
  extensions/pkg/controller/extension/reconciler.go
  extensions/pkg/controller/healthcheck/reconciler.go
  extensions/pkg/controller/network/reconciler.go
  extensions/pkg/controller/operatingsystemconfig/reconciler.go
  extensions/pkg/controller/status.go
  extensions/pkg/controller/status_test.go
  extensions/pkg/controller/utils.go
  extensions/pkg/controller/utils_test.go
  extensions/pkg/controller/worker/genericactuator/actuator.go
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  extensions/pkg/controller/worker/state_actuator.go
  extensions/test/integration/healthcheck/healthcheck_operation.go
  pkg/controllerutils/patch.go
  pkg/controllerutils/patch_test.go
  pkg/controllerutils/update.go
  pkg/controllerutils/update_test.go
  pkg/resourcemanager/controller/health/reconciler.go
  pkg/resourcemanager/controller/managedresource/reconciler.go
  pkg/resourcemanager/controller/secret/reconciler.go
  pkg/resourcemanager/controller/secret/reconciler_test.go
  pkg/utils/test/test.go
Labels: kind/api-change, size/xl, needs/ok-to-test, area/quality, reviewed/lgtm, kind/cleanup, area/scalability, merge/squash

#5257 Expose networking-type flag in CreateShoot test step
  .test-defs/CreateShoot.yaml
  test/framework/shootcreationframework.go
Labels: size/xs, kind/test, reviewed/lgtm, area/testing

#5251 Add check-docforge step on two additional verify flows
  .ci/verify
Labels: kind/enhancement, size/xs, area/documentation, reviewed/lgtm

#5253 logging: Reflect recent ServiceAccount changes to the integration test
  test/integration/shoots/logging/seed_logging_stack.go
Labels: kind/bug, reviewed/lgtm, kind/regression, size/s, area/testing

#5261 [release-v1.37] Automated cherry pick of #5253: logging: Reflect recent ServiceAccount changes to the integration test
  test/integration/shoots/logging/seed_logging_stack.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, kind/regression, size/s, area/testing

#5260 [release-v1.38] Automated cherry pick of #5253: logging: Reflect recent ServiceAccount changes to the integration test
  test/integration/shoots/logging/seed_logging_stack.go
Labels: kind/bug, needs/review, needs/ok-to-test, kind/regression, size/s, area/testing

#5258 Add disk size information to local provider docs
  docs/deployment/getting_started_locally.md
  docs/development/getting_started_locally.md
Labels: kind/enhancement, size/xs, area/documentation, reviewed/lgtm

#5263 Add projected volumes to psp for kube-proxy
  charts/shoot-core/components/charts/kube-proxy/templates/psp/kube-proxy-psp.yaml
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/networking

#5265 [release-v1.38] Automated cherry pick of #5263: Add projected volumes to psp for kube-proxy
  charts/shoot-core/components/charts/kube-proxy/templates/psp/kube-proxy-psp.yaml
Labels: kind/bug, needs/review, size/xs, needs/ok-to-test, area/networking

#5264 [release-v1.37] Automated cherry pick of #5131: Several improvements for the `resources.gardener.cloud/preserve-{replicas,resources}` option for managed resources
  docs/concepts/resource-manager.md
  pkg/apis/resources/v1alpha1/types.go
  pkg/resourcemanager/controller/managedresource/merger.go
  pkg/resourcemanager/controller/managedresource/merger_test.go
Labels: kind/bug, kind/enhancement, kind/api-change, needs/ok-to-test, size/m, reviewed/lgtm, area/scalability

#5262 Nit: Replace usage of "Packet" with "Equinix Metal"
  docs/development/new-cloud-provider.md
  example/90-shoot.yaml
  extensions/README.md
Labels: size/xs, reviewed/lgtm, kind/cleanup

#5269 Bootstrap GRM when deleting hibernated shoot
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/component/resourcemanager/mock/mocks.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
Labels: kind/bug, needs/ok-to-test, area/usability, size/m, reviewed/lgtm, merge/squash

#5266 Add nodeTemplate to MachineClass CRD
  extensions/pkg/controller/worker/templates/machineclasses.tpl.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane, merge/squash

#5256 Pass effective kubelet version to `controlplane` ensurer
  extensions/pkg/controller/csimigration/README.md
  extensions/pkg/webhook/controlplane/genericmutator/mock/mocks.go
  extensions/pkg/webhook/controlplane/genericmutator/mutator.go
  extensions/pkg/webhook/controlplane/genericmutator/mutator_test.go
  extensions/pkg/webhook/controlplane/genericmutator/noopensurer.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/provider-local/webhook/controlplane/ensurer.go
Labels: kind/enhancement, needs/ok-to-test, area/usability, size/m, reviewed/lgtm, merge/squash

#5219 Promote `UseDNSRecords` feature gate to beta
  docs/deployment/feature_gates.md
  docs/extensions/dnsrecord.md
  hack/local-development/start-apiserver
  pkg/apiserver/features/features.go
  pkg/controllermanager/features/features.go
  pkg/features/features.go
  pkg/gardenlet/features/features.go
  plugin/pkg/global/extensionvalidation/admission_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, merge/squash

#5236 Exclude the portforward and exec subresource from the KubeApiServerLatency alert
  pkg/operation/botanist/component/kubeapiserver/monitoring.go
  pkg/operation/botanist/component/kubeapiserver/monitoring_test.go
Labels: kind/enhancement, status/author-action, needs/review, size/xs, area/monitoring

#5278 Update the release schedule
  docs/development/process.md
Labels: size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm

#5204 Refactor `node-problem-detector` Helm chart into component
  charts/seed-bootstrap/charts/fluent-bit/templates/_helpers.tpl
  charts/shoot-core/components/charts/node-problem-detector/templates/clusterrole.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/clusterrolebinding.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/daemonset.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/psp-clusterrole.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/psp-clusterrolebinding.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/psp.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/serviceaccount.yaml
  charts/shoot-core/components/charts/node-problem-detector/templates/vpa.yaml
  charts/shoot-core/components/charts/node-problem-detector/values.yaml
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/addons.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/nodeproblemdetector/logging.go
  pkg/operation/botanist/component/nodeproblemdetector/logging_test.go
  pkg/operation/botanist/component/nodeproblemdetector/node_problem_detector.go
  pkg/operation/botanist/component/nodeproblemdetector/node_problem_detector_suit_test.go
  pkg/operation/botanist/component/nodeproblemdetector/node_problem_detector_test.go
  pkg/operation/botanist/nodeproblemdetector.go
  pkg/operation/botanist/nodeproblemdetector_test.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
Labels: area/dev-productivity, size/xl, needs/ok-to-test, area/quality, kind/test, reviewed/lgtm, area/robustness, kind/technical-debt

#5268 Switch controller-manager to logr (2)
  pkg/controllermanager/controller/controllerdeployment/controllerdeployment.go
  pkg/controllermanager/controller/controllerdeployment/controllerdeployment_control.go
  pkg/controllermanager/controller/controllerdeployment/controllerdeployment_control_test.go
  pkg/controllermanager/controller/controllerregistration/backupbucket_control.go
  pkg/controllermanager/controller/controllerregistration/backupbucket_control_test.go
  pkg/controllermanager/controller/controllerregistration/backupentry_control.go
  pkg/controllermanager/controller/controllerregistration/backupentry_control_test.go
  pkg/controllermanager/controller/controllerregistration/controllerdeployment_control.go
  pkg/controllermanager/controller/controllerregistration/controllerinstallation_control.go
  pkg/controllermanager/controller/controllerregistration/controllerinstallation_control_test.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_finalizer_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_finalizer_control_test.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration_seed_control_test.go
  pkg/controllermanager/controller/controllerregistration/seed_control.go
  pkg/controllermanager/controller/controllerregistration/seed_control_test.go
  pkg/controllermanager/controller/controllerregistration/seed_finalizer_control.go
  pkg/controllermanager/controller/controllerregistration/seed_finalizer_control_test.go
  pkg/controllermanager/controller/controllerregistration/shoot_control.go
  pkg/controllermanager/controller/controllerregistration/shoot_control_test.go
  pkg/controllermanager/controller/factory.go
Labels: kind/enhancement, area/dev-productivity, size/xl, needs/ok-to-test, reviewed/lgtm, area/logging, merge/squash

#5255 Support for Kubernetes v1.23
  README.md
  charts/istio/istio-ingress/templates/autoscale.yaml
  charts/shoot-addons/charts/kubernetes-dashboard/templates/deployment-metrics-scraper.yaml
  charts/utils-templates/templates/_versions.tpl
  docs/usage/supported_k8s_versions.md
  example/provider-local/base/cloudprofile.yaml
  example/provider-local/shoot.yaml
  hack/compare-k8s-feature-gates.sh
  hack/test-e2e-local.sh
  pkg/client/kubernetes/client.go
  pkg/operation/botanist/component/coredns/coredns.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config_test.go
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler.go
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler_bootstrap.go
  pkg/operation/botanist/component/gardenerkubescheduler/gardener_kube_scheduler_test.go
  pkg/operation/botanist/component/istio/ingress_gateway_test.go
  pkg/operation/botanist/component/kubeapiserver/horizontalpodautoscaler.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler.go
  pkg/operation/botanist/component/kubescheduler/kube_scheduler_test.go
  pkg/utils/kubernetes/featuregates.go
  pkg/utils/kubernetes/tls_cipher_suites.go
  pkg/utils/kubernetes/tls_cipher_suites_test.go
  pkg/utils/version/version.go
Labels: kind/enhancement, topology/garden, needs/ok-to-test, area/open-source, area/usability, topology/shoot, exp/intermediate, size/l, reviewed/lgtm, topology/seed, merge/squash

#5186 Add APIServer Network Policy to Blackbox Exporter
  charts/shoot-core/components/charts/monitoring/charts/blackbox-exporter/templates/deployment.yaml
Labels: kind/bug, status/author-action, kind/api-change, needs/review, size/xs, needs/ok-to-test, needs/second-opinion, area/monitoring, ok-to-test

#5234 Add `Created` condition to `DNSRecord` to allow deletion on unsuccessful creation in infrastructure
  extensions/pkg/controller/dnsrecord/reconciler.go
  extensions/pkg/controller/dnsrecord/reconciler_test.go
  extensions/pkg/controller/status.go
  pkg/apis/extensions/v1alpha1/types_dnsrecord.go
Labels: kind/enhancement, kind/api-change, needs/ok-to-test, size/m, reviewed/lgtm, area/control-plane, merge/squash

#5221 Streamline error codes
  docs/usage/shoot_status.md
  extensions/pkg/controller/status_test.go
  pkg/apis/core/types_common.go
  pkg/apis/core/v1alpha1/types_common.go
  pkg/apis/core/v1beta1/helper/errors.go
  pkg/apis/core/v1beta1/helper/errors_test.go
  pkg/apis/core/v1beta1/types_common.go
  pkg/extensions/customresources_test.go
  pkg/operation/botanist/component/extensions/dns/dns_test.go
  pkg/operation/care/health_check_test.go
Labels: kind/enhancement, needs/changes, kind/api-change, area/ops-productivity, needs/ok-to-test, size/s, merge/squash

#5286 Minor fix for g/g#5255
  charts/istio/istio-ingress/templates/autoscale.yaml
  charts/utils-templates/templates/_versions.tpl
Labels: kind/enhancement, size/xs, needs/ok-to-test, reviewed/lgtm

#5287 [release-v1.38] Revert "Adapt `dependency-watchdog` to use shoot access kubeconfig
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/dependencywatchdog/access.go
  pkg/operation/botanist/component/dependencywatchdog/access_test.go
  pkg/operation/botanist/component/dependencywatchdog/dependency_watchdog.go
  pkg/operation/botanist/component/dependencywatchdog/dependency_watchdog_test.go
  pkg/operation/botanist/component/dependencywatchdog/mock/doc.go
  pkg/operation/botanist/component/dependencywatchdog/mock/mocks.go
  pkg/operation/botanist/component/kubeapiserver/dependency_watchdog.go
  pkg/operation/botanist/component/kubeapiserver/dependency_watchdog_test.go
  pkg/operation/botanist/dependency_watchdog.go
  pkg/operation/botanist/dependency_watchdog_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
Labels: kind/bug, size/xl, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5289 Revert "Adapt `dependency-watchdog` to use shoot access kubeconfig
  pkg/gardenlet/controller/shoot/shoot_control_reconcile.go
  pkg/operation/botanist/botanist.go
  pkg/operation/botanist/component/dependencywatchdog/access.go
  pkg/operation/botanist/component/dependencywatchdog/access_test.go
  pkg/operation/botanist/component/dependencywatchdog/dependency_watchdog.go
  pkg/operation/botanist/component/dependencywatchdog/dependency_watchdog_test.go
  pkg/operation/botanist/component/dependencywatchdog/mock/doc.go
  pkg/operation/botanist/component/dependencywatchdog/mock/mocks.go
  pkg/operation/botanist/component/kubeapiserver/dependency_watchdog.go
  pkg/operation/botanist/component/kubeapiserver/dependency_watchdog_test.go
  pkg/operation/botanist/dependency_watchdog.go
  pkg/operation/botanist/dependency_watchdog_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
  pkg/operation/shoot/types.go
Labels: kind/bug, size/xl, needs/ok-to-test, reviewed/lgtm, area/control-plane

#5293 Fix odd number of arguments in logging
  pkg/controllermanager/controller/controllerregistration/seed_control.go
Labels: kind/bug, size/xs, needs/ok-to-test, area/quality, reviewed/lgtm

#5279 Cleanup loki `ServiceAccount` in shoot controller
  pkg/operation/botanist/logging.go
Labels: area/security, size/xs, needs/ok-to-test, reviewed/lgtm, kind/cleanup

#5259 Minor cleanups for the reversed VPN authorization server deployment
  pkg/operation/botanist/component/vpnauthzserver/external_authz_server.go
  pkg/operation/botanist/component/vpnauthzserver/external_authz_server_suite_test.go
  pkg/operation/botanist/component/vpnauthzserver/external_authz_server_test.go
  pkg/operation/seed/components.go
  pkg/operation/seed/seed.go
Labels: needs/ok-to-test, area/usability, size/m, reviewed/lgtm, kind/cleanup, merge/squash

#5081 Increase the cental Loki storage to 100Gi
  docs/deployment/configuring_logging.md
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/operation/seed/seed.go
Labels: kind/enhancement, status/author-action, needs/changes, needs/review, needs/rebase, needs/ok-to-test, size/m, area/logging

#5297 Refactor extension controller predicates
  extensions/pkg/controller/backupbucket/controller.go
  extensions/pkg/controller/backupentry/controller.go
  extensions/pkg/controller/bastion/controller.go
  extensions/pkg/controller/containerruntime/controller.go
  extensions/pkg/controller/controlplane/controller.go
  extensions/pkg/controller/dnsrecord/controller.go
  extensions/pkg/controller/extension/controller.go
  extensions/pkg/controller/infrastructure/controller.go
  extensions/pkg/controller/network/controller.go
  extensions/pkg/controller/operatingsystemconfig/controller.go
  extensions/pkg/controller/worker/controller.go
  extensions/pkg/predicate/default.go
  extensions/pkg/predicate/default_test.go
  extensions/pkg/predicate/preconditions.go
  extensions/pkg/predicate/preconditions_test.go
  extensions/pkg/predicate/predicate.go
  extensions/pkg/predicate/predicate_suite_test.go
  extensions/pkg/predicate/predicate_test.go
  pkg/controllerutils/predicate/has_name.go
  pkg/controllerutils/predicate/has_name_test.go
  pkg/controllerutils/predicate/or.go
  pkg/controllerutils/predicate/or_test.go
  pkg/resourcemanager/controller/managedresource/add.go
  pkg/resourcemanager/controller/secret/add.go
  pkg/resourcemanager/predicate/has_finalizer.go
  pkg/resourcemanager/predicate/has_finalizer_test.go
  pkg/resourcemanager/predicate/has_operation_annotation.go
  pkg/resourcemanager/predicate/has_operation_annotation_test.go
Labels: kind/bug, kind/enhancement, size/xl, needs/ok-to-test, area/usability, reviewed/lgtm, merge/squash

#5290 Switch controller-manager to logr (3)
  docs/development/logging.md
  pkg/controllermanager/controller/bastion/bastion_control.go
  pkg/controllermanager/controller/controllerregistration/controllerregistration.go
  pkg/controllermanager/controller/event/event.go
  pkg/controllermanager/controller/event/event_control.go
  pkg/controllermanager/controller/event/event_control_test.go
  pkg/controllermanager/controller/exposureclass/exposureclass.go
  pkg/controllermanager/controller/exposureclass/exposureclass_control.go
  pkg/controllermanager/controller/exposureclass/exposureclass_control_test.go
  pkg/controllermanager/controller/factory.go
  pkg/controllermanager/controller/managedseedset/managedseedset.go
  pkg/controllermanager/controller/managedseedset/managedseedset_actuator.go
  pkg/controllermanager/controller/managedseedset/managedseedset_actuator_test.go
  pkg/controllermanager/controller/managedseedset/managedseedset_predicates.go
  pkg/controllermanager/controller/managedseedset/managedseedset_reconciler.go
  pkg/controllermanager/controller/managedseedset/managedseedset_reconciler_test.go
  pkg/controllermanager/controller/managedseedset/managedseedset_replica.go
  pkg/controllermanager/controller/managedseedset/managedseedset_replica_test.go
  pkg/controllermanager/controller/managedseedset/mock/mocks.go
  pkg/controllermanager/controller/plant/plant.go
  pkg/controllermanager/controller/plant/plant_control.go
  pkg/controllermanager/controller/plant/plant_test.go
  pkg/controllermanager/controller/plant/plant_utils.go
  pkg/utils/kubernetes/eventhandler.go
Labels: kind/enhancement, area/dev-productivity, size/xl, needs/ok-to-test, reviewed/lgtm, area/logging, merge/squash

#5284 Fixed broken links 01.2022
  docs/proposals/04-new-core-gardener-cloud-apis.md
Labels: kind/enhancement, needs/changes, needs/review, size/xs, area/documentation, merge/squash

#5300 Fix failing creation of hibernated shoots
  extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/operation/botanist/component/resourcemanager/mock/mocks.go
  pkg/operation/botanist/component/resourcemanager/resource_manager.go
  pkg/operation/botanist/component/resourcemanager/resource_manager_test.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/kubecontrollermanager.go
  pkg/operation/botanist/resource_manager.go
  pkg/operation/botanist/resource_manager_test.go
  pkg/operation/seed/components.go
Labels: kind/bug, needs/ok-to-test, area/quality, size/m, reviewed/lgtm, merge/squash

#5303 Adapt usages of `kutil.{SetMetaDataLabel}` to `metav1.{SetMetaDataLabel}`
  landscaper/pkg/controlplane/controller/flow_garden_namespace.go
  landscaper/pkg/controlplane/controller/operation_reconcile.go
  pkg/controllermanager/controller/controllerregistration/seed_control.go
  pkg/gardenlet/controller/controllerinstallation/controllerinstallation_control.go
  pkg/operation/seed/seed.go
Labels: size/xs, needs/ok-to-test, area/open-source, reviewed/lgtm, kind/cleanup

#5306 Revert "Increase the cental Loki storage to 100Gi"
  docs/deployment/configuring_logging.md
  example/20-componentconfig-gardenlet.yaml
  pkg/gardenlet/apis/config/types.go
  pkg/gardenlet/apis/config/v1alpha1/types.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  pkg/operation/seed/seed.go
Labels: needs/ok-to-test, size/m, reviewed/lgtm

#5305 Switch update strategy for shoot condition controller
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_conditions_control.go
  pkg/controllermanager/controller/shoot/shoot_conditions_control_test.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash, needs/cherry-pick

#5307 Do not yield `--help` output on error
  cmd/gardener-admission-controller/app/gardener_admission_controller.go
  cmd/gardener-apiserver/app/gardener_apiserver.go
  cmd/gardener-controller-manager/app/gardener_controller_manager.go
  cmd/gardener-resource-manager/app/app.go
  cmd/gardener-scheduler/app/gardener_scheduler.go
  cmd/gardener-seed-admission-controller/app/gardener_seed_admission_controller.go
  cmd/gardenlet/app/gardenlet.go
Labels: kind/enhancement, area/ops-productivity, size/xs, reviewed/lgtm

#5309 [release-v1.37] Automated cherry pick of #5305: Switch update strategy for shoot condition controller
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_conditions_control.go
  pkg/controllermanager/controller/shoot/shoot_conditions_control_test.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm

#5308 [release-v1.38] Automated cherry pick of #5305: Switch update strategy for shoot condition controller
  pkg/controllermanager/controller/shoot/shoot.go
  pkg/controllermanager/controller/shoot/shoot_conditions_control.go
  pkg/controllermanager/controller/shoot/shoot_conditions_control_test.go
Labels: kind/bug, needs/ok-to-test, size/m, reviewed/lgtm

#5304 Revert "[GEP-8] Deprecation warning for IGW AWS annotations"
  charts/istio/istio-ingress/templates/service.yaml
  pkg/operation/botanist/component/istio/ingress_gateway_test.go
Labels: size/xs, reviewed/lgtm, kind/cleanup, area/control-plane

#5312 grafana: Set the default timezone to UTC
  charts/seed-bootstrap/templates/grafana/grafana-deployment.yaml
  charts/seed-monitoring/charts/grafana/templates/grafana-deployment.yaml
Labels: kind/enhancement, area/ops-productivity, size/xs, needs/ok-to-test, area/monitoring, reviewed/lgtm

#5302 Update release plan
  docs/development/process.md
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm

#5318 Allow list renamed kube scheduler metrics
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-control-plane-status-dashboard.json
  pkg/operation/botanist/component/kubescheduler/monitoring.go
  pkg/operation/botanist/component/kubescheduler/monitoring_test.go
Labels: kind/enhancement, needs/ok-to-test, area/monitoring, reviewed/lgtm, size/s

#5280 🛡 Use projected `ServiceAccount` token for `gardenlet`
  charts/gardener/gardenlet/charts/runtime/templates/deployment.yaml
  charts/gardener/gardenlet/charts/runtime/templates/serviceaccount.yaml
Labels: kind/enhancement, area/security, needs/review, size/xs, needs/ok-to-test

#5319 🛡 Eliminate static token for `hvpa-controller`
  charts/seed-bootstrap/charts/hvpa/templates/controller-deployment.yaml
  charts/seed-bootstrap/charts/hvpa/values.yaml
Labels: kind/enhancement, area/security, needs/review, size/xs, needs/ok-to-test, reviewed/lgtm

#5326 Nit: Update ProjectedTokenExpirationSeconds const's doc string
  pkg/apis/resources/v1alpha1/types.go
Labels: kind/api-change, size/xs, needs/ok-to-test, reviewed/lgtm

#5331 Small improvement in containerd config file initialization
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/containerd/initializer_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/containerd/templates/scripts/init.tpl.sh
Labels: needs/review, size/xs, needs/ok-to-test

#5329 Fix GRM/KCM replicas when hibernation failed
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/mock/mocks.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/kubecontrollermanager_test.go
  pkg/operation/botanist/resource_manager_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane, needs/cherry-pick

#5327 remove the svc.spec.clusterIps from the origin loki svc from the logging integration tests
  test/integration/shoots/logging/seed_logging_stack.go
Labels: size/xs, needs/ok-to-test, kind/test, reviewed/lgtm, area/logging, needs/cherry-pick

#5324 Revert "Use `systemd` as cgroup driver for shoots >= 1.23"
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config_test.go
Labels: kind/enhancement, needs/ok-to-test, area/open-source, reviewed/lgtm, size/s

#5333 [release-v1.39] Automated cherry pick of #5329: Fix GRM/KCM replicas when hibernation failed
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver.go
  pkg/operation/botanist/component/kubeapiserver/kube_apiserver_test.go
  pkg/operation/botanist/component/kubeapiserver/mock/mocks.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/kubecontrollermanager_test.go
  pkg/operation/botanist/resource_manager_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, area/control-plane

#5334 [release-v1.39] Automated cherry pick of #5324: Revert "Use `systemd` as cgroup driver for shoots >= 1.23"
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config_test.go
Labels: kind/enhancement, needs/ok-to-test, area/open-source, reviewed/lgtm, size/s

#5335 [release-v1.39] Automated cherry pick of #5327: remove the svc.spec.clusterIps from the origin loki svc from the logging integration tests
  test/integration/shoots/logging/seed_logging_stack.go
Labels: size/xs, needs/ok-to-test, kind/test, reviewed/lgtm, area/logging

#5339 [release-v1.39] Automated cherry pick of #5338: Fix bug in generic `ControlPlane` actuator regarding usage of token requestor
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
Labels: kind/bug, area/security, needs/ok-to-test, reviewed/lgtm, size/s

#5338 Fix bug in generic `ControlPlane` actuator regarding usage of token requestor
  extensions/pkg/controller/controlplane/genericactuator/actuator.go
  extensions/pkg/controller/controlplane/genericactuator/actuator_test.go
Labels: kind/bug, area/security, needs/ok-to-test, reviewed/lgtm, size/s

#5328 Fix gardenlet startup in local setup
  charts/gardener/gardenlet/charts/runtime/templates/serviceaccount.yaml
  charts/gardener/gardenlet/values.yaml
  hack/local-development/start-gardenlet
Labels: kind/bug, area/dev-productivity, size/xs, needs/ok-to-test, reviewed/lgtm

#5288 Clarify how the seed API connectivity is monitored
  charts/seed-monitoring/charts/grafana/dashboards/owners/kubernetes-control-plane-status-dashboard.json
  docs/monitoring/connectivity.md
Labels: kind/enhancement, size/xs, needs/ok-to-test, area/documentation, reviewed/lgtm

#5299 Improve shoot validation check
  pkg/utils/validation/cidr/disjoint.go
  pkg/utils/validation/cidr/disjoint_test.go
  plugin/pkg/shoot/validator/admission.go
  plugin/pkg/shoot/validator/admission_test.go
Labels: kind/enhancement, needs/changes, needs/review, needs/ok-to-test, needs/second-opinion, size/l, kind/test, area/networking

#5332 Add validation logic for `ContainerRuntime` extension
  pkg/apis/extensions/validation/backupbucket.go
  pkg/apis/extensions/validation/backupentry.go
  pkg/apis/extensions/validation/bastion.go
  pkg/apis/extensions/validation/containerruntime.go
  pkg/apis/extensions/validation/containerruntime_test.go
  pkg/apis/extensions/validation/controlplane.go
  pkg/apis/extensions/validation/dnsrecord.go
  pkg/apis/extensions/validation/extension.go
  pkg/apis/extensions/validation/infrastructure.go
  pkg/apis/extensions/validation/network.go
  pkg/apis/extensions/validation/operatingsystemconfig.go
  pkg/apis/extensions/validation/worker.go
  pkg/seedadmissioncontroller/webhooks/admission/extensionresources/admission_test.go
Labels: kind/enhancement, area/ops-productivity, needs/ok-to-test, size/m, reviewed/lgtm, merge/squash

#4584 Fix migration flow when cloud prvider config injection is required
  pkg/gardenlet/controller/shoot/shoot_control.go
  pkg/gardenlet/controller/shoot/shoot_control_delete.go
  pkg/gardenlet/controller/shoot/shoot_control_migrate.go
  pkg/operation/botanist/controlplane.go
  pkg/operation/botanist/managedresources.go
  pkg/operation/botanist/migration.go
  pkg/operation/botanist/migration_test.go
  pkg/operation/shoot/shoot.go
Labels: kind/bug, reviewed/do-not-merge, needs/changes, needs/ok-to-test, needs/second-opinion, size/l, area/control-plane-migration

#5153 🛡 Eliminate static token for `promtail`
  go.sum
  pkg/operation/botanist/component/extensions/operatingsystemconfig/downloader/downloader.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/downloader/downloader_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/mock/mocks.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/operatingsystemconfig_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/components.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/component.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/component_suite_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/config_test.go
  pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/promtail/templates/scripts/fetch-token.tpl.sh
  pkg/operation/botanist/component/logging/kube_rbac_proxy.go
  pkg/operation/botanist/component/logging/kube_rbac_proxy_test.go
  pkg/operation/botanist/operatingsystemconfig.go
  pkg/operation/botanist/operatingsystemconfig_test.go
  pkg/operation/botanist/secrets.go
  pkg/operation/botanist/wanted_secrets.go
  pkg/operation/types.go
  vendor/github.com/prometheus/client_golang/api/client.go
  vendor/github.com/prometheus/client_golang/api/prometheus/v1/api.go
  vendor/modules.txt
Labels: kind/enhancement, area/security, size/xl, needs/ok-to-test, reviewed/lgtm, merge/squash

#5354 Delete kube-apiserver-http-proxy secret if ReversedVPN is disabled
  pkg/operation/botanist/secrets.go
Labels: kind/bug, size/xs, needs/ok-to-test, reviewed/lgtm, area/control-plane
